[2018-07-12 15:50] shekhar16 commented on #1028
@sahiliamsso @mzico   its not possible to add duplicate uwername in ldap because we had already an unique constraints in ldap, ldap doesnt allow to save duplicate UID.
@yurem

[2018-07-12 15:52] shekhar16 commented on #1028
@sahiliamsso @mzico  Can u please share the oxtrust version u r using ?

[2018-07-13 06:21] shekhar16 commented on #1018
@yuriyz  we had implemented it with jsoneditor.js which doesn't provide hide/show on change functionality.

[2018-07-13 07:09] yuriyz commented on #1018
got it, it's not critical anyway.

[2018-07-15 12:54] shekhar16 commented on #1028
![image](https://user-images.githubusercontent.com/15937500/42734132-57ee92c6-885c-11e8-8963-8b21cbf6fdde.png)

[2018-07-16 14:10] nynymike opened #1040 "Pretty Print OpenID Client Config"
The client form is so long, it's impossible to get a screenshot. It would be nice if we had a "Config Summary" button at the top, which prints a condensed summary of the configuration for the client, omitting any empty values. This would help the support team to ask customers to share their client config.

[2018-07-16 14:22] #1037 closed

[2018-07-16 19:27] afroDC opened #1041 "oxTrust Auditing"
oxTrust could benefit by having some auditing feature where it logs any LDAP changes it makes. For example, if you add or delete a user in oxTrust, there is no log of that activity or what specifically was deleted. The add and delete action can be viewed in LDAP but it doesn't give any identifying information of what that entry was.

I'm going to assume this is true of almost all interactions betw

[2018-07-18 07:53] earezki opened #1043 "Manage LDAP Authentication duplicated name"
When creating a new source ldap server, the names of the other servers is the same as the first one.

Steps to reproduce:
1. Open oxTrust backoffice.
2. Go to Configuration => Manage Authentication => Manage LDAP Authentication.
3. Click "Add source LDAP server" at the bottom.
4. Fill in the form then Update.
5. Observe the new ldap server.

![image](https://user-images.githubusercontent.com/11857

[2018-07-18 07:53] earezki opened #1044 "Manage LDAP Authentication cannot remove ldap servers"
When creating a new source ldap server, there is no way to remove it from the UI.

Steps to reproduce:

1. Open oxTrust backoffice.
2. Go to Configuration => Manage Authentication => Manage LDAP Authentication.
3. Click "Add source LDAP server" at the bottom.
4. Fill in the form then Update.
5. Try to remove the newly added server.

[2018-07-18 16:48] #1043 closed

[2018-07-18 16:49] #1044 closed

[2018-07-24 15:07] syntrydy commented on #1044
The remove button is still not visible. Noted the gap at the left side of the screenshot.
![image](https://user-images.githubusercontent.com/7513418/43147674-7b49782a-8f5b-11e8-9fa3-0a7072681cee.png)

[2018-07-24 15:54] earezki commented on #1044
Please make sure your branch is Master.
The delete button is at the top right.
As for the gap it has always been there, what is the issue with it ?
![image](https://user-images.githubusercontent.com/11857979/43150616-407fa208-8f62-11e8-93d9-80709a5db688.png)

[2018-07-24 16:00] syntrydy commented on #1044
I know what is the problem. I will fix it when i have some time.

[2018-07-25 07:04] syntrydy opened #1048 "The button to remove Source Ldap Server under LDAP Manage Authentication don't shows up on every screen."
# Description
The button to remove Source Ldap Server under LDAP Manage Authentication don't shows up every screen.

On large screen the button is visible but not on small screen(Lenovo X1 Carbon for example).

Even when the button is visible, it is not at the best position on the screen.
![image](https://user-images.githubusercontent.com/11857979/43150616-407fa208-8f62-11e8-93d9-80709a5db688.png)

[2018-07-25 08:34] syntrydy commented on #1048
The end result looks like this
![image](https://user-images.githubusercontent.com/7513418/43189191-eb383c92-8fed-11e8-8fc4-2fd97131d90e.png)

[2018-07-25 08:49] syntrydy commented on #1048
Sorry, the first commit is not present here because i forgot to add the issue number in commit message.

[2018-07-25 11:13] syntrydy commented on #1031
@natt-tester i tested that on other servers and there is no issue. May be ce-dev6  has been mess up.

[2018-07-25 11:50] syntrydy commented on #996
This seems to be the same issue as this one https://github.com/GluuFederation/oxTrust/issues/1032

[2018-07-25 19:10] mzico commented on #1033
@qbert2k : Any thought on this?

[2018-07-25 19:44] jgomer2001 opened #1051 "Validate contact values entered in openID clients form"
According to [spec](http://openid.net/specs/openid-connect-registration-1_0.html):

When pressing the "add contact" button at the bottom, one can enter any string, we should validate it is an e-mail actually:
![not_an_email](https://user-images.githubusercontent.com/5444180/43223567-1e6bbd34-9019-11e8-94fd-001774fbc1b9.png)

[2018-07-27 15:59] qbert2k commented on #1033
Please check whether it is the same as issue oxAuth-371:
https://github.com/GluuFederation/oxAuth/issues/371

[2018-07-29 10:30] earezki commented on #1048
This PR seem to be only merged in 3.1.4.
Would you please check and merge in Master as well ?
Thanks

[2018-07-29 18:05] syntrydy commented on #1048
The 3.1.4 will be merged in master just before the release.

[2018-07-29 18:36] shekhar16 commented on #1040
![image](https://user-images.githubusercontent.com/15937500/43369458-53b2674c-938c-11e8-81f5-97ec7caab6b6.png)

[2018-07-30 16:50] syntrydy opened #1053 "Fix duplicate source server name:"
# Description

The fix is already in master branch just need to move it to 3.1.4 as that is required for the next release

The corresponding issue was here https://github.com/GluuFederation/oxTrust/issues/1043.

[2018-08-01 11:47] mzico commented on #1033
@sahiliamsso : It is. I think it's expected behavior... check out @qbert2k 's last comment there in https://github.com/GluuFederation/oxAuth/issues/371.

[2018-08-01 15:30] #1053 closed

[2018-08-01 15:32] #1032 closed

[2018-08-01 15:39] syntrydy commented on #996
Fixed here https://github.com/GluuFederation/oxTrust/issues/1032

[2018-08-01 15:39] #996 closed

[2018-08-01 17:46] syntrydy commented on #1051
I added a contact validator that ignore pick up just the valid email but that occurs when the save button is pressed. It is correct for you @jgomer2001 ?

[2018-08-01 18:35] willow9886 opened #1056 "Remove Level feature from Cache Refresh config"
![image](https://user-images.githubusercontent.com/5271048/43541147-453c845e-958f-11e8-92ad-b25b1b092541.png)

Can you remove the `Level` field? Feature can simply be hidden. We don't need it any longer.

[2018-08-01 20:04] syntrydy commented on #1056
![image](https://user-images.githubusercontent.com/7513418/43545668-6e633a64-95ce-11e8-9d76-3a54518f5b24.png)

[2018-08-02 20:28] willow9886 opened #1060 "editing attribute has unacceptable value for "multivalued" by default"
![image](https://user-images.githubusercontent.com/5271048/43608927-2a7e0834-9668-11e8-9728-1dafe801e947.png)

Trying to edit an attribute in oxTrust, `password`, but for some reason the default value for `multivalued` field is `multivalued` which is an unacceptable value for that field.

This seems to be the case for editing any attribute. They all have default value for `multivalued` to `multiva

[2018-08-02 20:31] willow9886 opened #1061 "add search to oxtrust attribute page"
People should be able to search through their available attributes in oxTrust. Please add.

[2018-08-02 21:54] syntrydy opened #1062 "Protect Admin Account Membership"
# Description

  ## Question: How do we know if our system is being used by an unauthorized user?
  ## Answer: We need to build an admin account monitoring feature

Currently oxtrust admin Ui and SCIM are used to add users to the system and to changed  their group.

This feature should sit at the service layer and intercept/record the following actions:

1. User association to admin group
1. Admin

[2018-08-03 07:06] #1051 closed

[2018-08-03 10:32] syntrydy commented on #1061
![image](https://user-images.githubusercontent.com/7513418/43638426-b092204c-9710-11e8-89e6-e1bf0c560c20.png)

![image](https://user-images.githubusercontent.com/7513418/43638450-d262bbc8-9710-11e8-968e-ad6ee11d68ae.png)

[2018-08-03 11:01] mzico opened #1064 "Uploading org_logo and org_favicon is throwing error / not uploading"
Testing in 3.1.3 atm.

Tried to upload a logo with 'Organization Logo' and 'Organization Favicon' from 'Configuration' > 'oxTrust Settings'; it's not working and throwing error.

![upload_logo_opps](https://user-images.githubusercontent.com/7156097/43639640-8249f0da-96e2-11e8-8c4a-671f0e4696a2.png)

![upload_logo_favicon](https://user-images.githubusercontent.com/7156097/43639646-85fe0c3e-96e2-11e

[2018-08-03 11:01] mzico commented on #1064
@syntrydy : thoughts?

[2018-08-03 11:45] syntrydy commented on #1064
Yes, i fix that already in 3.1.4

There is a path for existing installation: https://gluu.org/docs/ce/operation/faq/#how-to-fix-imagefiles-upload-issue-in-gluu-313

[2018-08-03 12:15] centroxy opened #1066 "Password Reset page Improvement"
After successful password reset, Gluu server redirects to    <Gluu Server>identity/resetPasswordSuccess
Which shows below

It will be good if we can make below changes.

1- Thank you for **usingGLUU** cane be Thank you for **using GLUU**
2- Add one link which will allow user to navigate to login page

Gluu server 3.1.3

[2018-08-03 15:54] shekhar16 commented on #1061
@syntrydy I also done this issue please let me know if u r doing the  issue.It will make conflict in repo for same issue.

[2018-08-03 16:18] shekhar16 commented on #1061
@syntrydy I also done this issue please let me know if u r doing the  issue.It will make conflict in repo for same issue.

[2018-08-07 09:35] natt-tester commented on #1053
Agreed, it's fixed.

[2018-08-07 09:36] natt-tester commented on #1043
I can't reproduce  it and agree it's fixed.

[2018-08-07 10:14] natt-tester commented on #1048
I've tested the behavior of the button and it's a bit off. Please fix it:
![2018-08-07_20h10_35](https://user-images.githubusercontent.com/38302725/43769988-6ce2a85a-9a7e-11e8-864d-e784708eb644.gif)

[2018-08-07 11:03] natt-tester opened #1067 "404 upon clicking on Update Client"
Please refer to the GIF and fix the buggy behavior:

![2018-08-07_21h01_34](https://user-images.githubusercontent.com/38302725/43772410-5bd2b990-9a85-11e8-9720-8d93b1a46f7b.gif)

[2018-08-07 16:28] shmorri opened #1068 "Typo in Cache Refresh configuration page"
![image](https://user-images.githubusercontent.com/36208047/43789075-b04b7b34-9a34-11e8-9c0f-7f05e16f5d9b.png)

On the main Cache Refresh tab, the "Snapshot folder" entry is spelled "Shapshot".

[2018-08-07 20:16] yurem opened #1070 "Update base libs"
Weld 3.0.1.Final --> 3.0.5.Final
JSF 2.2.14 --> 2.2.17
Richfaces 4.5.17.Final --> 4.5.17-gluu.Final

We need to do simular update in oxCore/oxAuth/oxTrust

[2018-08-08 16:19] yurem opened #1071 "Reset password form should has captcha"
We need to apply few changes to user reset functionality:

1. We need to add captcha validation to password reset form.
  - oxTrust should display current form without captcha if admin decided to not enable it (current flow)
  - Show captcha if admin activated captcha config
2. Remove section of [code](https://github.com/GluuFederation/oxTrust/blob/master/server/src/main/java/org/gluu/oxtrust/acti

[2018-08-08 16:32] yurem opened #1072 "Move captcha setting to "Manage Authentication" into new tab"
We need to move fields `Recaptcha Site Key' and `Recaptcha Secret Key` to "Manage Authentication" into new tab Also we need to add checkbox to enable/disable it.

[2018-08-08 16:32] yurem commented on #1071
This issue depends on https://github.com/GluuFederation/oxTrust/issues/1072

[2018-08-08 17:38] yuriyz opened #1073 "Fix misleading oxMemCache-Config title"
This object defines configuration for all cache providers, not only for memcache.

![misleadingcachetitleonoxtrust](https://user-images.githubusercontent.com/2013070/43854236-96a5ebf6-9b42-11e8-8b27-a1e98ad396ee.png)

[2018-08-08 19:03] yuriyz commented on #1073
done in 3.1.4 and master

[2018-08-09 10:00] natt-tester commented on #1037
I've successfully created a user through SCIM with no streetAddress:
![2018-08-09_19h55_08](https://user-images.githubusercontent.com/38302725/43892244-c3e11268-9c0e-11e8-85c3-859536c23dba.png)
I agree it's done.

[2018-08-09 13:41] natt-tester commented on #1073
@yuriyz, this part is done, but when you save the configuration, even with no changes, the bubble says oxMemCache-Config is updated:

![2018-08-09_23h35_53](https://user-images.githubusercontent.com/38302725/43902498-9b93a694-9c2d-11e8-8a05-1a6678b0c842.png)

We need to change this part as well.

[2018-08-09 20:40] yuriyz commented on #1073
@natt-tester ok, no need for separate ticket, it is easy fix, fixed and linked commits above.

[2018-08-10 07:10] natt-tester commented on #1064
@syntrydy, I've tested the upload and I think there are several issues:

1. I uploaded a GIF as the logo with no error message. However, the logo of favicon do not show on the page after the upload, so the user can't really preview them -- unless you have to wait extremely long for them to show? What's the size limit for these files?

2. After the upload, the buttons are not aligned and it doesn't

[2018-08-10 08:04] natt-tester commented on #1040
@shekhar16, I see that there's a button included in the client summary -- I think it's obsolete, could you remove it?

I think the only button we could need here would be a "Copy All" button as ctrl+a copies everything, also beyond the pop-up. To make the copying convenient, we either need to set boundaries for the pop-up only, or add a button to do that. Can it be done?

Also, the header font loo

[2018-08-10 08:46] syntrydy opened #1074 "View log tab should show the name of the current log file"
# Description

In the oxtrust "tail log" view it would be nice if the log file name that you clicked on were also displayed on the tail screen. Once there are several days/mos worth of logs on the "available logs" list it becomes difficult to know which log file you clicked on when bouncing back and forth between screens/tabs/apps

# Steps

1. Login into Gluu Admin  UI
1. Navigate to **Organizatio

[2018-08-10 09:30] natt-tester commented on #1027
Agreed, it's done.

[2018-08-10 09:41] natt-tester commented on #1011
@shekhar16 Please check if the commit has been merged to 3.1.4. I have just checked dev6 with a new war and the buttons are still mashed together:

![2018-08-10_19h38_25](https://user-images.githubusercontent.com/38302725/43951023-56741f46-9cd5-11e8-87f4-4690119a126a.png)

[2018-08-10 09:51] natt-tester commented on #1002
Agreed, it's done.

[2018-08-10 11:32] syntrydy commented on #1074
![image](https://user-images.githubusercontent.com/7513418/43955709-49b8fe2a-9c99-11e8-8a5e-e2285017920c.png)

![image](https://user-images.githubusercontent.com/7513418/43955722-5934408a-9c99-11e8-9793-9bfbec75ede4.png)

[2018-08-10 15:45] afroDC commented on #1011
They definitely didn't make it into the 3.1.4 repo. Please take care of this @shekhar16

[2018-08-11 09:55] earezki commented on #922
Done in the same PR as: #927

[2018-08-12 13:01] shekhar16 commented on #1072
![image](https://user-images.githubusercontent.com/15937500/44002283-eae9caf2-9e5d-11e8-9431-c7b5cd86053b.png)

[2018-08-12 13:05] shekhar16 commented on #1072
we already had these fields on manage registration. So do we need to remove from these text fields from manage registration page.
![image](https://user-images.githubusercontent.com/15937500/44002316-4914bdbc-9e5e-11e8-981d-c2088b3401cd.png)

[2018-08-12 14:21] jgomer2001 opened #1077 "Offer means to create UMA resource and edit associated client"
In "UMA" > "Resources" > "Resource update"  we are offering a button for deleting. But we don't have means to create a new resource.

Also in the update page, it would be nice to be able to edit the oxAssociatedClient. Currently this is just a link sending to client details.

[2018-08-12 14:39] jgomer2001 commented on #1077
screenshot
![uma_resources](https://user-images.githubusercontent.com/5444180/44003126-87fd1e5c-9e13-11e8-8f11-9ee7af6778fe.png)

[2018-08-12 17:01] shekhar16 commented on #1040
@natt-tester  I removed the button from summary popup.
For header and boundaries, we have a defined UI theme,  all dialogues/popup's designs are similar .We have header in bold font for all popups.

[2018-08-12 17:02] shekhar16 commented on #1040
here is latest screen shot of my fix.
![image](https://user-images.githubusercontent.com/15937500/44004379-817e4f62-9e7f-11e8-943f-55cbdbbb260a.png)

[2018-08-12 21:28] #1061 closed

[2018-08-12 21:29] #1056 closed

[2018-08-12 23:50] natt-tester opened #1078 "Attribute import message"
When I go to Import Attributes and want to upload a file, it says that only XLS files are accepted. However, when I try to upload an XLS file, it doesn't work. Shouldn't the message say "LDIF files" instead of "XLS"?

[2018-08-13 00:10] natt-tester opened #1079 "Unify upload interface"
Whenever we have an upload scenario: with Logo/Favicon, People and Attributes (if I missed anything, let me know), we should have the same upload interface to stay consistent.

There's no need for the Clear All button as you can't upload or drag&drop more than one file.
@syntrydy if you've already implemented it in these places, you can close it :)

[2018-08-13 01:20] natt-tester opened #1080 "Uncaught TypeError"
The most recent 3.1.4 has an uncaught TypeError in OpenID Connect  -> Clients -> Add Client -> Client's Registration Expires. It's impossible to set the expiration date:

<img width="1440" alt="screen shot 2018-08-13 at 11 11 18" src="https://user-images.githubusercontent.com/38302725/44008809-be5db7fe-9eea-11e8-9304-a3fe855ceb21.png">

[2018-08-13 02:28] natt-tester opened #1081 "Clear search fields"
Steps:
1. Go to OpenID Connect -> Clients -> Add Client
2. Click on one of the command buttons with a search functionality
3. Enter a random string
4. Click on Search
5. Click on OK
6. Click on the same functionality button again

Expected: The search field is clear.
Actual: The search field has the previously entered string. The previously displayed search results are also shown.

[2018-08-13 02:57] natt-tester opened #1082 "Weird Client Secret behavior"
Steps:

1. Go to OpenID Connect -> Clients -> Add Client
2. Enter "secret" as the Client Secret
3. Complete all the required fields and click on Add
4. Go to another menu section
5. Go back to Clients
6. Find the newly created client and click on their name
7. Click on Auto-Generate Secret Key
8. Click on Update
9. Repeat steps 4-6
10. Enter "secret" as the Client secret and click on Update
11. Re

[2018-08-13 07:50] natt-tester opened #1083 "Client secret expires in...?"
Steps:

1. Log in to the Gluu Server
2. Go to OpenID Connect -> Clients -> Add Client
3. Fill in the required fields, ignore the "Client's Registration Expires" field
4. Click on Add
5. Click on the name of the newly created client
6. Inspect the details

Expected: As a user I want to be able to see the set client registration expiration date, especially if I overlook it and a default value is set

[2018-08-13 11:34] syntrydy commented on #1080
@natt-tester please check and close

[2018-08-13 11:38] syntrydy commented on #1083
@natt-tester i thibk this issue is fixed here https://github.com/GluuFederation/oxTrust/issues/1080

[2018-08-13 14:47] syntrydy commented on #1081
@natt-tester please check and close

[2018-08-13 15:03] syntrydy commented on #1078
@natt-tester please check and close

[2018-08-13 15:33] syntrydy commented on #1068
@shmorri please check and close

[2018-08-13 15:43] syntrydy commented on #1040
@shekhar16, i think you work break some feature on that page:

Before you change, the scopes was added to the form one after another as the user pick then from the DialogBox, currently all added are visible only when the user hit the **update button**.

[2018-08-13 15:48] syntrydy commented on #1031
@natt-tester, please test this on 3.1.4

[2018-08-13 15:59] yurem commented on #769
It's not possible to implement until we will deprecate Richfaces

[2018-08-13 16:12] yurem commented on #1070
Done

[2018-08-13 16:12] #1070 closed

[2018-08-13 16:13] yurem commented on #768
It's time consuming issue. We can continue work on it in 4.0.0

[2018-08-13 18:41] earezki opened #1088 "SMTP Server Configuration Are Not Saved"
### Description:
When updating the smtp configuration, The update button is not working as intended.
After saving, the fields are empty.

### Steps to reproduce:
* Open oxTrust.
* Go to **Configuration** => **Organization Configuration** (identity/organization/configuration).
* Select **SMTP Server Configuration**.
* Fill in the fields with values and hit update.
* From the Menu in the left, go to

[2018-08-13 21:44] #1068 closed

[2018-08-14 02:42] natt-tester opened #1090 "Email validation in System Configuration"
It's not a required field, but now any string can be entered and saved as the email address. Please add validation to the field.

<img width="876" alt="email_validation" src="https://user-images.githubusercontent.com/38302725/44068947-ee4d368a-9fbf-11e8-808b-a32a9a9e6356.png">

[2018-08-14 03:01] natt-tester opened #1091 "Placeholder instead of Build Number"
In Configuration -> Organization Configuration -> OxTrust Settings there's a placeholder instead of the correct value:

<img width="774" alt="placeholder" src="https://user-images.githubusercontent.com/38302725/44069375-c63906ea-9fc1-11e8-9dbd-cf39b6c5c177.png">

Tested in Ubuntu 14.04, firefox.

[2018-08-14 04:35] natt-tester opened #1092 "Enhance error message"
Steps:

1. Go to Organization -> Cache Refresh
2. Immediately click either Update or Update&Validate Script

Expected: As a user I want to be taken to the problematic view/tab if the update fails.

Actual: The user sees 4 error messages with typos, but the necessary fields are not present on the shown tab.
It can be confusing, so the best solution would be to take the user to the mentioned fields/

[2018-08-14 08:52] natt-tester opened #1093 "Improve layout and element design"
Please refer to the screenshot -- I think we should soon come up with **new button design for drastically better UX**. Now we have both rectangular and rounded buttons, which is inconsistent. I'd suggest changing all to rounded for a fresher look.

We also have **links** to other views which could be easily **overlooked/misclicked**. If we change them to buttons, the layout will look more appealin

[2018-08-14 11:03] natt-tester commented on #907
@shekhar16, I've just tested it and there seems to be quite a lot of buggy behavior present. Did you check the functionality after finishing the task?

Whenever I click on a field or use a tab, an **error message pops out**. Even as a reminder, it looks pretty aggressive, so without any real update/addition we shouldn't display them.

Also, the show/hide password **icon doesn't seem to work**.

An

[2018-08-14 13:49] syntrydy commented on #1041
![image](https://user-images.githubusercontent.com/7513418/44095395-98b4e61c-9fd0-11e8-896e-14a8380b6a38.png)

[2018-08-14 13:52] #975 closed

[2018-08-14 14:02] #1031 closed

[2018-08-14 14:07] syntrydy commented on #1067
Not reproducible on 3.1.4

[2018-08-14 14:07] #1067 closed

[2018-08-14 14:48] #1078 closed

[2018-08-14 15:40] syntrydy commented on #1090
![image](https://user-images.githubusercontent.com/7513418/44101977-8ee664b6-9fe0-11e8-99a8-e0a244a51f87.png)

[2018-08-14 15:50] skybert opened #1096 "User sync (cache refresh) in a containerised environment"
When running oxTrust in a container, it's no longer predictable which IP it will have. In a `docker-compose` stack, it is instead referred to a name, like `oxtrust` and normally this is not a problem, configuration files just refer to its Docker/container stack local host name `oxtrust` and Docker makes sure that the containers within a compose stack can resolve it correctly.

However, this change

[2018-08-14 18:25] earezki commented on #1091
This env var exists only for Jenkins builds:
![image](https://user-images.githubusercontent.com/11857979/44110345-54778104-9ff7-11e8-9c61-fc31387fc2e5.png)

However, the build date and the build number seem to be only useful for devs and have no use to the end user. Hence, I think we should remove them from the UI.

[2018-08-14 19:18] willow9886 commented on #1090
I would update the text to:

[2018-08-14 22:51] sahiliamsso opened #1099 "Gender field should be a dropdown on Profile page, User add/Update Page"
Fix the Label "Gender, male or female:", and input should be a dropdown.
Currently custom text is allowed and saved.

![image](https://user-images.githubusercontent.com/21104811/44122673-973b2c2a-a042-11e8-9993-a12ee384ca96.png)

[2018-08-15 00:00] sahiliamsso commented on #1025
Gasmyr, Can you please check why image is missing.

GLUU.root@auto:~# service passport restart
Stopping passport: OK
Starting passport:
Checking logs for possible errors:
PID: [8625]
OK Tue Aug 14 23:56:02 UTC 2018

![image](https://user-images.githubusercontent.com/21104811/44124727-47038c20-a04c-11e8-9f5b-cb36e48b94b2.png)

[2018-08-15 00:26] sahiliamsso commented on #1018
what is the purpose of highlighted labels as name is same as field name
![image](https://user-images.githubusercontent.com/21104811/44125385-f07e125e-a04f-11e8-99d2-11ece19fa9f8.png)

[2018-08-15 02:36] sahiliamsso commented on #865
AND/OR is not selectable.
![image](https://user-images.githubusercontent.com/21104811/44128734-20d0d952-a062-11e8-9f2a-050b58207c11.png)

[2018-08-15 09:12] syntrydy commented on #1025
That is not the case in 3.1.4

[2018-08-15 09:41] shekhar16 commented on #907
@natt-tester
1) The primary validations are working on losing the focus on fields i.e if you leave the field blank and change focus from that fields it will validate immediately that's why u are seeing validation message popup.I think u should know about onfocus validations.

2) Show/hide buttons are not working because we are working on richfaces => primfaces migration i.e. #768. And show/hide bu

[2018-08-15 11:05] shekhar16 commented on #1077
@jgomer2001 we have functionality to add resource.see below screen shot
![image](https://user-images.githubusercontent.com/15937500/44145404-045f9adc-a0a9-11e8-95f1-92d6917a6028.png)
also we had functionality to add/remove client.see below screen shot.
![image](https://user-images.githubusercontent.com/15937500/44145435-32646ce6-a0a9-11e8-8589-c9e90260bc5b.png)

[2018-08-15 12:26] shekhar16 commented on #1040
@yurem  I think primfaces and richfaces libs are conflicting on this page.

[2018-08-15 12:46] natt-tester commented on #907
@shekhar16, great that there are some fixes provided. I always report what I see as a user, and at the moment of testing, the UX was terrible. "You know it works like that" doesn't really apply if we want to make the UX better.

I would suggest getting rid of the popup messages as soon as possible on focus out, especially when the user clicks through them. The behavior in this view is inconsistent

[2018-08-15 15:10] jgomer2001 commented on #1077
I see, so was this added for 3.1.4? In 3.1.3 (centos or ubuntu) these buttons are shown.

[2018-08-15 15:52] willow9886 commented on #1099
Agreed. The field should be `Gender:` and the input should be a drop down with options: `male` , `female`

[2018-08-15 15:57] shekhar16 commented on #1071
![image](https://user-images.githubusercontent.com/15937500/44158049-85e84180-a0d1-11e8-9f7e-ab5a90d0316c.png)

[2018-08-15 16:04] shekhar16 commented on #1071
@yurem  we already have captcha functionality in resetpassword and passwordreminder page.

[2018-08-15 16:08] shekhar16 commented on #1011
@natt-tester  @afroDC  yes it is not merged in any of our main branch in repo. Let me check with Yuriy

[2018-08-15 16:12] shekhar16 commented on #1033
@mzico can we close this issue?

[2018-08-15 16:14] shekhar16 commented on #1071
@yurem can we close https://github.com/GluuFederation/oxTrust/issues/356 issue same as this one.

[2018-08-15 16:16] willow9886 commented on #1071
@shekhar16 there's no reason to take someone to a dedicated page with this text.. it should simply be a note on the password reset page.

[2018-08-15 16:19] earezki commented on #1092
This makes sens,
But, the issue is that we're updating every tab when we hit update (for all the views), means we can have validation errors in mixed tabs.
To test, remove the base dn in the Inum LDAP Server tab and hit update:
![image](https://user-images.githubusercontent.com/11857979/44159280-d5694600-a0ae-11e8-8678-e2f20b2d9abf.png)
This won't be an issue in the new api.
For now, I propose to

[2018-08-15 16:52] shekhar16 commented on #1071
@willow9886 sorry it was misunderstand by me, #356 is for email content and this one is for portal success page, so there is no relation in 356 and this one.
Please ignore my above comment.

[2018-08-15 17:05] shekhar16 commented on #1071
@willow9886  i agree  ,I think 356 is related to mail content different from this one.

[2018-08-15 17:17] willow9886 commented on #1071
@shekhar16 yes, #356 is the content supplied in the email to the user.

[2018-08-15 18:06] #1088 closed

[2018-08-15 18:09] earezki commented on #1092
What we may do is to add an indication on the fields that are not valid:
![image](https://user-images.githubusercontent.com/11857979/44164648-85927b00-a0be-11e8-8fed-836992cfc68e.png)
But this would be an enhancement for another release.

[2018-08-15 19:52] earezki commented on #1096
Hello Skybert,

Thank you for reporting this issue, and providing all those details helped me to better understand it.

I've been looking into this, and indeed this would require constant configuration if your ip changes per deployement.
Unfortunately, using the host won't solve the issue either, because we can't guarantee the infrastructure's behaviour (Changing the OS, using Rkt ...).

Preferabl

[2018-08-15 19:53] #1091 closed

[2018-08-15 19:54] #1092 closed

[2018-08-16 01:12] sahiliamsso opened #1103 "Hide Client secret on OpenID Connect page"
By default, Client secret for oidc is visible, Please mask it.

![image](https://user-images.githubusercontent.com/21104811/44181374-1bf68900-a11f-11e8-8b87-5f57c9bbadd5.png)

[2018-08-16 07:54] natt-tester commented on #1091
@earezki, that's a good way to solve this issue. I'll check it in the new package :)

[2018-08-16 07:56] natt-tester commented on #1092
@earezki, I see what you mean. The enhancement will be a most welcome change, but I guess we need more time to carefully plan it.

[2018-08-16 08:42] natt-tester commented on #1078
Agreed, the message is fixed.

[2018-08-16 08:48] syntrydy commented on #1090
![image](https://user-images.githubusercontent.com/7513418/44198512-89afae80-a139-11e8-92f3-c51191a0688f.png)

[2018-08-16 09:00] #1064 closed

[2018-08-16 09:05] #1090 closed

[2018-08-16 09:54] syntrydy commented on #1079
@natt-tester  as per the [doc](https://docs.jboss.org/richfaces/3.3.X/3.3.1.GA/en/devguide/html/rich_fileUpload.html) it is possible to change the test but for some unknown reason it don't works.

[2018-08-16 11:34] earezki opened #1106 "OpenID Client Auto-Generated Password Is Not Cryptographically Strong"
#### Description:
The generated OpenID password doesn't contain any special chars, and implementation uses java.util.Random which is not strong for password generation.

#### Steps to reproduce:

- Open OxTrust
- Go to OpenID Connect
- Go to Clients
- Select any client
- Click on 'Auto-Generate Secret Key'

#### Actual:
The password contain upper and lower case chars, and numbers.
Expected:
The pa

[2018-08-16 11:37] earezki commented on #1103
Hello,
I'm wondering why would we want to present the secret visible or not.
Can we make the field empty while viewing ?
Thanks,
El Mehdi

[2018-08-16 12:46] syntrydy commented on #1099
![image](https://user-images.githubusercontent.com/7513418/44209223-bcb66a00-a15a-11e8-8e9b-e13d68650094.png)

[2018-08-16 12:47] syntrydy commented on #1099
Closing it now

[2018-08-16 13:03] syntrydy commented on #1077
Closing this as it is done.

[2018-08-16 13:03] #1077 closed

[2018-08-16 13:07] syntrydy commented on #913
More text has been move to properties files in other issues, plus the one moved in this issue.

Also moving text to properties file is a progressive task, we fix them ask we see them in code.

[2018-08-16 13:07] #913 closed

[2018-08-16 13:13] #953 closed

[2018-08-16 13:39] earezki commented on #1106
Looks like the no special char was a requirement: https://github.com/GluuFederation/oxTrust/issues/953
Hence, let's just use a SecureRandom instead of Random.

[2018-08-16 18:34] syntrydy opened #1109 "Impossible to add new user via admin Ui"

[2018-08-16 18:35] syntrydy commented on #1109
@natt-tester feel free to double check this when i get it done.

[2018-08-16 19:52] shekhar16 commented on #1103
![image](https://user-images.githubusercontent.com/15937500/44231492-f9667d80-a1bb-11e8-9122-1863a5cb3633.png)

[2018-08-16 19:54] willow9886 commented on #1103
@earezki the server admin needs to be able to view and provide the client secret to the developer. Not sure how else it would work? Looks good to me @shekhar16

[2018-08-17 09:17] #1082 closed

[2018-08-17 10:17] #1109 closed

[2018-08-17 11:33] syntrydy commented on #1041
![image](https://user-images.githubusercontent.com/7513418/44264235-b804bb00-a219-11e8-9ce9-0e82894fb80c.png)

[2018-08-17 15:59] #1041 closed

[2018-08-18 09:05] yurem opened #1112 "Change menu item lbael "JSON Configuration" to "Base Configuration""
From my point of view it's not clear why the label of this section is "JSON configuration".

We have to update documentation too if we will decide to change label.

[2018-08-18 09:12] yurem commented on #1014
Implemented. In current oxAuth/oxTrust there is new parameter "metricReporterEnabled" in JSON configu to enable/disable metric persistence.

Admin can change this value without server restart.

[2018-08-19 13:05] yurem commented on #952
Root case of the issue is in dynamic nature of CDI. It creates components when they needed. As result Log  Manager creates loggers with delay (first usage of class). Also it creates them with default setting specified in log4j2.xml. To resolve this issue I added timer job with invocation interval 15 seconds. It find loggers and apply required log level to newly created loggers.

[2018-08-19 13:05] #952 closed

[2018-08-19 13:10] yurem commented on #952
I added new log message to indite logger service work. Example:
[code]

[2018-08-20 10:18] syntrydy commented on #1103
@shekhar16  as @willow9886 said, no need to hide the secret field. Can you amend your PR?

[2018-08-20 11:42] syntrydy opened #1115 "Validate user email when adding new new via Admin Ui"
# Description

The user email should check.

![image](https://user-images.githubusercontent.com/7513418/44338619-5db46600-a476-11e8-844c-1a2bf94c058e.png)

[2018-08-20 11:43] syntrydy opened #1116 "Error when editing existing user"

[2018-08-20 11:47] syntrydy opened #1117 "Change user password feature not working"
# Description

1. Login as admin
1. add a user with username **qauser** and password **qauser**
1. logout
1. login with username **qauser** and password **qauser**
1. logout
1. login as admin
1. change the password of user **qauser** to **qauserchanged**
1. logout
1. login with username **qauser** and password **qauserchanged**

[2018-08-20 12:17] yurem commented on #1034
@mzico do you have testing data to reproduce this? Or how to reproduce it?

[2018-08-20 12:35] yurem commented on #1096
I think we should allow to write conditions for this. I offer add new method to Cache Refresh script `boolean isReady()`
Also we can move code which check IP address to NetworkService. After that if:
[code]
CacheRefreshTimer should call `isReady()` method to determine if we need to run CR now and on this node.

In this flow admin can write own logic for this to conform his environment.

[2018-08-20 12:37] syntrydy opened #1120 "Cache refresh"
# Description

![image](https://user-images.githubusercontent.com/7513418/44340801-eda9de00-a47d-11e8-8b07-20833d830937.png)

1. click the **add key attribute** button
1. fill the boxes
1. click the **add key attribute** button again

The first attribute added just vanished

[2018-08-20 12:59] skybert commented on #1096
Hi @earezki ,

thanks for your reply. I haven't had the chance to check out assigning an IP to the container, yet. By the look of it, that would indeed be a workaround in our environment. Will keep you posted.

I don't understand what you mean with "changing the OS" would make querying a hostname not an option. As for `rkt`, AFAICT from the `rkt` documentation, setting the hostname is supported, b

[2018-08-20 17:15] #1103 closed

[2018-08-20 17:52] yurem commented on #1096
Here is sample method implementation:
[code]

[2018-08-20 21:13] mbaser opened #1122 ""Enter your client id here" and "Enter your client secret here" must be placeholders Passport strategies"
While adding passport strategies  textboxes contains  `Enter your client id here` and `Enter your client secret here` texts, they must be placeholders.
![screenshot_2018-08-21_00-11-05](https://user-images.githubusercontent.com/6398752/44366861-bddaf480-a4d6-11e8-9b10-45b725f1a0b3.png)

[2018-08-21 12:02] earezki commented on #1122
![image](https://user-images.githubusercontent.com/11857979/44400246-6e321280-a542-11e8-80ae-f141fbac8aca.png)

[2018-08-21 12:02] #1122 closed

[2018-08-21 12:39] syntrydy commented on #966
@qbert2k can you provide  a description for this issue?

[2018-08-21 12:41] syntrydy commented on #949
@jgomer2001  do you mean **first name**, **last name** and **displayname**  is not mandatory?

[2018-08-21 12:42] #1116 closed

[2018-08-21 12:42] #1115 closed

[2018-08-21 14:11] earezki opened #1126 "Scopes Not Appearing While Adding New OpenID Client"
#### Description:
When we try to add a new OpenID client, added scopes doesn't appear until you open the OpenID client in update mode.

#### Steps to reproduce:
* Open oxTrust
* Go to OpenID Connect in Configuration.
* Open Clients.
* Click on **Add Client**
* Scroll down until you find **Add Scope**
* Add some scopes and observe.

#### Actual:
The added scopes doesn't appear.
#### Expected:
The a

[2018-08-21 20:03] qbert2k commented on #966
Add a validator in the Client form (Add/Update) to allow oxTrust to show an error message and not allow multiple redirect URIs to be added unless there is a sector_identifier_uri present. See attached images.

![screen shot 2018-08-21 at 3 41 02 pm](https://user-images.githubusercontent.com/2474616/44425834-076d2300-a55b-11e8-8a7c-62564dbee000.png)
![screen shot 2018-08-21 at 3 41 33 pm](https://u

[2018-08-22 07:31] syntrydy opened #1129 "Fix typo"
# Description

![image](https://user-images.githubusercontent.com/7513418/44449314-a50d3480-a5e5-11e8-9751-98e3820ddbdc.png)

[2018-08-22 07:58] skybert commented on #1096
For your reference, setting a static IP with `docker-compose` version 3, involves:
[code]

The `oxtrust` container gets its static IP like this:
[code]

And then adding _every_ container to this network. You don't have to assign an IP to all the other containers, but you need to tell `docker-compose` that they should be included in it. Otherwise, Docker will not set up sufficient routing between t

[2018-08-22 09:16] #1129 closed

[2018-08-22 09:38] natt-tester opened #1131 "Bugged user search validation"
Steps:

1. Log in to ce 3.1.4, war from 21.08.2018
2. Go to Users -> Manage People
3. Click on Search with a blank field
4. Type "admin" or "blablabla" and click on Search

Expected: The error message is displayed only after the first Search attempt.
Actual: The error message is displayed with any string.

<img width="949" alt="too_short" src="https://user-images.githubusercontent.com/38302725/444

[2018-08-22 17:16] syntrydy commented on #1093
![image](https://user-images.githubusercontent.com/7513418/44478695-53d96100-a636-11e8-871a-0e1eba544351.png)

![image](https://user-images.githubusercontent.com/7513418/44478756-808d7880-a636-11e8-9d50-e072bb5a43f6.png)

[2018-08-22 21:02] #1106 closed

[2018-08-22 23:04] nynymike opened #1134 "Map client LDAP claims to access token"
In the client configuration screen of oxTrust, it would be nice if there was a way to manage custom client claims, and include them in the access token.

Related to https://github.com/GluuFederation/oxAuth/issues/869

[2018-08-24 12:46] yuriyz commented on #703
done in 3.1.4 and master

[2018-08-24 12:46] #703 closed

[2018-08-24 22:33] sahiliamsso opened #1137 "Register attribute page fields are misaligned"
Attributes >   Register Attributes

![image](https://user-images.githubusercontent.com/21104811/44610817-a32cb680-a81b-11e8-82cc-2928ec63bcbb.png)

[2018-08-25 00:00] sahiliamsso commented on #1099
Please fix registration page too
![image](https://user-images.githubusercontent.com/21104811/44612694-fdcc0f80-a827-11e8-967a-3493027e2ff2.png)

[2018-08-25 00:02] sahiliamsso commented on #1099
![image](https://user-images.githubusercontent.com/21104811/44612727-4f749a00-a828-11e8-9069-2de36bf98307.png)

[2018-08-25 00:08] sahiliamsso opened #1138 "Email validation on Edit profile page"
Please add validation for email already exists (or give standard error in case we don't want to expose existing emails in the ldap) on edit profile page.
It allows to save duplicate emails in LDAP. It causes problem when user authentication is set to email

![image](https://user-images.githubusercontent.com/21104811/44612774-d32e8680-a828-11e8-926c-1f2a27535eb8.png)

[2018-08-25 14:26] jgomer2001 commented on #1137
I also want to add that new styles for checkboxes IMO are not very noticeable... it may depend on your screen

For instance, in the cust scripts page, it took me a while to notitce there was a checkbox on the right of  "enabled".
![weird_checkbox](https://user-images.githubusercontent.com/5444180/44619243-efdab680-a848-11e8-8878-62a8b6b26200.png)

Formerly the checkbox was below that,

[2018-08-25 14:29] jgomer2001 opened #1139 "Admin password can be seen when adding person"
Steps to reproduce in CE 3.1.4

1. Edit admin profile (any field) and press update
1. Try addding a new user (email and password are somehow prefilled)
1. click on the password's eye. It shows the actual admin password

![password_shown](https://user-images.githubusercontent.com/5444180/44619273-4942e580-a849-11e8-97ad-52823d5b1c91.png)

[2018-08-25 14:38] jgomer2001 opened #1140 "Login fails after switching back to auth_ldap_server method"
@sahiliamsso  can you try to replicate this and then label/assign ?

I think you can use any acr to experiment, eg. otp/twilio...

1. login to oxtrust
1. enable u2f script and set it as default authn method for oxtrust
1. wait 1 minute & logout
1. login again using a security key
1. set default authn method for oxtrust = default
1. logout
1. wait 1 minute, try login again, it fails

I had to delet

[2018-08-26 11:33] earezki commented on #1126
@shekhar16 it looks like this bug was introduced by #1040.
This is not a blocking issue for the release, but it's a priority to have.
Would you please take a look ?
Thanks

[2018-08-26 17:40] syntrydy commented on #1138
The description is not clear enough

[2018-08-27 09:12] syntrydy commented on #1139
Not reproducible

[2018-08-27 12:39] syntrydy commented on #1137
Already Fixed

[2018-08-27 12:40] #1137 closed

[2018-08-27 14:13] syntrydy commented on #1099
![image](https://user-images.githubusercontent.com/7513418/44664588-9969a580-aa0b-11e8-8f01-bdb54bdbca12.png)

[2018-08-27 14:19] #1138 closed

[2018-08-27 14:45] jgomer2001 opened #1143 "custom scripts levels all in zero"
In 3.1.4 beta, The form for custom scripts management is loading zeroes for the "level" field across all scripts

Underlying LDAP data is correct (different levels).

It seems updating level is not taking effect either.

[2018-08-27 18:11] willow9886 opened #1144 "Dead link in Super Gluu login page"
Please refer to the screenshot -- the marked link doesn't take the user to the Android app:

![image](https://user-images.githubusercontent.com/5271048/44677070-a3cf7380-a9fa-11e8-818d-674b10424513.png)

Please point link to:

https://play.google.com/store/apps/details?id=gluu.org.super.gluu&hl=en_US

[2018-08-27 18:12] willow9886 opened #1145 "No info about blocked account"
I can't find any info on the look of a blocked login/account as configured per Account Lockout. For good UX we MUST have at least an **error message** saying:

"Account blocked after X failed login attempts. Please contact your Administrator",

or something along these lines. X would be the value set by an admin in `Maximum_invalid_login_attemps`.

Otherwise how is a user supposed to know what the

[2018-08-27 22:22] afroDC opened #1146 "oxTrust Auditing Log Fixes"
[code]

The INUM along with the displayName should be displayed for readability.

Also the timestamps should match the formatting of other logs in Gluu Server:

[code]

In the case of oxtrust_audit.log:

[code]

[code]

[2018-08-27 22:39] sahiliamsso commented on #1140
Can't able to reproduce in google chrome. Followed these steps
login to oxtrust
enable u2f script and set it as default authn method for oxtrust
wait 1 minute & logout
login again using a security key
set default authn method for oxtrust = default
logout
wait 1 minute, try login again, it fails

I was able to login/

[2018-08-27 23:06] afroDC opened #1147 "Users Should Be Able to Add Custom ClientID On Client Creation"
In the same vain as https://github.com/GluuFederation/oxAuth/issues/782, a user should be able to define a clientID as they see fit and not rely on an inum automatically generated for them.

[2018-08-27 23:28] sahiliamsso opened #1148 "Unable to create TR from "Federation" Entity Type"
1, Create a TR of type "Federation" using inCommon Metadata
![image](https://user-images.githubusercontent.com/21104811/44692011-98259080-aa7e-11e8-98c7-97fab364d4a5.png)

2. Create another TR  ,

Entity Type:* = Single SP
Metadata Location = Federation
Federation Name = Choose Name created in Step1

No option to select "Entity ID" is displayed.
Click on Configure Relying Party, You will see error

[2018-08-28 00:55] sahiliamsso opened #1149 ""uma grant" option not available in oxtrust OIDC client"
oxauth-rp shows following options
![image](https://user-images.githubusercontent.com/21104811/44694433-0b350400-aa8b-11e8-8599-176c3083d042.png)

Where as OpenID Connect > Add Client > Add Grant Type
![image](https://user-images.githubusercontent.com/21104811/44694424-03755f80-aa8b-11e8-9278-0a87351d37df.png)

[2018-08-28 02:14] centroxy opened #1150 "Unable to add/update same Login Redirect URL or Post Logout URL in Gluu server"
Tested on Gluu 3.1.3

1- Create a new client in Gluu server  oxTrust
2- Assign a valid  Login Redirect URL / Post Logout URL
3- Add other required details and  Create/Update client
4- Now remove the Login Redirect URL  / Post Logout URL and try to add same  Login Redirect URL  / Post Logout URL  to the client
5- Click on update

Now oxTrust will give validation error

**"The URL is not valid or bl

[2018-08-28 02:51] natt-tester opened #1151 "Enhance password reset email"
It would be great to have proper email formatting instead of a block of text in the password reset message:

<img width="1042" alt="ubuntu16_gserver3 1 4_password_reset_email1" src="https://user-images.githubusercontent.com/38302725/44658868-ae632a80-aa45-11e8-8cd7-8524eab27d7c.png">
<img width="725" alt="ubuntu16_gserver3 1 4_password_reset_message2" src="https://user-images.githubusercontent.com

[2018-08-28 03:27] natt-tester opened #1152 "Weird password reset message"
It's possible to get this weird message when you click on the reset link in the email when you've already used it:

<img width="1363" alt="ubuntu16_gserver3 1 4_wrong_password_success" src="https://user-images.githubusercontent.com/38302725/44651254-350b0e00-aa2c-11e8-8794-9996cad1d5aa.png">

**Ideally, upon clicking the already used link we should have a message and a field to re-enter your e-mai

[2018-08-28 04:02] willow9886 commented on #1152
@natt-tester how about :

[2018-08-28 04:53] natt-tester opened #1153 "Persistent placeholders, no ^ v symbols"
Please refer to the screenshot from Manage Custom Scripts and fix the problems throughout the whole menu:

- the placeholders are not cleared when you click on the field
- there are no **^ v** symbols to add/subtract values
- the X and eye icons should be next to each other with a reasonable distance between them:
<<>> .............. X

![twilio_layout](https://user-images.githubusercontent.com/38

[2018-08-28 06:08] natt-tester commented on #1152
@willow9886 yes, that will work for both the expired and already used e-mail. Btw, how long is the e-mail valid?

[2018-08-28 08:46] natt-tester commented on #1139
I've just reproduced it in the latest build for Ubuntu16. I was able to see the creds when I wanted to add a new first user. I think this is when it's shown because I was unable to reproduce it with at least one user + admin.

[2018-08-28 09:11] syntrydy commented on #1143
This is due conflicting library.
For instance RichFaces and PrimeFaces.

When i disable Primefaces every thing is correct.

[2018-08-28 11:57] syntrydy commented on #1153
![image](https://user-images.githubusercontent.com/7513418/44721463-e3ad5e00-aac1-11e8-9e84-e404e7d725d6.png)

[2018-08-28 12:00] syntrydy commented on #1143
![image](https://user-images.githubusercontent.com/7513418/44721582-4b63a900-aac2-11e8-891a-f9711053de03.png)

[2018-08-28 12:01] syntrydy commented on #1153
Fixed here https://github.com/GluuFederation/oxTrust/issues/1143

[2018-08-28 12:01] #1153 closed

[2018-08-28 12:33] jgomer2001 commented on #1140
ok, closing

[2018-08-28 12:33] #1140 closed

[2018-08-28 13:55] syntrydy commented on #1150
@centroxy  no such behavior in 3.1.4.

Closing this thicket for now.

[2018-08-28 14:06] #1146 closed

[2018-08-28 14:06] #1143 closed

[2018-08-28 16:50] centroxy commented on #1150
@syntrydy  How about gluu-server-3.1.3sp1 ?

[2018-08-28 17:30] syntrydy commented on #1149
@sahiliamsso  when creating issue please make sure you provide all information or where to find them

[2018-08-28 17:31] syntrydy commented on #1149
@sahiliamsso  where do the first screenshot coming from?

[2018-08-28 18:40] syntrydy commented on #1150
unable to reproduce this issue, i test it on 3.1.3 and in 3.1.4.
Note that in 3.1.4 multiple login redirects is not allow until you add a sector identifier.

Close this ticket now.

[2018-08-28 18:40] #1150 closed

[2018-08-28 19:30] syntrydy opened #1156 "Setting OIDC expiration date to 2099 delete the client few minutes after update"

[2018-08-29 02:12] sahiliamsso opened #1157 "Attribute mapping entries on Cache Refresh becomes empty"
1. Go to Configuration > Cache Refresh
2. Enter Add source attribute to destination attribute mapping:
![image](https://user-images.githubusercontent.com/21104811/44760975-f164f100-ab5e-11e8-99a3-46d64d273356.png)

3. Now click on "Add source attribute to destination attribute mapping" button

It deletes the existing values entered in step 2.

![image](https://user-images.githubusercontent.com/211

[2018-08-29 02:16] sahiliamsso opened #1158 "align "remove source server" in CR Source Backend server tab"
Go to Configuration > Cache Refresh >  Source Backend Servers

![image](https://user-images.githubusercontent.com/21104811/44761104-7fd97280-ab5f-11e8-8074-3763a1c89320.png)

[2018-08-29 08:33] syntrydy commented on #1157
![image](https://user-images.githubusercontent.com/7513418/44775848-88857500-ab6e-11e8-9e91-f86f8c3b1a37.png)

Fixed

[2018-08-29 08:51] syntrydy commented on #1158
![image](https://user-images.githubusercontent.com/7513418/44776901-1b271380-ab71-11e8-8747-7e317000aad2.png)

[2018-08-29 11:11] shekhar16 commented on #1040
@yurem please merge the PR https://github.com/GluuFederation/oxTrust/pull/1161

[2018-08-29 16:14] #1126 closed

[2018-08-29 16:14] #907 closed

[2018-08-29 17:51] #1158 closed

[2018-08-29 17:52] #1157 closed

[2018-08-29 17:52] #1156 closed

[2018-08-29 20:01] willow9886 commented on #1145
We should also provide the option to display a message to the user to notify them they are approaching account lockout.. e.g.

etc.

And then for the actual lockout message, we can sue:

[2018-08-30 10:30] syntrydy commented on #1145
![image](https://user-images.githubusercontent.com/7513418/44846339-f81b6300-ac47-11e8-9bc6-6617e6756332.png)

[2018-08-30 10:32] syntrydy commented on #1145
![image](https://user-images.githubusercontent.com/7513418/44846455-4cbede00-ac48-11e8-9b40-515dfa622287.png)

![image](https://user-images.githubusercontent.com/7513418/44846486-5f391780-ac48-11e8-936a-15cd839ea10a.png)

[2018-08-30 10:38] syntrydy commented on #1145
This task belong to oxAuth project. Fixed on https://github.com/GluuFederation/oxAuth/issues/887.

[2018-08-30 10:38] #1145 closed

[2018-08-30 14:02] natt-tester opened #1163 "Unable to add custom attribute in openDJ"
I've followed the [docs](https://gluu.org/docs/ce/3.1.3/admin-guide/attribute/) and tried to add the custom attribute, but in vain. Which logs will be needed to check it?

Plus the error message should be corrected to "...**does** not belong..."

<img width="995" alt="not_belong" src="https://user-images.githubusercontent.com/38302725/44856465-d1454700-acb0-11e8-8b85-72a6d5dc36ba.png">

[2018-08-30 14:06] natt-tester opened #1164 "Messed up checkboxes in Register Attribute"
Please fix them:
<img width="591" alt="attribute_messed_up" src="https://user-images.githubusercontent.com/38302725/44856706-69433080-acb1-11e8-99de-2d7c1152eea2.png">

[2018-08-30 17:30] syntrydy commented on #1164
![image](https://user-images.githubusercontent.com/7513418/44868404-a217e100-ac82-11e8-9a87-6859f8ccb45d.png)

[2018-08-30 17:30] #1164 closed

[2018-08-30 17:41] syntrydy commented on #1163
Have you check if the attribute **customTest** is present in ldap schema?

[2018-08-30 17:42] syntrydy commented on #1163
https://gluu.org/docs/ce/admin-guide/attribute/#opendj

[2018-08-30 17:59] syntrydy commented on #1139
this happen when you allow the browser to save admin username and password on the login page

[2018-08-30 17:59] #1139 closed

[2018-08-30 18:15] syntrydy commented on #1163
![image](https://user-images.githubusercontent.com/7513418/44870821-0fc70b80-ac89-11e8-8a6a-5837f7d42128.png)

[2018-08-30 18:37] syntrydy commented on #1148
You can't upload file with size more that 30MB.

[2018-08-30 18:39] syntrydy commented on #1029
I haven't saw such behavior in 3.1.4

[2018-08-30 21:50] sahiliamsso commented on #1148
@syntrydy - It's a separate issue than size limit. This happens for a shorter length data as well

[2018-08-31 11:52] syntrydy commented on #1151
![image](https://user-images.githubusercontent.com/7513418/44910881-b7d9e480-ad1c-11e8-9668-8efd003b1b50.png)

[2018-08-31 13:00] syntrydy commented on #1152
![image](https://user-images.githubusercontent.com/7513418/44913738-21122580-ad26-11e8-8e40-e38bdedb0e20.png)

[2018-08-31 13:01] syntrydy commented on #1152
I think it is better than **Oops ....**. The user can generate new link directly if needed.

[2018-08-31 14:02] syntrydy commented on #1152
![image](https://user-images.githubusercontent.com/7513418/44916918-c630fc00-ad2e-11e8-9c8e-117c36e77dfe.png)

[2018-08-31 14:10] syntrydy commented on #1152
![image](https://user-images.githubusercontent.com/7513418/44917247-c8e02100-ad2f-11e8-8a34-7a6793c32482.png)

[2018-08-31 16:43] willow9886 commented on #1152
@syntrydy can you update the content?

This can be improved.

You can simply say:

[2018-08-31 18:14] mzico commented on #1033
We can close it.

[2018-08-31 18:14] #1033 closed

[2018-08-31 18:45] afroDC opened #1168 "oxTrust logout improvements"
Currently oxTrust relies on `JSESSIONID` for session management. This `JSESSIONID` only expires when the session ends. Therefore `session_id` configuration in oxAuth will not affect oxTrust sessions.

[2018-09-01 00:17] sahiliamsso opened #1169 "Ubuntu 16 - Oxtrust - no option to add password in "Add User""
Users  > Add User

![image](https://user-images.githubusercontent.com/21104811/44940304-6841fa00-adaa-11e8-8619-c3b4a637fff1.png)

[2018-09-01 08:10] syntrydy commented on #1169
hmm

[2018-09-03 10:30] syntrydy commented on #1169
Not reproducible

[2018-09-03 10:30] #1169 closed

[2018-09-03 22:13] sahiliamsso opened #1171 "Email validation on add user screen"
Once you enter incorrect email address then "Please provide a valid email address" continue to appearing even after providing a valid email address.
Steps to reproduce
1. Go to add User screen
2. Fill valid details except email address
3. Click submit, and you will get "Please provide a valid email address" error
4. Correct the email address and hit submit

You will see the same error and it won't

[2018-09-03 22:17] sahiliamsso opened #1172 "Not able to add user"
Go to Add User screen, provide valid values and hit submit

![image](https://user-images.githubusercontent.com/21104811/45002519-28228780-aff5-11e8-907d-a85c1c31f508.png)

oxtrust Logs

Caused by: LDAPSearchException(resultCode=32 (no such object), numEntries=0, numReferences=0, errorMessage='Failed to scroll to specified startIndex')
        at org.gluu.site.ldap.OperationsFacade.search(Operation

[2018-09-04 03:00] sahiliamsso opened #1173 "Empty page in update OIDC client"
1. Create valid OIDC client
2. Update the client

![image](https://user-images.githubusercontent.com/21104811/45007680-99c1fc00-b01c-11e8-9abb-6ea6ebb0ed9e.png)

[2018-09-04 08:40] syntrydy commented on #1173
@sahiliamsso do you think the screenshot provide is enough the identified that issue?

[2018-09-04 08:56] syntrydy commented on #1099
The title read **Gender field on profile page** when  the screenshot is for **User add page**.

[2018-09-04 08:58] syntrydy commented on #1099
![image](https://user-images.githubusercontent.com/7513418/45021246-f7f4dc00-b028-11e8-9185-0cdbbf4efc50.png)

The profile page is currently correct.

[2018-09-04 11:49] natt-tester opened #1174 "Extra string on OTP login screen"
Please get rid of it ;)

<img width="972" alt="centos6_314cf running 2018-09-04 20-18-44" src="https://user-images.githubusercontent.com/38302725/45026008-5f8a4600-b080-11e8-8088-b9a479424c33.png">

[2018-09-04 13:57] syntrydy commented on #1173
![image](https://user-images.githubusercontent.com/7513418/45035829-d7da1280-b052-11e8-96b8-238cb31b1518.png)

[2018-09-04 18:31] willow9886 opened #1176 "Export Client Config"
We have a Client Config Summary option now in oxTrust. People need to be able to export that config.

Perhaps we can make an option for "view in markdown" so the person can see the config and copy/paste it into a text editor (like our support portal!).

[2018-09-04 18:31] #1173 closed

[2018-09-04 18:49] syntrydy commented on #1099
![image](https://user-images.githubusercontent.com/7513418/45051277-9ca00980-b07b-11e8-8190-1f7c0f223841.png)

[2018-09-04 18:49] #1099 closed

[2018-09-04 18:55] syntrydy commented on #1172
![image](https://user-images.githubusercontent.com/7513418/45051588-6ca53600-b07c-11e8-9f62-425a1bca69bc.png)

Not reproducible.

[2018-09-04 19:00] syntrydy commented on #1171
Not such behavior, which browser/version and  which OS?

[2018-09-04 19:02] syntrydy commented on #1168
@afroDC i think all session stuff are handle in oAuth project

[2018-09-04 21:07] chrissnyder2337 commented on #356
Is there a patch I can leverage apply to bring this functionality to my server before 3.1.5 is released?

[2018-09-04 22:34] mbaser commented on #1172
commit https://github.com/GluuFederation/community-edition-setup/commit/b1634c845dbe0f1687dcedf80049e5bab49b6918 closed this issue

[2018-09-04 22:34] #1172 closed

[2018-09-05 03:47] natt-tester commented on #1092
Confirmed, the typo is fixed.

[2018-09-05 05:40] natt-tester commented on #1083
@syntrydy, the issue is still present in the latest RC2 package. After ignoring the date picker and creating a new client, the expiration date is not present in the GUI:

<img width="710" alt="ubuntu16_disappearing" src="https://user-images.githubusercontent.com/38302725/45073285-eb07e380-b121-11e8-80e3-63eea06ca3a6.png">

[2018-09-05 05:46] natt-tester commented on #1080
@syntrydy, there's no error anymore, but the date picker needs improvement: to avoid misconfiguration issues, it should be impossible to set an expiration date in the past.

[2018-09-05 08:06] syntrydy commented on #1080
**it should be impossible to set an expiration date in the past.** Why, if you set a past date as expiration date for a client then it is useless.

[2018-09-05 08:14] syntrydy commented on #1171
Can someone else try to replicate this behavior. If not, i will close it tomorrow.

[2018-09-05 08:27] syntrydy commented on #1007
![image](https://user-images.githubusercontent.com/7513418/45080907-dc9fd480-b0ed-11e8-8889-1aed36f2dbba.png)

[2018-09-05 08:28] syntrydy commented on #1007
I don't know why it don't work for you.

[2018-09-05 08:28] #1007 closed

[2018-09-05 09:09] natt-tester commented on #1081
@syntrydy, please implement the same behavior for the CANCEL button. The list of previously shown results is still present when you click CANCEL instead of OK.

[2018-09-05 10:23] natt-tester opened #1178 "Validation of Import People causes error"
Please refer to the GIF and confirm this behavior in RC2. Tested in Ubuntu16, Firefox:

![upload_people](https://user-images.githubusercontent.com/38302725/45087410-118d4500-b149-11e8-8892-da5a44059dfe.gif)

[2018-09-05 10:56] natt-tester opened #1179 "Validation for client expiration needed"
In OpenID --> Clients --> Add/Update Client, I think we need a warning message when the user sets the datepicker in the past to delete a client, or even creates a new client and chooses a past date by mistake. Due to the new design, it's relatively easy to misclick it now; the warning would improve the UX.

[2018-09-05 11:37] natt-tester commented on #1171
@syntrydy, I'm unable to reproduce this behavior at least in Ubuntu16 with Firefox.  @sahiliamsso, what  OS+browser did you use?

[2018-09-05 11:55] natt-tester opened #1180 "UMA resource fields moved to the right"
After adding a test UMA resource, its fields are moved to the right and beyond the form:

<img width="1301" alt="ubuntu16_add_uma_resources" src="https://user-images.githubusercontent.com/38302725/45091534-1a384800-b156-11e8-886f-e5a340d69be2.png">
Please fix it.

[2018-09-05 12:36] syntrydy commented on #1178
![image](https://user-images.githubusercontent.com/7513418/45093551-a1fb6380-b110-11e8-8409-f58d6a5b2689.png)

[2018-09-05 12:36] #1178 closed

[2018-09-05 13:15] willow9886 commented on #1179
Is there a good reason someone would use this strategy to delete a client?

Is there ever a good reason to set a client expiration in the past? Would it be better if we didn't allow setting past dates for client expiration?

@natt-tester @yurem @syntrydy

[2018-09-05 13:18] willow9886 commented on #1080
I raised the same question on #1179.

If setting a past expiration date == delete, then the user should simply delete the client.

As far as I can tell, allowing clients or users to set an expiration date in the past simply introduces confusion.

[2018-09-05 17:16] shekhar16 commented on #1144
@sahiliamsso  please check the custom property 'supergluu_android_download_url' on manage Custom Script page -> person Authentication tab -> Super Gluu

Here is screenshot

![image](https://user-images.githubusercontent.com/15937500/45109534-7ce11200-b15d-11e8-99e8-75052e6ae4fb.png)

[2018-09-05 17:30] willow9886 commented on #1144
@shekhar16 we should have the correct link out of the box.. can confirm?

[2018-09-05 17:40] syntrydy commented on #1083
![image](https://user-images.githubusercontent.com/7513418/45110789-2d89ea00-b13b-11e8-82f3-1d61f43ea6a7.png)

[2018-09-06 01:16] #1083 closed

[2018-09-06 01:17] syntrydy commented on #1179
Fixed

[2018-09-06 01:17] #1179 closed

[2018-09-06 02:48] natt-tester commented on #1074
The enhancement is there, please only correct the typo here:
<img width="973" alt="no_content" src="https://user-images.githubusercontent.com/38302725/45132128-13034f80-b1d3-11e8-97d3-e327516f81c6.png"> :)

[2018-09-06 04:16] natt-tester commented on #1060
@syntrydy, I think we still need improvement in this issue: I've checked two random Attributes and they are not set to their default value as @willow9886 suggested; the "Multivalued" string is just cleared from the first dropdown option:
![multi2](https://user-images.githubusercontent.com/38302725/45134735-67143100-b1df-11e8-8316-67135b53f826.png)

![multi1](https://user-images.githubusercontent.c

[2018-09-06 09:47] natt-tester commented on #1051
It works as @syntrydy described: any string can be saved as an e-mail address, but upon clicking Add/Update it's removed and an error message is displayed:

<img width="852" alt="mail1" src="https://user-images.githubusercontent.com/38302725/45149701-8de95c00-b20d-11e8-94f8-f545be394254.png">
<img width="1407" alt="mail2" src="https://user-images.githubusercontent.com/38302725/45149744-a48fb300-b2

[2018-09-06 10:06] syntrydy commented on #1180
![image](https://user-images.githubusercontent.com/7513418/45150933-e2b4b480-b1c4-11e8-8b86-acdc71e10971.png)

[2018-09-06 10:07] syntrydy commented on #1180
Fixed, 40% left and 60 right?

[2018-09-06 10:07] #1180 closed

[2018-09-06 10:13] natt-tester commented on #1048
@syntrydy, the buttons still show the same behavior -- tested in Ubuntu16, RC2. Maybe the change hasn't been merged?

![bad button](https://user-images.githubusercontent.com/38302725/45151092-c2aae280-b210-11e8-9fa8-c49ff99409c7.gif)
![bad_button2](https://user-images.githubusercontent.com/38302725/45151202-01d93380-b211-11e8-8b87-a90320e4a528.gif)

[2018-09-06 10:59] #1074 closed

[2018-09-06 11:04] syntrydy commented on #1060
@natt-tester that is the expected behavior.

From the UI point of view, you can add an attribute with **multivalued** set to **null**, however Gluu ship with multiples attributes with that field set to **null**. These are attributes added via scripts and installation time, so no mean to enforce the field value**

[2018-09-06 11:04] #1060 closed

[2018-09-06 12:16] natt-tester commented on #1040
@nynymike said if would be nice to have the Client Config Summary at the top, but now it's at the bottom. @shekhar16, could you move it to the top? The UX would be better if the user didn't have to scroll all the way down to click the button.
<img width="1231" alt="bottom_button" src="https://user-images.githubusercontent.com/38302725/45156741-5f29b080-b222-11e8-86df-29f0aa35be5a.png">

Apart from

[2018-09-06 12:50] natt-tester commented on #1027
@shekhar16, I see now that it's better to make the rows a bit longer -- preferably as long as the ones in the first column -- to avoid situations like this one:

<img width="802" alt="ubuntu14_rc2_longer-table" src="https://user-images.githubusercontent.com/38302725/45158371-1b857580-b227-11e8-925f-02eeede4a157.png">

Tested with RC2 in Ubuntu 14/Firefox.

[2018-09-06 13:14] #1048 closed

[2018-09-06 13:17] syntrydy commented on #1040
@natt-tester Already fixed.

![image](https://user-images.githubusercontent.com/7513418/45159733-81e6a580-b1df-11e8-964d-c0e3819b239c.png)

[2018-09-06 13:34] syntrydy commented on #1027
Before
![image](https://user-images.githubusercontent.com/7513418/45160287-fd952200-b1e0-11e8-96b3-4852d4eab153.png)

After

![image](https://user-images.githubusercontent.com/7513418/45160477-772d1000-b1e1-11e8-8f2f-acfb1d54f89e.png)

[2018-09-06 13:34] #1027 closed

[2018-09-06 13:46] syntrydy opened #1186 "Fix feature *Change user password**"

[2018-09-06 16:33] shekhar16 commented on #1144
@willow9886  yes i had corrected this link in ldif file i.e. pre-loaded data in ldap in commit i.e. https://github.com/GluuFederation/community-edition-setup/pull/476/commits/b2993b3bddb9d43cb78ae0982c131ca233a35264

I m just wanted to confirm, is it present in Sahil's setup  or he had just updated the identity war file.

[2018-09-06 19:31] syntrydy commented on #1174
I move it to appropriate project.

[2018-09-06 19:31] #1174 closed

[2018-09-06 19:45] syntrydy opened #1188 "User form misaligned"
![image](https://user-images.githubusercontent.com/7513418/45181240-c1c87f80-b215-11e8-8a1e-e286d61c12b3.png)

[2018-09-06 21:13] #1188 closed

[2018-09-07 01:44] natt-tester opened #1190 "Disappearing icons in Passport Authentication method"
Steps:

1. Go to Configuration > Manage Authentication > Passport Authentication method
2. Add a Strategy if not added
3. Add a new property

Expected: The preview icons are visible for clientId and clientSecret.
Actual: The icons disappear. Also, if you want to delete an added but empty property, it generates an error message which should be removed.

Please refer to the GIF downloadable at:
http

[2018-09-07 01:48] willow9886 commented on #1190
@natt-tester this is RC2 I assume?

[2018-09-07 02:16] natt-tester opened #1191 "Unify field/dropdown/radio button design"
Please make sure that the rounded design of fields/dropdowns/radio buttons, etc. is implemented everywhere in oxTrust.
In RC2 it's still common to see rounded and rectangular fields next to one another, which isn't very good for the UX:

![rounded](https://user-images.githubusercontent.com/38302725/45194663-5626f680-b297-11e8-81ac-faeffbfb5624.png)

@syntrydy, can it be done for 3.1.4?

[2018-09-07 03:36] natt-tester commented on #1190
@willow9886 yes, still tested in RC2.

[2018-09-07 15:55] syntrydy commented on #1190
![image](https://user-images.githubusercontent.com/7513418/45229781-c5641100-b2be-11e8-81e5-cbbc3e8aca74.png)

[2018-09-07 16:01] #1190 closed

[2018-09-10 05:26] natt-tester commented on #865
@shekhar16, please refer to Sahil's comment above.

[2018-09-10 07:08] natt-tester commented on #1151
@syntrydy, could you unify the font and add spaces:

- after Hello user
- between the text and the button?

[2018-09-10 07:29] natt-tester commented on #1072
@shekhar16, if I understand it correctly, recaptcha should be moved to "Manage Authentication". Now it is there as Captcha Site Key and Captcha Secret Key, so please change the names.

Also, Recaptcha fields are still present in the Manage Registration Page, so please remove them:

<img width="1363" alt="recaptcha" src="https://user-images.githubusercontent.com/38302725/45282681-f478bd80-b51e-11e8

[2018-09-10 10:00] #1148 closed

[2018-09-10 10:55] syntrydy commented on #1151
![image](https://user-images.githubusercontent.com/7513418/45293520-53730e00-b4f0-11e8-9c69-4e65d248c440.png)

[2018-09-10 11:03] #1151 closed

[2018-09-10 12:17] syntrydy opened #1195 "Users import should support custom attribute too"

[2018-09-10 13:15] mzico opened #1196 "Authentication graph improvement"
Right now, graph and data below graph is showing last 7 day activity.
A customer suggested to include information of 'Total login' instead of "Last 7 days statistics" graph ( or, along with "Last 7 days statistics" [ red banner ].

Do you think it's possible?
![protected_answer_4755_skewed_statistics_9-10-2018](https://user-images.githubusercontent.com/7156097/45299587-ad181000-b4d1-11e8-9772-7a5b

[2018-09-10 14:51] willow9886 commented on #1072
@natt-tester since and organization might want to use Captcha's on many pages, e.g. registration, login, etc. do you think we should put the Captcha configuration fields in a more top level page, like `Organization Configuration` and then offer a checkbox on configuration pages, like `Authentication` and `Registration` to enable / disable captcha for that specific page?

[2018-09-10 17:01] yurem commented on #1195
I've tested and successfully imported users with custom attributes.

[2018-09-10 17:02] mzico commented on #1195
Thanks @yurem and @syntrydy . We can close this issue.
How to doc: https://github.com/GluuFederation/support-docs/blob/master/howto/CE312/Using_xls_file_to_import_user.md

[2018-09-10 17:02] #1195 closed

[2018-09-10 18:23] yurem opened #1197 "Add new method getBindCredentials method to CR script to allow dynamically change AD password"

[2018-09-11 05:04] syntrydy opened #1198 "Add QA identifiers"

[2018-09-11 09:18] natt-tester commented on #1024
I know it's an ongoing task, but it would be great to provide translations for all elements on a page if we start changing something. I think this area needs more improvement:

<img width="1399" alt="import" src="https://user-images.githubusercontent.com/38302725/45350552-602e5980-b5f7-11e8-8ef0-5d33dc33d92a.png">
<img width="1146" alt="import2" src="https://user-images.githubusercontent.com/38302

[2018-09-11 09:57] sahiliamsso commented on #1152
Not able to reset user password, After clicking on the link, It redirects to change password screen but when I hit Update Password, see this error
![image](https://user-images.githubusercontent.com/21104811/45352916-3402e080-b5d7-11e8-9efd-586677f83b1a.png)

[2018-09-11 10:07] sahiliamsso commented on #1152
As the message says “The reset link is no more valid.It has already been used to reset your password or it has expired. Re-enter your e-mail to generate a new link.”

What is the default  expiry time? Can it be configured in oxtrust (say 15min/1hr/24hrs)
I don’t see it mentioned in the password reset email.

[2018-09-11 10:51] #1198 closed

[2018-09-11 11:15] syntrydy commented on #1152
The password reset is working as expected in the current code.
Note that I use the issue title and his description to fix it. So think like** specified the expiration time for reset link will be a separate issue.

[2018-09-11 11:17] syntrydy commented on #1024
@natt-tester That is the job of translator.

[2018-09-11 12:04] syntrydy commented on #1144
I confirm, the change is in 3.1.4 branch and will be surely available in RC4

[2018-09-11 12:19] syntrydy opened #1200 "Password reset mail should inform user about the expiration time"
# Description

Currently the password reset mail send to user don't contains any information about his expiration.

[2018-09-11 13:15] syntrydy commented on #1200
![image](https://user-images.githubusercontent.com/7513418/45362573-19c40500-b5cd-11e8-8600-03f1c6cc4aca.png)

[2018-09-11 13:17] syntrydy commented on #1200
**1 hour** is the value set by admin in oxtrust configuration.

[2018-09-11 13:30] #1200 closed

[2018-09-11 13:31] syntrydy commented on #1152
https://github.com/GluuFederation/oxTrust/issues/1200

[2018-09-11 14:00] yurem commented on #1197
Implemented

[2018-09-11 14:05] syntrydy commented on #1028
Fixed

[2018-09-11 14:46] yurem commented on #1197
In order to resolve this I added next flow:
-  Call CR script method getBindCredentials if api > 1
-  This method can return null or BindCredentials(“bindDn”, “bindPwd”)
-  If getBindCredentials returns null than use bindDn/bindPassowrd from Source LDAP configuration
-  If getBindCredentials returns not null than use credentials returned from method

Test flow:
1. Deploy latest 3.1.4 oxTrust.war
2

[2018-09-11 14:57] willow9886 commented on #1197
@natt-tester can you do a test of this?

[2018-09-11 18:57] jgomer2001 opened #1203 "SCIM Group creation or update returns the same member list provided in input"
We are not dropping invalid (unknown) member values from response when manipulating groups.

More context [here](https://support.gluu.org/identity-management/5993/nested-groups/).

[2018-09-11 20:04] jgomer2001 commented on #1028
Hi @sahiliamsso

I just tried to replicate with no success, here is what I did on a centos6 3.1.4 RC1:

1. Created 2 users with usernames "UserA" and "UserB" with the great SCIM java client :)
1. Confirmed in LDAP both were created, both in oxTrust appear too
1. Still in oxTrust, tried to edit user "UserB" by setting its username to "UserA"

and got the expected error:

![uidalreadyexists](https:/

[2018-09-12 02:26] natt-tester commented on #1072
@willow9886 Yes, I think it's a good idea, it will be clearer for the user. @shekhar16, could you implement it?

[2018-09-12 06:12] #1028 closed

[2018-09-12 06:29] natt-tester opened #1204 "Correct strings in Oops page"
I got this page when I edited oxAuthenticationMode without stopping jetty first. Please correct the marked strings to the proposed values:

<img width="470" alt="change_ldap_then_logout" src="https://user-images.githubusercontent.com/38302725/45406179-fa9aa580-b6a8-11e8-844f-18b7303d7c16.png">

[2018-09-12 07:14] natt-tester opened #1205 "Center string in registration page"
Please center the string marked in red:

<img width="874" alt="center" src="https://user-images.githubusercontent.com/38302725/45408169-eb1e5b00-b6ae-11e8-9b93-4863b2ab1b48.png">

**Also, what's the logic behind "Already have an account"? Shouldn't it be linked to the login page? Now it's just a string.**

[2018-09-12 08:02] natt-tester commented on #1071
@yurem, @shekhar16

 1. Done
**2. Not working correctly: after enabling captcha and sending an email I disabled it as an admin. After waiting a while + clearing cache + restarting oxauth, it's still in the form.:**:

3. I think it's done -- tested with an unregistered email and got no email
4. Not updated in RC4 -- there are too many capital letters and no space marked in the picture. Also, I thin

[2018-09-12 08:14] syntrydy commented on #1205
![image](https://user-images.githubusercontent.com/7513418/45411512-45e29300-b66c-11e8-847a-8b27ee9b1864.png)

[2018-09-12 08:19] syntrydy commented on #1205
Done

[2018-09-12 08:19] #1205 closed

[2018-09-12 08:35] #1204 closed

[2018-09-12 08:39] #1144 closed

[2018-09-12 08:40] natt-tester commented on #1144
@willow9886, @shekhar16, checked in RC4 -- it's done.

[2018-09-12 10:16] natt-tester opened #1207 "Placeholders not cleared & keys editable"
Please refer to the GIF and fix the incorrect behavior we've fixed already for some fields:

- if I remember correctly, the keys should be uneditable (please confirm @syntrydy)
- the placeholders for values should be cleared on focus
- the preview icon doesn't change anything at first click

![fields_not_cleared](https://user-images.githubusercontent.com/38302725/45418705-7eb05580-b6c8-11e8-8726-2

[2018-09-12 11:29] natt-tester commented on #1018
The string is unchanged in RC4, please follow @afroDC's idea

<img width="1107" alt="ssl" src="https://user-images.githubusercontent.com/38302725/45422220-ea97bb80-b6d2-11e8-9ed3-fc6b80192516.png">

[2018-09-12 13:13] mzico opened #1208 "Adding password ( popup ) from CR config - oxTrust crashing"
![314rc4_cr_blocker](https://user-images.githubusercontent.com/7156097/45427113-b46f2300-b663-11e8-8119-77e44ae58ec9.gif)

- oxtrust.log:

[code]

[2018-09-12 15:14] afroDC commented on #1018
@sahiliamsso is right and that field, `sslTrustStoreFilePath`, should have the caption read `Directory Path to Trust Store`

Also the caption under `useSSL` should read `Enable SSL communication between Gluu Server and Redis cache`

[2018-09-12 16:46] willow9886 commented on #1071
The question is can we tell what page they were trying to access, and make sure we send them back to the login page with the right redirect baked in?

Instead of sending them to a new page that says.. "Please check your email.." wouldn't it be easier to just show a pop up message on the existing page?

Ideally its a good flow for the user, so something like this:

user --> app --> login (which, af

[2018-09-12 17:29] shekhar16 commented on #1072
@natt-tester  @willow9886  the captcha keys would be same.So we can add enable / disable check boxes for different functionality pages like registration, login, etc.

[2018-09-12 19:18] syntrydy commented on #1207
![image](https://user-images.githubusercontent.com/7513418/45446276-62aab500-b6c4-11e8-82dc-2653f271001b.png)

[2018-09-12 19:41] #1207 closed

[2018-09-13 01:58] sahiliamsso opened #1210 "Export Attribute | Add Export button at top"
Go to Import/Export Attributes, Click on Export Attribute LDIF

You have to scroll all the way down to find the export button.  Please move this button to the top (better to include both buttons at the top as well as bottom)
![image](https://user-images.githubusercontent.com/21104811/45462648-62430600-b726-11e8-8ed1-b42b5028bf9e.png)

[2018-09-13 09:37] syntrydy commented on #1210
![image](https://user-images.githubusercontent.com/7513418/45480501-0b96f580-b741-11e8-994b-8e2085750f09.png)

[2018-09-13 09:38] syntrydy commented on #1210
![image](https://user-images.githubusercontent.com/7513418/45480531-1f425c00-b741-11e8-8fca-58615db14b75.png)

[2018-09-13 09:54] #1210 closed

[2018-09-13 10:34] natt-tester commented on #1025
It's back:
<img width="1091" alt="link" src="https://user-images.githubusercontent.com/38302725/45483504-70c80680-b794-11e8-99c2-df1652d00eb5.png">

[2018-09-13 11:39] natt-tester commented on #1197
@yurem, @willow9886, I changed the script, but keep getting the error you can check in the log. What can I do to make it work?
[CR_files.tar.gz](https://github.com/GluuFederation/oxTrust/files/2379095/CR_files.tar.gz)

[2018-09-13 12:49] #1208 closed

[2018-09-13 14:09] natt-tester opened #1213 "Disappearing error button"
Lo and behold, the button disappears when you click it several times and then scroll:

![magic](https://user-images.githubusercontent.com/38302725/45493358-df678d00-b7b1-11e8-8041-ba41e34212de.gif)

[2018-09-13 20:11] syntrydy commented on #1213
That is not an issue.  All custom scripts are build using the same code. The **show error** button shows up only when the error is available.

[2018-09-13 20:12] syntrydy commented on #1025
I always wonder where this link is coming from. There is no such link on RC4, you can check here c7.gluu.org

[2018-09-13 20:13] syntrydy commented on #1040
![image](https://user-images.githubusercontent.com/7513418/45513172-dff42980-b799-11e8-9492-acbb55c74b9d.png)

[2018-09-13 20:14] syntrydy commented on #1040
May be your browser need QA ahhahaha.

[2018-09-14 01:02] natt-tester commented on #1213
@syntrydy, but the header stays red and I know the error is still there... Shouldn't the button disappear along with the header turning back to normal/green if enabled?

[2018-09-14 01:17] natt-tester commented on #1071
@shekhar16, there's no need for a new resetPasswordSucces page, just put the message in a pop-up still in passwordReminder.

[2018-09-14 02:37] sahiliamsso opened #1214 "User registration has Test too tip field"
![image](https://user-images.githubusercontent.com/21104811/45526555-4195b180-b7f5-11e8-8dc9-c0474a71e897.png)

[2018-09-14 04:57] natt-tester opened #1216 "Adjust Cache Refresh fields"
@syntrydy, could you check if your layout looks the same? I't in Ubuntu16 and the marked area isn't adjusted (the string doesn't have enough space):

<img width="900" alt="adjust" src="https://user-images.githubusercontent.com/38302725/45530474-327f2580-b82e-11e8-89f6-76ba2c7a097a.png">

[2018-09-14 05:06] natt-tester commented on #1040
I'm checking c7.gluu.org and it looks the same as I reported. Must be the 15" Mac screen, then!

[2018-09-14 05:08] yurem commented on #1197
It's python code style issue:
[code]
In python line indent is used to group methods in blocks. It's simular to `{` and `}` in java. So, all idents should be in right positions.

[2018-09-14 09:15] #1216 closed

[2018-09-14 12:57] yuriyz opened #1218 "Update of pre-installed client fail with Oops page"
Steps to reproduce:
1. install 3.1.4 RC4
2. Navigate to "OpenID Connect" -> "Client"
3. Click on any pre-installed client, e.g. "IDP Client"
4. Click "Update" button.
Result : Oops screen appears
Attached gif video to see the bug.
I've checked identity logs, there is no exception or anything that give hint on what went wrong.
Note: If create new client and update it, it perfectly works.

![failedt

[2018-09-14 13:06] yuriyz opened #1219 "Improvement : oxTrust automatically switch to another tab on update action."
Steps
1. Go to "Configuration" -> "JSON Configuration"
2. Select "oxAuth Configuraiton" tab.
3. Change any value and click Update button.
Result: page is refreshed and "oxTrust Configuration" tab is selected. If user wish to double check whether value is really saved then he/she needs to select "oxAuth Configuraiton" tab again and navigate to changed value.
Expected result: as minimum I would expe

[2018-09-14 13:24] yuriyz opened #1220 "Improvement : introduce toolbar for `page-wide` buttons."
Lets say user needs to change any value on `oxAuth Configuration` page which is on top of the page. User needs:
1. change value
2. scroll down to the buttom of the page (which is huge), find and click on "Update" button.

We have to improve UI/UX for it and introduce toolbar for buttons. Depending on page different buttons should be displayed. Toolbar should be always on top, similar to how Google

[2018-09-14 13:43] #1218 closed

[2018-09-14 14:10] sahiliamsso opened #1222 "User registration is failing"
1. Enter SMTP settings
2. Configuration > Manage Custom scripts > User Registration and enable both scripts
3. Go to User registration page
4. Provide valid inputs

![image](https://user-images.githubusercontent.com/21104811/45555267-f069da00-b855-11e8-90c0-c855adabc964.png)

[2018-09-14 14:28] syntrydy commented on #1213
Error is show only when is throw from script.

If you create a new custom script and provide **hello word** as script content it clear that the script will fail and the error field will not be displayed.

[2018-09-14 14:28] #1213 closed

[2018-09-14 14:29] #1040 closed

[2018-09-14 17:59] willow9886 commented on #1040
The UI should be responsive.. 15" is a fairly large screen size. It should look OK... can you confirm @syntrydy  ? Do we need to make any additional fixes for the next RC?

[2018-09-15 08:29] syntrydy opened #1224 "Fix mail expiration message"

[2018-09-15 09:06] syntrydy commented on #1224
![image](https://user-images.githubusercontent.com/7513418/45584631-ffd93980-b8ce-11e8-9b36-e309bc07aa26.png)

[2018-09-15 09:33] #1224 closed

[2018-09-15 10:41] syntrydy opened #1226 "Adjust space Log viewer configuration"
![image](https://user-images.githubusercontent.com/7513418/45585442-36698100-b8dc-11e8-9ee0-61fe3b17cac3.png)

[2018-09-15 16:15] sahiliamsso opened #1227 "Change password expiration time"
As discussed, Please update the change password expiration message "This link will expire in mm Mins" when time < 1 hr or
"This link will expire in hh hours" if it's more than 1 hr

![image](https://user-images.githubusercontent.com/21104811/45588310-70647280-b930-11e8-94a6-24f0264a049d.png)

[2018-09-15 16:31] sahiliamsso opened #1228 "User registration not working when captcha is enabled"
1. Go to Configuration  > Manage Registration, Provide valid Recaptcha Site Key, and Secret
2. Enable Registration script
3. Go to registration screen and provide valid inputs.
4. Validate captcha
![image](https://user-images.githubusercontent.com/21104811/45588461-cfc38200-b932-11e8-82d8-4f1fab31cbfa.png)

5. Click register
Error - Captcha validation failed. Please try again.
![image](https://use

[2018-09-16 06:58] shekhar16 commented on #1018
@yuriyz  if I m going to change the label useSsl to useSSL than we need to change in oxauth code aswel.
because label should be same as Json attribute in oxtrust json editor.

@sahiliamsso @afroDC  @natt-tester Once @yuriyz confirms the changes than only we can change the label otherwise it will break the functionality.

I updated the caption. here is screenshot.

![image](https://user-images.gith

[2018-09-16 10:43] shekhar16 commented on #1072
Captcha site and key text-boxes are removed from manage registration and authentication configuration page.
only on json configuration page captcha site and key text boxes are visible.here is snapshots
Manage Authentication page:
![image](https://user-images.githubusercontent.com/15937500/45595526-195fab80-b9cb-11e8-94f4-627effd0cf47.png)

Manage registration page .
![image](https://user-images.gi

[2018-09-16 12:30] natt-tester commented on #1214
@sahiliamsso, @syntrydy, I've checked RC5 and there's no extra field:

<img width="783" alt="register" src="https://user-images.githubusercontent.com/38302725/45596497-074c3000-ba00-11e8-9227-f6d093cd1dd8.png">

[2018-09-16 13:28] syntrydy commented on #1227
Done

[2018-09-16 13:28] #1227 closed

[2018-09-16 14:52] willow9886 commented on #1214
That means it was fixed :) tool tip field was not supposed to be there.

[2018-09-16 18:20] sahiliamsso opened #1231 "Unable to change OIDC client secret"
1. Try to change Client secret , OpenID Connect > Update Client

![image](https://user-images.githubusercontent.com/21104811/45599553-29977b00-ba0b-11e8-9584-902fc88ad1b2.png)

Click on set password

![image](https://user-images.githubusercontent.com/21104811/45599555-31efb600-ba0b-11e8-945f-33f12d07a9ea.png)

2018-09-16 18:10:54,639 ERROR [qtp804611486-17] [org.gluu.oxtrust.ldap.service.Attribute

[2018-09-17 00:56] natt-tester opened #1233 "Buggy preview"
In OpenID Connect -> Update Client, I'm unable to actually preview the secret:
![secret](https://user-images.githubusercontent.com/38302725/45602795-9d677100-ba67-11e8-9bed-8da59f4024bb.gif)

In Users  -> Update User/Add User, the preview doesn't work and the UI needs improvement:
![preview](https://user-images.githubusercontent.com/38302725/45602775-43ff4200-ba67-11e8-9434-985fc4ab69f8.gif)

**Pl

[2018-09-17 06:11] natt-tester opened #1234 "Password reset UI enhancements"
Please have a look, @syntrydy:

The password reset flow from RC5 still needs to be improved:

- **the email** should show the expiration time in minutes (otherwise it will say the link will expire in 0 hours) and say "**expire**", not "expired"
<img width="489" alt="expire" src="https://user-images.githubusercontent.com/38302725/45608009-80489780-ba93-11e8-99d5-aae01771acc6.png">

- **the expired

[2018-09-17 08:21] natt-tester opened #1235 "Unify button color"
Please change the red button to the brighter color everywhere, like here:
<img width="814" alt="policy" src="https://user-images.githubusercontent.com/38302725/45612364-1c7b9a00-baa6-11e8-94b4-72ff91caf1df.png">

An example of a darker button to be changed:
<img width="843" alt="ldap" src="https://user-images.githubusercontent.com/38302725/45612433-45039400-baa6-11e8-80e2-56e8a6c2dfff.png">

[2018-09-17 11:58] syntrydy commented on #1234
Done

[2018-09-17 11:58] #1234 closed

[2018-09-17 12:19] #1235 closed, assigned to syntrydy

[2018-09-17 12:30] syntrydy commented on #1226
![image](https://user-images.githubusercontent.com/7513418/45623012-d0b4fa80-ba7d-11e8-93e6-ff8f5ec4dee8.png)

[2018-09-17 12:30] #1226 closed

[2018-09-17 14:02] #1231 closed

[2018-09-18 05:57] natt-tester commented on #1074
@syntrydy Now when there' s no content, there's no message:

<img width="744" alt="no_content" src="https://user-images.githubusercontent.com/38302725/45667191-8013cf00-bb5b-11e8-885f-80ff94c9a219.png">

[2018-09-18 08:32] #1214 closed

[2018-09-18 09:09] natt-tester commented on #1214
@willow9886
- the admin creds are from the same browser and show up in oxTrust (Firefox)
- yes
- I don't think it's because of different functionalities, it's most likely because I saved the creds for the admin account during the login and they show up for the same fields across oxTrust
- only if they share the same machine

It's related to https://github.com/GluuFederation/oxTrust/issues/1139.

[2018-09-18 10:43] yuriyz opened #1238 "It is not possible to set oxIdTokenTokenBindingCnf client property via oxTrust (required for Token Binding)"
It is not possible to set oxIdTokenTokenBindingCnf client property via oxTrust

https://github.com/GluuFederation/oxAuth/issues/840

[2018-09-18 11:10] sahiliamsso opened #1239 "Change Bind Password under "Manage Authentication" not working"
1. Go to Configuration > Manage Authentication
2. Click Change Bind Password
3. Enter password and click submit

![image](https://user-images.githubusercontent.com/21104811/45683512-8ad16280-bb61-11e8-8926-2e8affbfae4e.png)

[2018-09-18 11:12] yuriyz commented on #1238
fixed in 3.1.4 and master. It should be validated in RC6.

[2018-09-18 11:12] #1238 closed

[2018-09-18 12:39] #1233 closed

[2018-09-18 13:09] #1239 closed

[2018-09-18 13:56] willow9886 commented on #1072
@shekhar16 why in manage authentication is the field `Enable Captcha...` and in manage registration the field is `Diasble Captcha...` ? What is the purpose of framing the same question differently in two places?

[2018-09-19 00:34] natt-tester commented on #1197
@yurem, could you please try to set up your ldap server with the data that I sent you? When I update and validate the script, it's a success, but during a CR I can't get any users from the external database. I'd really like to close the issue, but I'm stuck.

[2018-09-19 13:46] natt-tester commented on #1029
**Turns out this behavior is easily reproducible in RC5:**

1. Log in to the oxTrust
2. Click on a menu item, e.g. UMA
3. Click on an item from the UMA menu, e.g. Scopes
4. When it's loaded, double click on it again.

Tested locally in Ubuntu16 and on c7.
![green_screen](https://user-images.githubusercontent.com/38302725/45757084-e4bb5080-bc65-11e8-9ee1-51285d69fc7e.gif)

[2018-09-20 08:18] syntrydy commented on #1029
Why do you double click on a link, instead of clicking?

Double click ==> Click * 2 and this lead to some conversation error in application.

[2018-09-20 08:21] syntrydy opened #1242 "Change User password from profile page don't take effect"
Login as a regular user and change the password from profile page.

The old password is still use.

[2018-09-20 08:39] natt-tester commented on #1029
@syntrydy, no GUI behavior should lead to an error like this. We have to make sure our users get the best experience, even if they double-click something by mistake. Let's make it as user-friendly as possible :)

[2018-09-20 10:45] #1242 closed

[2018-09-20 15:12] shekhar16 commented on #1072
@willow9886 checkbox on authentication tab will enable the captcha on passwordreset functionality and  manage registration checkbox will enable it on registration page.

[2018-09-20 18:48] shekhar16 commented on #1072
I changed the label of checkbox to make label consistent in manage authentication and registration
here is screenshot.
![image](https://user-images.githubusercontent.com/15937500/45840137-c91e7b80-bd33-11e8-968d-bcd7d0efef98.png)

[2018-09-20 19:42] afroDC opened #1246 "Pressing Enter in Any Field For Organization Configuration Will Default to SMTP"
Inside `Configuration` -> `Organization Configuration`, if you hit enter in any field, it will send that submit call to  `Test Configuration` inside `SMTP Server Configuration`

[2018-09-21 01:49] natt-tester commented on #1014
@yurem, when I disabled the "metricReporterEnabled" and tested blocked login, it generated a lot of data displayed later in the metrics: the login values rose from 90/62 (successful/failed login) to 102/87 and counting.

**I did not restart the server, as you said it wasn't necessary.**

This was the setup on c7:

<img width="789" alt="metrics" src="https://user-images.githubusercontent.com/383027

[2018-09-21 12:38] yuriyz commented on #1018
@shekhar16 changed in oxCore 3.1.4 and 4.0.0 (thus in oxauth too).

[2018-09-21 12:51] yuriyz commented on #1018
change `name` in oxTrust too. It should be available for validation in RC7 (3.1.4)

[2018-09-21 12:51] #1018 closed

[2018-09-21 16:05] syntrydy commented on #1246
@afroDC issue fixed

[2018-09-21 16:05] #1246 closed

[2018-09-22 22:38] syntrydy opened #1248 "Make Registration page logo customizable"
see last comment here https://github.com/GluuFederation/oxAuth/issues/864

[2018-09-23 00:14] #1248 closed

[2018-09-23 14:30] syntrydy opened #1250 "Fix Manage authetication captcha"
![image](https://user-images.githubusercontent.com/7513418/45929150-9e0b7600-bf45-11e8-8fe9-4134aa3129a8.png)

[2018-09-23 14:55] #1250 closed

[2018-09-23 17:22] sahiliamsso opened #1252 "Captcha on Forgot password"
1. Enable Recaptcha on User Registration
2. Enable forgot password, and go to https:///{host}/identity/person/passwordReminder
3. Enter Email and click submit email

Don't see any option to verify captcha yet getting the error "Please check your input and CAPTCHA answer.Instructions letter was not sent. "

![image](https://user-images.githubusercontent.com/21104811/45930886-4a1f8200-bf83-11e8-9d8f

[2018-09-23 18:40] syntrydy commented on #1252
Have you enter **Site key** and **Secret  key** before?

[2018-09-23 18:41] syntrydy commented on #1252
![image](https://user-images.githubusercontent.com/7513418/45931643-a5904680-bf68-11e8-8d0a-0e1f5c2b76fe.png)

[2018-09-23 18:43] #1252 closed

[2018-09-23 18:52] syntrydy commented on #1072
it is okay. Cool @shekhar16

[2018-09-23 18:52] #1072 closed

[2018-09-23 21:02] #1071 closed

[2018-09-24 09:47] natt-tester commented on #1197
@yurem, I think it still needs improvement. When I updated the script on c7 and validated it, it gave me an error: getBindCredentials() takes exactly 2 arguments (3 given). The full stacktrace is in the log:
[script_error_cr.txt](https://github.com/GluuFederation/oxTrust/files/2410343/script_error_cr.txt)

[2018-09-24 10:41] syntrydy commented on #865
![image](https://user-images.githubusercontent.com/7513418/45948121-ba172200-bfee-11e8-9ffe-bbf65a1272b1.png)

[2018-09-24 10:47] #865 closed

[2018-09-24 11:06] yurem commented on #1197
Can you apply this update to you script and try again?
https://github.com/GluuFederation/oxExternal/commit/aab7b715ff761689c665577826c583955782972a

[2018-09-24 11:58] yurem commented on #1029
I agree about "double click" issue.

But this error message due to user inactivity looks good for me:
[code]

Why do you think application should allow to do action after 30 minutes of user inactivity? We can't use long sessions because it leds to security errors.

[2018-09-24 12:56] syntrydy commented on #1014
![image](https://user-images.githubusercontent.com/7513418/45953312-8ee9fe00-c001-11e8-8233-38e60563becc.png)

[2018-09-24 12:57] syntrydy commented on #1014
![image](https://user-images.githubusercontent.com/7513418/45953372-be990600-c001-11e8-9894-08a12e5900bc.png)

[2018-09-24 13:07] #1014 closed

[2018-09-24 13:10] syntrydy commented on #1029
i didn't found a fix for this issue

[2018-09-24 13:27] syntrydy opened #1255 "Make logo on password reminder page customizable"

[2018-09-24 14:28] #1255 closed

[2018-09-24 16:59] yurem commented on #1029
According to stack trace it's JSF 2.2.16 issue.
In our code when you navigate from one menu action to another one we call method to end current conversation. It works well until you send requests too often. You send few similar requests which do the same. First one is end conversation and second one led to error because conversation context removed already.

[2018-09-24 17:01] yurem commented on #1029
I think we can change milestone to 4.0.0 to think about it later.

[2018-09-24 22:26] aliaksander-samuseu opened #1257 "Issues when adding several redirect_uri for an OIDC client's entry"
Environment:
gluu-server-3.1.4-RC6, CentOS7

Steps to reproduce;
1. Log in to web UI
2. Move to "OpenID Connect -> Clients"
3. Create a new client entry with minimal set of required properties; use "pairwise" for "Subject Type" and specify only one redirect login uri
4. Try to add an additional redirect uri **with the same hostname part** as the 1st one has (that step should fail, see below for de

[2018-09-24 22:47] aliaksander-samuseu commented on #1257
@yurem @shekhar16
I've tested it using the "OpenID Connect  -> Manage Sector Identifiers" feature and it seems to work in this case (but the issue about it preventing you from having 2 redirect uris with the same hostname part still stands). So it's only when the JSON file is hosted at a remote resource the 2nd part of the issue occurs.

[2018-09-25 03:51] natt-tester opened #1258 "Tabs should take users to new fields"
I think we can implement it in 3.1.5: when users can edit their own Profile, tabs should take them to other fields of the form. Now we have it implemented only in the Manage People form.

![screencast 2018-09-25 13-45-01](https://user-images.githubusercontent.com/38302725/45991855-06836000-c0ca-11e8-9110-60512829da9d.gif)

[2018-09-25 05:03] syntrydy commented on #1257
@aliaksander-samuseu i'm the one who implement that restriction.

**sector identifier uri only becomes mandatory when several redirect uris are used and their hostname parts are different**: This wasn't not mentioned in that task.

Here is the link https://github.com/GluuFederation/oxTrust/issues/966.

[2018-09-25 08:02] natt-tester commented on #1152
We need to improve the messages. I think we agreed on pop-ups with success messages "Reset password e-mail has been sent" and "Reset password successful" on the login screen, but we don't have them in RC7.
After changing the password, the user is redirected to the login page. The messages are visible only when you go back to the reset password page, which isn't good:

<img width="528" alt="no_long

[2018-09-25 11:48] sahiliamsso opened #1259 "oxtrust allows user to delete email and username"
Go to Users > Manage Users
Search for existing user
Click on "x" against username and email and click update
![image](https://user-images.githubusercontent.com/21104811/46012443-e746fb80-c0e6-11e8-81d3-192e193c75a1.png)

Result: It allows to save user
![image](https://user-images.githubusercontent.com/21104811/46012482-080f5100-c0e7-11e8-8488-a412f15ec76d.png)

[2018-09-25 16:12] aliaksander-samuseu commented on #1257
@syntrydy
Sure, assigning it to you then.

[2018-09-25 16:29] yurem commented on #1029
BTW, here is how other Shib IDP3 plugin handle conversation timeout issue: https://github.com/GluuFederation/oxShibboleth/blob/version_3.1.4/oxShibbolethWebapp/src/main/webapp/no-conversation-state.jsp#L19
It just show error page with message.

I think we only can improve here error message if needed. Both flow looks good for me:
1) oxTrust has conversation lifetime = session lifetime = 30 minutes

[2018-09-25 17:34] yurem commented on #1197
I tested it myself too.
1. After activating CR with wrong password of source LDAP server:
[code]

2. After enabling script with `getBindCredentials` which return not None:
[code]

According to point 2 it works well.

[2018-09-25 17:35] aliaksander-samuseu commented on #1257
@syntrydy
FYI, here is the relevant part of the spec:
[code]
@qbert2k: could you also perhaps comment on this one?

[2018-09-25 17:38] yurem commented on #1197
Also I updated sample CR script in CE to help with testing it: https://github.com/GluuFederation/community-edition-setup/commit/0e7ed38f99ad705c678d57e1ab8d74d1ee20231c

[2018-09-25 18:58] syntrydy commented on #1259
![image](https://user-images.githubusercontent.com/7513418/46036390-49aaf680-c0fd-11e8-8e15-c4b2c7a0eda2.png)

[2018-09-25 19:14] #1259 closed

[2018-09-25 23:33] aliaksander-samuseu opened #1262 "Suggestion for further re-work of "Add/Update OIDC client" page"
The look of the page is sure much better now, but, IMO, controls which are rarely used still take too much space for themselves, while pushing the most often changed settings to the bottom and cluttering the page. On the attached picture I tried to suggest an even more compact an easy-to-grasp way of placing them on the page, when the least used settings are either pushed down the page, or moved t

[2018-09-25 23:34] aliaksander-samuseu commented on #1262
One more small suggestion in addition to what picture shows. It seems now when you create a client registration manually, its expiration is set to 24 hours. Usually when we add a client in such way, we don't want it to expire at all. In previous versions it was default behaviour for manual addition, and I think it should stay such, as it will require user to do extra job of setting it to never exp

[2018-09-25 23:43] aliaksander-samuseu commented on #1262
We also should try to come up with a more smart placement of the "Add"/"Update"/"Cancel" button. Currently, if user arrives at this page to tweak a single setting at the top of it, he needs to scroll all the way down to apply the change. Perhaps the script on the page could detect that a change did take place, and draw a panel with "Update"/"Cancel" button right at the bottom of the current workin

[2018-09-26 01:03] willow9886 commented on #1262
Maybe we should have a button for "Advanced Settings" , which exposes infrequently used configuration options

[2018-09-26 09:04] syntrydy commented on #1257
@aliaksander-samuseu  i think it's okay now.

[2018-09-26 09:04] #1257 closed

[2018-09-26 09:33] syntrydy opened #1264 "Improve some public facing pages to match Gluu design"

[2018-09-26 11:54] natt-tester opened #1265 "Change button location in Cache Refresh"
Please follow the suggestions:

![cache_rfr](https://user-images.githubusercontent.com/38302725/46078126-9ca4ac80-c1d6-11e8-871a-b53797e9a512.png)
![rm_sserver](https://user-images.githubusercontent.com/38302725/46078146-ac23f580-c1d6-11e8-94f0-d3e68ffcbb92.png)

[2018-09-26 16:12] syntrydy commented on #1265
![image](https://user-images.githubusercontent.com/7513418/46093272-ce098200-c1ae-11e8-81ba-a9832567131b.png)

![image](https://user-images.githubusercontent.com/7513418/46093336-00b37a80-c1af-11e8-99b3-e683626dc8b5.png)

[2018-09-26 16:16] #1265 closed

[2018-09-27 04:31] natt-tester opened #1268 "Problems with public-facing pages"
Please refer to the GIF: there's no logo, I think the footer is missing, and the captcha should be aligned with the fields (in the same column).

**Tested with 3.1.4-1, centos6 and Firefox.**

![no_logo_no_footer](https://user-images.githubusercontent.com/38302725/46123378-78da7880-c261-11e8-8618-ac5cea653821.gif)
<img width="207" alt="footer" src="https://user-images.githubusercontent.com/3830272

[2018-09-27 04:35] natt-tester opened #1269 "Register page pop-up displayed for another user (the same browser)"
Steps:

1. Go to the user registration page
2. Complete the form with new credentials and click Register

Expected: On the same page there is a pop-up saying you've registered successfully, but you're inactive.
Actual: There's no pop-up, the admin sees it when they log in. The same behavior occurs for password reset.

[2018-09-27 05:09] natt-tester opened #1270 "Logo inconsistency"
After uploading a custom logo to **/opt/gluu/jetty/oxauth/custom/static/img**, it appears on the left on the login page, but is centered in the majority of other public-facing pages.

**Shouldn't we choose one convention and stick to it?**

<img width="896" alt="login_logo" src="https://user-images.githubusercontent.com/38302725/46124348-e937c880-c266-11e8-8afe-e62ca976f94d.png">
<img width="921"

[2018-09-27 07:05] syntrydy commented on #1268
I don't see any bug on these pages

[2018-09-27 07:37] syntrydy commented on #1269
After user registration, a message is added to facesMessages for displayed, there is also to redirection to login page. The message is coming from oxTrust(registration page) and the redirection goes to oxauth(login) page, hence the messages can't cross component. It is then display when you login and when back to **oxtrust(home page)**

[2018-09-27 07:44] syntrydy commented on #1270
What is the problem?

[2018-09-27 07:46] natt-tester commented on #1270
@syntrydy, now that we've changed the design of the other public-facing pages, I've noticed that the not-centered logo really stands out. Should we keep it this way?

[2018-09-27 07:48] syntrydy commented on #1270
That was by design, the logo for logo page is left-align and others logo are centered

[2018-09-27 07:54] natt-tester commented on #1270
This is why I've added also @willow9886 to this question, maybe we should consider redesign in the future? Especially the passportpostlogin page looks a bit random now...

[2018-09-27 08:02] syntrydy commented on #1270
Agreed, we shouldn't be doing UX, normally design is provide by UX team and we just implement as it is.
I guess we don't have UX team. Without UX design we are going to say all time **this is good, this isn't, etc**.
Meanwhile we have to do with what we have at hand.

[2018-09-27 09:48] syntrydy commented on #1270
@natt-tester there is a task to enhance logo customization, that task has been schedule for 3.1.5.
https://github.com/GluuFederation/oxAuth/issues/912

I suggest to let all logo as they are now. In 3.1.5 we can improve them as we want.

[2018-09-27 10:08] #1268 closed

[2018-09-27 14:29] syntrydy opened #1272 "Adjust metric changes"

[2018-09-27 18:37] yurem commented on #1029
We need to revert commit after resolving this issue: https://github.com/GluuFederation/oxTrust/commit/a0810408bbc024f38eafea043559c0486e1948d3

This is possible solution to fix this issue: https://www.knitelius.com/2015/05/10/synchronizing-access-to-cdi-conversations/

The main idea of it to allow access one conversation only one request. It's introduce synchronization

[2018-09-27 21:58] jgomer2001 opened #1273 ""Failed to execute registration script" when hitting a non-existing /restv1 URL"
If an attempt to access a URL like `/identity/restv1/something_which_does_not_exist`, the browser is bounced to a page like this

![oops](https://user-images.githubusercontent.com/5444180/46176836-52730800-c276-11e8-880c-0859701663a7.png)

Error message is misleading

Here is what gets logged underneath:

[oxtrust_error.txt](https://github.com/GluuFederation/oxTrust/files/2426049/oxtrust_error.txt

[2018-09-28 09:34] natt-tester commented on #1269
I think it's solved: now the user is redirected to see their inactive profile. The pop-up is there:

<img width="1426" alt="register" src="https://user-images.githubusercontent.com/38302725/46200300-9fc5a700-c354-11e8-8331-01ee944ea5b9.png">
However, when the user clicks on the dropdown Profile/Language/Logo, they are redirected to the login page. @willow9886, is that acceptable behavior?

[2018-09-28 10:12] natt-tester commented on #1268
The suggested white font has changed to blue. Everything's aligned now, there are logos and footers too.

[2018-09-28 10:17] natt-tester opened #1274 "Too many popups for already used reset pwd email"
This is what the user sees now after they click an already used password reset button:

<img width="1226" alt="pwd_reset_popups" src="https://user-images.githubusercontent.com/38302725/46202906-6cd2e180-c35b-11e8-90f5-1f1fcbf196f3.png">

The re-enter email field is also missing.

[2018-09-28 10:35] natt-tester opened #1275 "Enhance error messages"
We should redesign our error messages to provide better UX, but I think it'll be a bigger issue. Can we schedule it for 3.1.5, @willow9886?

![error_msg](https://user-images.githubusercontent.com/38302725/46203598-a86eab00-c35d-11e8-9ffd-164d209b465c.gif)
<img width="242" alt="valid_error" src="https://user-images.githubusercontent.com/38302725/46203685-dfdd5780-c35d-11e8-8a42-be810f585068.png">

[2018-09-28 11:03] #1270 closed

[2018-09-28 11:13] natt-tester opened #1276 "Enhance icons for multivalued Attributes"
Please provide enough space between the icons in Manage People (admin), and maybe change the + color to Gluu green?

**Also, I think some of the icons are skewed. Could you make sure they're all aligned?**
<img width="450" alt="icons" src="https://user-images.githubusercontent.com/38302725/46205262-54ff5b80-c363-11e8-94c0-6553fcd49e91.png">

[2018-09-28 11:14] natt-tester commented on #1259
Checked, it's impossible to delete these fields in the UI.

[2018-09-28 11:21] natt-tester opened #1277 "Dropdown for SCIM Attribute shouldn't have "SCIM Attribute""
The same issue as mentioned here: #1060
Please make it only True or False.

<img width="937" alt="scim" src="https://user-images.githubusercontent.com/38302725/46205581-84fb2e80-c364-11e8-87f0-3a609e8af167.png">

[2018-09-28 11:28] syntrydy commented on #1274
![image](https://user-images.githubusercontent.com/7513418/46205835-0b3e5300-c31a-11e8-8ff0-26bd4b9ab80c.png)

[2018-09-28 11:35] #1274 closed

[2018-09-28 11:42] natt-tester commented on #1255
Done:

[2018-09-28 11:43] natt-tester commented on #1248
Done:

<img width="923" alt="logo" src="https://user-images.githubusercontent.com/38302725/46206480-782c0a00-c367-11e8-98dc-9b2ab524422d.png">

[2018-09-28 11:48] natt-tester commented on #1246
Done.

[2018-09-28 11:53] natt-tester commented on #1252
Works fine.

[2018-09-28 11:59] natt-tester commented on #1250
Done:
<img width="521" alt="captcha" src="https://user-images.githubusercontent.com/38302725/46207140-a4e12100-c369-11e8-806a-2d9d0e57e8a5.png">

[2018-09-28 12:28] syntrydy commented on #1276
![image](https://user-images.githubusercontent.com/7513418/46208360-5f4d3580-c322-11e8-86bc-274bd6a4a794.png)

[2018-09-28 12:34] #1276 closed

[2018-09-28 12:55] #1277 closed

[2018-09-28 13:06] natt-tester commented on #1239
Done.

[2018-09-28 13:41] #1272 closed

[2018-09-28 14:40] willow9886 commented on #1269
@natt-tester

Its not ideal behavior. It puts them in a loop with no clear objective. I think we should simply display a message saying:

[2018-09-28 16:53] jgomer2001 opened #1282 "Improve error messages when cust scripts have errors"
Very often, the "show error" functionality found in the custom scripts UI page does not help to diagnose what's wrong with the failing script. The error tends to be very generic and force you to check oxauth_script.log and do debugging.

It would be nice if we can improve this somehow.

Users send us screenshots like this:

![protected-ticket-6062-screen_shot_2018-09-27_at_2 58 28_pm](https://user

[2018-09-28 17:48] shmorri opened #1283 "authenticationRecaptchaEnabled property in oxTrust configuration has invalid drop down menu action"
![image](https://user-images.githubusercontent.com/36208047/46224608-6ec98000-c31c-11e8-8b53-9123843dcce7.png)

At the bottom of the JSON OxTrust configuration page in 3.1.4, the `authenticationRecaptchaEnabled` property has a dropdown that allows you to pick the input type, but should only support Boolean.

[2018-10-01 08:38] natt-tester commented on #1197
Tested, it works in gluu-server-3.1.4_1-2.

[2018-10-01 08:38] #1197 closed

[2018-10-01 18:02] aliaksander-samuseu commented on #1262
@willow9886
The fields I moved to "General info" on the picture probably won't fit such category very well. They are not that advanced, but still not frequently used (I would also move the "Contacts" button there as well, while retuning "Client description" text box back to the main page, as it's where it belongs, user must be able to see it first-first when they open this page, as it usually will

[2018-10-01 18:21] aliaksander-samuseu commented on #1262
I would probably go with 3 tabs:
1. "Standard settings" or "Basic configuration" - the most important/mandatory properties you need for most of clients. "General info" button is placed on this page as well and behaves as described above.

2. "Advanced settings" - Some less often used, and mostly not critical, but still useful settings, either defined in OIDC specs, or controlling our custom featur

[2018-10-02 01:03] aliaksander-samuseu opened #1284 "Issues with "Client's registration expires" control of OIDC client's properties page"
Environment:

CentOS 7.4, gluu-server-3.1.4

Steps to reproduce:

1. Log in to web UI
2. Open an OIDC client for editing
3. Find "Clean" button in "Client's registration expires" control and click it to clear the time
4. Click the "Update" button to save the change

Result:
User is sent to `/identity/error` page with a general error message. Changes are not applied to the client's entry. A Java er

[2018-10-02 01:16] aliaksander-samuseu opened #1285 "Properties set via "Configure Relying Party" control don't have effect on TRs based on a federation's TR"
Environment:
CentOS 7.4, gluu-server-3.1.4-1-2.RC6.centos6

Preconditions:
1. A federation TR exists in your test Gluu Server instance, which ideally includes an SP you could use for testing the resulting SAML flow. Testshib's metadata located [here](https://www.testshib.org/metadata/testshib-providers.xml) could be used to emulate it as it's formatted as federation's meatadata, just consisting of

[2018-10-03 17:20] shmorri opened #1286 "Cache Refresh metrics don't work as expected"
I've come across this in previous versions, but in 3.1.4 when Cache Refresh is set up, it tends to not actually populate the metrics as expected. For instance, after syncing with our test LDAP, I can search for our test users and see that they're populated, but when looking at the actual Cache Refresh tab, there are no metrics:

![image](https://user-images.githubusercontent.com/36208047/46427235-

[2018-10-04 09:43] #1273 closed

[2018-10-04 12:34] #1283 closed

[2018-10-04 19:55] earezki commented on #919
Canceled

[2018-10-04 19:55] #919 closed

[2018-10-05 06:51] syntrydy opened #1289 "Impossible to add New user"
# Description

Try to add new user and  the error page is shown.

The log file mention this:
**Property [oxMultivaluedAttribute] not found on type [org.xdi.model.GluuAttribute]**

[2018-10-05 06:59] syntrydy opened #1290 "Impossible to add new TR"
# Description

It is impossible to add new TR in 4.0.

Here is a partial log message:
**javax.el.ELException: //opt/jetty-9.4/temp/jetty-localhost-8082-identity.war-_identity-any-149502884601858994.dir/webapp/WEB-INF/incl/trustmanager/entityIdSelector.xhtml @42,95 value="#{_trustRelationshipAction.availableEntities}": Error reading [availableEntities] on type [org.gluu.oxtrust.action.UpdateTrustRe

[2018-10-05 07:52] syntrydy opened #1291 "Show All attributes show error page"
In 4.0 build there is impossible to view all attributes.

Here is a partial log:

**javax.el.PropertyNotFoundException: //opt/jetty-9.4/temp/jetty-localhost-8082-identity.war-_identity-any-149502884601858994.dir/webapp/attribute/attributeInventory.xhtml @89,127 value="#{attributeInventoryAction.searchPattern}": Property [searchPattern] not found on type [org.gluu.oxtrust.action.AttributeInventoryA

[2018-10-05 17:58] nynymike opened #1292 "Improve OpenID Scope selection UX"
It takes too long to select OpenID Scopes, you have to search, select, and hit ok. It would be better if there was an oxTrust JSON property called "defaultOpenIDClientScopes" with default values "openid, profile, email" which would automatically show when you hit the add scopes button in the client form. It would also give customers the ability to add add'l scopes if they commonly use them.

[2018-10-05 18:01] willow9886 commented on #1292
Also give users ability to add multiple scopes at the same time, e.g. click `scope 1`, `scope 2`, `scope 3`, etc., then click: `add`

[2018-10-05 18:02] nynymike opened #1293 "Shorten long fields for brevity"
There is no way to scoll to see the whole screen. For really long fields, you should show only the first 100 characters.

![image](https://user-images.githubusercontent.com/3717101/46551917-0c85f780-c8a7-11e8-9267-33a8cea0e88f.png)

[2018-10-05 19:41] aliaksander-samuseu opened #1294 "Add a dedicated logger for Velocity's logs"
Creating per @yurem 's request.

1. Remove deprecated property "VelocityLog" from oxTrust's configuration
2. Add a new logger to oxTrust's log4j2.xml which will redirect Velocity (apache.velocity package) logs to a separate file like “oxtrust-template.log”

[2018-10-05 22:48] syntrydy opened #1295 "OxTrust throws error few seconds after the first login."
# Description

Using then Gluu docker edition, after installation, oxtrust throw the below error after few seconds:

[code]

[2018-10-07 10:50] syntrydy commented on #1295
@iromli, @afroDC issue fixed

[2018-10-07 10:50] #1295 closed

[2018-10-07 12:53] syntrydy commented on #1293
![image](https://user-images.githubusercontent.com/7513418/46581950-2b67c380-ca38-11e8-85c6-ae6df873c58f.png)

![image](https://user-images.githubusercontent.com/7513418/46581958-4a665580-ca38-11e8-8727-2380588b4ca7.png)

[2018-10-08 02:49] iromli commented on #1295
Thanks @syntrydy

[2018-10-08 11:14] syntrydy commented on #1262
![image](https://user-images.githubusercontent.com/7513418/46606144-bc4fa500-caf3-11e8-9102-abe69de9e894.png)

[2018-10-08 11:15] syntrydy commented on #1262
![image](https://user-images.githubusercontent.com/7513418/46606187-d8534680-caf3-11e8-8ddd-ba026f346a3c.png)

[2018-10-08 11:17] syntrydy commented on #1262
![image](https://user-images.githubusercontent.com/7513418/46606213-f28d2480-caf3-11e8-9167-582695295392.png)

![image](https://user-images.githubusercontent.com/7513418/46606235-0e90c600-caf4-11e8-9e37-26720a40b107.png)

[2018-10-08 11:18] syntrydy commented on #1262
@willow9886 @aliaksander-samuseu  please check if it is correct.

[2018-10-08 13:36] willow9886 commented on #1262
this looks excellent @syntrydy !

[2018-10-09 11:05] syntrydy commented on #1196
![image](https://user-images.githubusercontent.com/7513418/46665339-71996000-cbbb-11e8-9b2e-3ba71ad05ae1.png)

[2018-10-09 11:06] syntrydy commented on #1196
@tcerise is it as you want it to be?
@mzico is that correct for you?

[2018-10-09 11:41] tcerise commented on #1196
Yes, that is very nice.   The 7 day graph is a good representation of the last week's success/failed login attempts.  The totals at the bottom should represent the totals since the system was started, or the last time the counters were reset to reflect the actual total numbers and not simply the weeks numbers shown in the graph.  It currently does show the sum totals, it is just that the graph its

[2018-10-09 11:55] syntrydy commented on #1196
@tcerise About this **The totals at the bottom should represent the totals since the system was started** i think we can summarized that to **The total 365 days(one year) authentication requests**

Right now we don't want to create a now entry in Ldap just to store the last system restart date. Also showing the last 365 days authentication days is a pretty decent amount of data.
Make sense?

[2018-10-09 12:06] tcerise commented on #1196
That sounds fine to me.  Thanks.

[2018-10-09 18:00] aliaksander-samuseu commented on #1262
@syntrydy @willow9886

Here are some suggestions per each tab:

**Sign/Enc properties:**

(See picture attached below)

1. We need to maintain grouping of controls related to a specific item, as it was done on the old page, to enhance usability. It will usually be 3 controls per item, in next fixed order: "JWS alg Algorithm for signing...", "JWE alg Algorithm for encrypting..." and finally "JWE en

[2018-10-09 18:00] aliaksander-samuseu commented on #1262
**Advanced settings**

1. Fields like "Logo URI", "Policy URI" etc don't look like they belong here, being neither important, nor advanced, yet they consume space right in the center of the page. Most of the time those fields will be left empty anyway. At the very least, we should move them to the bottom of the page, but better still try to find a better place for them (the previous suggestion for

[2018-10-09 18:09] aliaksander-samuseu commented on #1262
Does this "Disabled" control have to be that big, at all? Can we "shrink" it to a small checkbox placed right after client's name or inum fields? May be it does't even need a caption of its own, just a checkbox, perhaps with a hint explaining its purpose when mouse cursor is hovered over it, or with some visual effect (green halo around it like around a light bulb etc) when it's set?

[2018-10-09 20:38] willow9886 commented on #1262
I think these could be used quite frequntly... they are presented to the user in an OAUth consent transaction. They should probably be in the general settings

[2018-10-10 11:12] syntrydy commented on #1196
![image](https://user-images.githubusercontent.com/7513418/46732569-bf7a9a80-cc85-11e8-99be-75446159da2d.png)

[2018-10-12 07:07] syntrydy commented on #1262
![image](https://user-images.githubusercontent.com/7513418/46853162-3edaac00-cdf5-11e8-9efa-6ab8fdeb03a2.png)

![image](https://user-images.githubusercontent.com/7513418/46853194-5023b880-cdf5-11e8-9532-dc80a1405743.png)

![image](https://user-images.githubusercontent.com/7513418/46853297-8a8d5580-cdf5-11e8-8f81-679282566926.png)

![image](https://user-images.githubusercontent.com/7513418/46853336

[2018-10-12 09:31] syntrydy commented on #1284
@aliaksander-samuseu I fixed it as requested.

Existing clients now also display the calendar hence user can change their expiration date.
When new client is create without expiration date we set it to **current date+one century**. Note that the field is of type date so only date value as accepted.

[2018-10-12 09:45] #1284 closed

[2018-10-17 19:47] nynymike opened #1303 "Toggle Pairwise Subject type: algorithmic | peristent"
There are two ways to generate a pairwise id: either algorithmically, or persistently.

Algorithmically sends the subject identifier as a hash fo the client_id and inum (or sector identifier uri).

Persistent creates an LDAP attribute called ppid for the user, and stores an entry for each client.

Somehow, we lost the ability to set whether pairwise ids should be algorithmic or persistent. I'm sur

[2018-10-17 21:02] willow9886 opened #1304 "Display available ACR options in client UI"
Admin should see their available ACRs in this screen in order to choose available ACRs.

![image](https://user-images.githubusercontent.com/5271048/47115980-ead12c80-d225-11e8-9359-b5f5d2f7e28c.png)

Should function similar to "Add Response Type" popup in client UI:

![image](https://user-images.githubusercontent.com/5271048/47116061-1ce28e80-d226-11e8-8a66-6fd16024b777.png)

[2018-10-18 13:17] nynymike commented on #1303
Closing, this is a global setting only.

[2018-10-18 13:17] #1303 closed

[2018-10-18 13:41] syntrydy commented on #1304
@willow9886 the default popup will show all person authentication scripts?
I mean **super gluu, u2f, OTP,passport_*,duo**.

[2018-10-18 16:34] willow9886 commented on #1304
hi @syntrydy yes, that's the idea.

[2018-10-22 02:09] afroDC opened #1305 "oxTrust Needs To Register A Front Channel Logout URI"
oxTrust does not have a registered Front Channel Logout URI, and therefore would be unable to logout properly if the logout session is initiated by another client.

[2018-10-22 12:29] syntrydy commented on #1304
![image](https://user-images.githubusercontent.com/7513418/47292313-7f5cd580-d5fe-11e8-8792-77bf36ee1b70.png)

[2018-10-22 12:58] #1304 closed

[2018-10-22 13:51] mzico opened #1307 "Metadata validation failing for any sp in 3.1.4 fresh installation"
- Situation: Any SP metadata validation is failing
![localsp_validation](https://user-images.githubusercontent.com/7156097/47295614-ac48c280-d5d5-11e8-837d-719ab83e9089.png)

- This is somehow related to [this](https://github.com/GluuFederation/oxTrust/issues/529) issue?
- How to reproduce:

  - Try to create trust relationship with attached metadata ( it's a Shibboleth SP vanilla metadata ). Plea

[2018-10-22 14:32] #1307 closed

[2018-10-23 10:04] mzico opened #1308 "Extra syntax / remove '222' thing"
Screenshot attached.
![extra222](https://user-images.githubusercontent.com/7156097/47353099-0b174600-d681-11e8-8d32-71a3192c628c.png)

[2018-10-23 11:13] syntrydy commented on #1292
![image](https://user-images.githubusercontent.com/7513418/47356804-007aa200-d6bd-11e8-8b98-e7eafb01468c.png)

[2018-10-23 11:37] syntrydy commented on #1292
@nynymike i think the solution provide above is better in that:
- We don't have to create new entry in LDAP just to store **defaultOpenIDClientScopes**
- Our upgrade script stay unchanged as there is no new LDAP entry/updated entry
- In real scenario we don't have enough scopes and even if we have enough, the scroll bar help to pick them with ease.

[2018-10-23 12:20] syntrydy commented on #1149
![image](https://user-images.githubusercontent.com/7513418/47360081-59026d00-d6c6-11e8-87ab-803fd006f6d1.png)

[2018-10-23 13:16] #1149 closed

[2018-10-23 15:36] afroDC opened #1311 "Changing "oxTrust acr" to "default" in "Default Authentication Method" Deletes oxTrustAuthenticationMode Entry"
In 3.1.4 if you change the oxTrust acr to default, it will delete the entry entirely. This will prevent you from accessing oxTrust without adding the entry back manually in LDAP.

[2018-10-23 17:50] mzico opened #1312 "'attribute-filter.xml.vm' template not 100% compatible in 3.1.4"
While creating new Trust relationship we getting below error in oxtrust.log:

[code]

[2018-10-23 19:51] dnorthup-ums commented on #389
@willow9886 IdP-Initiated (Unsolicited) SSO has nothing to do with in-bound authentication flows. The nasty thing about it, in fact, is that there is no initial conversation with the SP before the user gets to the IdP. Frequently the vendors that insist upon using it also fail to supply metadata and expect the IdP maintainer to just guess and make metadata out of thin air. So, in more ways than on

[2018-10-23 20:01] dnorthup-ums commented on #786
Why not using something like PhantomJS, which is already a scriptable fully-functional HTTP/HTTPS client, for implementing tests? I see a lot of re-inventing of the wheel here.

[2018-10-23 20:01] dnorthup-ums commented on #786
(Why did commenting un-assign @dmogn ????)

[2018-10-23 20:38] mzico commented on #786
@dnorthup-ums : Dmorgn doesn't work for Gluu anymore. May be we can assign this to Thomas? @willow9886

[2018-10-24 08:31] syntrydy commented on #1311
@afroDC **Default** isn't a valid value for **oxTrustAuthenticationMode**, so when you pick **Default** and hit **save**, the value save is **null** and when an entry's value is null, the entry can be useless hence.

Let me fix that now.

[2018-10-24 09:16] #1311 closed

[2018-10-24 09:29] syntrydy commented on #1308
![image](https://user-images.githubusercontent.com/7513418/47421056-ae4a8700-d777-11e8-8365-be8571dd145e.png)

[2018-10-24 09:41] #1308 closed

[2018-10-24 11:04] sphereict commented on #1295
hey guys I am getting the same issue. How can the below be resolved

Failed to find entries with baseDN: ou=resetPasswordRequests,inum=@!4A5D.C0F9.C614.6A20!0002!C524.C86E,ou=appliances,o=gluu, filter: (&(&(objectClass=top)(objectClass=gluuPasswordResetRequest))(creationDate<=20181024105248.385Z))
        at org.gluu.site.ldap.persistence.LdapEntryManager.findEntries(LdapEntryManager.java:405)

[2018-10-24 15:06] syntrydy commented on #1029
Fixed

[2018-10-26 08:45] #1291 closed

[2018-10-26 08:46] #1289 closed

[2018-10-29 07:44] syntrydy commented on #1176
![image](https://user-images.githubusercontent.com/7513418/47635915-df9bcc00-db56-11e8-8e1e-b77bf7177d10.png)

[2018-10-29 07:44] #1176 closed

[2018-10-29 08:59] #1258 closed

[2018-10-29 22:14] nynymike opened #1322 "Prevent duplicate scopes"
It would be ambiguous what to do if two scopes exist with the same name. oxTrust should prevent this for both the API's and the GUI

[2018-10-29 22:38] aliaksander-samuseu opened #1323 "It's possible to create OIDC scopes with duplicated names in oxTrust"
_Assigning both Gasmyr and Yuriy as I'm not sure whether it's web UI's or oxAuth's issue (or both)_

Environment:
CentOS 7.4, gluu-server-3.1.4-1-2.centos7

Steps to reproduce:

1. Log in to web UI

2. Move to "OpenID Connect ->  Scopes"

3. Create a new scope with the same name as an already existing scope.

Result:
The scope is created without successfully and has the same name (though a differe

[2018-10-30 11:20] syntrydy commented on #1219
@yuriyz, enhancement added

[2018-10-30 11:20] #1219 closed

[2018-10-30 14:19] syntrydy commented on #1323
@aliaksander-samuseu This issue is duplicated with this https://github.com/GluuFederation/oxTrust/issues/1322

[2018-10-31 07:47] syntrydy commented on #1286
![image](https://user-images.githubusercontent.com/7513418/47773187-87e19a00-dce9-11e8-960b-5e115d848b3e.png)

[2018-10-31 09:50] syntrydy commented on #1286
![image](https://user-images.githubusercontent.com/7513418/47777916-0b08ed00-dcf6-11e8-890e-299413a1e159.png)

[2018-10-31 09:50] #1286 closed

[2018-10-31 09:58] #1323 closed

[2018-10-31 11:00] #1322 closed

[2018-11-01 04:43] natt-tester opened #1327 "`Remember me` checkbox missing from login screens"
Tested in 3.1.4: the checkbox seems to be missing from some login screens, e.g. social_passport. Please make sure it's present everywhere.

<img width="836" alt="remember1" src="https://user-images.githubusercontent.com/38302725/47832962-7a610880-ddec-11e8-9b26-668cf2ac8ac2.png">

![remember_me_missing](https://user-images.githubusercontent.com/38302725/47833024-cad86600-ddec-11e8-869a-7257b16a7e9

[2018-11-01 13:05] syntrydy commented on #1327
@natt-tester  this isn't oxtrust issue. Please move it to oxAuth

[2018-11-01 13:06] #1327 closed

[2018-11-05 05:11] rouing commented on #1295
I also am having the same issue as @sphereict

[2018-11-05 19:17] mzico opened #1328 "Configuration > Certificates enhancements"
- We don't need 'Shibboleth IDP SAML Certification' information.
   - We need information of `idp-signing.crt`
   - We need information of `idp-encryption.crt`

 - 'If possible'; add a feature which will allow user to 'download' cert from there. Say... if anyone 'click' on 'HTTPD SSL' cert; it will download 'httpd.crt'. Same for others.

note: Please create separate issue if required for 2nd featu

[2018-11-08 11:24] yurem opened #1329 "Wrong error message when password reset token was expired"
The message:
[code]
has information about registration script. Which is wrong because real problem is reset token expiration:
[code]

We need to show right error message.

[2018-11-09 10:45] #1329 closed

[2018-11-09 10:56] syntrydy commented on #768
@yurem we can move this to 4.0 release

[2018-11-09 11:38] natt-tester opened #1331 "Random dashboard statistics in Gluu Server cluster"
According to [this ticket](https://support.gluu.org/feature-request/6200/dashboard-statistics/#at40735), and confirmed by 3-day tests, a cluster of 2+ Gluu Servers displays random statistics of incorrect authorization requests:

- day 1:
<img width="1440" alt="gluucluster_07 11 18" src="https://user-images.githubusercontent.com/38302725/48259947-cefc2780-e46d-11e8-9a0e-6758485c0c39.png">

- day 2:

[2018-11-09 12:27] jgomer2001 opened #1332 "should localhost be allowed in redirect uri for clients?"
According to OIDC core spec 1.0:

Currently oxTrust does not let you to provide localhost in redirect_uri, should we account for the special case above?

[2018-11-09 14:04] syntrydy commented on #1331
@natt-tester
`
org.gluu.site.ldap.persistence.exception.EntryPersistenceException: Failed to find entries with baseDN: ou=resetPasswordRequests,inum=@!C40F.DE5B.EC0B.69EA!0002!70A3.A184,ou=appliances,o=gluu, filter: (&(&(objectClass=top)(objectClass=gluuPasswordResetRequest))(creationDate<=20181106234536.036Z)) at ...
`
is related to something else and that is already fixed.

About the graph showi

[2018-11-11 17:53] syntrydy commented on #1282
@jgomer2001, a fix is provide here https://github.com/GluuFederation/oxCore/issues/91

[2018-11-11 17:53] #1282 closed

[2018-11-12 10:20] syntrydy commented on #1312
@mzico you can the  **attribute-filter.xml.vm**  content to look like this:
[code]
- Restart idp

[2018-11-12 10:30] natt-tester opened #1334 "Ubuntu18+CE3.1.4: Missing Dashboard values"
This time the following values are missing from the Dashboard right after the installation on my local vm:

<img width="1437" alt="missing_statistics" src="https://user-images.githubusercontent.com/38302725/48341348-eb43d280-e6c0-11e8-987b-7d622a61a304.png">

Possibly connected with #1331, but I don't see anything that could cause it in the logs...
[oxauth_persistence.log](https://github.com/GluuF

[2018-11-12 17:44] #1294 closed

[2018-11-12 18:03] #1312 closed

[2018-11-13 00:57] natt-tester opened #1338 "Ubuntu14+CE3.1.4: change string in Forgot Password Flow"
<img width="1089" alt="instructions_letter" src="https://user-images.githubusercontent.com/38302725/48383369-8a0c1580-e739-11e8-8d87-6c28800a02ef.png">

Replace the marked string with **"Password reset email was not sent."**

[2018-11-13 14:20] mzico opened #1339 "'Test LDAP Connection' in Cache Refresh page"
It will be cool if we can add a 'Test LDAP Connection' button in 'Source Backend LDAP Servers' page (it's already available in 'Manage Authentication' page. It will allow user to validate information which is being inserted in Cache Refresh page. Generally it's very error prone and need to dig deep to troubleshoot.
![cr_source_backendldapservers_combined](https://user-images.githubusercontent.com/

[2018-11-13 15:31] yuriyz opened #1340 "Add `password` field for Redis cache configuration"
We need to add `password` field for Redis cache configuration

https://github.com/GluuFederation/oxAuth/issues/785
https://github.com/GluuFederation/oxCore/blob/b2528361e295e84a2cf881ad187d62c735318d05/oxService/src/main/java/org/xdi/service/cache/RedisConfiguration.java#L21

[2018-11-13 19:39] earezki opened #1341 "Api documentation with Swagger"

[2018-11-13 20:41] earezki opened #1342 "oxTrust is not starting up"
I'm unable to start oxTrust.

[2018-11-13 22:40] natt-tester opened #1344 "Unify user email templates"
Right now we have one improved email template for **password reset** that uses the user name and good formatting:

<img width="647" alt="pwd_reset_mail" src="https://user-images.githubusercontent.com/38302725/48447268-61186e80-e793-11e8-8743-8ba7a85c8d33.png">

Can we do the same with the rest of the confirmation emails we send to users, e.g. registration **confirmation email**:

<img width="948"

[2018-11-14 01:01] natt-tester opened #1345 "CE 3.1.4: recaptcha doesn't disappear from resetPassword form"
In Manage Authentication -> Manage Captcha we have a radio button to **Disable Captcha for Password Reminder form**. However, it doesn't seem to be working on the resetPassword form:

<img width="873" alt="resetpassword" src="https://user-images.githubusercontent.com/38302725/48452780-84014d80-e7a8-11e8-8e13-184e7ad0a17c.png">

@syntrydy, is this by design?

[2018-11-14 20:38] #1342 closed

[2018-11-14 21:32] syntrydy opened #1347 "The password reset message should be neutral"
If the user enters a known email address the page reloads with the "Please Check your Email for Password Reset Link" message, but if the user enters an unknown email address the page reloads without showing any message at all.

The message should be neutral in both cases:
Like this: **Please Check your Email for Password Reset Link**.
We don't want user to play the guessing game, they should know

[2018-11-14 21:53] syntrydy commented on #1345
@natt-tester may be you can rephrase, i don't get what you mean.

[2018-11-14 22:19] syntrydy opened #1348 "The OIDC field named Client's Registration Expires should be clear-able"
On the OIDC add/update page there is a field named **Client's Registration Expires**, if a user accidentally set a value for it, then there is no way to clear it.

We need a way to clear that field's value.

[2018-11-14 22:37] willow9886 commented on #1347
@yurem i thought we already fixed this flow? Can you comment here?

[2018-11-15 00:12] natt-tester commented on #1345
@syntrydy Sure, my point is: when you **Disable Captcha for Password Reminder form**, it disappears from passwordReminder. When you follow the flow and get to the resetPassword form, however, you can see that the recaptcha is there.

**The question is:** should the recaptcha also disappear from the resetPassword form when you tick **Disable Captcha for Password Reminder form**, or should it stay t

[2018-11-15 02:41] natt-tester opened #1349 "Unify arrows look & behavior"
Please refer to the GIF:

1. **the menu arrows** point:
-  to the left, **while logically it should be to the right to suggest expansion**
- down when expanded (good)

2. **the custom scripts arrows** point:
- down by default, **while it should be to the right to suggest expansion**
- down when expanded (good)
- to the right when expanded and back to the original position (good)

Let's unify the b

[2018-11-15 09:33] #1347 closed

[2018-11-15 13:07] #1348 closed

[2018-11-16 17:57] #1345 closed

[2018-11-17 09:44] syntrydy commented on #1344
Here is the template i propose for user registration mail.

![image](https://user-images.githubusercontent.com/7513418/48659713-a8358680-ea55-11e8-9a8e-ca29677acf51.png)

[2018-11-17 11:34] syntrydy commented on #1344
We don't have to customize this one, only admin see this, No useful even if it is write in Hexadecimal.
The goal is just to test **The mail server settings is correct and messages can be send out**.
![image](https://user-images.githubusercontent.com/7513418/48660621-103f9900-ea65-11e8-9bbe-70850fbf3f7f.png)

[2018-11-17 12:02] syntrydy commented on #1334
@natt-tester this is not reproducible on my end.

You can ping someone else to see if they can replicate.

[2018-11-18 12:04] #1344 closed

[2018-11-18 12:05] #1339 closed

[2018-11-19 03:53] natt-tester opened #1356 "Set default value for Require Auth Time"
@syntrydy, in **OpenID Connect -> Add Client** I think **Require Auth Time** should have a default value like the fields below. Let's avoid the "Please select a value" value :)
<img width="573" alt="authtime" src="https://user-images.githubusercontent.com/38302725/48685432-2311b500-ebae-11e8-973f-e8617fc5062d.png">

[2018-11-19 06:43] earezki opened #1357 "oxTrust_api doesn't startup"
oxTrust failes to start if you build it from the oxtrust_api branch

[2018-11-19 08:35] natt-tester opened #1359 "CE3.1.4: Missing Authentication Methods"
@syntrydy, turns out the list of enrolled devices for Authentication Methods is missing from oxTrust's user profile inspected by admin. It should look like this (view from 3.1.3.1):

<img width="697" alt="auth_list" src="https://user-images.githubusercontent.com/38302725/48694944-d96aae00-ec31-11e8-898c-ff7aeb7ce857.png">

[2018-11-19 11:05] syntrydy commented on #1359
![image](https://user-images.githubusercontent.com/7513418/48703248-67737400-ebf3-11e8-9a1c-6d7966a2cb4b.png)

[2018-11-19 11:50] #1357 closed

[2018-11-19 13:29] syntrydy commented on #1359
![image](https://user-images.githubusercontent.com/7513418/48710069-8f6cd280-ec07-11e8-81d1-6b56a3bcce60.png)

[2018-11-19 13:40] syntrydy commented on #1359
![image](https://user-images.githubusercontent.com/7513418/48710561-0fe00300-ec09-11e8-95c6-5876288cc9f1.png)

[2018-11-19 14:06] #1356 closed

[2018-11-19 14:07] #1359 closed

[2018-11-19 14:34] willow9886 commented on #1112
I'm going to close this out.. it's not all that important, and would require us to update a bunch of docs and documentation. Let's re-review later if it becomes a problem.

[2018-11-19 14:34] #1112 closed

[2018-11-19 14:36] syntrydy opened #1362 "i18n support for password reset/registration mails content."
The i18n support for password reset mail and registration mail content is a feature customers are asking for.

They include below sub features:
  1. The password reset mail send to user must be in their language
  1. The post registration mail send to user must be in their language

[2018-11-19 14:37] willow9886 commented on #356
We opened a new issue for changing the language of password reset and post registration emails here: https://github.com/GluuFederation/oxTrust/issues/1362

[2018-11-19 14:37] #356 closed

[2018-11-19 18:28] #1338 closed, assigned to syntrydy

[2018-11-19 19:49] yurem commented on #1168
Right, oxTrust uses JSESSIONID cookie. It's state-full application.
session_id is oxAuth cookie. We are using it for SSO.

We can define JSESSIONID  expiration in web.xml: https://github.com/GluuFederation/oxTrust/blob/master/server/src/main/webapp-jetty/WEB-INF/web.xml#L87

[2018-11-20 09:24] syntrydy opened #1364 "Add visibility log for clean up services."
Currently we don't know when the clean-up services runs, we need a dedicated log file for these services.

[2018-11-20 19:14] syntrydy opened #1365 "Add support for granular permission management"
# Description

- A **User** may have a set of **Roles** associated to him(example **John**)
- A Role can be assigned to a **User**, a roles is defined by a set of **Entities**(example **MANAGER**)
- An **Entity** is a manageable item from the application point of view(example **UMA SCOPE**), an Entity has set of actions applicable to it(example **VIEW**, **ADD**, **EDIT**, **REMOVE**)
- An Action

[2018-11-21 09:01] yurem opened #1366 "Refactor Authentication Methods list in person form"
We need to review code which we use to display `Authentication Methods`. In current code there are hardcoded parts which expects that script name should exactly match. Also we can remove  from person entry:

    @LdapJsonObject
    @LdapAttribute(name = "oxOTPDevices")
    private OTPDevice  oxOTPDevices;

    @LdapAttribute(name = "oxMobileDevices")
    private String oxMobileDevices;

I think so

[2018-11-21 12:38] #1364 closed

[2018-11-21 19:18] syntrydy opened #1368 "Add Id to improve UI view for QA"

[2018-11-23 07:12] syntrydy opened #1369 "Allowed pairwise types not respected on client creation"
# Description
- Login to oxtrust Admin Ui
- Navigate to **Configuration** > **Json configuration**
- Select **oxAuth Configuration**
- Search for string **subjectTypesSupported**

1. We have to change the way that field is display: That field shouldn't be selectable,editable.
2. The current name for that field is misleading, a better name like **subjectTypesAvailable** or **supportedSubjectTypes**

[2018-11-24 14:02] #1368 closed

[2018-11-28 22:05] aliaksander-samuseu opened #1371 "Make email's uniqueness enforcement by oxTrust optional"
We have a [legacy] limitation enforced by oxTrust, not allowing "mail" attribute to be duplicated. Afaicr, this was added to handle a similar limitation present in OpenLDAP package (at least, by default). This wasn't the case in times of 2.x where "mail" was allowed to not be unique.

For the 3.1.4 package, uniqueness of this attributes is enforced on 2 levels, it seems: by oxTrust itself, and by

[2018-11-28 22:08] aliaksander-samuseu commented on #1371
@yurem @syntrydy

As I'm not sure why we keep enforcing this (as it seems "Unique mail address" plugin isn't there in 3.1.2 yet, I must conclude it was added later on purpose, even though we'd get rid of OpenLDAP at this point), I'm not proposing completely removing this limitation. But it also may worth considering.

[2018-11-29 00:50] jgomer2001 opened #1372 "SCIM group patch anomaly when member list ends up empty"
Context of the problem [here](https://support.gluu.org/identity-management/6344/scim-patch-operation-unable-to-remove-last-members-of-group/)

[2018-11-29 15:22] aliaksander-samuseu commented on #1371
@yurem @syntrydy
From the recent discussion it's now clear we may need to maintain this uniqueness to prevent issues with password reset feature (i.e. if several user entries with the same email exists, which one needs its password to be reset?) It still may create issue for users which don't rely on local user management, but need some user entries have duplicated emails on them.

We could make i

[2018-11-29 17:13] syntrydy commented on #1340
![image](https://user-images.githubusercontent.com/7513418/49239210-6c5dd200-f402-11e8-98b4-a1683e0d574c.png)

[2018-11-29 17:22] #1340 closed

[2018-11-29 17:30] syntrydy commented on #1372
@jgomer2001   i have a problem with this fix.
[code]
I'm afraid this can lead to NPE later.
If **group.setMembers();** takes a list of members as parameter, better use **an empty list** instead of **null**.

[2018-11-29 17:32] syntrydy commented on #1334
@natt-tester this happen only on Ubuntu18 and since we currently don't support that distribution, we can close this issue.

[2018-11-29 18:57] shmorri opened #1374 "Typo in oxtrust.properties"
https://github.com/GluuFederation/oxTrust/blob/master/server/src/main/resources/oxtrust.properties

Line 283 reads as follows:
`attribute.retisterAttributes = Register Attributes`

Should be attribute.registerAttributes. This line also may be a duplicate of line 282.

[2018-11-29 20:02] yurem commented on #1331
yes, it's expected in 3.1.4 because we are using cluster here. Replication mix ou=metric from 2 servers. As result oxTrust code build wrong graph. In 3.1.5 we will move metric to separate backend. Data from it will be not replicated. As result oxTrust will use data from specific node only and show actual data from it.

But to get total statistic admin should log into both nodes. Bigger changes not

[2018-11-29 20:10] yurem commented on #1034
@mzico Did you see same issue in 3.1.4?
In 3.1.4 we fixed issue which might led to this issue. In CE < 3.1.4 oxTrust and oxAuth both save statistic in oxAuth branch. In 3.1.4 we fixed this.

[2018-11-29 20:21] yurem commented on #1305
@afroDC can you add test flow to this issue?

[2018-11-30 19:34] #1371 closed

[2018-12-01 00:28] jgomer2001 opened #1376 "SCIM service not clearing custom attribute in LDAP using PUT or PATCH"
When applying an update or patch over an attribute part of user extension, the attribute is not being cleared in LDAP despite the response (JSON) sent to client has its value unassigned.

More background [here](https://support.gluu.org/6354/).

[2018-12-01 08:17] syntrydy opened #1377 "Fix the oxtrust metric Dashboard"
# Description

We don't have oxtrust metrics, metrics display in home page is the oxauth metrics.
The current code use the oxtrust json configuration instead of oxauth json configuration.

[2018-12-01 09:13] syntrydy commented on #1377
This was fixed in 3.1.4 but not merged in 3.1.5. Currently the commit is already in 3.1.5

[2018-12-01 09:13] #1377 closed

[2018-12-04 15:20] yurem commented on #1285
@aliaksander-samuseu Can you share sample file with override element?

[2018-12-04 17:55] syntrydy opened #1378 "Oxtrust Admin Ui Client is delete from Clients list few hour after installation"
Oxtrust Admin Ui Client is delete from Clients list few hour after installation

[2018-12-05 02:45] #1378 closed

[2018-12-05 12:14] earezki opened #1380 "Generate swagger.json from api's documentation"

[2018-12-05 15:04] yurem commented on #1034
@mzico Is it still work not well? we applied few fixes related to metrics in 3.1.4/3.1.5 Can you check it in 3.1.5 recent beta?

[2018-12-05 15:04] #1034 closed

[2018-12-06 07:39] syntrydy opened #1382 "Add a way to list/delete users pairIdentifiers"
Admin should be able to list/delete users pairIdentifiers.

[2018-12-06 10:53] yurem commented on #1365
In oxTrust from beginning we tried to cover all parts by rules. We used Drolls for this: https://github.com/GluuFederation/oxTrust/blob/version_3.0.3/server/src/main/resources/security.drl
In 3.1 we deprecated this since admin should have access to all permissions...

If customers is need this we can create CDI extension which will check permissions of specific method. We can add class/method anot

[2018-12-06 13:12] afroDC commented on #1305
We just need to add `oxAuthLogoutURI` to the `oxTrust Admin GUI` entry in `/install/community-edition-setup/templates/clients.ldif`. It should look like:

[code]

This will give the oxTrust client a default Front Channel Logout URI.

[2018-12-06 17:59] syntrydy commented on #1382
![image](https://user-images.githubusercontent.com/7513418/49602522-f7057a80-f988-11e8-9767-3632b9d5d6df.png)

[2018-12-06 18:38] #1382 closed

[2018-12-07 11:14] syntrydy commented on #1305
Fix here https://github.com/GluuFederation/community-edition-setup/issues/502

[2018-12-07 11:14] #1305 closed

[2018-12-09 12:08] natt-tester commented on #1356
It's done:
<img width="598" alt="screenshot 2018-12-09 at 23 06 28" src="https://user-images.githubusercontent.com/38302725/49697091-38a35900-fc07-11e8-96f6-5f80f2f19afa.png">

[2018-12-09 13:46] natt-tester opened #1384 "Remove "Visibility type" from Type dropdown in Add Group"
**In Users -> Manage Groups -> Add Group** one of the values for Type is "Visibility type". Please remove it and set a default value.

<img width="915" alt="screenshot 2018-12-10 at 00 41 10" src="https://user-images.githubusercontent.com/38302725/49698227-ef5a0600-fc14-11e8-918a-aae2c5bc2950.png">

[2018-12-09 21:41] natt-tester opened #1385 "Remove "Select" from Allow for dynamic registration dropdown in Add Scope"
Only True/False values should be possible in this scenario:

<img width="1222" alt="screenshot 2018-12-10 at 08 36 45" src="https://user-images.githubusercontent.com/38302725/49703279-4c76ab80-fc57-11e8-964d-f911bd51aa89.png">

[2018-12-09 22:17] natt-tester opened #1386 "Errors with User addition/edition"
Upon adding a new user in oxtrust, I see the following page:
<img width="690" alt="obraz" src="https://user-images.githubusercontent.com/38302725/49703690-36b7b500-fc5c-11e8-9661-93f0cabea3b2.png">

and clicking on the username throws the Oops page (errors in the log). Please fix it.
[oxtrust.log](https://github.com/GluuFederation/oxTrust/files/2661064/oxtrust.log)

[2018-12-09 22:49] natt-tester opened #1387 "Oops when uploading ldif"
@syntrydy, could you check the following behavior:

**Steps:**
1. Log in to oxtrust
2. Go to Import/Export Attributes
3.  Click on one of the buttons several times.

Expected: There's no error.
Actual: There is an Oops page thrown:
[oxtrust(1).log](https://github.com/GluuFederation/oxTrust/files/2661099/oxtrust.1.log)

gluu-server-3.1.5_3, reproduced in Ubuntu16 and Centos6

[2018-12-10 06:58] syntrydy commented on #1387
@natt-tester i wasn't able to replicate this issue.

[2018-12-10 07:53] #1386 closed

[2018-12-10 08:10] syntrydy opened #1389 "oopw while view Oxtrust Admin client details"

[2018-12-10 08:20] #1389 closed

[2018-12-10 08:58] #1384 closed

[2018-12-10 09:15] #1385 closed

[2018-12-10 12:53] syntrydy opened #1393 "NPE when checking Certificates management view"
[code]

[2018-12-10 13:31] natt-tester commented on #1387
Closing the issue, not reproducible in other 3.1.5_2 installations.

[2018-12-10 14:52] #1393 closed

[2018-12-10 15:00] syntrydy opened #1395 "Some error related to recaptcha."
[code]

[2018-12-10 15:41] syntrydy opened #1396 "improper log level for some log lines"
We often have the below error in the log file but everything still works well.
[code]
We may change their log level from **ERROR** to **WARNING**

[2018-12-10 16:41] #1395 closed

[2018-12-10 16:56] #1396 closed

[2018-12-11 02:58] natt-tester commented on #1292
@syntrydy, I think the scroll is gone from the scopes list -- my newly created scope cannot be found on the list when you want to add it to an OIDC client. Also all 10 < scopes are missing:

<img width="727" alt="obraz" src="https://user-images.githubusercontent.com/38302725/49775334-f2a3dd80-fd4b-11e8-9843-6039abac1acf.png">

<img width="1094" alt="scopes" src="https://user-images.githubuserconte

[2018-12-11 08:40] syntrydy commented on #1292
![image](https://user-images.githubusercontent.com/7513418/49787929-38e74580-fd28-11e8-8708-c92963da7300.png)

[2018-12-11 08:53] #1292 closed

[2018-12-11 09:06] syntrydy opened #1400 "Reorder oxTrust log level"
Under **Oxtrust Json configuration** from the Gluu Admin ui,
The **loggingLevel** field looks like this:
![test](https://user-images.githubusercontent.com/7513418/49789256-d7c17100-fd2b-11e8-8c74-5a90ceda36bf.png)

We have to reorder that list:
[code]

[2018-12-11 10:41] syntrydy commented on #1400
One part done here https://github.com/GluuFederation/community-edition-setup/issues/503

[2018-12-11 11:04] #1400 closed

[2018-12-11 12:27] cukal opened #1402 "[org.gluu.oxtrust.ldap.service.StatusCheckerTimer] (StatusCheckerTimer.java:216) - Can not download ssl certificate"
Setting up cache-refresh with ActiveDirectory over 389 works.
Changing to 636 SSL generates:

[code]

openssl shows the certificate contains:
[code]

Authenticating however continues to work.

Setting up a new (empty) Gluu environment with ActiveDirectory remote ldap over 636 SSL enabled from the start generates the same message but the cache-refresh does work, users are pulled in the local backen

[2018-12-11 14:07] yurem commented on #1402
Your 636 SSL uses sef signed certificate. To trust it you can import this cert into java cacerts.
[code]

[2018-12-11 16:06] cukal commented on #1402
Hello Yurem,

Thanks for your reply.

I added the cert to /opt/jdk1.8.0_181/jre/lib/security/cacerts using key tool inside the Gluu ch root.
Tried using the ip adress, the FQDN, or the hostname as alias for the jks but it still continues to throw the error about no subject alternatives names preset whenever the cacherefresh runs.

Thx!
L

[2018-12-11 16:53] cukal commented on #1402
I've found out that cache-refresh uses a different store hence why it throws the error.

Check this: https://support.gluu.org/authentication/5131/external-ldap-authentication-test-failed-pkix-path-building-failed/

When I comment out these lines it works.

[code]

But it seems nobody knows the password used for /etc/certs/openldap.pkcs12 to update it.

[2018-12-11 17:20] afroDC commented on #1402
This pin can be decoded by using `/opt/gluu/bin/encode.py -D $TRUSTSTOREPIN`

[2018-12-11 17:50] cukal commented on #1402
Hi AfroDC

Thanks for that one.

Adding the ldap ssl cert to the ```/etc/certs/openldap.pkcs12``` store still throws the same error.
And I still have to put those lines in comment before the authorization actually works.
I guess that is the workaround for the time being, albeit with a error in the log file each time the refresh runs.

Thx,
L

[2018-12-13 02:09] sahiliamsso opened #1403 "Error in oxtrust logs on creating new TR"
Seeing following error in oxtrust logs on creating a TR.
1. SAML > Add TR > Metadata: File
Attributes released - Email, Email Verified
Check - Configure Relying Party
Even though status show Active

2018-12-13 02:04:49,787 INFO  [qtp804611486-14] [org.gluu.oxtrust.ldap.service.Shibboleth3ConfService] (Shibboleth3ConfService.java:510) - add ShibbolethCASProtocolConfiguration parameters
2018-12-13 0

[2018-12-13 02:10] sahiliamsso commented on #1403
2018-12-13 02:04:49,831 ERROR [qtp804611486-14] [org.gluu.oxtrust.action.UpdateTrustRelationshipAction] (UpdateTrustRelationshipAction.java:758) - Failed to update Shibboleth v3 configuration
2018-12-13 02:06:04,405 ERROR [ForkJoinPool.commonPool-worker-1] [org.gluu.oxtrust.ldap.service.TemplateService] (TemplateService.java:56) - Failed to load velocity template 'metadata-providers.xml'
2018-12-1

[2018-12-13 10:57] #1403 closed

[2018-12-13 12:41] syntrydy opened #1405 "Update existing scope show error"
We have this error message when an existing OIDC scope is updated:

**A scope named XXX already exist**.

We should have that message only during the start add process if there is already an existing scope with the same name as the one provided.

[2018-12-13 14:47] #1405 closed

[2018-12-13 14:54] syntrydy opened #1407 "Update existing uma scope show error"
We have this error message when an existing UMA scope is updated:

A Uma scope named XXX already exist.

We should have that message only during the start add process if there is already an existing scope with the same name as the one provided.

[2018-12-13 15:30] #1407 closed

[2018-12-14 15:51] jgomer2001 commented on #1376
Using `person.setAttribute("attr", empty_array)` introduces an undesired effect in the sense that unassigned attributes of `UserResource` instances may end up with `[]` instead of `null`. `
Scim2UserService#getAttributeListValue` needs adjustment.

[2018-12-14 18:06] afroDC opened #1409 "Typo in oxTrust Error"
The error message sent here https://github.com/GluuFederation/oxTrust/blob/master/server/src/main/java/org/gluu/oxtrust/action/UpdateClientAction.java#L563 should read "The url is malformed"

[2018-12-16 04:13] natt-tester commented on #1283
Checked in 3.1.5_3: DONE.

<img width="708" alt="obraz" src="https://user-images.githubusercontent.com/38302725/50050056-40746900-00f1-11e9-81d7-45529ee4db7b.png">

[2018-12-16 04:58] natt-tester commented on #1275
@syntrydy, the problem still occurs for other tabs in this menu and needs a fix:
<img width="789" alt="errors_remove" src="https://user-images.githubusercontent.com/38302725/50050305-3f463a80-00f7-11e9-9fbb-a72678c6de74.png">

Also, can we do something with the marked part? It's not very informative now. I know that these can be errors from any of the tabs, displayed upon hitting Udate, but maybe

[2018-12-16 15:05] natt-tester commented on #1269
The behavior is still the same as I reported, there's no error message about the account being disabled for inactive users right after registration. Please fix it.

[2018-12-16 15:44] natt-tester commented on #1262
@syntrydy, @aliaksander-samuseu, these are the final layouts as displayed by my 15" Mac (Firefox):
<img width="1280" alt="obraz" src="https://user-images.githubusercontent.com/38302725/50055587-32563500-0151-11e9-8b85-60249e24d201.png">

<img width="1272" alt="obraz" src="https://user-images.githubusercontent.com/38302725/50055597-41d57e00-0151-11e9-9551-0249122cbc38.png">

<img width="1280" alt="

[2018-12-16 15:53] natt-tester commented on #1258
@syntrydy it's implemented in the Profile form as well:

![screencast 2018-12-16 16-48-58](https://user-images.githubusercontent.com/38302725/50055730-08057700-0153-11e9-87df-1c78c1c7a2ef.gif)

[2018-12-16 16:02] natt-tester commented on #1219
The requirement is met. DONE.

[2018-12-16 16:10] natt-tester commented on #1196
@syntrydy, I think maybe we could improve it still by adding (s) to Total Successful Login and Total Failed Login:  **Total Successful Login(s)**.

[2018-12-16 16:31] natt-tester commented on #1029
I'm unable to reproduce this behavior in 3.1.5_3. It's DONE.

[2018-12-16 16:46] natt-tester commented on #356
@willow9886, @syntrydy, the Reset Email template looks like this in 3.1.5_3:

<img width="449" alt="obraz" src="https://user-images.githubusercontent.com/38302725/50056299-684be700-015a-11e9-9bea-0ab98263d461.png">

[2018-12-16 17:01] willow9886 commented on #1196
I would just make it plural by default:

Logins

[2018-12-17 09:33] #1409 closed

[2018-12-17 09:49] syntrydy opened #1412 "Error removing sector identifier when the client associated has been deleted"
# Description

Deleting a sector identifier when the client associated has been remove  throw error.

# Steps to reproduce

1. Create an OIDC client
2. Create a sector identifier and pick the client created above.
3. Delete the client
4. Try delete the sector identifier.

[2018-12-17 10:49] #1412 closed

[2018-12-17 12:43] #1093 closed

[2018-12-17 13:42] #1196 closed

[2018-12-17 13:59] syntrydy commented on #1264
![image](https://user-images.githubusercontent.com/7513418/50091615-2a0f0000-020c-11e9-9665-b2364f85c7a9.png)

![image](https://user-images.githubusercontent.com/7513418/50091678-53c82700-020c-11e9-8536-c02e113081a8.png)

[2018-12-17 14:05] syntrydy commented on #1264
@natt-tester track the OTP stuff here https://github.com/GluuFederation/oxAuth/issues/966

[2018-12-17 14:31] #1264 closed

[2018-12-17 14:44] syntrydy commented on #1262
@natt-tester **Advanced tab displays all the wanted changes**.

If you see a missing fields open an issue for it.

**Also, I think that we should have tabs to navigate between the fields here**

We have a task to fix such issue in 4.0, the whole UI will be replace by more appropriate conponents.

[2018-12-18 04:05] natt-tester commented on #1284
The enhancement is implemented and tested. DONE.

<img width="530" alt="obraz" src="https://user-images.githubusercontent.com/38302725/50131452-7432c880-0282-11e9-9963-a9e11e0b1993.png">

[2018-12-18 04:10] natt-tester commented on #1282
I believe it's DONE:
<img width="661" alt="obraz" src="https://user-images.githubusercontent.com/38302725/50131592-279bbd00-0283-11e9-86f9-f3a20dba0efe.png">

[2018-12-18 04:46] natt-tester commented on #1396
I can't reproduce the original issue, I believe it's DONE.

[2018-12-18 04:50] natt-tester commented on #1393
Can't reproduce the original issue, I believe it's DONE.

[2018-12-18 04:53] natt-tester opened #1417 "Add more space between elements in Certificates view"
Please add more space between the elements below:

<img width="651" alt="obraz" src="https://user-images.githubusercontent.com/38302725/50132761-faeaa400-0288-11e9-9371-9cde46ff8594.png">

[2018-12-18 04:55] natt-tester commented on #1389
I can't reproduce it anymore, I believe it's DONE.

[2018-12-18 05:06] natt-tester commented on #1029
I've just reproduced this behavior in Export/Import Ldif view:

![screencast 2018-12-18 06-01-41](https://user-images.githubusercontent.com/38302725/50133222-edceb480-028a-11e9-97e3-123baf77c509.gif)

[2018-12-18 05:07] natt-tester commented on #1387
Reopening because of #1029

[2018-12-18 05:12] natt-tester commented on #1386
Can't reproduce it anymore, I believe it's DONE.

[2018-12-18 05:15] natt-tester commented on #1385
It's DONE:

<img width="518" alt="obraz" src="https://user-images.githubusercontent.com/38302725/50133520-3f2b7380-028c-11e9-8510-11b3035a3e17.png">

[2018-12-18 09:14] syntrydy commented on #1029
@natt-tester  Better create a separate issue for it.

[2018-12-18 10:16] natt-tester commented on #1029
@syntrydy it's reopened in #1387 with an updated description.

[2018-12-18 13:02] syntrydy commented on #1269
![image](https://user-images.githubusercontent.com/7513418/50155863-79693500-02cd-11e9-9a7d-7398e420a23b.png)

[2018-12-18 14:37] #1387 closed

[2018-12-18 15:16] syntrydy commented on #1417
![image](https://user-images.githubusercontent.com/7513418/50163228-42504f00-02e0-11e9-963d-025aab1a4730.png)

[2018-12-18 15:34] #1417 closed

[2018-12-18 18:06] syntrydy opened #1421 "Add ability to download a certificate from the list of cert"
# Description

Admin want the ability to download a cert from the list of certs.

# Steps

- Login to oxTrust Admin Ui
- Navigate to **Configuration > Certificates**
- You can see a list a cert

We need a way to download a given certs from the list.

[2018-12-18 18:06] syntrydy commented on #1421
@mzico you can track that feature here.

[2018-12-18 18:08] syntrydy commented on #1328
![image](https://user-images.githubusercontent.com/7513418/50173574-34a6c380-02f8-11e9-94bb-0a8373384a9c.png)

![image](https://user-images.githubusercontent.com/7513418/50173631-51db9200-02f8-11e9-86ce-3ab5186caf89.png)

[2018-12-18 18:11] syntrydy commented on #1328
@mzico  https://github.com/GluuFederation/oxTrust/issues/1421

[2018-12-18 18:19] #1328 closed

[2018-12-18 18:51] natt-tester opened #1423 "Nav bar doesn't stick to tab in Custom Scripts"
Steps:

1. Log in to Gluu Server
2. Go to Manage Custom Scripts
3. Click on one tab on the far right

Expected: The navigation bar's position corresponds with the location of the chosen tab.
Actual: The navigation bar goes back to the far left.

[2018-12-19 07:53] syntrydy opened #1424 "Improve social login strategy list"
- Rounded
- Delete button design is not correct

![image](https://user-images.githubusercontent.com/7513418/50206341-5db46c00-036b-11e9-84dc-a606f4826d42.png)

[2018-12-19 09:07] syntrydy opened #1425 "Improve registration confirmation page"

[2018-12-19 10:16] syntrydy commented on #1424
![image](https://user-images.githubusercontent.com/7513418/50213988-7890db80-037f-11e9-9b6e-d5f23edf1e4b.png)

[2018-12-19 11:45] #1374 closed

[2018-12-19 13:01] syntrydy commented on #1423
@natt-tester  there is no solution for that issue at the moment, i will try again later.

[2018-12-19 20:32] willow9886 commented on #1269
@syntrydy i dont understand the message of the first screenshot.. "you successfully registered, but your account is disabled"... can you clarify?

[2018-12-19 20:37] mzico opened #1428 "Password length validation not working"
- Tested in 3.1.3 and 3.1.4
- According to oxTrust validation: Password length must be between 3 and 60 chars.
- I can create one char password.
- This is happening when I am going to create new user with oxTrust 'Add Person' feature.

[2018-12-19 20:40] mzico opened #1429 "Password requirement feature"
It will be great if we can add couple of rules for password creation with oxTrust. Something like:

 - Password should be between 8 chars to 60 chars.
 - Passwords must contain a combination of lower case letters, upper case letters, numbers, and at least one symbol. ( Not exactly about symbol, don't know how it might behave with other component of Gluu Server )
 - Password cannot match UID or ema

[2018-12-19 20:41] mzico commented on #1429
For review: @nynymike @yurem @willow9886 @aliaksander-samuseu @afroDC

[2018-12-20 11:38] #1262 closed

[2018-12-20 13:23] #1428 closed

[2018-12-20 15:31] syntrydy commented on #1425
Upon registration, user receive a mail with a validation link.

![image](https://user-images.githubusercontent.com/7513418/50293764-9b50ec00-0474-11e9-969a-3ed262bad67d.png)

The  click on that link must show the page below:

![image](https://user-images.githubusercontent.com/7513418/50293639-604eb880-0474-11e9-9524-f295171600be.png)

[2018-12-20 15:41] #1425 closed

[2018-12-21 16:56] natt-tester commented on #1387
Checked in 3.1.5_4 and cannot reproduce it anymore. It's DONE.

[2018-12-21 17:21] natt-tester commented on #1029
@syntrydy I think we need to keep this issue open to group all the misbehaving elements.
I've just confirmed the fix for #1387, but the noticed the same behavior while clicking fast on Cancel in **Cache Refresh.**

Tested in v.3.1.5_4

[2018-12-21 17:37] natt-tester commented on #1264
The font is unified, waiting for RC5 to check https://github.com/GluuFederation/oxAuth/issues/966 :)

[2018-12-21 17:52] natt-tester commented on #1269
@syntrydy, @willow9886, I think it'd be better if we just changed the first string to "You successfully registered. Please contact site administration to enable your account".

[2018-12-21 18:13] natt-tester commented on #1275
@syntrydy, can we do something with the marked parts? The error messages are still quite enigmatic in RC4:

<img width="629" alt="cache" src="https://user-images.githubusercontent.com/38302725/50356950-70d66000-0554-11e9-96cc-1d85bd0ed5de.png">

[2018-12-21 18:20] natt-tester commented on #1395
Can't reproduce it in beta v.3.1.5_4. I believe it's DONE.

[2018-12-22 00:33] sahiliamsso opened #1434 "Regex validation of attribute leads to Error Page"
Based on [this ](https://support.gluu.org/identity-management/6445/regex-validation-of-attribute-leads-to-error-page/#at42884) ticket,

Whenever the following Regex is passed in for attribute validation , upon an erroneous string being passed, Identity crashes and we're sent to an error page:
[code]

Steps to reproduce -

Go to Oxtrust > attributes, and add the above regular expression to nickname

[2018-12-22 12:19] willow9886 opened #1435 "add claims - better search / pagination"
See customer issue here:

https://support.gluu.org/identity-management/6431/unable-to-add-custom-attribute-as-openid-claims/#at42596

[2018-12-22 14:17] #1376 closed

[2018-12-23 05:47] natt-tester commented on #1378
Checked in 3.1.5_5, it's DONE.

[2018-12-23 06:11] natt-tester commented on #1384
Checked in 3.1.5_5: it's DONE.

<img width="919" alt="screenshot 2018-12-23 at 07 10 12" src="https://user-images.githubusercontent.com/38302725/50381225-eab83780-0681-11e9-9b9f-ae98a44be37e.png">

[2018-12-23 06:20] natt-tester commented on #1262
The tabs are added, it's DONE.
Checked in 3.1.5_5.

[2018-12-24 10:36] syntrydy commented on #1029
@natt-tester if we encounter this error somewhere else we can open a new issue

[2018-12-24 10:36] #1029 closed

[2018-12-24 11:46] syntrydy commented on #1275
@natt-tester we are going to  fix this in 4.0

[2018-12-24 11:46] #1275 closed

[2018-12-24 12:07] syntrydy commented on #1434
@sahiliamsso that regular expression isn't correct

[2018-12-24 12:43] syntrydy commented on #1269
![image](https://user-images.githubusercontent.com/7513418/50399697-854b7000-0781-11e9-8843-18d746e820fe.png)

[2018-12-24 13:47] #1269 closed

[2018-12-25 09:13] syntrydy commented on #1435
The search was configure to show only  20 entries. I changed it to **50** which i think is a reasonable value.

[2018-12-25 09:40] #1435 closed

[2018-12-25 19:53] sahiliamsso commented on #1434
In that case, a valid error must be thrown instead of generic error page.

[2018-12-26 08:37] syntrydy commented on #1421
![image](https://user-images.githubusercontent.com/7513418/50439295-d2e6ea80-08f1-11e9-8e51-c49737b4f1b8.png)

[2018-12-26 09:05] #1421 closed

[2018-12-29 22:05] natt-tester opened #1440 "Update of TR leads to Oops page"
When you try to update a Trust Relationship like the one below:

<img width="1183" alt="screenshot 2018-12-29 at 22 56 07" src="https://user-images.githubusercontent.com/38302725/50542444-c4345800-0bbd-11e9-8f9d-bee641f1bef9.png">

it always leads you to an Oops page:
![screencast 2018-12-29 23-00-29](https://user-images.githubusercontent.com/38302725/50542465-183f3c80-0bbe-11e9-896d-fdb6a8cd7bd2.

[2018-12-29 22:08] natt-tester opened #1441 "Remove Entity Type from dropdown for TR"
Please remove "Entity Type" from the following dropdown:

<img width="1170" alt="screenshot 2018-12-29 at 22 50 48" src="https://user-images.githubusercontent.com/38302725/50542485-926fc100-0bbe-11e9-8aef-288e8cc4f9b9.png">

[2018-12-30 09:16] syntrydy commented on #1441
![image](https://user-images.githubusercontent.com/7513418/50545781-efe62b00-0c1b-11e9-9bb4-5b37b2883bf0.png)

[2018-12-30 10:11] #1440 closed

[2018-12-30 10:56] syntrydy commented on #1434
![image](https://user-images.githubusercontent.com/7513418/50546564-e95eb000-0c29-11e9-9bcf-36fcce3f67ff.png)

[2018-12-30 11:13] #1434 closed

[2018-12-30 19:36] yuriyz commented on #1168
In addition  oxTrust must  react on /end_session action performed by another RP (not oxTrust itself). Means oxTrust client should register `frontchannel_logout_uri` and perform logout action if `frontchannel_logout_uri` is hit. It seems to be not the case right now, as shown by @natt-tester here https://github.com/GluuFederation/oxAuth/issues/849#issuecomment-450367959

[2019-01-02 13:08] sahiliamsso opened #1445 "Login link on Registration completion is incorrect"
1. Enable SMTP, and user_confirm_registration custom script and register a new user
2. Go to email, and click on "Activate your account now"
3. You will see following screen,
![image](https://user-images.githubusercontent.com/21104811/50593215-7a998500-0ebd-11e9-9d6d-9d215279d587.png)
4. Click on "Go to login page now"
![image](https://user-images.githubusercontent.com/21104811/50593233-87b67400-0

[2019-01-02 13:13] sahiliamsso opened #1446 "User Registration Email link with random number always displays REGISTRATION COMPLETED"
<Gluu Server>/identity/confirm/registration?code={randomcode}, will always generate the following page
![image](https://user-images.githubusercontent.com/21104811/50593363-1a571300-0ebe-11e9-9db0-1a357772d24a.png)

Expected Outcome should be => This registration code is not valid or expired. Please contact site administrator

[2019-01-03 07:42] #1445 closed

[2019-01-03 10:02] syntrydy commented on #1446
![image](https://user-images.githubusercontent.com/7513418/50632103-18856200-0f47-11e9-9820-ba49a225913c.png)

[2019-01-03 12:11] syntrydy opened #1448 "Enhancement for some views"
Correct following view:

- ![image](https://user-images.githubusercontent.com/7513418/50636949-5474f300-0f58-11e9-8a3c-6246ba454431.png)

- ![image](https://user-images.githubusercontent.com/7513418/50637092-e4b33800-0f58-11e9-9d54-d52a0ab55a0d.png)

[2019-01-03 12:37] #1446 closed

[2019-01-03 13:17] syntrydy commented on #1448
- One
![image](https://user-images.githubusercontent.com/7513418/50639542-1f6d9e00-0f62-11e9-8608-acaafd3d7613.png)
- Two
![image](https://user-images.githubusercontent.com/7513418/50639571-3d3b0300-0f62-11e9-80db-ae572b8a2d3f.png)

[2019-01-03 13:51] #1448 closed

[2019-01-03 18:05] mbaser commented on #1402
This is still persists on 3.1.5:
[code]

[2019-01-04 07:57] syntrydy opened #1451 "Error in client registration form"
# Description
In client registration form with have two fields mapping to the same value in LDAP.
![image](https://user-images.githubusercontent.com/7513418/50678320-67420300-0ffe-11e9-9b6e-1b78a819e217.png)

# Steps to reproduce

1- Create an OIDC client
2- Edit it and set the value of field named **Software Identifier** to **554554**
3- Save the change
4. You will notice that the field named **S

[2019-01-04 08:17] syntrydy commented on #1451
**Issue fixed.**
![image](https://user-images.githubusercontent.com/7513418/50678970-82fad880-1001-11e9-99a0-6a6adcc5c059.png)

[2019-01-04 09:46] #1451 closed

[2019-01-04 10:43] syntrydy opened #1453 "Useless issue"

[2019-01-04 10:46] #1453 closed

[2019-01-04 13:05] syntrydy opened #1454 "Bug04012019"

[2019-01-04 13:22] #1454 closed

[2019-01-04 19:44] yurem opened #1456 "Force required permissions in jsf pages"
Right now html pages has action like this:
<f:viewAction action="#{permissionService.hasPermission(target, action)}"/>

But this method returns true/false only. We need to add new method `requestPermission` to permissionService which should throw SecurityEvaluationException when EL expression return false.

Also after that we need to do global replace in all xhtml: permissionService.hasPermission

[2019-01-04 21:21] shmorri opened #1457 "JSON Config field to disable/enable FIDO2 Endpoints is not clear"
Currently, the field to disable/enable FIDO2 endpoints in oxTrust is confusingly labeled. Right now it simply looks like this:

![image](https://user-images.githubusercontent.com/36208047/50711411-c2421d00-1033-11e9-9ae6-24ccdbc35b7d.png)

I think that calling the field `disableFido2` or something similar would be a little less confusing, rather than just the single ambiguous word.

[2019-01-05 08:04] syntrydy commented on #1457
![image](https://user-images.githubusercontent.com/7513418/50721981-d3893900-10c8-11e9-8d24-e2f21623ae0e.png)

[2019-01-05 08:09] #1457 closed

[2019-01-07 16:41] shmorri commented on #1371
Documented here: https://github.com/GluuFederation/docs-ce-prod/blob/3.1.5/docs/source/user-management/user-registration.md#enforcing-unique-email-addresses

[2019-01-07 16:57] shmorri commented on #1364
Documented in https://github.com/GluuFederation/docs-ce-prod/blob/3.1.5/docs/source/operation/logs.md#core-logs

[2019-01-07 16:58] shmorri commented on #1294
Documented in https://github.com/GluuFederation/docs-ce-prod/blob/3.1.5/docs/source/operation/logs.md#core-logs

[2019-01-07 17:15] shmorri commented on #1400
Documented here:
https://github.com/GluuFederation/docs-ce-prod/blob/3.1.5/docs/source/operation/logs.md#log-levels

[2019-01-07 17:33] shmorri commented on #1328
Documented here:
https://github.com/GluuFederation/docs-ce-prod/blob/3.1.5/docs/source/admin-guide/certificate.md#certificates-in-oxtrust

[2019-01-07 17:38] shmorri commented on #1421
Documented here:
https://github.com/GluuFederation/docs-ce-prod/blob/3.1.5/docs/source/admin-guide/certificate.md#certificates-in-oxtrust

[2019-01-07 18:21] shmorri commented on #1176
Documented here:
https://github.com/GluuFederation/docs-ce-prod/blob/3.1.5/docs/source/admin-guide/openid-connect.md#client-summary

[2019-01-07 18:47] shmorri commented on #1304
Documented here:
https://github.com/GluuFederation/docs-ce-prod/blob/3.1.5/docs/source/admin-guide/openid-connect.md#setting-the-default-acr

[2019-01-07 19:09] shmorri commented on #1382
Documented here: https://github.com/GluuFederation/docs-ce-prod/blob/3.1.5/docs/source/user-management/local-user-management.md#manage-people-in-oxtrust

[2019-01-09 12:21] yurem opened #1460 "After CE install with pasport enabled there are lot of Passport specific messages"
[code]

We need to log only one message about this at startup like `UMA passport authentication is disabled`. All current message should be debug

[2019-01-14 08:00] mbaser opened #1461 "couchebase with multiple buckets"
I could not run 4.0 with multiple couchebase buckets. With single bucked, it works well with single bucket.

[2019-01-14 08:20] yurem commented on #1461
Is it setup or application issue? Is setup able to create multiple buckets?

[2019-01-14 09:32] mbaser commented on #1461
Yes, setup.py can create multiple buckets, I commented them, most probably a config issue:
https://github.com/GluuFederation/community-edition-setup/blob/952b973a7ddff39fbab6e66a75bfc9f4cc526ea5/setup.py#L3875

[2019-01-14 11:22] syntrydy opened #1462 "Design/implement a way to send messages from Custom Script to UI"
Currently it is difficult when a custom script fail to have the proper message display to end user.
That is due to the fact that there is no way for custom script to pass error/successful messages to UI for display.
Such behave make the troubleshooting process difficult both for end users and support team.

We must implement a clever way to cover that issue.

[2019-01-14 11:55] yurem commented on #1462
@syntrydy before implementing this can you share how are you going to fix it? There is code which store in LDAP last stack trace already. But we show it in oxTrust GUI for admin only. We can think about how to improve it. For example we can add to base script class to get error message for user. Script based on error can prepare message which explain user issues

[2019-01-14 13:35] syntrydy commented on #1462
@yurem okay will do

[2019-01-14 15:40] syntrydy opened #1463 "If a certificates is missing, available ones must be display"
Currently during certificates rendering, if the the first cert is missing, then an error is throw and others certs aren't display.

Available certs must be display.

[2019-01-14 16:32] #1463 closed

[2019-01-15 12:59] yurem commented on #1168
@afroDC can you add step-by-step flow or work flow to understand it. I think oxTrust session (JSESSIONID ) is enough for this app

[2019-01-15 13:10] yurem commented on #216
@iromli Is this issue still actual? I think we resolved it already

[2019-01-15 14:18] iromli commented on #216
@yurem I can double check. How to pass the environment variable to oxTrust server?

[2019-01-17 19:44] yurem opened #1465 "Determine facter version in order to prepare right command option"
In 3.1.5 we added new factor support [here](https://github.com/GluuFederation/oxTrust/blob/version_3.1.5/server/src/main/java/org/gluu/oxtrust/ldap/service/StatusCheckerTimer.java#L292). New code do the next
[code]

We need to run `facter  --version` first time and run again `facter` with proper parameter.

[2019-01-18 06:06] syntrydy opened #1466 "Regular expression never evaluate on attribute named userPassword"
# Steps to reproduce

- Login to oxTrust Admin Ui
- Navigate to **Configuration** - **Attributes**
- Search for attribute **userPassword**
- On that attribute details add a regulation of you choice on that attribute
- Save the change
- Try to add a user and fill the user password field with a value which don't matches the reular expression provide above.

**Expected result**: A popup shows with me

[2019-01-18 07:15] syntrydy opened #1467 "Error while adding OIDC scope"
# Steps to reproduce

- Login to oxtrust Admin Ui
- Try to add an OIDC scope

End result:
![image](https://user-images.githubusercontent.com/7513418/51370994-1d2a4880-1af9-11e9-80b2-aedb9873cd61.png)

[2019-01-18 07:21] syntrydy opened #1468 "Error while adding TR"
# Description

- Login to oxTrust Admin UI
- Try to add a new TR

End result: ![image](https://user-images.githubusercontent.com/7513418/51371295-12bc7e80-1afa-11e9-8d25-62add3f7f4b7.png)

[2019-01-18 07:27] syntrydy opened #1469 "Fix certificates Isues"
# Description

- Log  into OxTrust Admin UI
- Navigate to  **Certificates**

Expected: Four certifications are available in the list with possibility to download each one

Actual: Only three certifications are available in the list with no way to download each one

[2019-01-18 07:30] syntrydy opened #1470 "Fix Password Reset"
# Description

Error during password reset feature flow.

[2019-01-18 08:03] syntrydy opened #1471 "OIDC clients get deleted by cleanUp services"
# Description

- Install Gluu server 4.0
- Login to Admin Ui
- Go to detail of OIDC named **oxTrust Admin UI**
- Update that details
- Wait few minutes(5min)
- Log out and Log in
- Check if the OIDC client **oxTrust Admin UI** is still present

[2019-01-18 09:46] #1471 closed

[2019-01-21 11:09] yurem opened #1473 "Logout trigger OP unauthneticated session creation"
After processing oxTrust logout request oxAuth sends next page:
[code]

As result browser make 2 requests:
- `https://c70.gluu.info/identity/logout?sid=18bdd328-d354-4ee5-a4b1-7eb366c5f62f` ([OpenID Provider Logout Functionality](https://openid.net/specs/openid-connect-frontchannel-1_0.html#OPLogout))
- `https://c70.gluu.info/identity/authentication/finishlogout'` ([RP-Initiated Logout Functionali

[2019-01-21 12:55] jgomer2001 opened #1474 "Issues after two successive logoffs take place"
I faced a couple of issues when testing an application, and using oxTrust at the same time

Not sure if this is a general CE issue (arbitrary applications) or if this is exclusively when oxTrust is present. In that case, this might be related to #1473

Suppose app A (using a client requisting an acr with level = 1).  Particularly for log out, this app uses "RP-Initiated Logout" as described in sec

[2019-01-21 13:25] #1469 closed, assigned to syntrydy

[2019-01-21 13:34] jgomer2001 opened #1476 "Exception when oxOTPDevices is set. Prevents users' edition"
Parsing of extra info for OTP devices is throwing exceptions like this:

[code]

This occurs when supplying a search string in the "manage people" form, if any of the potential candidates to be displayed has the *optional* attribute `oxOTPDevices` set. This attribute is used by Casa to attach extra information to the `oxExternalUid` when the enrollment is an OTP device (ie. `oxExternalUid` starts

[2019-01-21 13:50] #1470 closed

[2019-01-21 17:38] yuriyz commented on #1473
The purpose of Front channel logout uri is to clean up RP session and set RP in logout state. Front channel logout uri can be hit by this RP (1) or any other RP (2) that take part in authentication flow. Imagine that RP2 initiated logout, then front channel logout uri is hit, so RP1 goes to logout state too. I think we should not initiate authentication flow for it since we can get many such calls

[2019-01-22 14:22] yurem opened #1477 "Use custom script for user attributes validation"
oxTrust have 2 scripts for interactive (GUI) ond non interactive (SCIM) user update.

We need to make sure that in GUI oxTrust always call `update_user` script script and stop current action if this script method returns `false`. Also we need to add to sample how to add custom validation messages from script.

Also we need to make sure that `scim` script also follow rule above and return appropria

[2019-01-22 16:46] jgomer2001 opened #1478 "Oops page when deleting user"
Every time I try to delete a user, I'm bounced to the oops. Environment: Gluu CE 3.1.5 on xenial

Log attached

Also, there are so many identical log statements like "Checking permissions for target 'configuration' an 'action'. Identity: access". Can we enhance this?

[oxtrust.log](https://github.com/GluuFederation/oxTrust/files/2783734/oxtrust.log)

[2019-01-23 06:11] yurem commented on #1474
@jgomer2001 Here is ticket with same or similar issue description

[2019-01-23 06:44] #1467 closed

[2019-01-23 07:01] yurem commented on #1477
We need to check if in oxTrust we can use similar to oxAuth code:
[code]

[2019-01-23 11:56] syntrydy commented on #1478
@jgomer2001 please provide the ldif of that user entry from LDAP

[2019-01-23 11:58] syntrydy opened #1481 "Move to Java 1.8"
Opdate maven-compiler-plugin settings in pom.xml to support java 8.

[2019-01-23 12:02] willow9886 commented on #1478
@jgomer2001 this issue might be fixed with @syntrydy 's latest update to the war. We tested in `dc` and deleting works now.

[2019-01-23 12:42] #1481 closed

[2019-01-23 13:18] syntrydy opened #1483 "Fix security issue"

[2019-01-23 13:20] jgomer2001 commented on #1476
@syntrydy I still don't see the improvements discussed:

1. I'd prefer the key displayed, not the hash
![key](https://user-images.githubusercontent.com/5444180/51608911-c650b480-1ee6-11e9-8d1f-79ab8d0bd226.png)

1. You are still treating `oxExternalUid` and `oxOTPDevices` as separate entities when it has to do with HOTP/TOTP:
![duplicated](https://user-images.githubusercontent.com/5444180/51608932

[2019-01-23 13:22] #1478 closed

[2019-01-23 13:38] jgomer2001 opened #1484 "Enhance how 2uf devices are displayed in user's profile"
Currently we are showing something like

![u2f](https://user-images.githubusercontent.com/5444180/51610026-a373cf80-1ee9-11e9-9f71-eff6ae86ed6e.png)

Can we fill some (or all) of the missing fields? Under fido branch at every user, there is all data needed. We can use `oxId` for "Id" column, `displayName` for "nickname", and `creationDate` for "date added". See `oxDeviceRegistration` ldap object c

[2019-01-23 13:48] #1483 closed

[2019-01-23 15:10] jgomer2001 opened #1485 "NPE when removing devices in user's profile"
When clicking on the `X` icon for removing authentication methods in user profile nothing happens.

The following exception is in log:

[code]

[2019-01-24 06:53] syntrydy commented on #1476
@jgomer2001 this is too confusing, i can work on something that i don't understand  how it works.

[2019-01-24 09:16] syntrydy commented on #1485
Fixed

[2019-01-24 09:22] syntrydy commented on #1484
Fixed

[2019-01-24 11:06] yurem commented on #1486
@sahiliamsso  We need to check if this issue still actual in 3.1.5

[2019-01-24 11:22] syntrydy commented on #1486
@brunocriado which Gluu server version?

[2019-01-24 12:51] willow9886 commented on #1486
OK, closing this issue. @brunocriado , please work through our [support portal](https://support.gluu.org) so we are able to obtain needed information and track the support request.

[2019-01-24 12:51] #1486 closed

[2019-01-24 13:19] jgomer2001 commented on #1485
NPE gone
One observation: the u2f entry is deleted from LDAP once the icon is clicked. This is not the case for mobile numbers or passport enrollments which don't take effect in LDAP until the update button is pressed

[2019-01-24 13:23] jgomer2001 commented on #1484
Much better. Upon clicking on the Id of device, a modal window like this appear:
![device detail](https://user-images.githubusercontent.com/5444180/51680970-417e9d00-1fb1-11e9-9825-48d966ce6a8f.png)

I'm not sure if we need to display pulic key and attestation cert, what do you think @yurem and @willow9886

The modal occupies a lot of space but it's not making effective use of it, maybe we can imp

[2019-01-25 16:15] yurem commented on #1473
Fixed OP logout in oxTrust

[2019-01-25 16:15] #1473 closed

[2019-01-25 19:49] jgomer2001 commented on #1474
@yurem After your latest oxauth/oxtrust update, the situation changed in the following way:

Flow 1: it works fine. Oxtrust shows the thank-you page

Flow 2, 3, and4: they all show the following error:
[code]

[2019-01-26 15:46] yurem commented on #1474
I think the main issue flow 1 was resolved. Now oxAuth end_sesison works according to coded rule.

I open oxAuth issue https://github.com/GluuFederation/oxAuth/issues/992 to discuss how we can add second logout support.

[2019-01-28 06:03] #1468 closed

[2019-01-28 08:50] willow9886 commented on #1484
I can't think of any reason an admin would need to see the public key here.. not sure about attestation cert. @jgomer2001 @yurem

[2019-01-29 06:55] syntrydy commented on #1456
@yurem when i check few xhtml pages there is call for **<f:viewAction action="#{permissionService.hasPermission(target, action)}"/>** in them. However that method is call from the leftmenu.xhtml page here https://github.com/GluuFederation/oxTrust/blob/master/server/src/main/webapp/WEB-INF/incl/layout/leftmenu.xhtml#L46.
When you  say **....should throw SecurityEvaluationException when EL expressio

[2019-01-30 03:19] qbert2k opened #1490 "Improvements in sector identifier and redirect uri assignment in oxTrust UI"
**Describe the issue**
The assignment of Sector identifier and Redirect URI behavior has some inconsistencies that can be improved to enhance the user experience.

**Steps To Reproduce**
Steps to reproduce the behavior:

1.) When creating a client, add two or three redirects and save. Then go to create a new sector identifier. If you add the URLs before adding the client, and then click the client

[2019-01-30 08:29] yurem opened #1491 "Wrong free memory status in Ubuntu 18"
![screenshot 3](https://user-images.githubusercontent.com/6104200/51968138-44caca80-2482-11e9-99a2-eb97e7ca27b3.png)

[2019-01-30 10:51] yurem commented on #1456
This line we should not change because here we prepare value for rendered attribute

[2019-01-30 19:34] #1485 closed

[2019-01-30 19:35] #1484 closed

[2019-01-30 19:44] #1476 closed

[2019-01-31 09:55] yurem opened #1493 "Optimize users/group daily statistic caluclation"
We need to use LDAP attribute to get number of entries in sub-branch instead of doing search to calculate them

[2019-02-01 10:50] #1456 closed

[2019-02-01 14:40] sahiliamsso opened #1494 "Protected Gluu end points"
Following Gluu endpoints should be made protected. Also, we need to check all other end points and ensure that sensitive end points are not public

../passport/saml_config
../passport/passportstrategies

Issue is reproducible on following versions
3.1.2, 3.1.3, 3.1.4, 3.1.5

Note: **No** sensitive data is exposed via these endpoints.

[2019-02-01 15:22] yurem commented on #1493
Implemented

[2019-02-01 15:22] #1493 closed

[2019-02-03 19:23] mzico opened #1495 "Add 'persistent' type NameID in oxTrust"
There are two types of nameID available in 'Configure Custom NameID' page. We need to add 'persistent' type as well.

NameFormat: `urn:oasis:names:tc:SAML:2.0:nameid-format:persistent`

![untitled](https://user-images.githubusercontent.com/7156097/52181380-c2f6dc00-27b6-11e9-88af-52d5158dc2c8.png)

[2019-02-03 20:08] mzico opened #1496 "Fields crashing when adding new user with 'outside' attributes"
This is happening when i am going to create users with more attributes other than default eight given in oxTrust. Email_address and Password fields go blank.
![oxtrustusercustomattribute](https://user-images.githubusercontent.com/7156097/52181918-110ede00-27bd-11e9-8a77-cfa5374c4843.gif)

[2019-02-04 09:08] syntrydy commented on #1491
![image](https://user-images.githubusercontent.com/7513418/52198914-ba5cdf00-2864-11e9-96d7-0af1ec81f68c.png)

[2019-02-04 09:44] #1491 closed

[2019-02-04 13:14] syntrydy commented on #1495
![image](https://user-images.githubusercontent.com/7513418/52210314-ff920880-2886-11e9-9daa-92101f603e2a.png)

[2019-02-04 13:35] syntrydy commented on #1495
![image](https://user-images.githubusercontent.com/7513418/52211407-16862a00-288a-11e9-9a65-d76bd33f8bea.png)

[2019-02-04 13:45] #1495 closed

[2019-02-04 13:45] #1465 closed

[2019-02-04 15:45] jgomer2001 commented on #1494
2 Passport endpoints do not need protection. They were removed and code adjusted, as per https://github.com/GluuFederation/oxAuth/issues/993

@yurem can you do an overall CE revision about any other data exposed anonymously

[2019-02-04 18:10] syntrydy commented on #1496
@mzico clearing both password field is normal for security reason.

I fixed the email field.

[2019-02-04 18:19] #1496 closed

[2019-02-05 08:26] yurem opened #1501 "Add SAML TR Logout profile"
It's last part of issue https://github.com/GluuFederation/oxShibboleth/issues/50
Previous issue we resolved in 3.1.5. But for better user experience we also need to update oxTrust GUI to allow configure SAML2 relaying party Logout profile.

[2019-02-05 08:26] yurem opened #1502 "Add OP initiated endpoint support"
OP supports 2 logout flows:
1. OP initiated
2. RP initiated

If there are only one RP applications uses flow 2. But if there are few RP OP send notification about ending sessions using flow 1.

Based on this for flow 2 each RP should has endpoing for logout notifications to end user sessions.
oxTrust should implement [this ](https://github.com/GluuFederation/community-edition-setup/blob/version_3.

[2019-02-05 08:27] #1502 closed, assigned to yurem

[2019-02-05 10:35] yurem commented on #1501
Implemented

[2019-02-05 12:06] willow9886 commented on #1501
@yurem this looks like the type of issue that should be tagged with at least `Needs documentation` and most likely also `Needs screenshots` .. can you confirm, and please make use of these tags regularly?

[2019-02-05 12:51] yurem commented on #1501
![screenshot 4](https://user-images.githubusercontent.com/6104200/52274478-e14b0c00-295d-11e9-8269-00c38a17eeac.png)

[2019-02-05 12:58] yurem commented on #1501
This section is needed for IDP->SP logout flow. With enabled Logout profile user can trigger IDP/SP/OP logout using URL like this `https://<idp>/idp/Authn/oxAuth/logout`.

Here is default logout IDP page after logout from  IDP/SP/OP:
![screenshot 5](https://user-images.githubusercontent.com/6104200/52274804-d2188e00-295e-11e9-8fd1-3eee4f7b0ad7.png)

[2019-02-05 12:58] #1501 closed

[2019-02-05 13:07] mbaser opened #1503 "UMA Scope returns "Oops" if associated openid client does not exsits"
If associated openid client is removed, we can't enter UMA scope and hence delete it.

![uma_scope](https://user-images.githubusercontent.com/6398752/52275209-e8731980-295f-11e9-90cf-552fcc37fb9a.gif)

[2019-02-06 08:42] syntrydy commented on #1503
@mbaser could you provide log file?

[2019-02-06 12:35] mbaser commented on #1503
@syntrydy please see attached logs.
[logs.zip](https://github.com/GluuFederation/oxTrust/files/2836326/logs.zip)

[2019-02-06 17:45] syntrydy opened #1510 "Fix compilation error on Jenkins build"
**Describe the issue**
After moving to java8, build are failing on Jenkins due to java8 performing java doc validation

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Go to https://ox.gluu.org/jenkins/job/oxTrust_4.0.0
2. Launch a build
3. See error in console output view

**Expected behavior**
Build should be stable

**Actual behavior**
Build fail.

[2019-02-07 09:57] yuriyz opened #1512 "Client : add ability to specify client attributes as JSON"
**Describe the issue**
Now `oxAuthClient` OC has new attribute called `oxAttributes` [see](https://github.com/GluuFederation/oxAuth/tree/master/Server/src/main/java/org/xdi/oxauth/model/registration/Client.java#L213).

This attribute contains JSON, not single attribute. Idea is to avoid adding new LDAP attribute for each single client property. Now we will keep it as JSON. Therefore we need abilit

[2019-02-07 12:28] #1494 closed

[2019-02-07 12:55] mzico opened #1513 "'Import people' feature can't import multiple values of single attribute"
If we have some attribute with multiple value in xls file, oxTrust can't import multiple values.
Screenshot below showing what it looks like when we are trying to import a xls file which has custom attribute named 'orvtroles' containing multiple attributes: 'Program Manager' and 'License Admin'.

oxTrust loaded one attribute.

![importuser](https://user-images.githubusercontent.com/7156097/5241274