[2017-01-01 16:50] shekhar16 commented on #425
![image](https://cloud.githubusercontent.com/assets/15937500/21582087/7250348a-d070-11e6-9706-5c9c7e7ba915.png)

![image](https://cloud.githubusercontent.com/assets/15937500/21582070/fee0c424-d06f-11e6-9fc8-666f31bd0a63.png)

[2017-01-01 17:11] #425 closed

[2017-01-01 18:55] shekhar16 commented on #279
@yurem @nynymike can i change password field into regular text box,, to replace the data typed by user with dots.

[2017-01-02 23:13] zamilskhan commented on #427
Confirmed on CentOS 6 with 8BETA build.

[2017-01-02 23:19] sahiliamsso opened #430 "Long value of Username cause interface to 'break'"
Similar to issue https://github.com/GluuFederation/oxTrust/issues/282, when adding long value to "Username" field in Users >> Update User causing interface to break. I verified in both FF and Google Chrome.

![image](https://cloud.githubusercontent.com/assets/21104811/21597362/cf09919e-d16f-11e6-8ff1-aab25175e580.png)

We must limit the input character to this field. I tested with more than 800 ch

[2017-01-03 01:31] sahiliamsso opened #431 "SAML Trust Relationship: Entity Type - Federation shows different options in dropdown"
Select Entity Type as “Federation/Aggregate” , You’ll see Metadata Location as 5 options to choose from-
1.	None
2.	File
3.	URI
4.	Generate
5.	Federation
![image](https://cloud.githubusercontent.com/assets/21104811/21598387/31fecd5c-d182-11e6-8453-f49599008817.png)

Now click on Add button, without entering any values. You’ll see now dropdown has 3 values
1.	None
2.	File
3.	URI

![image](https://c

[2017-01-03 06:28] shekhar16 commented on #431
@sahiliamsso  it was implemented as per issue https://github.com/GluuFederation/oxTrust/issues/310

[2017-01-03 18:02] shekhar16 commented on #427
https://github.com/GluuFederation/oxCore/commit/a923f51d01e825580398711e08df9eb9bc85072d

[2017-01-04 04:02] shekhar16 commented on #427
Fixed.

[2017-01-04 04:02] #427 closed

[2017-01-04 08:27] yurem commented on #426
@mzico we deprecated schema modification from oxTrust in 3.0.0. Now this dialogs allows to register new attribute which admin added to schema manually.
Can you do next:

1. Add new attribute to schema.
2. Update OpenLDAP configuration to apply schema update.
3. Try to use this dialog to register new attribute

[2017-01-04 08:30] yurem commented on #332
In 3.0.0 we don't do war files explode under jetty. As result Gluu Asimba can't use exploded war folder to store these files. QA @zamilskhan with @mzico help  should verify if Asimba works fine in CE 3.0.0

[2017-01-04 08:36] yurem commented on #377
Where in this GUI it's possible to enable/disable CAS?

[2017-01-04 08:39] mzico commented on #426
@yurem : Do we have any doc or procedure how to do that? I can create one doc if procedures are supplied.

[2017-01-04 15:21] uboznikov commented on #394
Currently using the alternative. This turns off sorting, though. Aside from this, it has exact functionality. If sorting is needed, it should be done in the client application calling this service, or the client application calling SCIM-Client, in the same vein.

[2017-01-04 17:12] yurem commented on #309
@nynymike in old implementation before remove attribute from schema we call [method ](https://github.com/GluuFederation/oxTrust/blob/master/server/src/main/java/org/gluu/oxtrust/ldap/service/AttributeService.java#L381) to remove it from all user/TR entries.

Should we clean all user/TR entries now before unregistered attribute.

[2017-01-04 18:36] yurem commented on #394
Add method to sort: https://github.com/GluuFederation/oxCore/commit/8dd8541aa98464e0ddc081674e6581dfa2af7c87

Method which do sorting allows to do sorting by few attributes.

[2017-01-04 23:08] sahiliamsso commented on #431
Issue is that initially it displays 5 options under federarion and after clicking update button it shows 3 options in dropdown

[2017-01-04 23:18] nynymike commented on #431
This is correct... If entity type is federation, it must be either URL or File...

[2017-01-05 16:07] shekhar16 commented on #431
@sahiliamsso please test it with latest build.

[2017-01-06 02:25] sahiliamsso commented on #431
fixed in the latest build. Thanks Shekhar

[2017-01-06 02:25] #431 closed

[2017-01-06 02:38] sahiliamsso opened #432 "Add email validation on Users > Update User screen"
Please add email format validation check on Add user screen. It allows to submit user with invalid email format but gets exception on the screen.

![image](https://cloud.githubusercontent.com/assets/21104811/21705635/24be2fe0-d3e7-11e6-9806-3c5704d4590d.png)

[2017-01-06 02:42] sahiliamsso commented on #432
Also, It allows me to set 1 (say a) character as password  Please confirm if password/confirm password value has to be between 3 and 60 character? If yes then we will need to add this validation on create user screen

[2017-01-06 02:52] sahiliamsso commented on #428
Do we have any updates?

[2017-01-06 17:10] dmogn commented on #332
@yurem - Yes, I should change default directory and retest it.

[2017-01-06 18:35] shekhar16 opened #433 "Passport Form Issue"
add new fields and data is also saved without having the value of Strategy\
The value of strategy can not be empty
It should be a mendatory field
click Add Strategy New form is generated and asks for Strategy and put somr value in it, and then click to add new field, the value of the field gets empty

[2017-01-07 07:15] shekhar16 commented on #432
@sahiliamsso we had implemented custom validation for attributes,so if you need minimum ,maximum, and regex for password ,you can add these validation values on attribute page.

[2017-01-07 17:14] shekhar16 commented on #418
@sahiliamsso  i tried it but it is working for me.can u please share the log.

[2017-01-07 19:11] shekhar16 commented on #433
Fixed.

[2017-01-07 19:11] #433 closed

[2017-01-07 19:24] shekhar16 commented on #432
For email address , system error is fixed.

[2017-01-07 19:24] #432 closed

[2017-01-08 06:53] uboznikov commented on #428
@shekhar16 What is the purpose of the `if(!update){` statement in the `case FILE:`?

[oxTrust issue #384](https://github.com/GluuFederation/oxTrust/commit/6c16f2072c1641fb41d5533224105ed371acc14d)

https://github.com/GluuFederation/oxTrust/blob/master/server/src/main/java/org/gluu/oxtrust/action/UpdateTrustRelationshipAction.java#L285-L287

Above is the cause of this issue. Please review. I am dis

[2017-01-08 07:01] uboznikov commented on #428
![tr-upload-file-metadata-ok](https://cloud.githubusercontent.com/assets/16329085/21747975/39f7acf6-d5b3-11e6-8277-98748d9c10c2.png)

[2017-01-09 09:08] arvindsinghtomar commented on #433
Thanks Shekhar

[2017-01-09 15:08] yurem opened #434 "Migrate from log4j 1.x to 2.x"
https://github.com/GluuFederation/oxAuth/issues/416

[2017-01-09 15:22] uboznikov commented on #429
@shekhar16 I am reverting your fix to #351 as it is causing this issue. Please review.

[oxTrust issue #351](https://github.com/GluuFederation/oxTrust/commit/571c05fdf433688d2fe667ee501c25eda3a77a05)

![loadmetadata-returns-null](https://cloud.githubusercontent.com/assets/16329085/21771300/c4a3733a-d6c1-11e6-9397-6208a2b8c1d3.png)

[2017-01-09 15:24] uboznikov commented on #429
![429-fixed](https://cloud.githubusercontent.com/assets/16329085/21771549/bf0fe54c-d6c2-11e6-95c3-87ae15c5167e.png)

[2017-01-09 16:35] yurem commented on #434
https://github.com/GluuFederation/oxTrust/commit/c20b422e0e9253c1abdbe8482069d5ea54ec440d

[2017-01-09 16:36] yurem commented on #434
Implemented

[2017-01-09 16:36] #434 closed

[2017-01-09 17:05] shekhar16 commented on #429
@sahiliamsso  please test this issue.

[2017-01-09 17:11] shekhar16 commented on #428
@uboznikov  the purpose of   `if(!update)`  is to make status active for only new registering user  not for every updating details,if you comment this line it will re-enable the status=Active so. please revert this  commit.

[2017-01-09 17:12] shekhar16 commented on #428
@uboznikov  And how this line will make impact on uploading metadata file ,it is just setting a property status = active or inactive. .

[2017-01-09 17:16] uboznikov commented on #428
@shekhar16 This issue was hard to trace, I compared it with the version before your commit. Please do so, or check my test screenshot above.

[2017-01-10 17:48] shekhar16 commented on #428
@uboznikov  if you are registering a new trust relationship than why this update value is true.For new TR update should be false.

[2017-01-10 17:50] shekhar16 commented on #428
Fixed.

[2017-01-10 17:51] uboznikov commented on #428
@shekhar16 That fix breaks the current code. Please compare to Shib v2 version. I have none or very minimal commits to the UI.

[2017-01-10 17:53] uboznikov commented on #428
@shekhar16 Have you tested it and compared before and after?

[2017-01-10 18:11] shekhar16 commented on #428
@uboznikov please check the code which i corrected, the update flag should only been set when it is going to update existing TR ,to check whether it already exist or not ,we are checking initially inum is set or not .
if  inum is not set it means new TR has to be register.

[2017-01-10 20:45] yurem opened #435 "Add reference to script from dynamic scope"
If in authorization request there is dynamic scope we call all enabled dynamic scripts.
To understand if we really need to add dynamic claims we uses next patter in each script:
[code]

It's not very convenient. I offer to add reference from scope to dynamic scope script(s).

In this case we know which script(s) to call for each dynamic scope.
And the dialog will be similar to UMA scope descriptio

[2017-01-10 22:23] dmogn commented on #332
Done.

[2017-01-10 22:50] nynymike opened #436 "Configure Relying Party not displaying Link"
When I check the box for "Configure Relying Party", it's not displaying the expected modal window.

![image](https://cloud.githubusercontent.com/assets/3717101/21828194/c9bf7bf0-d754-11e6-8d6a-bdcf46046b92.png)

[2017-01-10 22:59] nynymike opened #437 "Updating Default Authentication Throws Error"
I noticed that when I changed values on the "Default Authentication Tab" I see:

![image](https://cloud.githubusercontent.com/assets/3717101/21828341/9aff526c-d755-11e6-99d5-b2ae24d5bc47.png)

and I see this error in the logs

[code]

[2017-01-10 23:07] nynymike opened #438 "Move Passport off "Default Authentication Tab""
It doesn't really make sense for the "Enable Passport" to be on the default authentication tab.

I think you should always display the passport tab, and move the "enable|disable" to there...

Also, the selected values should be either **Enabled** or **Disabled**, please remove **Default**. Default is disabled.

![image](https://cloud.githubusercontent.com/assets/3717101/21828531/82ff6b92-d756-11e6

[2017-01-10 23:44] sahiliamsso commented on #429
working fine. Thanks for the fix.

[2017-01-10 23:44] #429 closed

[2017-01-10 23:45] sahiliamsso commented on #418
working fine now. Thanks

[2017-01-10 23:45] #418 closed

[2017-01-10 23:47] sahiliamsso commented on #428
Able to create TR with attaching metadata file. Thanks

[2017-01-10 23:47] #428 closed

[2017-01-11 08:30] zamilskhan opened #439 "Unable to remove client"
OS: **CentOS 6.6 (Final)**
Package: **gluu-server-3.0.0.x86_64 6-BETA2.centos6**

The added OpenID Clients cannot be deleted showing the message **_Cannot remove Client_** with the following in the `oxTrust.log` file.
[code]

The `oxauth.log` file shows the following error.
[code]

[2017-01-11 08:32] zamilskhan commented on #426
This issue is still there in 6-BETA2 package. The video shows the behavior.

[Video Link](https://youtu.be/PYpHdg2icLY)

[2017-01-11 09:34] zamilskhan commented on #427
User is created, but the `oxtrust.log` shows the following
[code]
Will this become a problem?

[2017-01-11 16:03] yurem commented on #426
It's expected behavior. We don't modify LDAP schema from oxTrust now. You need to add attribute to LDAP schema first before registering it.

Can you try these steps:
1. Add custom attribute 'gluuCustomPersonAttribute' to /opt/gluu/schema/openldap/custom.schema
2. Add ths new attribute to gluuCustomPerson objectClass

Here is sample file:
[code]

3. service solserver stop
4.  mv /opt/symas/etc/open

[2017-01-11 16:03] yurem commented on #426
After that you can try to register gluuCustomPerson attribute in oxTrust

[2017-01-11 16:03] #426 closed

[2017-01-11 16:04] yurem commented on #426
@zamilskhan @mzico can you add this to 3.0.0 documentation about schema update?

[2017-01-11 16:11] mzico commented on #426
@yurem : will do. Thanks.

[2017-01-11 18:29] shekhar16 commented on #436
@nynymike in my local with latest code it is working fine?

![image](https://cloud.githubusercontent.com/assets/15937500/21861189/d2aba940-d859-11e6-836b-25595f81447e.png)

[2017-01-11 19:02] yurem commented on #439
Fixed: https://github.com/GluuFederation/oxCore/commit/4977abe2f09b8952c611fa64eae88c7d72cab2f1
New build should contains this fix

[2017-01-11 19:02] #439 closed

[2017-01-11 22:09] nynymike commented on #436
I see this in the logs

[code]

[2017-01-11 22:24] aliaksander-samuseu commented on #375
Can't see duplicated messages on Cache Refresh pages any more, but on attribute register page those error messages Sahil reported above still are present in the latest Ubuntu 14 dev package.

[2017-01-11 22:28] nynymike opened #440 "New Client: client secret disappears when adding response type"
1. OpenID Connect / Add Client
2. Add client name and secret
3. Click response type: select "code" and ok.
4. Check client-secret... it disappeared.

Video of bug: https://youtu.be/Cq3WEoV7k1A

[2017-01-12 00:04] aliaksander-samuseu commented on #354
I've just checked it for [this](https://repo.gluu.org/ubuntu/pool/main/trusty-devel/gluu-server-3.0.0_6-BETA2~trusty+Ub14.04_amd64.deb
) package, and it doesn't show the full list of existing SAML TRs when page is opened. It's even worse now, as even clicking the "Search" button with empty search input field is not enough, it doesn't display anything this way. You need actually to provide a valid

[2017-01-12 00:07] aliaksander-samuseu commented on #354
It seems the same issue affects all other pages with search feature on them, like OIDC clients/scopes page, UMA pages. It's mostly unusable atm.

[2017-01-12 02:48] nynymike commented on #354
Yes, previously we could hit search for everything except users, and it would return results. I think this was preferable. As a workaround, you can search for @--if the search is looking at the inum, that will return everything.

[2017-01-12 11:54] jschristie opened #441 "Passport Form broken"
If I enter the strategy value in upper case and then try to modify to lower case, the values doesn't get updated after I restart passport. And after that the values changes to upper case automatically, even if I change it to lowercase, ie, if I enter ClientID instead of clientID and modify it to lowercase, the change doesn't happen. until I create a different strategy and rename the old strategy.

[2017-01-12 13:48] yurem commented on #426
It looks like we are not using /opt/symas/etc/openldap/slapd.d folder now.

Hence after updating schema files we only need to do:
service solserver restart

@tecoholic

[2017-01-12 15:03] shekhar16 commented on #354
It is working fine with latest code.on all three pages i.e TR ,scope, client.
Can u please retest it ?

[2017-01-12 15:09] shekhar16 commented on #437
@aliaksander-samuseu  can u please test it with latest code.

[2017-01-12 15:09] #437 closed

[2017-01-12 15:38] aliaksander-samuseu commented on #354
@shekhar16 , what latest code? I checked it for this build of 3.0: [link](https://repo.gluu.org/ubuntu/pool/main/trusty-devel/gluu-server-3.0.0_6-BETA2~trusty+Ub14.04_amd64.deb), seems to be the latest available deb package in devel repo.

@nynymike

Works only for SAML TRs and OIDC clients for me, but not for OIDC scopes, or UMA items, probably some other universal search key is needed there.
But

[2017-01-12 17:04] tecoholic commented on #426
After the discussion here https://github.com/GluuFederation/community-edition-setup/issues/235 it was decided to leave the slapd.d folder generation to the user. There is no slapd.d conf folder by default. So update the custom.schema file and do a `service solserver restart`. The user cannot created custom attributes from the oxTrust UI directly (I guess) @yurem Correct me if I am wrong.

[2017-01-12 17:19] nynymike commented on #426
Correct, no more dynamic creation of schema.

And we should remove the cn=config database... so `slapd.conf` is the only way to manage config by default.

[2017-01-12 17:30] nynymike commented on #354
IMHO, no... I think hitting the search button should return results.

[2017-01-12 21:00] yurem commented on #309
Fixed, now it's possible to remove custom attributes

[2017-01-12 21:00] #309 closed

[2017-01-13 00:39] aliaksander-samuseu commented on #331
I've checked current state of this feature in 6-beta2 deb package. It's mostly fixed now (and design of controls on the page was changed, too), in case when "Generate" mode is chosen during initial creation  of TR, it behaves as expected, and in the end a working download link appears at the lower left corner of the page (didn't try to actually feed contents to Shibboleth).

But still there is som

[2017-01-13 00:41] aliaksander-samuseu commented on #331
Here is current view of the TR's config entry:

![selection_051](https://cloud.githubusercontent.com/assets/11802046/21914117/1c6456a2-d942-11e6-813b-e990c6773be1.jpg)

[2017-01-13 04:07] shekhar16 commented on #354
@nynymike Sorry i couldn't able to reproduce it may i have to check my workspace or may be it is not working on openldap but with opendj .

[2017-01-13 04:08] shekhar16 commented on #438
![image](https://cloud.githubusercontent.com/assets/15937500/21903142/c417bc04-d924-11e6-9b9f-4c5adb856988.png)

[2017-01-13 04:13] shekhar16 commented on #438
![image](https://cloud.githubusercontent.com/assets/15937500/21918182/aeb8d960-d974-11e6-9bea-b43b5e2cb52e.png)

[2017-01-13 04:53] shekhar16 commented on #438
Fixed.

[2017-01-13 04:53] #438 closed

[2017-01-13 05:05] dmogn commented on #332
with latest DEB:

2017-01-13 04:59:29,730 WARN  [qtp425918570-18] [org.jboss.seam.util.Resources] (Resources.java:168) - Unable to determine real path from servlet context for "/WEB-INF/dev" path does not exist.
2017-01-13 04:59:29,956 ERROR [qtp425918570-18] [org.jboss.seam.exception.Exceptions] (Exceptions.java:86) - handled and logged exception
javax.servlet.ServletException: couldn't parse req

[2017-01-13 14:06] yurem commented on #332
Latest stack trace related to another issue caused by specific versions conflict: jetty/richfaces/faces/Seam.
New deb/rpm contains new Jetty. I think we resolved it.

[2017-01-13 14:06] #332 closed

[2017-01-13 17:25] aliaksander-samuseu commented on #354
@shekhar16 , are you sure all your latest fixes did make to the packages available in repos? May be you should check with Adrian or Yuriy?

[2017-01-13 17:49] nynymike opened #442 "Improve display of redirect_uri's"
If you're in oxtrust, managing a client who has multiple (6,7,8+) redirectloginURIs, logoutURIs the lists are not very user friendly. As the list grows it becomes increasingly difficult to see what URI corresponds to the X that you are clicking on. This could be resolved by throwing some CSS on these list types that give every other row an alternating grey-ish(or whatever color) background so that

[2017-01-13 17:50] nynymike commented on #442
Duplicate of https://github.com/GluuFederation/oxTrust/issues/425

[2017-01-13 17:51] nynymike commented on #425
See also duplicate issue that was closed https://github.com/GluuFederation/oxTrust/issues/442

[2017-01-14 09:43] shekhar16 commented on #440
Fixed.

[2017-01-14 09:43] #440 closed

[2017-01-14 19:17] shekhar16 commented on #436
Fixed.

[2017-01-14 19:17] #436 closed

[2017-01-14 20:07] zamilskhan opened #443 "Failed to update entry error in new installation"
OS: CentOS 6.6 (Final)
Package: gluu-server-3.0.0.x86_64                                                  9-BETA2.centos6
The `oxtrust.log` file shows the following error in a fresh new untouched installation.
[code]

[2017-01-15 01:08] dmogn commented on #332
Thanks, @yurem!

[2017-01-15 16:44] yurem commented on #443
Can you add rest of the stack trace to understand which LDAP error led to this issue.

[2017-01-15 16:45] yurem commented on #412
@uboznikov should I take a loo on this. Is it working fine now?

[2017-01-16 02:38] dmogn commented on #443
I got same error on gluu-server-3.0.0_9-BETA2~trusty+Ub14.04_amd64.deb:

2017-01-16 02:31:20,617 DEBUG [pool-2-thread-1] [org.gluu.oxtrust.ldap.service.StatusCheckerTimer] (StatusCheckerTimer.java:382) - Setting facter attributes
2017-01-16 02:31:20,744 ERROR [pool-2-thread-10] [org.gluu.oxtrust.ldap.service.StatusCheckerDaily] (StatusCheckerDaily.java:123) - Failed to update current appliance
org

[2017-01-16 10:11] yurem commented on #443
Fixed in: http://ox.gluu.org/maven/org/xdi/oxtrust-server/3.0.0-SNAPSHOT/oxtrust-server-3.0.0-SNAPSHOT.war

[2017-01-16 10:11] #443 closed

[2017-01-16 12:26] uboznikov commented on #412
@yurem In recent builds I have noticed that the error has gone. Should we close this?

[2017-01-16 18:16] zamilskhan commented on #443
Thanks @yurem

[2017-01-16 21:49] mikevalstar commented on #381
I am having the same issue; fresh install of 2.4.4.2

[2017-01-16 22:01] nynymike commented on #381
@shekhar16 can you check if this issue exists for 3.0?

[2017-01-17 03:40] nynymike opened #444 "Toggle persist authorization to false when pre-authorization = true"
If `preauthorization=true` is selected, then `persist authorizations` should be set to false.  The opposite is not true! The goal here is try to get customers not to write useless data to LDAP, and to understand the relationship.

[2017-01-17 10:51] worm333 commented on #375
Removed *rich:notifyMessages* tag from templates/views that cause duplications. See [this](https://github.com/GluuFederation/oxTrust/pull/445) pull request.

[2017-01-17 10:51] #375 closed

[2017-01-17 11:47] yurem commented on #409
It part of https://github.com/GluuFederation/oxTrust/issues/435

[2017-01-17 11:48] yurem commented on #412
yes, I'm closing it. We updated java version and probably few libs during migration to log4j v2.

[2017-01-17 11:48] #412 closed

[2017-01-17 14:32] shekhar16 commented on #381
@nynymike it is fixed.

[2017-01-17 14:32] #381 closed

[2017-01-18 05:05] sahiliamsso opened #446 "Changes in "Configure RelyingParty" are not saved"
Steps to reproduce
1. Click on Add Trust relationship
2. Attach sample metedata file
3. Click on "Configure RelyingParty" and add SAML2SSO and leave other options as default
4. Release attributes
5. Click on Save
6. Search for the TR created in above steps
7. Click on "Configure RelyingParty"

Expected : You should see "SAML2SSO" selected with default values
Actual: Nothing is selected.

Version g

[2017-01-18 23:43] aliaksander-samuseu commented on #366
Reopening.
It works fine in 3.0.x CE, but I still can't confirm it works in latest 2.4.4.2 packages available in repos. Tested for gluu-server-2.4.4.2_6-1~trusty+Ub14.04_amd64.deb from 2016-11-07, and the issue is still there. Shouldn't it be also fixed in SP2? If it wasn't added to it, then it should be candidate for SP3.

[2017-01-19 00:00] aliaksander-samuseu opened #447 ""System error" upon attempt to create user via oxTrust on freshly installed instance"
Environment:
Ubuntu 14.04, Gluu CE 2.4.4 SP2 (installed from `gluu-server-2.4.4.2_6-1~trusty+Ub14.04_amd64.deb` of 2016-11-07 (which is the latest available stable package))

Steps to reproduce:
1. Log in to web UI as admin user
2. Move to "Users -> Add person"
3. Fill in all fields on the page required to create a simple user entry with default fields; provide "active" for "User status" field (fo

[2017-01-19 03:21] sahiliamsso commented on #447
I'm able to create user via oxtrust in 2.4.4.sp3

[2017-01-19 12:51] mzico commented on #447
Problem persist in 2.4.4.2

[2017-01-19 15:47] shekhar16 commented on #446
Are you getting any exception.

[2017-01-19 16:10] yuriyz commented on #435
@otataryn as per commits above on oxTrust we should be able specify scripts for given scope. Means oxScript for oxAuthCustomScope. I like @yurem idea to use similar UI we have for UMA Scope where we do the same, we are adding scripts to scope. Lets use same approach. oxScript attribute should contains DN of the custom script.

[2017-01-19 17:16] nynymike commented on #446
Can you test if the TR entry in LDAP is updated? This is a critical bug report.

[2017-01-19 17:29] shekhar16 commented on #447
It is already fixed in 2.4.4.2.

[2017-01-19 17:34] mzico commented on #447
@shekhar16 :

Here are two reports on 2.4.4.2:

1. https://support.gluu.org/access-management/3670/fresh-gluu-server-2442-install-on-ubuntu-1604-cant-create-users-via-oxtrust-gui/

2. https://support.gluu.org/identity-management/3671/cannot-create-new-user/

[2017-01-20 01:41] sahiliamsso commented on #446
gluuProfileConfiguration are getting saved in LDAP

<rp:ProfileConfiguration xsi:type="saml:SAML2SSOProfile"
 includeAttributeStatement="true"
 assertionLifetime="150"
 assertionProxyCount="0"
 signResponses="conditional"
 signAssertions="never"
 signRequests="conditional"
 encryptAssertions="conditional"
 encryptNameIds="never"
/>

**Error in logs**
2017-01-18 04:55:36,851 ERROR [pool-2-thread-3]

[2017-01-20 05:05] shekhar16 commented on #446
@uboznikov please check this exception  it is related to the xml file you added for shiboleth3.

[2017-01-20 06:15] sahiliamsso opened #448 "Error Adding group in oxtrust"
Steps to reproduce:
1. Login to oxtrust
2. Click on Users > Manage Groups > Add Group
3. Provide required information, click on Add Member and select user
4. Click Add

Expected Result: We should get "Group creation successful" message
Actual Result: Error message "Failed to Add group"

PS: We get error message but group is created successfully though.

**Logs**
2017-01-20 06:05:46,316 DEBUG [qtp4

[2017-01-20 12:22] uboznikov commented on #446
[Fix to #363 causes org.xml.sax.SAXParseException](https://github.com/GluuFederation/oxTrust/issues/412)

@yurem We may need to review the fix...

[2017-01-20 14:01] uboznikov commented on #446
@shekhar16 Can you please check in UI, RP data is saved ok but cannot be displayed, even after restart. On retrieval there were no exceptions.

[2017-01-20 14:32] uboznikov commented on #446
Thanks @yurem after latest [fix](https://github.com/GluuFederation/oxTrust/commit/84a60ce2e242a8dcacb9179a2bece39549ecaa9f) configure RP is now ok.

![configure-rp-ok](https://cloud.githubusercontent.com/assets/16329085/22152943/15929464-df60-11e6-8c45-f317aded6a44.png)

@sahiliamsso Please re-test in new build. Thanks.

[2017-01-20 18:19] dmogn commented on #377
@yurem
![cas_gui](https://cloud.githubusercontent.com/assets/14166017/22160369/dfd4629e-df23-11e6-9344-528eaaaa98e6.png)

[2017-01-20 18:25] yurem commented on #446
Can you retest it on new beta build?

[2017-01-20 18:43] dmogn commented on #377
Added in 3.0,0 Beta4

[2017-01-20 19:59] nynymike opened #449 "Error changing default authn method"
I set the default authn method for oxTrust to U2F. The config was properly saved, but the oxTrust GUI reported an error.  I saw this message in the log, which leads me to think that there was something wrong because I hadn't configured passport yet.  It was an incorrect and confusing error notification.

![image](https://cloud.githubusercontent.com/assets/3717101/22168299/6d5305dc-df31-11e6-861d-2

[2017-01-22 19:12] shekhar16 commented on #354
The functionality is working fine with openDJ but the issue is with openldap.
issue is fixed on TR and scope page .please check with latest identity build.

[2017-01-23 02:26] nynymike opened #450 "Password should not be visible in the form"
Obviously the password should not be visible in the add password form.

![image](https://cloud.githubusercontent.com/assets/3717101/22189227/f315ab56-e0e0-11e6-9099-65d6b5401483.png)

[2017-01-23 02:33] nynymike opened #451 "Adding person to Group displays incorrect error message"
I see this error when I added a user to the Manager group:

![image](https://cloud.githubusercontent.com/assets/3717101/22189277/41e80daa-e0e1-11e6-8e32-6700d34776db.png)

But the operation was successful, as confirmed by LDAP.

[code]

But I do see this error in the logs:

[code]

[2017-01-23 02:37] nynymike opened #452 "Atribute form missing SAML URI values"
Why can't the user enter SAML URI's for these attributes?

![image](https://cloud.githubusercontent.com/assets/3717101/22189515/9267fc80-e0e2-11e6-9769-7037370f9d14.png)

[2017-01-23 02:41] nynymike opened #453 "Cache Refresh page throws error"
The Cache Refresh page doesn't even come up for me...

![image](https://cloud.githubusercontent.com/assets/3717101/22189557/dbbdea3e-e0e2-11e6-9d7b-d23c2b75d6ae.png)

[code]

[2017-01-23 02:55] nynymike opened #454 "applianceStatus Page throws error"
![image](https://cloud.githubusercontent.com/assets/3717101/22189867/f7ab9bcc-e0e4-11e6-9a59-225dff09c2fb.png)

[code]

[2017-01-23 03:02] nynymike opened #455 "SP Metadata File link is broken"
Clickin on the metadata used to show a modal window with the metadata... no clicking on it does nothing.

![image](https://cloud.githubusercontent.com/assets/3717101/22189996/d3f82f78-e0e5-11e6-9ff1-80f836acbec9.png)

No errors in the log.

[2017-01-23 03:08] nynymike opened #456 "Certificate mis-named"
"Shibboleth IDP SSL" --> "Shibboleth IDP SAML Certificate"

![image](https://cloud.githubusercontent.com/assets/3717101/22190124/b03cd07e-e0e6-11e6-9f1c-773729d04007.png)

[2017-01-23 16:06] dmogn commented on #456
Fixed.

[2017-01-23 16:06] #456 closed

[2017-01-23 16:47] #279 closed

[2017-01-23 20:01] dmogn commented on #452
There is some logic for show/hide URI fields:
https://github.com/GluuFederation/oxTrust/blob/master/server/src/main/java/org/gluu/oxtrust/action/UpdateAttributeAction.java#L373
Attribute Origin should be equal to application configuration personCustomObjectClass.

I can simply remove this rule or change "hide" state to "disabled" state for URI fields (more user friendly, I think).

[2017-01-23 20:11] dmogn commented on #454
javax.servlet.ServletException: //opt/jetty-9.3/temp/jetty-localhost-8082-identity.war-_identity-any-6157591751285293259.dir/webapp/status/applianceStatus.xhtml @50,72 value="#{_appliance.lastUpdateDate}": **Property 'lastUpdateDate' not found on type org.gluu.oxtrust.model.GluuAppliance**
        at javax.faces.webapp.FacesServlet.service(FacesServlet.java:606) ~[jsf-api-2.1.28.jar:2.1]
        a

[2017-01-23 20:33] dmogn commented on #454
Fixed.

[2017-01-23 20:33] #454 closed

[2017-01-23 21:31] dmogn commented on #377
TODO: lock/hide the form if IDP is not installed.

[2017-01-23 21:33] dmogn commented on #452
Mike Schwartz: remove it...
Mike Schwartz: It's up to the admin to configure attributes correctly.

[2017-01-23 21:33] dmogn commented on #452
Fixed.

[2017-01-23 21:33] #452 closed

[2017-01-23 21:36] dmogn commented on #453
2017-01-23 21:35:38,966 ERROR [qtp425918570-20] [org.jboss.seam.exception.Exceptions] (Exceptions.java:86) - handled and logged exception
javax.servlet.ServletException: //opt/jetty-9.3/temp/jetty-localhost-8082-identity.war-_identity-any-1657062042042827326.dir/webapp/WEB-INF/incl/organization/cacheRefreshForm.xhtml @74,111 value="#{_configureCacheRefreshAction.appliance.vdsCacheRefreshLastUpdate

[2017-01-23 21:58] dmogn commented on #453
Fixed.

[2017-01-23 21:58] #453 closed

[2017-01-24 02:46] sahiliamsso commented on #446
Fixed, verified on gluu-server-3.0.0 (2-BETA4~trusty+Ub14.04)

[2017-01-24 02:46] #446 closed

[2017-01-24 03:17] sahiliamsso opened #457 "Search TR in oxtrust ui is not working properly"
1. Create a valid TR
2. Search for TR created in Step 1.

Search Results
No Trust Relationships Found

Version
gluu-server-3.0.0 (2-BETA4~trusty+Ub14.04)

Logs
2017-01-24 02:42:00,485 ERROR [qtp425918570-16] [org.gluu.oxtrust.action.UpdateTrustRelationshipAction] (UpdateTrustRelationshipAction.java:1247) - Failed to get OID for attribute name gluuPermission

[2017-01-24 03:27] sahiliamsso commented on #457
By default, there is an additional blank space in the search text fields. That's why search is not working. User would have to delete the space and then type TR name to search,

[2017-01-24 03:54] shekhar16 commented on #455
https://github.com/GluuFederation/oxTrust/issues/429

[2017-01-24 13:14] yurem commented on #451
Fixed

[2017-01-24 13:29] yurem commented on #449
Fixed

[2017-01-24 14:54] uboznikov commented on #455
It is fine in build 2-BETA4:

![metadata-display-ok](https://cloud.githubusercontent.com/assets/16329085/22252038/d612d224-e287-11e6-9b3f-9d92d6452606.png)

[2017-01-24 20:41] zamilskhan opened #458 "Trust Relationship Creation throws NPE"
OS: Ubuntu Server 14.04
Pakcage: 2-BETA4~trusty+Ub14.04

The following NPE is thrown in a fresh installation of Gluu Server while creating a Trust Relationship. The TR is created without any issue. The email configuration is not functional in the test environment.

[code]

[2017-01-25 02:23] sahiliamsso opened #459 "Failed to update user via oxtrust UI"
Not able to update existing user fields, getting error on screen "Failed to update User xxx"

![image](https://cloud.githubusercontent.com/assets/21104811/22275523/4c00d698-e2d3-11e6-8157-4c3042a272fc.png)

Version
gluu-server-3.0.0 (2-BETA4~trusty+Ub14.04)

Logs

2017-01-25 02:19:12,690 ERROR [qtp425918570-11] [org.gluu.oxtrust.action.UpdatePersonAction] (UpdatePersonAction.java:191) - Failed to

[2017-01-25 07:39] #370 closed

[2017-01-25 07:41] yurem commented on #367
It looks like we implemented it already. Can you close it if?

[2017-01-25 07:41] #315 closed

[2017-01-25 13:39] #455 closed

[2017-01-25 14:05] uboznikov commented on #458
This can be safely ignored, the intention in the `try-catch` block is explicit:

[TrustService.java](https://github.com/GluuFederation/oxTrust/blob/master/server/src/main/java/org/gluu/oxtrust/ldap/service/TrustService.java#L371-L386)

[2017-01-25 14:05] #458 closed

[2017-01-25 17:22] nynymike commented on #430
Limit username to 128 characters by default.

[2017-01-25 18:03] willow9886 commented on #360
@uboznikov can you give this issue a milestone?

[2017-01-25 18:06] willow9886 commented on #338
@tecoholic can you comment on / add a milestone to this issue ?

[2017-01-25 18:09] willow9886 commented on #159
@yurem can you update this issue?

[2017-01-25 18:13] tecoholic commented on #338
@yurem Is this situation still worth investigating? If not, kindly close this.

[2017-01-25 18:21] #444 closed

[2017-01-26 01:18] sahiliamsso opened #460 "CR Link not working"
Click on Configuration > Cache Refresh

![image](https://cloud.githubusercontent.com/assets/21104811/22316474/6586e236-e393-11e6-8141-854f9875ea68.png)

Version
gluu-server-3.0.0 (2-BETA4~trusty+Ub14.04)

Logs

2017-01-26 01:15:02,032 ERROR [qtp425918570-17] [org.jboss.seam.exception.Exceptions] (Exceptions.java:86) - handled and logged exception
javax.servlet.ServletException: //opt/jetty-9.3/tem

[2017-01-26 05:08] #460 closed

[2017-01-26 05:16] sahiliamsso commented on #459
Fixed in 3-BETA4~trusty+Ub14.04

[2017-01-26 05:16] #459 closed

[2017-01-26 13:47] shekhar16 opened #461 "passport json format exception"
getting json format exception for passport initail loaded data in latest release i.e
gluu-server-3.0.0_3-BETA4-trusty+Ub14.04_amd64.deb

`2017-01-26 13:45:48,590 ERROR [qtp502572999-58] [org.gluu.oxtrust.ldap.service.PassportService] (PassportService.java:62) - Failed to load passport configuration from LDAP
org.gluu.site.ldap.persistence.exception.MappingException: Failed to convert json value '{

[2017-01-26 13:52] shekhar16 commented on #461
@yurem i checked the passport functionality with initial settings i found the code is getting exception due to initial loaded passport configurations.
As we are getting inputs for both field name and field value .

[2017-01-26 13:57] shekhar16 opened #462 "Passport Exception on change passport support field"
`2017-01-26 13:46:19,738 ERROR [qtp502572999-56] [org.jboss.seam.exception.Exceptions] (Exceptions.java:86) - handled and logged exception
javax.servlet.ServletException: /WEB-INF/incl/authentication/customAuthenticationForm.xhtml @120,204 value="#{_ldapPassport}": /WEB-INF/incl/authentication/customAuthenticationForm.xhtml @102,88 value="#{_action.ldapPassportConfigurations}": The class 'org.gluu

[2017-01-26 14:03] mzico commented on #447
Tried latest 2.4.4.2 ( ** ): It's working.

(**)
GLUU.root@idp:~# cat /opt/tomcat/webapps/oxauth/META-INF/MANIFEST.MF
Manifest-Version: 1.0
Implementation-Title: oxAuth Server
Implementation-Version: 2.4.4.sp3
Implementation-Vendor-Id: org.xdi
Built-By: tomcat
Build-Jdk: 1.7.0_79
Created-By: Apache Maven 3.3.9
Implementation-Build: a4faf1c8915c628e5d3826cbf7bb5923f9dd3eea
Archiver-Version: Plexus

[2017-01-26 14:27] mzico commented on #366
@aliaksander-samuseu : It's working in 2.4.4.2 ( ** ) version. Please validate.

(**)

[code]

[2017-01-26 14:42] mzico commented on #449
@zamilskhan : Can you QA this?

[2017-01-26 14:54] shekhar16 commented on #441
I tested this issue in latest release gluu-server-3.0.0_3-BETA4-trusty+Ub14.04_amd64.deb and it is updating the fieldset in that .
it is not there please test it with latest release 3.0 and let me know.

[2017-01-26 14:54] #441 closed

[2017-01-26 14:59] shekhar16 commented on #462
fixed.

[2017-01-26 14:59] #462 closed

[2017-01-26 16:42] shekhar16 commented on #457
Fixed.

[2017-01-26 16:42] #457 closed

[2017-01-26 17:19] shekhar16 commented on #448
![image](https://cloud.githubusercontent.com/assets/15937500/22342212/94d1dbc8-e419-11e6-8620-f6f2b065ba54.png)

[2017-01-26 17:20] shekhar16 commented on #448
I tested this in latest version i.e gluu-server-3.0.0_3-BETA4-trusty+Ub14.04_amd64.deb
and found it is working fine.
I m closing this issue ,please test it again and let me know if you found any issues in Add Group functionality.

[2017-01-26 17:20] #448 closed

[2017-01-26 18:35] shekhar16 commented on #447
Fixed in repo 2.4.4.2 sp2.

[2017-01-26 18:38] shekhar16 commented on #366
Fixed.

[2017-01-26 18:38] #366 closed

[2017-01-26 19:42] yurem commented on #338
We can close it. Now we uses jetty instead of Tomcat and Orcale JRE instead of OpenJDK. I never saw this delay under 3.0.0 BetaX

[2017-01-26 19:42] #338 closed

[2017-01-26 20:34] #327 closed

[2017-01-26 20:38] nynymike commented on #326
I think this was already addressed in other issues.

[2017-01-26 20:38] #326 closed

[2017-01-26 21:18] gdstr commented on #447
![image](https://cloud.githubusercontent.com/assets/22984638/22350650/ebbf294a-e414-11e6-9331-1bb1f4c6297b.png)

still not fixed in repo 2.4.4.sp2!

I followed the exact instruction (https://www.gluu.org/docs/deployment/ubuntu-xenial/)

on a total fresh Ubunt 16.04 server

[2017-01-26 21:36] gdstr commented on #381
it's still a problem in 2.4.4.sp2 and also on a fresh Ubuntu 16.04 install.

[2017-01-27 06:28] yurem commented on #447
@gdstr Unfortunately we can't update SP2. We already released it with this bug! But we need to fix it in SP3.

Is it works fine in SP3 current build: http://ox.gluu.org/maven/org/xdi/oxtrust-server/2.4.4.sp3/oxtrust-server-2.4.4.sp3.war ?

Is it work in 3.0,.0 beta build http://ox.gluu.org/maven/org/xdi/oxtrust-server/3.0.0-SNAPSHOT/oxtrust-server-3.0.0-SNAPSHOT.war ?

[2017-01-27 16:37] shekhar16 commented on #461
https://github.com/GluuFederation/oxTrust/issues/415

[2017-01-27 18:05] dashirov-ga commented on #447
How can this component be deployed on top of the sp2 installation? When should sp3 artifacts be expected in the apt repository?

[2017-01-27 18:12] zamilskhan commented on #447
@yurem I will test and update you.

[2017-01-27 22:25] mzico opened #463 "oxTrust300. password field inconsistent UI"
* Tried in: Firefox.
* oxTrust version:

[code]

* Attaching a video file:
[Video_file.zip](https://github.com/GluuFederation/oxTrust/files/736394/Video_file.zip)

* How to reproduce:
   - Try to add a new user.
   - During providing password; double click or a single long click in password inbox will generate lot of unnecessary dots. Feel free to check the video.

[2017-01-28 11:48] yurem commented on #463
@shekhar, I think the problem in this line:
https://github.com/GluuFederation/oxTrust/blob/master/server/src/main/webapp/WEB-INF/incl/person/personForm.xhtml#L57

In Zico's scenario this method get value:
"Click to enter Confirm Pasword"
and replace all characters with *.

We need to use "#{rich:element('custpasswordHiddenId')}.value}" method to get real value.
There is same problem with repeat pa

[2017-01-28 12:41] yurem commented on #463
@mzico It looks like I fixed it. Can yiu verify it on this build? https://ox.gluu.org/maven/org/xdi/oxtrust-server/3.0.0-SNAPSHOT/oxtrust-server-3.0.0-SNAPSHOT.war

[2017-01-28 13:35] yurem commented on #367
@shekhar16 , @uboznikov can we close it?

[2017-01-28 16:38] mzico commented on #463
@yurem : Checking...

[2017-01-28 17:10] mzico commented on #463
@yurem : Yes, it's much better now.
Just two suggestions: ( If you think we should create a separate issue for below enhancements, I can create new github issue ):

- Error message should be more specific. ( i.e. if I use existing email_address for new person's registration, error message shows `Failed to add person` in browser. But in log.. the reason is: `some attributes not unique`.
May be we c

[2017-01-28 18:27] shekhar16 commented on #331
1) When metadata validation gets failed than we are not saving it to its metadata folder. That's why you were getting "system error"
2) metadataType =  "Generate" = > "File"  ,As per the code it is intentionally done.

[2017-01-28 19:46] mzico commented on #451
@yurem @nynymike :

Tested in '3.0.0-SNAPSHOT oxTrust / Implementation-Build: 9b912' ( https://ox.gluu.org/maven/org/xdi/oxtrust-server/3.0.0-SNAPSHOT/oxtrust-server-3.0.0-SNAPSHOT.war ).

User is adding in Group successfully:

![add_user_in_manager_group](https://cloud.githubusercontent.com/assets/7156097/22399349/231d4a7e-e560-11e6-812a-ebfe1e5f72fd.png)

oxTrust.log snippet:

[code]

[2017-01-28 19:51] mzico commented on #450
Password is not readable now in:

[code]

![password_invisible](https://cloud.githubusercontent.com/assets/7156097/22399383/d4e70ef2-e560-11e6-83c6-276b4f8201bb.png)

[2017-01-29 08:18] #331 closed

[2017-01-29 18:22] shekhar16 commented on #336
https://github.com/GluuFederation/oxCore/commit/71d253c7ff7f757b07d3473bc56d00d7a652be4f

[2017-01-29 18:22] #336 closed

[2017-01-30 13:13] #367 closed

[2017-01-30 16:46] shekhar16 commented on #430
Fixed.
We didn't add maxlength hardcoded ,user can add maxlength attribute  from attribute UI page

[2017-01-30 16:46] #430 closed

[2017-01-30 20:36] jburrill commented on #381
Same issue here with fresh install of 2.4.4.sp2 on RHEL 6
`INFO   | jvm 1    | 2017/01/30 17:06:19 | Caused by: java.lang.NullPointerException`
`INFO   | jvm 1    | 2017/01/30 17:06:19 | 	at org.gluu.oxtrust.action.UpdatePersonAction.save(UpdatePersonAction.java:168)`

[2017-01-30 21:12] nynymike opened #465 "Remove SAML 1 and ShibbolethSSO"
Please disable SAML 1 Artifact Resolution, SAML 1 Attribute Query, ShibbolethSSO.

We need to update the form:
![image](https://cloud.githubusercontent.com/assets/3717101/22441488/30e4be1e-e6fd-11e6-94db-33e9581a8e1b.png)

[2017-01-30 21:21] nynymike opened #466 "Remove Password from TR list"
Under no circumstance would you want to release the password to an SP. Making this even possible just looks bad.

![image](https://cloud.githubusercontent.com/assets/3717101/22442073/9052f0da-e6ff-11e6-89b4-732896390275.png)

Perhaps there should be an oxTrust property with a list of attributes to filter out.

[2017-01-30 21:46] jburrill commented on #447
Latest 2.4.4.sp2 on RHEL 6 and Ubuntu 16.04 both contain this error.  Awaiting the fix with anticipation.

[2017-01-31 00:25] nynymike opened #467 "Support FileBackedHTTPResource for Shibboleth Config Files"
If we could make files accessible via HTTP instead of the filesystem, it would be better for clustering...

Not sure this config is correct, but it gives an idea:
[code]

[2017-01-31 15:47] jburrill commented on #447
Note: a workaround is to Import a User.  That works, just fine: [see Gluu Docs » User Managment »	Import XLS File](https://www.gluu.org/docs/user-management/xlsfile/).  And once the user is imported that user can be updated, added to groups, etc.  Go figure!

[2017-01-31 19:37] zamilskhan opened #468 "Created User password does not work"
OS: Ubuntu 14.04.2 LTS
Package: Gluu Server 3.0.0 2-BETA5~trusty+Ub14.04
The new user created with oxTrust is created fine without any errors, but login fails. The login is successful once the password is updated. Please see the video for clarification.

https://youtu.be/ScZBhj1vWKA

[2017-02-01 04:24] nynymike commented on #461
Is this resolved? I can't tell... please close issue if they are fixed.

[2017-02-01 04:26] #451 closed

[2017-02-01 04:26] #463 closed

[2017-02-01 04:26] #450 closed

[2017-02-01 04:26] #449 closed

[2017-02-01 04:27] nynymike commented on #377
Dmitry, please lock this form is the IDP is not enabled.

[2017-02-01 04:28] #361 closed

[2017-02-01 13:42] uboznikov commented on #465
![saml1-removed](https://cloud.githubusercontent.com/assets/16329085/22509001/3d5b3e86-e8c7-11e6-89a3-5aed55d4504c.png)

[2017-02-01 16:59] shekhar16 commented on #461
Fixed.

[2017-02-01 16:59] #461 closed

[2017-02-01 20:35] mzico opened #470 "2.4.4.2: It's impossible to remove entries from "Logout URI" property of OIDC client."
This is not fixed in 2.4.4.2.

https://trello.com/c/uD7HWXsl/697-qa-https-github-com-gluufederation-oxtrust-issues-366

[2017-02-01 21:07] zamilskhan opened #471 "User Registration page redirects to home"
OS: Ubuntu 14.04.2
Package: gluu-server-3.0.0 2-BETA5~trusty+Ub14.04
oxTrust Version:
[code]
User registration custom script was enabled from the custom script page and the user registration page was accessed via `<hostname>/identity/register`. Upon trying to enter the username, the home page appeared with the following error. Please see [this video](https://youtu.be/d36QvrJYn5I) for clarification

[2017-02-02 10:25] yurem opened #472 "OpenID dynamic scope. Don't display list of claims"
We should not allow to specify list of claims for dynamic scopes.

[2017-02-02 13:47] yurem commented on #374
@nynymike in oxTrust we already have properties which allows to specify list of OC in result entry:
https://github.com/GluuFederation/community-edition-setup/blob/master/templates/oxtrust-config.json#L18

Cache Refresh process also uses this list during adding/updating users.

The main idea was to use same list in all oxTrust parts to avoid issues. For example how to edit person entry if in CR adm

[2017-02-02 17:23] nynymike commented on #374
ok, agreed.

[2017-02-02 17:23] #374 closed

[2017-02-02 17:29] otataryn commented on #343
Is there anything left to do within this issue?

[2017-02-02 17:30] willow9886 commented on #343
Sounds like we should move it to Milestone 3.1. Doing so now...

[2017-02-03 01:12] zamilskhan opened #476 "Incommon Metadata file throwing bad gateway"
OS: Ubuntu 14.04.2
Package: gluu-server-3.0.0 1-BETA6~trusty+Ub14.04
The incommon metadata (size 37.1 MB) when used to create a federation TR throws a bad gateway error.
[InCommon Metadata Link](http://md.incommon.org/InCommon/InCommon-metadata.xml)
![incommon-file](https://cloud.githubusercontent.com/assets/7703245/22575320/ff7b49d0-e9de-11e6-8b0e-9ed93eac2142.png)
The `oxtrust.log` file shows th

[2017-02-03 09:04] #308 closed

[2017-02-03 15:40] 0TshELn1ck opened #477 "Shibboleth connect"
Hello.
Please tell me what my fault is? I can not adjust the relation shibboleth with Gluu Server 3.0.0.
Shibboleth was configured up in the manner described in your documentation. Only added Metadata generator point.

shibboleth2.conf

[code]

Key and cert generated too.
[code]

Idp Metadata for shibboleth-sp generated on gluu side via idp generator.
[code]

On the Gluu site was added SP with som

[2017-02-03 22:18] aliaksander-samuseu commented on #477
Hi, @0TshELn1ck

Could you provide me the exact version of package you are using? You can check with `# rpm -qi gluu-server-3.0.0`

[2017-02-04 00:44] zamilskhan commented on #471
@shekhar16 this issue is there in the RC1 package. In this package the user registration page does not appear at all.

[2017-02-04 06:57] 0TshELn1ck commented on #477
Hi, @aliaksander-samuseu
Please look at the screenshot.
http://take.ms/uC4d2

[2017-02-04 16:48] yurem commented on #472
Fixed in https://ox.gluu.org/maven/org/xdi/oxtrust-server/3.0.0-SNAPSHOT/oxtrust-server-3.0.0-SNAPSHOT.war

[2017-02-04 16:56] yurem commented on #471
There is typo in path to property value. I fixed it but not tested.

[2017-02-04 16:57] yurem commented on #471
@zamilskhan can you retest on this war: https://ox.gluu.org/maven/org/xdi/oxtrust-server/3.0.0-SNAPSHOT/oxtrust-server-3.0.0-SNAPSHOT.war

[2017-02-05 16:06] shekhar16 commented on #470
@yurem commited the fix in sp 3 branch .Can create its war far tester's to test.

[2017-02-05 16:17] shekhar16 commented on #447
@yurem  fixed in sp3 branch.

[2017-02-05 17:10] #471 closed

[2017-02-05 17:11] zamilskhan commented on #471
Redirection does not happen anymore. Tested oxTrust version
[code]

[2017-02-05 17:21] zamilskhan opened #478 "User Registration Error (user created successfully)"
oxTrust verison
[code]
User Registration form was filled. The form presented is given below
![reguser](https://cloud.githubusercontent.com/assets/7703245/22628141/16f15318-ebf9-11e6-92e5-e68839d2c388.png)

The user was created successfully though.
![reguser1](https://cloud.githubusercontent.com/assets/7703245/22628153/39386146-ebf9-11e6-93b4-af4807e2ea37.png)

The `oxtrust.log` file presented the

[2017-02-05 19:34] yurem commented on #324
oxTrust calls this new method from wrong place
Original idea was to call it from https://gluu.server.org/identity/confirm/registration

Also script in setup is not up to date. I'm going to remove this method call from registration page.

[2017-02-05 19:35] dmogn commented on #377
Done.

[2017-02-05 20:52] yuriyz opened #479 "UMA -> Resources : "Modify" dialog does not open"
1. Go to UMA -> Resources
2. Click on any existing resource (as shown on screenshot)

Result (bug): "Add" dialog is opened
Expected result: "Modify" dialog is opened

![umaresourcemodify](https://cloud.githubusercontent.com/assets/2013070/22629793/9d715bd0-ebf5-11e6-98fd-280dd0aa7bde.png)

[2017-02-06 04:38] nynymike commented on #354
This is a major usability problem

[2017-02-06 08:56] shekhar16 commented on #354
https://github.com/GluuFederation/oxTrust/issues/457

[2017-02-06 10:49] shekhar16 commented on #354
Fixed. @aliaksander-samuseu please test it with latest build.

[2017-02-06 10:49] #354 closed

[2017-02-06 13:38] yurem commented on #479
@yuriyz I think it's data issue. In clean 3.0.0 I can't reproduce it. But I find 2 bugs during the testing:

- fix resources search
- fix scope selection in respurce form

[2017-02-06 13:38] #479 closed

[2017-02-06 13:39] yurem commented on #478
Fixed

[2017-02-06 16:38] zamilskhan commented on #472
The behaviour is given in [this video](https://youtu.be/puFaVOez638)

[2017-02-06 16:40] #472 closed

[2017-02-06 17:05] zamilskhan commented on #468
confirmed fix.

[2017-02-06 17:05] #468 closed

[2017-02-06 18:49] yuriyz opened #480 "UMA->Resources : Remove "Resources" as well as "Add Resources" button (see screenshot) from Update/Add resources page"
![removeresources](https://cloud.githubusercontent.com/assets/2013070/22661359/c327dd14-ecad-11e6-8824-763d5d4bf4dc.png)

[2017-02-06 20:05] zamilskhan commented on #466
confirmed fix

[2017-02-06 20:05] #466 closed

[2017-02-06 20:30] zamilskhan commented on #478
confirmed fixed

[2017-02-06 20:30] #478 closed

[2017-02-06 20:32] zamilskhan commented on #465
removed. closing issue

[2017-02-06 20:32] #465 closed

[2017-02-06 20:41] zamilskhan commented on #409
Status check: fixed.
![ldap](https://cloud.githubusercontent.com/assets/7703245/22665391/d4765cfe-ecde-11e6-94bc-54252e53ad0c.png)

[2017-02-06 20:41] #409 closed

[2017-02-06 23:26] dmogn opened #482 "Failed to load velocity template 'sp- metadata.xml'"
prod 3.0.0 in ubuntu 14.04

 Zamil Khan: it throws 2017-02-06 22:55:13,099 ERROR [main] [org.gluu.oxtrust.ldap.service.TemplateService] (TemplateService.java:57) - Failed to load velocity template 'sp-
metadata.xml'
org.apache.velocity.exception.ResourceNotFoundException: Unable to find resource 'sp-metadata.xml.vm'
        at org.apache.velocity.runtime.resource.ResourceManagerImpl.loadResource(R

[2017-02-07 12:30] dmogn commented on #482
I cannot reproduce this error. The file /opt/gluu-server-3.0.0/opt/gluu/jetty/identity/conf/shibboleth3/idp/sp-metadata.xml.vm exists on my installation. No errors with it.

[2017-02-07 17:06] shekhar16 commented on #480
![image](https://cloud.githubusercontent.com/assets/15937500/22702157/c4f69b52-ed85-11e6-9804-71e26b9c85e1.png)

[2017-02-07 17:06] shekhar16 commented on #480
Fixed.

[2017-02-07 17:06] #480 closed

[2017-02-08 01:43] nikohd commented on #381
Same issue here fresh installed 2.4.4.sp2, no issues on 3.0.0

[2017-02-08 17:25] jschristie opened #483 "OpenLDAP doesnt start after adding custom attribute"
followed document, which was taken from Yurem ticket response. works well in Ubuntu. same commands doesn't start ldap in centos.

See support ticket: https://support.gluu.org/single-sign-on/3730/unable-to-start-solserver-after-applying-custom-attribute

[2017-02-08 20:28] nynymike opened #484 "UMA resource set GUI corrupts the "scopes" field"
Issue is described in issue [3744](https://support.gluu.org/3744) on the support site.

[2017-02-09 20:17] aliaksander-samuseu commented on #447
@shekhar16 @yurem

I can confirm it's fixed, but still there is one more problem (imo). During both user creation and editing, if non-email-kind of string is provided in "Email" field (which is in the list by default), like string without "@", or string ending with "@" (without domain part after it), operation fails, and user is redirected to home page with ambiguous "System error" message. That's

[2017-02-10 15:32] shekhar16 commented on #447
https://github.com/GluuFederation/oxCore/commit/8b79f45ae72f27b1f4b2c8f5cdce895996c1bd08

[2017-02-10 16:40] yurem commented on #482
[code]

[2017-02-10 16:40] #482 closed

[2017-02-13 15:34] aliaksander-samuseu commented on #447
It's fixed in the latest (snapshot) 2.4.4 SP3 identity.war

[2017-02-13 15:34] #447 closed

[2017-02-13 19:23] aliaksander-samuseu commented on #470
Fixed both in 3.0 and 2.4.3sp3

[2017-02-13 19:23] #470 closed

[2017-02-13 20:33] yuriyz opened #485 "Make cache provider configurable via UI (oxCacheConfiguration attribute of gluuAppliance OS)"
See these two commits:
https://github.com/GluuFederation/oxTrust/commit/8d32151a31e9fe81fede07d49a51f4f4be46d074
https://github.com/GluuFederation/community-edition-setup/commit/7ef3027810f1e6bcf07367a3313243ecf8c0b1f1

there is new attribute oxCacheConfiguration in gluuAppliance OC is to provide generic way to switch cache provider.

Example:
oxCacheConfiguration: {"cacheProviderType": IN_MEMORY,

[2017-02-13 21:56] yuriyz opened #486 "UMA scope name error is ambiguous : need clear error message"
https://support.gluu.org/customization/3763/uma-scope-form-id-field-ambiguous/

(This is probably related to my other two UMA scope issues.)

Going to the GUI to create a new scope (scope_form.png), the "Id" field says "Click to enter Scope Name". Some names are flagged as "invalid" with no explanation as to what constitutes a valid scope name. See scope_name.png.

test-name works as a display nam

[2017-02-13 21:59] yuriyz opened #487 "UMA Scope : internal scope does not have reference url"
1. Create UMA Scope via GUI with name "edit"

Result : reference column is empty
Expected result : reference column must not be empty.

As described here reference url for internal scope must be "scope_endpoint" + "scope id":
https://support.gluu.org/customization/3761/uma-scopes-names-in-general-seem-to-be-broken/#at19404

Example: https://ce-dev.gluu.org/oxauth/seam/resource/restv1/uma/scopes/ed

[2017-02-13 22:02] willow9886 commented on #351
@shekhar16 can you comment on the status of this?

[2017-02-15 14:08] mzico opened #488 "Federation SP list is not loading in GUI"
Expected behavior:

- Create a Trust Relationship with InCommon Federated metadata ( http://md.incommon.org/InCommon/InCommon-metadata.xml ).
- Done.
- Move to create a new Trust Relationship:
    - DisplayName: anything
    - Description: anything
    - Entity Type: `Single Sp`
    - Metadata Type: `Federation`
    - Select Federation: `InCommon` Should be here
    - A link like [this](https://gl

[2017-02-15 18:50] mzico opened #489 "'Configure Relying Party' not appearing in existing Trust Relationship"
Whenever we go to create a 'new' Trust Relationship; 'Configure Relying Party' is working.
But if we try to use this feature for an existing Trust Relationship; it's not working.

I am sharing a video with you
[For_Shekhar.zip](https://github.com/GluuFederation/oxTrust/files/778097/For_Shekhar.zip)

[2017-02-15 19:00] zamilskhan commented on #489
Reloading brought the configure link in oxTrust in Ubuntu 14.04.2

[2017-02-15 19:15] mzico commented on #489
@zamilskhan :

Which reloading? Shib conf reloading?

[2017-02-15 19:20] zamilskhan commented on #489
I reloaded the browser

[2017-02-15 19:36] yurem commented on #488
Fixed

[2017-02-15 19:36] #488 closed

[2017-02-15 20:39] zamilskhan commented on #489
It worked once, but it is not working again. However, when update button is clicked after selecting the configure RP button the following error is thrown in the `oxturst.log` file
[code]

[2017-02-15 21:09] mzico commented on #488
@yurem : Confirmed. working in 3.0.0

[2017-02-16 16:17] yurem commented on #483
In CE 3.0.0 we not uses /opt/symas/etc/openldap/slapd.d
But there are steps which allows to re-generate /opt/symas/etc/openldap/slapd.d:

    backup /opt/symas/etc/openldap/slapd.d
    remove /opt/symas/etc/openldap/slapd.d
    create empty dir /opt/symas/etc/openldap/slapd.d
    /opt/symas/bin/slaptest -f /opt/symas/etc/openldap/slapd.conf -F /opt/symas/etc/openldap/slapd.d

[2017-02-16 16:17] #483 closed

[2017-02-16 16:33] yuriyz commented on #487
For clarity maybe also change column name to "Reference url (used for resource set registration)" to keep clear for clients that reference url must be used instead of id or name.

[2017-02-16 17:00] yurem commented on #487
Fixed:
![default](https://cloud.githubusercontent.com/assets/6104200/23031586/353a3f2c-f47a-11e6-9d16-89b69a753c83.png)

[2017-02-16 17:00] #487 closed

[2017-02-17 20:05] #435 closed

[2017-02-17 23:31] aliaksander-samuseu opened #490 "SAML TR added without custom RP configuration doesn't work"
Environment:
CentOS 6.7, Gluu CE 3.0.1-1-3

Preconditions:
Gluu was installed with full set of modules

Steps to reproduce:
1. Log in to web UI as admin user
2. Move to "SAML -> Trust Relationships" page and click "Add TR" button there
3. Fill in all fields on the page required to create some simple valid TR there using "Url" method (may work for "File" too). Make sure metadata you'll use is valid

[2017-02-17 23:41] aliaksander-samuseu commented on #490
@yurem @shekhar16

As you can see from screen capture, if you configure custom RP settings afterwards, TR starts to work. Interesting fact: if you then uncheck this checkbox thus removing custom settings again, and restart IdP service, TR will stop to work. Grepping again will show that `/opt/shibboleth-idp/conf/metadata-providers.xml` file again doesn't have entry to this SP, i.e. it is removed

[2017-02-18 15:14] shekhar16 commented on #486
@yuriyz  there is a validation it only allows alpha numeric in id fields.
Do you want me to remove that validation?

[2017-02-18 19:41] yuriyz commented on #486
well, it depends. If it works correctly with special characters then yes, please remove it. If not then just correct error message. Something like "Scope name is invalid. Only letters and numbers with underscore are allowed".

[2017-02-19 12:59] #477 closed

[2017-02-19 13:04] shekhar16 commented on #486
https://github.com/GluuFederation/oxAuth/commit/c0cce0193521e4821555c05a72308a3f269f7066

[2017-02-19 13:05] shekhar16 commented on #486
![image](https://cloud.githubusercontent.com/assets/15937500/23102607/1a6d5422-f6d2-11e6-890e-2bed86f5310a.png)

[2017-02-19 13:05] shekhar16 commented on #486
Fixed.

[2017-02-19 13:05] #486 closed

[2017-02-19 13:24] shekhar16 commented on #442
![image](https://cloud.githubusercontent.com/assets/15937500/23102736/d4b30c6c-f6d4-11e6-8ffe-14b75c46ca59.png)

[2017-02-19 19:02] shekhar16 commented on #489
Fixed.
@zamilskhan please test it with latest build.
thanks :)

[2017-02-19 19:03] shekhar16 commented on #442
Fixed.
Please test it with latest Build.

[2017-02-19 19:03] #442 closed

[2017-02-19 19:03] #489 closed

[2017-02-22 00:24] zamilskhan opened #491 "oxtrust fails if asimba and shibboleth idp is installed"
OS: Ubuntu 16.04
Package: 1-2xenial
When both Asimba and Shibboleth IDP is installed oxtrust does not load. when either one is installed, oxtrust breaks and the following is seen in the `oxtrust.log` file. Please see [this ticket](https://support.gluu.org/installation/3775/cannot-install-both-inbound-saml-and-outbound-saml-in-the-same-gluu-server/#at19553).

[code]

[2017-02-22 04:23] shekhar16 commented on #351
@willow9886 it is fixed.

[2017-02-22 17:51] shekhar16 commented on #485
![image](https://cloud.githubusercontent.com/assets/15937500/23224761/9b5c9946-f955-11e6-8dfe-726eb22b370c.png)

[2017-02-22 18:09] yuriyz commented on #485
@shekhar16
- please put "cacheProviderType" as very first parameter
- Tab title must be "Cache Configuration" (not "Memcached configuration")
- connection provider type is missed for memcachedConfiguration.

Otherwise looks as good start.

[2017-02-22 18:37] shekhar16 commented on #485
@yuriyz  I will make the changes as per your suggestion.Thanx :+1:

[2017-02-22 19:24] igcherkaev opened #493 "CacheRefresh anonymous bind doesn't work"
Whenever I try to add a source with anonymous bind, it throws NPE:

[code]

[2017-02-22 19:28] willow9886 commented on #493
Hi there,

Can you raise this issue on http://support.gluu.org please?

Thanks,
WIll

[2017-02-22 19:28] #493 closed

[2017-02-22 19:37] willow9886 commented on #493
Also, when you open on Gluu support, please provide necessary info to reproduce the issue.

[2017-02-24 19:18] shekhar16 commented on #485
![image](https://cloud.githubusercontent.com/assets/15937500/23317357/0f64d4bc-faf4-11e6-99a5-8b923a84aba8.png)

[2017-02-24 19:22] shekhar16 commented on #485
Fixed.

[2017-02-26 15:37] yurem opened #495 "Display / Remove U2F devices in Person form"
Super Gluu is part of CE. Hence in user form we need to show all paired user devices. Each U2F device is stored as an entry under in the ou=fido organizational unit under the person entry.

The display should show the date the device was added with an 'x' at the end to allow remove this entry.

'x' action  should remove entry like this:
oxId=1487687893125,ou=fido,inum=@!82A2.89A8.FE0E.90DE!0001!D5

[2017-02-27 09:47] worm333 opened #496 "Localize all messages in *.xhtml files"
- We need to register a localized resource bundle and to make sure that all messages are read from it.
- Add localization toggle switch control to the `topmenu.xhtml`
- Store localization settings in LDAP

[2017-02-28 12:27] shekhar16 commented on #392
![image](https://cloud.githubusercontent.com/assets/15937500/23405166/05c7adb0-fddf-11e6-9ff4-3c067df87e49.png)

[2017-02-28 14:24] shekhar16 commented on #392
https://github.com/GluuFederation/oxTrust/commit/b104fbd6f9f4effb8499056f3fb8e1608381e2ec

[2017-02-28 14:37] yurem commented on #392
it's very powerful functionality. Is it check if it imports only attributes?

[2017-02-28 15:23] mzico commented on #392
@willow9886: very nice. We can QA if required.

Couple of questions:

- I think we might need it when we upgrade from 2.4.x to 3.0.x, right?
- If yes, do we have procedure available for such upgrade?
- If no, then is it necessary when we will re-install a new server with same build ( say: old server is 3.0.0 and installed new server with 3.0.1 from setup.properties.last and other backup directory

[2017-02-28 15:31] shekhar16 commented on #392
Presently it is supporting for all branches. And I m working for export LDIF functionality.

[2017-02-28 16:35] yuriyz commented on #485
please add redis configuration support

[2017-02-28 18:35] shekhar16 commented on #392
Now it will allow to import only attributes.

[2017-02-28 18:39] shekhar16 commented on #485
https://github.com/GluuFederation/community-edition-setup/commit/9289d84b83e36282ab11a14b9f8daf7b0bbc5f2b

[2017-02-28 23:26] zamilskhan commented on #491
FIxed

[2017-02-28 23:26] #491 closed

[2017-02-28 23:50] zamilskhan opened #497 "Failed to authenticate error on enabling `asimba` custom script and creating a Trust Relationship"
OS: Ubuntu 14.04 / Ubuntu 16.04
Package: `2-1~trusty+Ub14.04` / `2-1~xenial+Ub16.04`

Steps to reproduce:
1. Enable `asimba` custom script from the custom script tab in oxTrust
2. Create a Trust Relationship with any SP and wait till validation.
3. Log out of oxTrust and try to log in again to find the following screen
![sam-script-error](https://cloud.githubusercontent.com/assets/7703245/23439351

[2017-03-01 16:47] zamilskhan commented on #497
The error was reproduced in Centos 6.8. The `oxauth_scropt.log` file contained the following:
[code]
The network from firebug shows the following
![network](https://cloud.githubusercontent.com/assets/7703245/23470609/0b815fb0-fed1-11e6-8b40-2e7f53d61cea.png)

[2017-03-01 19:32] yurem commented on #497
According to python stack trace the problem happens on script load in init method:
        at org.python.core.Py.IOError(Py.java:226) ~[jython-2.7.0.jar:?]
...
        at org.python.pycode._pyx1.loadCeritificate$15(<iostream>:519) ~[?:?]

I think the problematic line is this: https://github.com/GluuFederation/oxAuth/blob/master/Server/integrations/saml/SamlExternalAuthenticator.py#L47

It calls me

[2017-03-01 22:08] zamilskhan commented on #497
fixed permissions as shown below
[code]
Now cannot login with the following screen
![network-screen](https://cloud.githubusercontent.com/assets/7703245/23483443/2b0ceada-fefd-11e6-8ca0-406ceb0c7cf2.png)

The logs were cleared and oxauth restarted, the log files are attached below.
[oxauth-logs.tar.gz](https://github.com/GluuFederation/oxTrust/files/812151/oxauth-logs.tar.gz)

[2017-03-01 22:30] yurem commented on #497
It looks like asimba is not up. Can you try to restart asimba service ?

[2017-03-01 23:43] zamilskhan commented on #497
I ran `service asimba stop/start/restart` and got the following message in the `start.log` file.
[code]
After restart when I try to access oxtrust I see the same error.
![error](https://cloud.githubusercontent.com/assets/7703245/23486562/18eeb64a-ff0b-11e6-842f-ba9a9e025393.png)

[2017-03-02 20:28] nynymike opened #498 "Update JSON property comment for sessionAsJWT"
![image](https://cloud.githubusercontent.com/assets/3717101/23525440/2a949a6a-ff54-11e6-98ae-f6859de33b56.png)

Let's change this comment to:

- Experimental feature. Do not use in production!

[2017-03-03 18:31] shekhar16 commented on #485
![image](https://cloud.githubusercontent.com/assets/15937500/23563678/b494fc5e-006d-11e7-86aa-84f551bb0b3c.png)

[2017-03-03 18:32] shekhar16 commented on #485
added redis configuration.

[2017-03-03 18:32] #485 closed

[2017-03-03 18:44] shekhar16 commented on #498
![image](https://cloud.githubusercontent.com/assets/15937500/23564138/7ed87d3c-006f-11e7-9bbd-61e841af0212.png)

[2017-03-03 18:46] shekhar16 commented on #498
Fixed.

[2017-03-03 18:46] #498 closed

[2017-03-03 20:13] aliaksander-samuseu commented on #490
@dmogn

A bit of update: it's been confirmed that it also doesn't work for TR of type "Federation", too, and in this case even adding Custom RP config to it doesn't fix the issue.

[2017-03-03 20:33] aliaksander-samuseu opened #499 "User entry created via oxTrust lacks "eduPerson" objectclass"
Environment:
CentOS 7.3.1611, Gluu CE 3.0.1-2-1

Steps to reproduce:
1. Log in to web UI as admin user
2. Move to "Users -> Manage People" page and click "Add person" button there
3. Fill in all fields presented to you by default on the page, click the "Add" button
4. Find the user you've just created using search feature again and try to add "eduPersonAffiliation" attribute to it (or any other `e

[2017-03-04 01:46] nikohd commented on #483
I still can't create custom attributes in centos.

[2017-03-05 14:08] shekhar16 commented on #499
@yurem I checked the issue, and  found its a oblect class violation,So can u please advice.Here is the ldap error :-
LDAPException(resultCode=65 (object class violation), errorMessage='attribute 'eduPersonAffiliation' not allowed', diagnosticMessage='attribute 'eduPersonAffiliation' not allowed')

[2017-03-05 21:37] willow9886 commented on #483
@nikohd please open a support ticket on https://support.gluu.org

Include all relevant logs, and steps to reproduce.

Thanks!

[2017-03-06 09:46] yurem commented on #499
Fixed in master and in 3.0.2: https://ox.gluu.org/maven/org/xdi/oxtrust-server/3.0.2/oxtrust-server-3.0.2.war

[2017-03-06 09:48] yurem commented on #377
@zamilskhan can you review it. @dmogn committed changes regarding this into 3.0.1

[2017-03-06 11:02] yurem commented on #392
I've review code and updated it. It's ready for QA now. It's allows to load attributes meta-data only.
I offer to open another issue because this part requires more changes to make it useful:
- There is not export attributes functionality. User should be able to select attributes definitions needed to export.
- There is no validation during import that attribute with specified name already exists.

[2017-03-06 11:07] yurem commented on #497
@zamilskhan can you try to enable Saml script on ce-dev2 development server? In this case I can take a look on it myself.

In order to request saml authentication you can use next authorization request:
https://ce-dev2.gluu.org/oxauth/seam/resource/restv1/oxauth/authorize?scope=openid+profile+email+user_name&response_type=code+id_token&redirect_uri=https%3A%2F%2Fce-dev2.gluu.org%2Fidentity%2Fauthe

[2017-03-06 11:24] yurem commented on #35
Closing it. No one ask about it during at least one year

[2017-03-06 11:24] #35 closed

[2017-03-06 13:09] yurem commented on #483
yes, we can close this ticket because in final 3.0.1 there is no folder "/opt/symas/etc/openldap/slapd.d" which we need to update. To add new attribute we can edit for example "/opt/gluu-server-3.0.1/opt/gluu/schema/openldap/custom.schema" and just do solserver restart.

After editing schema file run next command to make sure that your changes are right:
[code]

[2017-03-06 14:22] mzico commented on #499
@yurem @aliaksander-samuseu @shekhar16  : In my testing, ePSA attribute is still throwing error.

Here is what I did:

- A base installation of 3.0.1
- Got 3.0.2 identity war; pushed that inside.
[code]
- Restarted all services ( solserver, identity, oxauth, httpd and idp )
- Tried to 'enable' eduPersonScopedAffiliation from oxTrust.
- Whenever I clicked on this attribute, oxTrust is throwing erro

[2017-03-07 15:21] abel408 opened #501 "failed to make connection to backend: localhost"
Hello all,

I have a brand new install on Ubuntu 16.10. Everything was working well during set up. I gave the server a restart and now I am prompted with this a 503 Service Unavailable message each time I try to get to the gluu gui admin.

My apache error logs show this:

`[Tue Mar 07 15:19:36.808362 2017] [proxy:error] [pid 2657:tid 140669666436864] (111)Connection refused: AH00957: HTTP: attempt

[2017-03-07 15:22] willow9886 commented on #501
Hi @abel408 support issues need to be routed through http://support.gluu.org . If we find a bug from your ticket, we will open and assign a github issue as needed.

Thanks,
Will

[2017-03-07 15:22] #501 closed

[2017-03-08 05:28] zamilskhan commented on #497
Enabled saml script in ce-dev2. When I used the authorization request, I saw the following:
![https ce dev2 gluu org oxauth error cid 3492](https://cloud.githubusercontent.com/assets/7703245/23691395/537d952e-03f2-11e7-894e-5b41dddb7334.png)

[2017-03-09 14:12] worm333 commented on #496
Implemented in [this](https://github.com/GluuFederation/oxTrust/pull/502) pull request.

[2017-03-09 14:12] #496 closed

[2017-03-10 21:27] nynymike opened #504 "oxTrust User Add Interception Script"
It would be handy to have an authentication script for oxTrust that is triggered when a user is updated through the oxTrust admin UI. One script would do with a different methods for add, edit and delete. The user object should be present in the script of course.

[2017-03-13 13:33] mzico commented on #368
@zamilskhan : Can we check if it's working in 3.0.1?

[2017-03-13 18:50] dmogn opened #505 "SAML TR add error"
Related with metadata example from https://support.gluu.org/single-sign-on/3875/issue-with-meta-tag-when-adding-a-tr/
Adding metadata as file.
Log:
2017-03-13 18:29:30,460 INFO  [qtp274064559-17] [org.gluu.oxtrust.ldap.service.OrganizationService] (OrganizationService.java:258) - Starting App version 3.0.1
2017-03-13 18:29:39,664 WARN  [qtp274064559-12] [org.jboss.seam.ui.renderkit.DefaultActionRe

[2017-03-13 18:52] willow9886 commented on #505
@dmogn since the user mentioned that this was a result of an error on their side, curious about what resolution you plan on adding?

[2017-03-13 19:02] dmogn commented on #505
@willow9886
Yeah, but I got other error with same metadata in 3.0.1.

[2017-03-13 19:09] willow9886 commented on #505
got it. thanks for clarification.

[2017-03-14 01:26] zamilskhan commented on #368
@mzico I did not see the exception NPE, but found a different error. Please see the stack trace in [this link](https://pastebin.com/2Axz5Hk3).

[2017-03-14 05:42] mzico commented on #368
@zamilskhan : Thanks. To me, it's not complete in 3.0.1.
May be it will be completed properly in 3.1.0. @shekhar16 : thoughts?

[2017-03-15 12:54] mzico commented on #504
@shekhar16 : Any update? Need to share update with customer.

[2017-03-15 15:16] shekhar16 commented on #392
Export attributes ldif is completed.

[2017-03-15 17:43] dmogn commented on #505
I found a race condition here. UI calls save(); create second thread for metadata downloading and process metadata for isFederal() checking in first thread. But metdata isn't downloaded yet...

[2017-03-16 15:56] yurem commented on #504
oxTrust currently supports this script type: https://github.com/GluuFederation/oxExternal/blob/master/update_user/sample/SampleScript.py
oxTrust calls in after user creation but before persisting into LDAP. It calls this script from person form and person import action.

We need to add new method to existing script type and call them in similar way.

[2017-03-19 18:03] shekhar16 commented on #499
@mzico  I think we need to add ePSA  in schema.
Same issue reproduced for other attributes aswel which are not defined in schema eduPersonAssurance.
@yurem any suggestions.

[2017-03-19 18:20] shekhar16 commented on #499
![image](https://cloud.githubusercontent.com/assets/15937500/24083542/bffac9be-0cfe-11e7-914c-c2f38014ffd3.png)

[2017-03-19 18:22] shekhar16 commented on #499
![image](https://cloud.githubusercontent.com/assets/15937500/24083556/1e770dae-0cff-11e7-89d1-d18c3935c113.png)

[2017-03-20 19:49] yurem commented on #392
It looks almost ready to use. The one question which bother me is:
- Import not updates attribute DN. It should update atttributes DN to conform new org_inum

It's useful for case when we do export on one machine but import tham on another one with.

[2017-03-22 03:17] nynymike opened #506 "Remove "Default" From Select List"
![image](https://cloud.githubusercontent.com/assets/3717101/24180632/f68cb830-0e83-11e7-90ed-75468463205f.png)

If a person selects `Default`, what happens is that the last authentication method is used.  This is confusing behavior.

The initial default value should be `auth_ldap_server`. We should remove the `Default` value which can only cause trouble.

[2017-03-22 18:17] shekhar16 commented on #506
Fixed.

[2017-03-22 18:17] #506 closed

[2017-03-22 22:01] nynymike opened #507 "Remove OpenID Connect client expiration"
If the field is blanked out during an update, the attribute `oxAuthClientSecretExpiresAt` should be deleted from the client entry in ldap.

![image](https://cloud.githubusercontent.com/assets/3717101/24222665/cf8ea7c8-0f20-11e7-8bbf-08e161265f6a.png)

[2017-03-22 22:15] nynymike opened #508 "dynamicRegistrationExpirationTime cannot be set to 0"
Going into the configuration GUI under JSON Configuration->OxAuth Configuration it says:

dynamicRegistrationExpirationTime

86400

Expiration time in seconds for clients created with dynamic registration, 0 means never expire.

However, when I try to set it to 0, it says "Value must be at least 1" (see attached image).

![image](https://cloud.githubusercontent.com/assets/3717101/24223192/0cb4416a

[2017-03-22 23:00] sahiliamsso opened #509 "Oxtrust | Fix input validation message for dynamicRegistrationExpirationTime"
GUI under JSON Configuration->OxAuth Configuration
Set expiration time "dynamicRegistrationExpirationTime" 0

Error Message in the field validation:  Value must be at least 1.

![image](https://cloud.githubusercontent.com/assets/21104811/24224465/4df194e4-0f81-11e7-9ab9-e60f95ae4d47.png)

[2017-03-23 15:23] willow9886 commented on #509
duplicate: https://github.com/GluuFederation/oxTrust/issues/508

[2017-03-23 15:23] #509 closed

[2017-03-23 17:14] ianalexr commented on #487
@yurem The fix uses the name of the scope instead of the id. So invalid reference urls are displayed if the scope id and name aren't the same. The default SCIM Access scope for example shows a reference URL that gives an invalid scope response (as it should be `../uma/scopes/scim_access`).

[2017-03-24 15:31] shekhar16 commented on #504
https://github.com/GluuFederation/oxExternal/commit/940f093d71a2f6f609a3ad7872c14c1505adbfd7

[2017-03-24 15:33] shekhar16 commented on #392
https://github.com/GluuFederation/oxTrust/commit/1b22ebb35c3cc5edf701b39b288eee71376d2903

[2017-03-24 15:45] willow9886 commented on #504
@sahiliamsso @zamilskhan can you guys QA this for us? Thanks!

[2017-03-24 15:51] shekhar16 commented on #504
To test this, please update your ldap update_user script aswel.

[2017-03-24 16:17] shekhar16 commented on #504
https://github.com/GluuFederation/oxExternal/commit/581a9c01890a30f897fa9cb9033cbd76cfef4bc8

[2017-03-26 12:44] shekhar16 commented on #508
is it mandatory to set its value ?
because in json editor, on integer field we cant add required validator, specially in case of minimum 0 value.
so if we  have to support minimum value 0 than we have to allow blank aswel.

[2017-03-27 03:47] dmogn commented on #505
I found same exception (TR adding) in oxTrust 2.4.4.sp3:

2017-03-27 03:14:00,721 INFO  [org.gluu.oxtrust.ldap.service.OrganizationService] Starting App version 2.4.4.sp3
2017-03-27 03:39:26,092 WARN  [org.jboss.seam.ui.renderkit.DefaultActionRendererBase] Must set an id for the default action source
2017-03-27 03:39:26,125 WARN  [org.jboss.seam.ui.renderkit.DefaultActionRendererBase] Must set an

[2017-03-28 17:49] willow9886 commented on #314
@shekhar16 @aliaksander-samuseu is this bug still affecting us? Is it high priority? What's the status?

[2017-03-28 17:50] willow9886 commented on #274
@yurem @mzico status of this issue?

[2017-03-28 17:52] mzico commented on #274
@willow9886 : No GUI yet. Configuring through cmd.

[2017-03-28 17:52] willow9886 commented on #274
should we reassign to shekhar?

[2017-03-28 17:54] mzico commented on #274
Yes, that will be good.

[2017-03-28 19:59] willow9886 commented on #369
@yurem what is this status of this? Do we need to update our documentation? As you can see [here](https://gluu.org/docs/ce/3.0.1/admin-guide/oxtrust-ui/#default-authentication-method) we're still calling it "default authentication method" in our docs.

[2017-03-29 19:52] willow9886 opened #510 "in JSON Config, adjust "Ox" formatting"
![image](https://cloud.githubusercontent.com/assets/5271048/24473502/239b5cc6-148f-11e7-9b4a-d894dfef8538.png)

`oxTrust`, `oxAuth` should always be formatted in this way, where ox is lower case.

Currently in JSON config page, it is formatted as OxTrust OxAuth, which is different from all our other formatting.

[2017-03-29 20:07] willow9886 opened #511 "Explanation of fields in JSON Configuration > oxTrust Configuration & oxTrust Import Person Configuration"
In oxAuth JSON Config section we have explanations for each field, as shown in the screenshot below:

![image](https://cloud.githubusercontent.com/assets/5271048/24474063/0b8a780e-1491-11e7-84a5-181ab8e52b85.png)

We should provide the same human readable explanations for oxTrust Configuration and oxTrust Import Person Configuration.

![image](https://cloud.githubusercontent.com/assets/5271048/244

[2017-03-30 18:35] mzico commented on #511
@shekhar16 : I will go over all fields and share a list which will have one line explanations with you. Added in my internal ToDo list.

[2017-03-30 19:16] shekhar16 commented on #510
![image](https://cloud.githubusercontent.com/assets/15937500/24521874/511c9e86-15ab-11e7-9f1f-84d2c299552d.png)

[2017-03-30 19:17] willow9886 commented on #510
nice. Thanks @shekhar16

[2017-03-30 19:17] #510 closed

[2017-03-31 15:41] ianalexr opened #512 "Invalid reference urls displayed on UMA scopes"
The fix for #487 uses the name of the scope instead of the id, so invalid reference urls are displayed if the scope id and name aren't the same. For example, the default SCIM Access scope shows a reference URL that gives an invalid scope response `../uma/scopes/SCIM Access` instead of the acutal scope `.../uma/scopes/scim_access`.

[2017-03-31 18:36] nynymike opened #513 "Make sure validated id_token acr claim equals specified oxTrust authn method"
How to authenticate is controlled via the browser (i.e. a GET request to the `authorize` endpoint). So nothing stops a user from using a different type of authentication just by changing the value of the authorization endpoint URL.  However, once authenticated, the validated `id_token` can be trusted.  Therefore, when oxTrust creates an application session, if an authn method is specified for oxTr

[2017-03-31 18:43] nynymike opened #514 "Generate and validate nonce"
I noticed that when oxTrust redirects to `/identity`, the /authorize endpoint has a parameter `nonce=nonce` The [OpenID Connect Core spec](http://openid.net/specs/openid-connect-core-1_0.html#NonceNotes) specifies
[code]
The oxTrust callback must validate that the nonce returned from oxAuth was previously sent.

[2017-03-31 23:29] sahiliamsso commented on #504
Not able to see oxtrust_script.log updated for delete, update or addUser methods on 2.4.4 sp3 build.
Implementation-Version: 2.4.4.sp3
Implementation-Vendor-Id: org.xdi
Built-By: tomcat
Build-Jdk: 1.7.0_79
Created-By: Apache Maven 3.3.9
Implementation-Build: 8142e
and, unable to verify on 3.1.0 Beta build, getting 503 error on opening UI.

[2017-04-01 06:34] shekhar16 commented on #504
@sahiliamsso can u please share the logs

[2017-04-01 08:30] shekhar16 commented on #512
![image](https://cloud.githubusercontent.com/assets/15937500/24577014/96482604-16e3-11e7-8b99-eaa353232bc7.png)

[2017-04-01 08:30] shekhar16 commented on #512
Fixed.

[2017-04-01 08:30] #512 closed

[2017-04-03 13:46] aliaksander-samuseu commented on #499
@shekhar16 @yurem

What is status of this? I've tried both latest deb 2.4.4 SP3 updater and snapshot oxtrust.war, and neither of them adds **eduPerson** class to user entries created in web UI.

[2017-04-03 17:54] shekhar16 commented on #508
@nynymike @yurem please suggest...What we should do in this case, if we reduce minimum value to 0 then required validation will not work means blank will  be accepted in field.

[2017-04-03 18:24] aliaksander-samuseu opened #515 "Federation TR's creation/editing page lacks critical controls and can't be edited"
Environment:
CentOS 7.3, gluu-server-3.0.1-2-1.centos6 (but also was tried in the latest oxTrust snapshot war), Google Chrome

Steps to reproduce:
1. Log in to web UI as admin user
2. Move to "SAML -> Trust Relationship" page and click "Add relationship" button there
3. Create federation using entity type of "Federation/Aggregate", method "URI" and this source of metadata: [https://www.testshib.or

[2017-04-03 18:47] yurem commented on #513
oxTrust validates authentication method which oxAuth used for authentication already:
https://github.com/GluuFederation/oxTrust/blob/master/server/src/main/java/org/gluu/oxtrust/action/Authenticator.java#L485

@shekhar16 can you try to change in authorization request acr_values parameter?

[2017-04-03 18:53] shekhar16 commented on #513
yes i agree ,but as per Mike we had to redirect to oxauth/login with params like nonce + acr values

[2017-04-03 19:14] willow9886 commented on #508
Abbreviated transcript from my convo with Shekhar... think we need input from @yurem &/or @nynymike ...

[1:43:29 PM] Shekhar L: I think blank and 0 both should make it never expire
[1:43:57 PM] Shekhar L: but if we allow blank than this property will get removed from json
[1:44:12 PM | Edited 1:44:10 PM] William Lowe: we cant say blank = 0  for the json?
[1:48:13 PM] Shekhar L: yes
[1:48:26 PM] S

[2017-04-03 20:03] aliaksander-samuseu opened #516 "Support inetOrgPerson"
In metadata for `inetOrgPerson` attributes which are not included in `gluuPerson`, change `gluuAttributeOrigin` to `gluuCustomPerson`

Customers who want to add these attributes should just add them to the gluuPerson LDAP schema.

[code]

[2017-04-04 12:24] aliaksander-samuseu commented on #490
@dmogn @yurem

What is status of this? Atm we can't configure Federation TRs which release attributes at all in 3.0

[2017-04-04 16:13] yurem commented on #513
I think we should not add property to explicitly specify https://{host}/oxauth/login

Right now oxTrust has property <b>'oxAuthIssuer'</b>. At user login it request metadata from specified server. And uses <b>'authorization_endpoint'</b> in order to send request.

There is only one missing part. oxTrust should verify if specified issuer really issued id_token for oxTrust. It can check ISSUER claim

[2017-04-04 18:58] nynymike commented on #513
Yes, it should verify both the `issuer` and the `acr` in the id_token.

[2017-04-04 19:10] nynymike commented on #499
I don't think `eduPerson` should be the default anymore. But there should be a process for adding the `eduPerson` objectclass for those who want it.

[2017-04-04 19:57] aliaksander-samuseu commented on #499
@shekhar16 @nynymike

Just a bit of update. I did a test in 2.4.4SP3 (latest oxTrust snapshot) and 3.0.1 (latest 3.0.2 oxTrust snapshot):

1. `eduPerson` is included in list of objectclasses that should be added to objects (the one you can check on JSON configuration page in web UI) in both
2. When users created in web UI, in 3.0 it adds `eduPerson` now, but in 2.4.4 it still doesn't

Not sure whi

[2017-04-05 08:27] dmogn commented on #490
@aliaksander-samuseu  Thanks for the note.
Federation case is caused because of "rase condition" in URL metadata downloading & processing.
It's only a part of the problem.

[2017-04-05 08:30] dmogn commented on #490
Federal case: UI calls save(); create second thread for metadata downloading and process metadata for isFederal() checking in first thread. But metadata in second thread isn't downloaded yet...
From here: https://github.com/GluuFederation/oxTrust/issues/505

[2017-04-05 15:42] shekhar16 commented on #507
Fixed.

[2017-04-05 15:42] #507 closed

[2017-04-06 02:22] shekhar16 commented on #514
Fixed.

[2017-04-06 02:22] #514 closed

[2017-04-06 02:33] shekhar16 commented on #499
@aliaksander-samuseu  I don't have any idea about why edusPerson attribute's removed from ldap schema file.@yurem any idea..

[2017-04-06 14:21] nynymike commented on #499
`eduPerson` is not needed by most customers. We can ship with the schema and attribute metadata, but it should be the default objectclass for a person.  One thing I noticed is that eduPersonScopedAffiliation is not part of the openldap schema. This attribute needs to be added, and it needs to be added to the eduPerson objectclass. Could this be the problem?

[2017-04-06 18:09] shekhar16 commented on #499
@nynymike I checked there are few eduperson objectclass's attributes are still in openldap but not declared in schema. That's why this issue is occurred.

[2017-04-06 18:14] nynymike commented on #499
We should be using this one:

https://spaces.internet2.edu/display/macedir/OpenLDAP+eduPerson

[2017-04-06 21:21] willow9886 opened #517 "Change "Default" terminology"
![image](https://cloud.githubusercontent.com/assets/5271048/24776067/fbdba9f0-1ae4-11e7-92d7-f237420b05ac.png)

What is default authentication? Is it LDAP authentication?

If so, then that's what it should be called. How is anybody supposed to know what default means?

[2017-04-06 21:30] willow9886 opened #518 "Change title of the two default authentication methods fields"
![image](https://cloud.githubusercontent.com/assets/5271048/24777088/6cb0594c-1ae9-11e7-8b7e-91f6e000183b.png)

It's not 100% clear what the difference is between the two default authentication options...

Let's update the the title's of the two fields to:

Default authentication method for apps:

Authentication method to access Gluu UI ("oxTrust"):

[2017-04-06 21:38] willow9886 opened #519 "CAS should be it's own menu item in the main nav"
![image](https://cloud.githubusercontent.com/assets/5271048/24776573/ff88cad6-1ae6-11e7-847c-cd0cb93b333e.png)

CAS should follow the same convention as our other protocols...that is, it should have it's own menu item like SAML, OpenID Connect, and UMA do.

Let's place it above SAML, so the menu reads:

- Configuration
- CAS
- SAML
- OpenID Connect
- UMA
- Users
- Personal

[2017-04-06 21:49] willow9886 opened #520 "Passport should be its own menu item in the nav"
![image](https://cloud.githubusercontent.com/assets/5271048/24776944/cefdfba0-1ae8-11e7-9806-0c7127a5575a.png)

It doesn't make sense to bury Passport inside the manage authentication interface... let's pull it out and give it its own menu space, so it's easier for people to find.

Let's place it above below OpenID Connect so the menu reads:

- Configuration
- CAS
- SAML
- OpenID Connect
- Passpor

[2017-04-06 21:54] #520 closed

[2017-04-06 21:54] #519 closed

[2017-04-06 21:54] willow9886 commented on #519
need further discussion

[2017-04-06 21:58] willow9886 opened #521 "Change or remove "basic" authentication"
![image](https://cloud.githubusercontent.com/assets/5271048/24777303/5f6d022a-1aea-11e7-911a-b4c1d72ed996.png)

This is similar to issue #517 ..

Basic is not a very descriptive name for an authentication method. Is this LDAP authentication? If so, then we should just call it LDAP authentication.

[2017-04-07 16:22] shekhar16 commented on #513
Fixed.

[2017-04-07 16:27] nynymike opened #522 "Centralize log4j2.xml"
`log4j2.xml` needs to be moved outside of the war file. Not only is the current location bad...
but also, it is overwritten from the original war file on restart of jetty. Finally, the export script also needs to make sure that the log4j2.xml is backed up and restored.

I'm putting this as a 3.1 issue, but a workaround also needs to be documented for version 3, or we will not be able to handle clu

[2017-04-07 23:22] nynymike opened #523 "Client Form: Enable admin to enable / disable refresh token issuance"
https://github.com/GluuFederation/oxAuth/issues/18

I was reading this article: http://gluu.co/connect-deep-dive and this part jumped out at me:

NOTE: The AS may or may not issue a refresh token to a particular client. Issuing such a token is ultimately a trust decision. If you have doubts about a client’s ability to keep these privileged tokens safe, don’t issue it one!

The configuration for re

[2017-04-08 00:42] nynymike commented on #521
These values come from the name of the script.

[2017-04-08 00:42] #521 closed

[2017-04-08 00:48] nynymike commented on #518
How about:
1. "Default acr"
2. "oxTrust acr"

The docs should further explain their purpose.

[2017-04-08 00:57] nynymike commented on #516
moving this to community-edition-setup

[2017-04-08 00:57] #516 closed

[2017-04-08 01:04] nynymike commented on #515
Alex, configure relying party and released attributes doesn't apply to federation metadata. Also, I'm not able to reproduce your issue in my Ubuntu 14 test instance. Are you saying that this is a problem only in Red Hat 7? Can you re-test to make sure this is the case.

[2017-04-08 01:05] nynymike commented on #513
This fix needs to be applied to 3.0.2

[2017-04-08 01:08] nynymike commented on #508
Check what is the impact of blank in the expiration code. But it's imperative that 0 is acceptable because some use cases require that the client not expire.

[2017-04-08 01:15] nynymike commented on #499
Moved this issue here: https://github.com/GluuFederation/community-edition-setup/issues/283

[2017-04-08 01:15] #499 closed

[2017-04-08 01:16] nynymike commented on #377
Should this issue be closed?

[2017-04-08 01:17] #351 closed

[2017-04-08 01:18] nynymike commented on #349
Should this issue be closed?

[2017-04-08 01:20] nynymike commented on #334
This should be tested during regression testing.

[2017-04-08 01:20] #334 closed

[2017-04-08 01:23] nynymike commented on #497
Other people are using this script. I'm not convinced it's a bug with the script.

[2017-04-08 01:23] #497 closed

[2017-04-08 01:24] nynymike commented on #323
I think this is a duplicate issue: https://github.com/GluuFederation/oxAuth/issues/484

[2017-04-08 01:24] #323 closed

[2017-04-08 01:25] #253 closed

[2017-04-08 01:28] nynymike commented on #224
![image](https://cloud.githubusercontent.com/assets/3717101/24824430/a359ce1e-1bd0-11e7-99f0-7ae43b892656.png)

[2017-04-08 01:33] nynymike commented on #171
Pre-encoded passwords can be supported with respective prefix as specified in https://tools.ietf.org/html/draft-howard-rfc2307bis-02

[2017-04-08 01:35] nynymike commented on #166
No! Customer can use a standard LDAP browser tool.

[2017-04-08 01:35] #166 closed

[2017-04-08 01:39] nynymike commented on #116
This part of the shibboleth config does not get rendered by oxTrust. In any case, it needs to be reconsidered in light of Shib 3. Closing for now... let's revisit.

[2017-04-08 01:39] #116 closed

[2017-04-08 01:40] #107 closed

[2017-04-08 02:02] nynymike commented on #517
This should probably be changed to include just the available acr's. "Default" is not necessary... the default is "auth_ldap_server"

[2017-04-08 02:05] #517 closed

[2017-04-08 02:14] nynymike commented on #476
This feature has been added in 3.1

[2017-04-08 02:14] #476 closed

[2017-04-08 02:16] nynymike commented on #467
Dmitry, this would be really interesting. If we could move files to be available via HTTP, it would enable us to get rid of `csync2` in our cluster config.

[2017-04-08 02:20] nynymike commented on #404
This exception should be caught, and a more helpful message displayed like "Test-mode access token not present"

[2017-04-08 02:29] nynymike commented on #403
Missing params should not throw a stacktrace... a friendlier message would be nice.

[2017-04-08 02:32] nynymike commented on #385
@shekhar16 Is this closed?

[2017-04-08 02:33] #384 closed

[2017-04-08 02:35] #383 closed

[2017-04-08 02:36] #392 closed

[2017-04-08 02:37] #380 closed

[2017-04-08 02:38] #379 closed

[2017-04-08 02:39] #385 closed

[2017-04-08 02:40] #369 closed

[2017-04-08 02:45] nynymike commented on #356
Gene, assigning this to you because it should support localization. See Yura's comment about supporting a custom message template.

[2017-04-08 02:46] #373 closed

[2017-04-08 02:46] nynymike commented on #373
If a customer asks for this, we can open a new issue.

[2017-04-08 02:49] nynymike commented on #368
This needs to work in both 2.4.x and 3.0.x. Can you confirm if the current shipping versions still have this error. If so, we need to assign.

[2017-04-08 02:53] nynymike commented on #347
Closing this issue, as it's old, and probably needs to be re-tested for Weld anyway.

[2017-04-08 02:53] #347 closed

[2017-04-08 02:54] #344 closed

[2017-04-08 02:55] nynymike commented on #325
n/a. This should be done as part of the ldap operation, not via the oxTrust GUI

[2017-04-08 02:55] #325 closed

[2017-04-08 03:03] nynymike commented on #314
I disagree with this assessment. `cn` and `sn` are only required by inetOrgPerson, which we are not using.

[2017-04-08 03:03] #314 closed

[2017-04-08 03:04] #306 closed

[2017-04-08 03:06] nynymike commented on #272
Don't you have to delete it and then hit Submit?

[2017-04-08 03:07] nynymike commented on #257
I think this will be resolved with migration to Weld.

[2017-04-08 03:07] #257 closed

[2017-04-08 03:07] nynymike commented on #256
Is this still relevant?

[2017-04-08 03:08] #226 closed

[2017-04-08 03:12] nynymike commented on #222
This is a bug, but I'm not sure who looks at this page. I'm closing it because I don't care.

[2017-04-08 03:12] #222 closed

[2017-04-08 03:13] #218 closed

[2017-04-08 03:14] nynymike commented on #203
Seems like a minor issue that has low impact.

[2017-04-08 03:14] #203 closed

[2017-04-08 03:15] #199 closed

[2017-04-08 03:15] #169 closed

[2017-04-08 03:17] nynymike commented on #149
Customers should ssh and use all the tools there to manage the logs. Log viewer should be a last resort. Let's wait for more customers to complain, and re-open if necessary.

[2017-04-08 03:17] #149 closed

[2017-04-08 03:20] nynymike commented on #170
2) Remove a web UI user's ability to save a CR configuration with a double mappings in it. Currently CR allows mappings like this:

src_attr1 -> dst_attr1
src_attr2 -> dst_attr2
src_attr3 -> dst_attr2
If this isn't hurting anything, I don't think we need to add the feature:

I.e. 2 different source attributes mapped to a single internal one. This doesn't produce an error neither during saving the

[2017-04-08 03:22] nynymike commented on #135
Another caveat... oxTrust may not be user facing. Photos would have to be published somewhere public...

[2017-04-08 03:24] nynymike commented on #139
This was done.

[2017-04-08 03:24] #139 closed

[2017-04-08 03:24] nynymike commented on #129
This is a very old issue. I'm not sure what "disable controls" means, and if it's still relevant.

[2017-04-08 03:25] nynymike commented on #106
Not a huge priority. Let's wait for more customer demand.

[2017-04-08 03:25] #106 closed

[2017-04-08 03:27] nynymike commented on #25
Certificates can be handled through the file system for now.

[2017-04-08 03:27] #25 closed

[2017-04-08 03:43] dmogn commented on #505
Same issue with #490

[2017-04-08 03:43] #505 closed

[2017-04-08 03:44] dmogn commented on #377
@nynymike - Yes. If no issues from QA.

[2017-04-08 03:47] #353 closed

[2017-04-08 04:02] shekhar16 commented on #518
![image](https://cloud.githubusercontent.com/assets/15937500/24825558/45ae6536-1c3e-11e7-85ad-b82486b5d32d.png)

[2017-04-08 15:46] willow9886 commented on #504
@shekhar16 @sahiliamsso did this get QAd and confirmed?

[2017-04-08 15:53] willow9886 commented on #517
But `auth_ldap_server` is also an available choice... see screenshot below.

So shouldn't `auth_ldap_server` just be the default?

![image](https://cloud.githubusercontent.com/assets/5271048/24830325/8537d916-1c49-11e7-879d-3ae631a6153a.png)

[2017-04-08 19:49] #518 closed

[2017-04-08 22:44] sahiliamsso commented on #504
Not able to QA yet, Latest release (identity,war) has some errors that need to be fixed.. I am not able to launch UI after the war file upgrade.
HTTP ERROR: 503

Problem accessing /identity/home. Reason:

    Service Unavailable

Oxtrust logs

2017-04-08 22:38:12.411:WARN:oejw.WebAppContext:main: Failed startup of context o.e.j.w.WebAppContext@57baeedf{/identity,[file:///opt/jetty-9.3/temp/jetty-l

[2017-04-09 05:13] shekhar16 commented on #272
![image](https://cloud.githubusercontent.com/assets/15937500/24834952/43efd5b2-1d11-11e7-8f1c-ca9b09b03b1e.png)

[2017-04-09 05:13] shekhar16 commented on #272
Fixed.

[2017-04-09 05:13] #272 closed

[2017-04-10 06:23] yurem commented on #522
In oxAuth/oxTrust log files all log folders are relative to 'catalina.base' variable. We set it in [/etс/defaults/oxauth](https://github.com/GluuFederation/community-edition-setup/blob/master/templates/jetty/oxauth#L3)

As result in 3.0.1 it's easy to change location of application logs files via /etс/defaults/oxauth|oxtrust.

Also we can add programmatic approach too. In method AppInitializer.upd

[2017-04-10 15:36] shekhar16 commented on #504
@sahiliamsso which version are u using?

[2017-04-10 15:43] nynymike commented on #522
yes, please proceed.

[2017-04-10 16:44] #377 closed

[2017-04-10 16:51] willow9886 commented on #522
It would be nice if we had a work around in 3.0.2 and a final solution in 3.1.0.

[2017-04-10 16:57] willow9886 commented on #368
This **has to work in 3.x**

[2017-04-10 17:01] willow9886 commented on #343
fixed.

[2017-04-10 17:01] #343 closed

[2017-04-10 17:04] willow9886 commented on #320
The max count should be set in a property.

[2017-04-10 17:14] #513 closed

[2017-04-10 17:20] shekhar16 commented on #349
@nynymike yes we cann close this issue.

[2017-04-10 17:20] #349 closed

[2017-04-10 19:21] willow9886 commented on #368
Comment from @mzico :

[2017-04-11 14:14] mzico opened #525 "Use servers which are in 'Manage Authentication' list"
![iteration_manage_authentication](https://cloud.githubusercontent.com/assets/7156097/24913523/13a9af68-1e97-11e7-99e3-c0e4ac96b792.png)

According to above setup, authentication won't face any issue if any server of three ( server1,server2,server3 ) are online and active.

Right now, oxTrust is only using 'server1.gluu.org:1636' but if 'server1' goes down; oxTrust is not iterating the list and no

[2017-04-11 14:51] yurem commented on #525
Let add some corrections to description..
oxAuth uses all server1...server3 specified in description. But it treat them as one server which has few fail-over servers. As result it creates fail-over set with server1...server3.

oxAuth also supports different LDAP server settings. For this there is oxIDPAuthentication attribute. It's multi-valued attribute. But oxTrust not allows to add moe than one

[2017-04-11 17:41] willow9886 opened #526 "Getting more done in GitHub with ZenHub"
Hola! @willow9886 has created a [ZenHub](http://www.zenhub.com) account for the **GluuFederation** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com?utm_source

[2017-04-11 17:51] #526 closed

[2017-04-11 22:23] sahiliamsso commented on #504
http://ox.gluu.org/maven/org/xdi/oxtrust-server/3.1.0-SNAPSHOT/oxtrust-server-3.1.0-SNAPSHOT.war

Manifest-Version: 1.0
Implementation-Title: oxTrust Server
Implementation-Version: 3.1.0-SNAPSHOT
Archiver-Version: Plexus Archiver
Built-By: tomcat
Implementation-Build: fe399
Implementation-Vendor-Id: org.xdi
Build-Jdk: 1.7.0_79
Created-By: Apache Maven 3.3.9

[2017-04-12 16:06] shekhar16 commented on #403
The response returning the error meesage "please check the input parameters".
{"schemas":["urn:ietf:params:scim:api:messages:2.0:Error"],"status":"500","scimType":"","detail":"Unexpected processing error; please check the input parameters"}

And the stacktrace is removed.

[2017-04-12 16:06] #403 closed

[2017-04-13 15:32] aliaksander-samuseu commented on #499
@shekhar16 @yurem

Was the fix also ported to 2.4.4 packages?

[2017-04-13 17:01] nynymike commented on #499
Alex this is not a priority. It would be better to document the workaround for now.

[2017-04-13 19:05] shekhar16 commented on #504
@sahiliamsso  I think you are facing memcache config issue.

[2017-04-18 02:18] dmogn opened #529 "SAML SP metadata validation error"
https://support.gluu.org/single-sign-on/3999/idpsp-metadata-configuration/#at21370

![metadata_validation1](https://cloud.githubusercontent.com/assets/14166017/25111849/dd364658-23c3-11e7-84c0-cd241455b952.png)

![metadata_validation2](https://cloud.githubusercontent.com/assets/14166017/25111852/e1ac8918-23c3-11e7-9441-dfdd113a1754.png)

Metadata XML:

`<?xml version="1.0" encoding="UTF-8"?><md:En

[2017-04-18 03:37] dmogn commented on #529
2017-04-18 02:50:47,930 WARN  [pool-2-thread-2] [org.gluu.oxtrust.ldap.service.MetadataValidationTimer] (MetadataValidationTimer.java:151) - Validation of @!3BF2.E2BF.F5E0.FDA9!0002!FA10.B2F9!0006!EA6C.8482 failed: schema_reference.4: Failed to read schema document 'http://www.w3.org/TR/2002/REC-xmldsig-core-20020212/xmldsig-core-schema.xsd', because 1) could not find the document; 2) the document

[2017-04-18 14:06] willow9886 commented on #490
@dmogn is this issue fixed?

[2017-04-19 17:54] dmogn commented on #490
@willow9886
Yes. Fixed. I'll merge today.

[2017-04-20 13:08] worm333 opened #531 "Translate resource bundles"
### Translation guide.
oxTrust contains the following resource bundles: [oxtrust_en.properties](https://github.com/GluuFederation/oxTrust/blob/master/server/src/main/resources/oxtrust_en.properties), [oxtrust_fr.properties](https://github.com/GluuFederation/oxTrust/blob/master/server/src/main/resources/oxtrust_fr.properties) and [oxtrust_ru.properties](https://github.com/GluuFederation/oxTrust/blo

[2017-04-21 14:02] dmogn commented on #529
I found that it is not problem of validation phase... It's problem of unstable networks, while Schema class cannot download all .xsd files from www.w3.org, shibboleth.net, etc.

I'm adding handler for this case (add without validation, with warning in UI).

[2017-04-21 16:01] dmogn commented on #529
It is not a bug... we need warning if Scema class cannot download all XSD files.
It is exception of creating "Schema" class, not exception of validation phase. It even is not related to medatada file content.
I think we need add metadata in this case, but with UI warning.
Now the parser reject metadata adding as unvalid metadata. But the error is not related to metadata content.

[2017-04-21 18:47] shekhar16 commented on #404
the exception doesnt seems to be an issue regarding authentication.
@fbenke  can u please share request.

[2017-04-21 18:50] shekhar16 commented on #69
Can we start to work on set/reset key on oxtrust side ?

[2017-04-21 19:25] mzico opened #532 "Duplicate oxTrust graph legends"
Do we need both of them?

![indication_bar](https://cloud.githubusercontent.com/assets/7156097/25292999/5baa1848-269e-11e7-856b-0b7f99654a4f.png)

[2017-04-21 19:39] mzico opened #533 "No way to remove federated sp metadata"
Two screenshots attached.

First one, a file type trust relationship; as you can see there is a cross button which help administrator to remove current metadata if required.

Second one, an InCommon affiliated trust relationship; there is no way to remove SP metadata/metadata link.

To replace any InCommon affiliated SP metadata, administrator need to delete this trust relationship first and then

[2017-04-21 22:50] sahiliamsso commented on #504
Verified successfully on  gluu-server-3.1.0 (1-5.BETA1~trusty+Ub14.04)

2017-04-21 22:49:24,712 INFO  [qtp274064559-14] [org.xdi.service.PythonService$PythonLoggerOutputStream] (PythonService.java:219) - Update user. UpdateUser method
2017-04-21 22:49:24,712 INFO  [qtp274064559-14] [org.xdi.service.PythonService$PythonLoggerOutputStream] (PythonService.java:219) - Update user. User Uid:
2017-04-21

[2017-04-21 22:50] #504 closed

[2017-04-22 03:19] sahiliamsso opened #534 "Unable to register user"
https://host/identity/register is not allowing me to register user, redirecting to login screen.
enable_user=true
User Registration is enabled.

Build:
gluu-server-3.1.0 (1-5.BETA1~trusty+Ub14.04)

Error in identity logs
2017-04-22 03:14:36,811 DEBUG [qtp274064559-18] [org.gluu.oxtrust.service.external.ExternalUserRegistrationService] (ExternalUserRegistrationService.java:56) - Executing python 'p

[2017-04-22 09:19] shekhar16 commented on #534
Fixed.

[2017-04-22 09:19] #534 closed

[2017-04-23 05:53] shekhar16 commented on #360
@stakoz are you using SCIM client Api to call web services?

[2017-04-23 08:47] #360 closed

[2017-04-23 09:07] shekhar16 commented on #495
@yurem Can u please tell me how can i create this fido entry in person entry.So that i can implement this..

[2017-04-23 09:10] shekhar16 commented on #532
![image](https://cloud.githubusercontent.com/assets/15937500/25312262/d58878e0-2832-11e7-9c8f-878de12c5b9b.png)

[2017-04-23 09:24] shekhar16 commented on #532
![image](https://cloud.githubusercontent.com/assets/15937500/25312350/ab34bb92-2834-11e7-9a1f-33368f5a7e88.png)

[2017-04-23 09:24] #532 closed

[2017-04-23 15:59] shekhar16 commented on #484
newly registered resourceset's Scope entry  with

![image](https://cloud.githubusercontent.com/assets/15937500/25315019/d2963cd8-286b-11e7-8651-ed6112770154.png)

[2017-04-23 16:01] shekhar16 commented on #484
After updating record of the Scope from oxtrust UI.

![image](https://cloud.githubusercontent.com/assets/15937500/25315046/3fcee354-286c-11e7-848d-ec33b86a20f3.png)

[2017-04-23 16:08] shekhar16 commented on #484
I checked the get resourceset WS aswell, in this WS the reposne returning the scopeURL not Scope display name.There is nothing wrong in oxtrust side

So now there are 2 issues in oxauth side
1) In resourceset registration, save the oxUri correctly , if scope is new.
2) In resourceset fetch with WS ,we should return the the whole scope's details or scope inum or scope display name or scope's uri.

[2017-04-23 16:10] shekhar16 commented on #484
@nynymike please advice what we should do in this case.

[2017-04-23 16:20] shekhar16 commented on #320
Should we save it in LDAP oxtrust config or it should be properties file.
I think ldap would be correct as we had all properties in ldap.
Please suggest.

[2017-04-24 05:07] yurem commented on #320
This is not LDAP property. It's SCIM property. I think it's better to add this new property to oxTrust configuration. There are few scim properties in oxtrust [config](https://github.com/GluuFederation/oxTrust/blob/master/static/src/main/resources/META-INF/resources/schema/oxtrust.properties.json#L365) already:

[2017-04-24 05:08] yurem commented on #484
@yuriyz Can you help @shekhar16 with this issue. I suspect server API and form in oxTrust probably not in sync

[2017-04-24 05:30] yurem commented on #495
[code]

[2017-04-24 05:40] yurem commented on #495
Under ou=fido user can have multiple records like:
[code]

[2017-04-24 05:40] #495 closed

[2017-04-24 19:52] yuriyz commented on #484
@shekhar16 it's not about `oxAuthUmaScopeDescription` but about `oxAuthUmaResourceSet` update.
Please check ticket again `https://support.gluu.org/3744/`.

Would you please give code point in oxTrust where you set scope DNs `oxAuthUmaScope` property for `oxAuthUmaResourceSet` OC ? I believe bug is there.

Here is how that property set on oxauth side:
https://github.com/GluuFederation/oxAuth/blob/m

[2017-04-25 04:22] dmogn commented on #490
[20:53:18] Alex Samuseu: Here is a problem in the latest 3.1 build. When I create SAML TR of type federation, it passes metadata validation, but nevertheless is shown as TR of type "site" in the list, and I can't use it to create other TRs based on it as before.
[20:53:22] Alex Samuseu: To view this shared photo, go to: https://login.skype.com/login/sso?go=xmmfallback?pic=0-weu-d5-e1fe376a91cbb0ea

[2017-04-25 13:13] aliaksander-samuseu commented on #516
@nynymike

Was it fixed? I still see that such inetorgperson attributes like "mobile", "cn" etc are not shown on "Attributes" pages in current beta CE 3.1.0 packages, but metadata for them is present in LDAP, preventing registering attributes with such names in LDAP. I haven't tested 3.0.2 yet.

[2017-04-25 13:40] willow9886 commented on #516
Moved to: https://github.com/GluuFederation/community-edition-setup/issues/282

[2017-04-25 13:40] aliaksander-samuseu commented on #516
Removed my comment, sorry for confusion.

[2017-04-25 18:28] shekhar16 commented on #484
@yuriyz
for 1st issue I raised here is its code referecnce
https://github.com/GluuFederation/oxAuth/blob/master/Server/src/main/java/org/xdi/oxauth/service/uma/ScopeService.java#L170
https://github.com/GluuFederation/oxAuth/blob/master/Server/src/main/java/org/xdi/oxauth/service/uma/ScopeService.java#L171

2 issue i raised
https://github.com/GluuFederation/oxAuth/blob/master/Server/src/main/java/o

[2017-04-25 18:46] yuriyz commented on #484
Would you please give code point in oxTrust where you set scope DNs `oxAuthUmaScope` property for `oxAuthUmaResourceSet` OC ? Means code point where you update Resource Set.

[2017-04-25 19:06] shekhar16 commented on #484
Here is the line code line where we are upting the scope in oxtrust.
https://github.com/GluuFederation/oxTrust/blob/master/server/src/main/java/org/gluu/oxtrust/action/uma/UpdateScopeDescriptionAction.java#L165

[2017-04-25 19:07] shekhar16 commented on #484
Please let me know should I correct anything in code.

[2017-04-25 19:14] yuriyz commented on #484
@shekhar16 I don't understand, I'm asking about ResourceSet update. That code does not update Resource Set but scope entity. It is two different entities.

[2017-04-25 19:17] yuriyz commented on #484
This one seems to be the action for Resource Set update
https://github.com/GluuFederation/oxTrust/blob/master/server/src/main/java/org/gluu/oxtrust/action/uma/UpdateResourceSetAction.java

[2017-04-25 19:28] shekhar16 commented on #484
@yuriyz Please check ticket again https://support.gluu.org/3744/.
He is updating new scope which we added in resource set.
here is the ready reference of shared pics in support issue reported

![image](https://cloud.githubusercontent.com/assets/15937500/25403814/41eb377c-2a1b-11e7-8b88-f73ff3688cff.png)

![image](https://cloud.githubusercontent.com/assets/15937500/25403832/520fa46c-2a1b-11e7-9f94-

[2017-04-25 20:39] yuriyz commented on #484
oxauth supports only URI based scopes. By scope uri it should be possible to fetch scope description.
oxauth does NOT support plain based scopes. Mainly because oxauth tracks scope and therefore if two resource servers use same "view" plain based scope it would be impossible to track it back. Also it may produce many duplications and avoid to confusion (e.g. which "view" scope is registered by whi

[2017-04-25 20:39] #484 closed

[2017-04-26 17:46] shekhar16 opened #536 "MAX_COUNT in SCIM Client negative test cases"
Get 'MAX_COUNT'  property from oxtrust config in Scim client negative testcases after migration.

[2017-04-26 20:04] zamilskhan opened #537 "Unable to remove Custom Script from oxTrust UI"
OS: CentOS 6.8 (possibly affecting all other)
Package: 2.4.4 sp2 upgraded to 3.0.1
Ticket: https://support.gluu.org/upgrade/3982/migrated-244sp2-301-unable-to-delete-unwanted-person-authentication-scripts/
Steps to reproduce: Install 2.4.4 and update to `2.4.4-sp2` be replacing the `identity.war, `oxauth.war` from maven and upgrade to 3.0.1. Log in and try to remove custom scripts it will throw er

[2017-04-26 20:06] nynymike commented on #159
Let's just remove the checkbox for Anonymous bind. I don't see why anyone should be allowed to use anonymous bind for cache refresh.

[2017-04-27 06:54] #371 closed

[2017-04-27 18:47] shekhar16 commented on #320
https://github.com/GluuFederation/oxTrust/commit/460b2e4b4c351538a4b622ec91305f65c127b23a

[2017-04-27 18:47] shekhar16 commented on #320
https://github.com/GluuFederation/community-edition-setup/commit/96d1eb4990f67d7d7aad152ba2c76c31664f79e0

[2017-04-27 18:50] shekhar16 commented on #320
Added new object ScimProperties  in oxtrust [config.](https://github.com/GluuFederation/oxTrust/blob/master/static/src/main/resources/META-INF/resources/schema/oxtrust.properties.json#L365)

[2017-04-28 18:34] #320 closed

[2017-04-29 18:54] mzico opened #540 "oxTrust user registration - confirmation email possible?"
In 3.x, current scenario is:

- Enable registration script from oxTrust.
- Hit https://[hostname]/identity/register
- Fill up the form and hit 'register'

After third step, workflow is jumping to oxAuth login page.

Is it possible to send a confirmation email to newly registered person?
And, would be great if we can show ... after registration... 'User successfully registered, please log into to G

[2017-04-30 14:47] shekhar16 commented on #525
For this issue , should we use same attribute i.e oxIDPAuthentication and its connections?

[2017-05-01 07:29] yurem commented on #525
yes, we can store server settings in multi-valued oxIDPAuthentication attribute. oxAuth supports this already.

Also we can clean up this part. We can remove methods which converts configuration from < v1.0 to current format. In the code there are comments about this.

[2017-05-01 15:06] dmogn commented on #529
Done.

[2017-05-01 15:06] #529 closed

[2017-05-01 16:22] willow9886 commented on #540
Yea, sounds like we need a better default user registration user experience.

[2017-05-03 01:06] aliaksander-samuseu commented on #515
@nynymike @shekhar16

I did some additional testing in 2.4.4SP3 and 3.1 packages to compare previous and current behaviour of this feature.

2.4.4: On federation's properties page there are both controls for R&S and custom RP config features;  the later in case of fed TR does nothing  (nothing is changed in `relying-party.xml`), the former actually adds certain constructs to `attribute-filter.xml`

[2017-05-03 09:58] aliaksander-samuseu commented on #515
@shekhar16

Please also note that in the latest 3.1 beta package I still can't update description of fed TR after it was created, it throws some Java excepation.

[2017-05-03 10:17] worm333 commented on #522
@nynymike  I'm not quite understand why the current location of [log4j.xml](https://github.com/GluuFederation/oxTrust/blob/master/server/src/main/resources/log4j2.xml) is bad and what `original`.war file is overwriting it. Could you please elaborate more on this issue?

And I'm afraid I didn't get what kind of `export script` are you talking about.

[2017-05-03 17:05] yurem commented on #508
There is bu in JS library which we uses to render configuration. I will try to fix it in 3.0.3

[2017-05-03 18:44] yurem commented on #522
In our log4j2.xml all folders are relative to ${sys:catalina.base} We can use this. In method which apply log level we can try to set this system variable value to change log files location.
Additionally I offer to rename "catalina.base" to "log.base".

[2017-05-03 18:54] shekhar16 commented on #368
@aliaksander-samuseu @mzico @sahiliamsso please confirm the issue.if fixed please close it.

[2017-05-03 19:01] shekhar16 commented on #522
to move log4j.xml file outside war file, we need to add in deployment descriptor.

<context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>file://${MY_ENV_VAR}log4j.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>

[2017-05-03 19:08] yurem commented on #522
@mike, are we really need to move log4j2.xml outside of war or we just need to allow to move log files to other folder? log4j2.xml is part of oxAuth.war which is mandatory to proper server start.

[2017-05-04 14:38] shekhar16 commented on #518
Fix  in 3.0.2 version

[2017-05-04 14:43] shekhar16 commented on #512
Fixed in 3.0.2 version

[2017-05-04 15:00] #171 closed

[2017-05-04 17:11] aliaksander-samuseu commented on #515
@nynymike @shekhar16

As we are use IdP v3.2 in CE3.1, we now could probably utilize its enhanced relying party definitions, like `RelyingPartyByGroup` which is keyed not by entityid, but by metadata's attributes (described [here](https://wiki.shibboleth.net/confluence/display/IDP30/RelyingPartyConfiguration)). That would not only allow Gluu's users to create a general federation rules releasing s

[2017-05-05 08:54] worm333 commented on #522
@yurem, @nynymike please correct me if I'm wrong. As I understand the goal of this issue is to provide the possibility to admins to change the location of log files.

 So basically we need to add into `/identity/logviewer/configure` page new field e.g.: `Log base` where admins could change the location of log files.
 Also we need to update [identity](https://github.com/GluuFederation/community-edi

[2017-05-05 11:53] sahiliamsso opened #542 "Cancel button not displayed correct on UMA Scope screen"
UMA > Scopes > Update Scope

![image](https://cloud.githubusercontent.com/assets/21104811/25744401/60b297b0-31b7-11e7-9fc6-d3b035b8f507.png)

[2017-05-07 12:36] shekhar16 commented on #542
![image](https://cloud.githubusercontent.com/assets/15937500/25780964/c89f96e0-334f-11e7-8bda-7518e5769d19.png)

[2017-05-07 12:37] #542 closed

[2017-05-07 12:54] shekhar16 commented on #170
@yurem @nynymike how can i create 2 instance of openldap in windows dev setup to test this issue?

[2017-05-07 16:46] nynymike commented on #170
Use two VM's. This should be doable with VMPlayer. You don't need much RAM for just a test openldap. Then just make sure your local windows host file is up-to-date.

[2017-05-08 15:17] shekhar16 commented on #533
[8:44:15 PM | Edited 8:44:21 PM] Shekhar L: Hi Dmitry
[8:44:45 PM] Dmitry Ogn: Hi Shekhar
[8:45:28 PM] Shekhar L: Can u please help me on issue for which Yuriy M created the conversation
[8:45:47 PM] Dmitry Ogn: Yeah
[8:45:55 PM] Shekhar L: I m facing CAS issue on SAml validation
[8:46:17 PM] Shekhar L: and I think both are independent
[8:46:49 PM] Dmitry Ogn: I'll fix it.
[8:47:05 PM] Shekhar L:

[2017-05-08 15:17] shekhar16 commented on #533
Waiting for this fix.

[2017-05-08 15:18] shekhar16 commented on #368
[8:44:15 PM | Edited 8:44:21 PM] Shekhar L: Hi Dmitry
[8:44:45 PM] Dmitry Ogn: Hi Shekhar
[8:45:28 PM] Shekhar L: Can u please help me on issue for which Yuriy M created the conversation
[8:45:47 PM] Dmitry Ogn: Yeah
[8:45:55 PM] Shekhar L: I m facing CAS issue on SAml validation
[8:46:17 PM] Shekhar L: and I think both are independent
[8:46:49 PM] Dmitry Ogn: I'll fix it.
[8:47:05 PM] Shekhar L:

[2017-05-08 16:12] nynymike commented on #523
Actually this is controlled if the grant_type "refresh_token" is allowed. This change should be backed out.

[2017-05-08 16:24] nynymike opened #545 "Update Grant Types"
We need to add the following grant types:
- password
- client_credentials
-  urn:ietf:params:oauth:grant-type:uma-ticket

[2017-05-09 19:52] yurem opened #546 "SCIM2 test mode compilation failed after Validate Token endpoints removal"
We need to rewrite these methods in weld branch to provides same functionality which we have with validate token endpoints:
https://github.com/GluuFederation/oxTrust/blob/master/server/src/main/java/org/gluu/oxtrust/ws/rs/scim2/BaseScimWebService.java#L97

https://github.com/GluuFederation/oxTrust/blob/weld/server/src/main/java/org/gluu/oxtrust/ldap/service/JsonConfigurationService.java#L179

[2017-05-10 05:52] shekhar16 opened #547 "Unable to login in local dev env"
I had oxtrust master,oxauth master and oxcore weld branch.But getting 404 errors on oxauth pages
![image](https://cloud.githubusercontent.com/assets/15937500/25884873/cce7386e-3572-11e7-8e1f-ae4b180e6875.png)

![image](https://cloud.githubusercontent.com/assets/15937500/25884883/e128a7cc-3572-11e7-8557-ce1d2d4ce150.png)

[2017-05-10 05:58] shekhar16 commented on #547
@yurem  i checked the oxauth master branch which has been migrated to weld framework and found that we removed the authorize.page.xml ,login.page.xml and other *.page.xml whichwas responsible to map the url for that page.

Now after migration i think we need to change the path of oxauth pages by adding suffix  *.htm as per web.xml maping of faceservlet .
And I tested above solution and getting pag

[2017-05-10 07:48] shekhar16 opened #548 "Exception on Add trust relationship page"
2017-05-10 13:14:43,245 ERROR [qtp1394336709-61] [org.jboss.seam.exception.Exceptions] (Exceptions.java:86) - handled and logged exception
javax.servlet.ServletException: Error Parsing /WEB-INF/incl/trustmanager/trustRelationshipForm.xhtml: Error Traced[line: 328] The value of attribute "label" associated with an element type "ox:decorate" must not contain the '<' character.

[2017-05-10 07:51] shekhar16 commented on #548
Fixed.

[2017-05-10 07:51] #548 closed

[2017-05-10 08:13] shekhar16 opened #549 "SimplepropertiesList pages are not working."
the pages include simplepropertieslist.xhtml are not working throwing exception.

[2017-05-10 09:40] #549 closed

[2017-05-10 11:26] rajnikantsh commented on #537
Issue was related to date format of oxAuthAuthenticationTime attribute. so change in migration script for  date format while importing data in CE-3.0.2

[2017-05-10 11:26] #537 closed

[2017-05-10 14:56] yurem commented on #547
I think current oxAuth code not enable pretty urls. @worm333 Can you fix this.

[2017-05-11 01:57] nynymike opened #551 "Remove ou=appliances"
All the data under ou=appliances should be moved under o=(org-inum)

[2017-05-11 23:19] sahiliamsso commented on #224
Still same this button available on screen for 3.0.2

[2017-05-12 05:57] rajnikantsh commented on #224
Whatever changes has been done for this issue is not their in branch 3.0.2

[2017-05-12 20:11] #224 closed

[2017-05-12 21:57] sahiliamsso commented on #159
"Anonymous Bind" button still available on CR screen.

[2017-05-12 22:06] sahiliamsso opened #552 "Password reset is broken"
Steps to reproduce -
Enable Self-service password reset from UI
Provide SMTP configuration
Access https://<host>/identity/person/passwordReminder.htm
Provide Email ID and click Submit
Now  Click on the password reset link received in email

Expected - Allows to change password
Actual - Redirects to Login screen

Ubuntu 14.04
Implementation-Version: 3.0.2
Implementation-Build: ea927^M

Logs
WARNING

[2017-05-13 12:23] shekhar16 opened #553 "Oxtrust Registeration Page is not displaying Attributes name."
![image](https://cloud.githubusercontent.com/assets/15937500/26025428/00b14416-3805-11e7-9a55-e021b0c6e034.png)

[2017-05-13 12:27] #553 closed

[2017-05-13 12:27] shekhar16 commented on #553
Fixed.

[2017-05-13 12:29] shekhar16 commented on #553
![image](https://cloud.githubusercontent.com/assets/15937500/26025459/d01b6f88-3805-11e7-9efc-f308f43a4a53.png)

[2017-05-14 09:21] shekhar16 opened #554 "reset password link not working."
Throwing below exception.

2017-05-14 13:21:00,075 DEBUG [pool-2-thread-10] [org.gluu.oxtrust.ldap.service.MetadataValidationTimer] (MetadataValidationTimer.java:92) - Metadata validation finished with result: 'false'
May 14, 2017 1:21:13 PM com.sun.faces.facelets.tag.jsf.core.ViewHandler apply
WARNING: Using en_US for locale because expression /WEB-INF/incl/layout/newtemplate.xhtml @12,58 locale=

[2017-05-14 09:21] shekhar16 commented on #552
https://github.com/GluuFederation/oxTrust/issues/554

[2017-05-14 10:05] shekhar16 commented on #552
fixed in both master and  3.0.2 branch.
@sahiliamsso  can u please verify the fix with latest code.

[2017-05-14 10:05] #552 closed

[2017-05-14 10:07] shekhar16 commented on #170
Duplicate key attributes will not allowed.

[2017-05-14 10:07] #170 closed

[2017-05-14 12:43] shekhar16 opened #555 "Federation TR is not presenting SP list link"
No 'Select entityID of this Trust Relationship' option for federated SP.

When we move to create a 'Federated/Aggregate' trust relationship, it should provide us a link from where we can select our desired SP's entityID. Nothing showing in 3.0.0.

This is how a federated trust relationship should work, check out 'Federated' section here

In 3.0.0 Beta 6, there is nothing; only this:

screenshot_4

[2017-05-14 12:45] shekhar16 commented on #555
https://github.com/GluuFederation/oxShibboleth/issues/22

[2017-05-14 12:46] shekhar16 commented on #555
Sorry duplicate,https://github.com/GluuFederation/oxTrust/issues/488

[2017-05-14 12:46] #555 closed

[2017-05-15 16:40] rajnikantsh commented on #523
Branch is not merge in master hence their is no change because of this issue

[2017-05-15 16:40] #523 closed

[2017-05-17 10:14] yurem commented on #547
@shekhar16 I think we can close this issue.

[2017-05-17 14:02] willow9886 opened #557 "Improve Passport.js user experience"
Currently all strategy fields are blank text fields. It seems like we could benefit by providing some drop down options for the primary strategies, while still providing the option to choose `other` and fill in your own values.

So for instance:

"Add new strategy" --> new drop down field appears --> admin chooses one of the supported strategies --> two new drop downs appear already pre-specified

[2017-05-18 00:19] sahiliamsso opened #558 "Captcha not showing up on registration"
Disable Captcha for Registration form is unchecked. But Captcha NOT showing up on registration page

![image](https://cloud.githubusercontent.com/assets/21104811/26181424/8dd10ce2-3b8d-11e7-9729-40beb546c2cf.png)

![image](https://cloud.githubusercontent.com/assets/21104811/26181435/a969cfe8-3b8d-11e7-9ff6-291628df343b.png)

[2017-05-18 20:35] willow9886 commented on #558
@sahiliamsso your screenshot doesn't show a captcha being presented?

[2017-05-18 22:47] sahiliamsso commented on #558
I tried both ways by enabling/disabling but its NOT showing up on registration screen.

[2017-05-18 22:55] sahiliamsso opened #560 "birthdate attribute schema is not matching YYYY-MM-DD format"
Not able to add birthdate attribute with values in YYYY-MM-DD format .

attributetype ( oxAttribute:326 NAME 'birthdate'
        DESC 'Birthday of the person, represented as an ISO 8601:2004 [ISO8601~~
@~Q2004] YYYY-MM-DD format'
        **EQUALITY generalizedTimeMatch**
        SYNTAX 1.3.6.1.4.1.1466.115.121.1.24
        ORDERING generalizedTimeOrderingMatch
        X-ORIGIN 'OpenID Connect 1.0

[2017-05-19 15:55] nynymike opened #562 "oxTrust should check environment variables for ox-ldap.properties"
It would be good if oxTrust could check the environment variables first for oxLDAP.properties and then look to the file system.

[2017-05-24 09:15] centroxy opened #564 "Spelling Mistake at Gluu Server > Person"
Gluu Server 3.1.0
1- Navigate to User > Manage People
2- Search one person / Add Update User
3- At Left side Nav menu Wrong spelling for User Permission
It should be "User Permission" instead of "User permisison"

[2017-05-25 13:37] aliaksander-samuseu opened #566 ""Enable proxy patterns" feature of CAS page doesn't seem to work"
Environment:
Ubuntu 14.04, Gluu CE 3.0.2

Preconditions:
1. A freshly installed Gluu CE instance with IdP component, where CAS hasn't been configured yet

Steps to reproduce:
1. Log in to web UI as admin user
2. Proceed to "Configuration -> Manage authentication" page, "CAS Protocol" tab
3. Set "Enable" checkbox, click "Update" button then "Update configuration files" button
4. Move into the conta

[2017-05-25 19:14] yurem opened #567 "Migration to Weld 3.0.0"
Many parts already were updated to Weld 3.0, JSF 2.2 and RestEasy 3.x.

There are next issues which we need to resolve in order to resolve this issue:
1) oxTrust reads all navigation.xml files and update faces-config.xml at runtime. But all added navigation-cases not work. We need to fix this.
2) Update last 55 places where there are: s:validateAll, s:validate, s:validateEquality, s:graphicsImage,

[2017-05-25 20:20] yurem commented on #567
I comment out navigation.xml files validation. We don't need to validate them as generica faces-config.xml files. They are custom gluu navigation.xml files. We need to add xsd if needed to fix this. Also I fixed login method. @shekhar16 , @willow9886 Now current version looks like:
![default](https://cloud.githubusercontent.com/assets/6104200/26468897/c22c678e-41a0-11e7-8273-86cb688aff29.png)

[2017-05-27 10:35] shekhar16 commented on #558
@sahiliamsso ,please check the recaptcha site and secret key in your oxtrust configuration.I think it is missing in your configuration.

[2017-05-28 05:03] shekhar16 commented on #564
@centroxy User permisison is an attribute, you can modify it from configuration -> attributes

[2017-05-29 02:57] #547 closed

[2017-05-29 07:43] centroxy commented on #564
Hi @shekhar16 . This user permission attribute comes with Gluu server as default attribute. Is it possible to correct the spelling, so when we install Gluu server, we see the correct one.

[2017-05-29 15:43] willow9886 commented on #564
Yes, >permisison  is not the correct spelling. It should be spelled as @centroxy noted above: > Permission

[2017-05-29 16:00] willow9886 commented on #558
@shekhar16 can we make Captcha disabled by default?

The field should really say:

And then if you need to make additional changes in configuration for captcha to take effect, those instructions should be presented to a user.

[2017-05-30 03:59] shekhar16 commented on #564
To modify the attribute display name is a immediate solution as we provide this functionality from oxtrust UI.
We will update the preloaded data in LDAP.
Thanks.

[2017-05-30 04:34] shekhar16 commented on #558
@willow9886 yes we can make Captcha disabled default.
To work this functionality proprly ,we need to register with captcha site and then we get keys.So we should check with Yuriy M about these keys.

[2017-05-31 09:09] worm333 commented on #567
I've replaced: `s:validateAll`, `s:validate`, `s:validateEquality`, `s:graphicsImage`, `s:message` and `s:button` tags with similar tags from jsf as it recommended [here](https://access.redhat.com/documentation/en-US/Red_Hat_JBoss_Web_Framework_Kit/2.7/html/Seam_Guide/_seam_2_ui_controls_migration_to_jsf.html)

For `s:validityEquality` I created  custom validator [EqualsValidator](https://github.c

[2017-05-31 09:32] worm333 commented on #567
Here is some bugs I've noticed:

- `configuration/update` page could not be updated
- `attribute/inventory` attributes doesn't shows. Clicking to `Shows All Attributes` leads to the following exception: `javax.faces.FacesException: #{attributeInventoryAction.toggleShowInactive}: java.lang.NullPointerException`
- accessing `/organization/cacherefresh` page leads to the following error:`SEVERE: JSF1

[2017-06-01 10:39] yurem opened #571 "Replace s:fileUpload with rich:fileUpload in Saml pages"
We need to update these pages:
![image](https://cloud.githubusercontent.com/assets/6104200/26676239/9de7058a-46cf-11e7-8502-851079060b0e.png)

[2017-06-01 10:40] yurem commented on #567
@worm333 thanks you for update
I've opened separate issue regarding fileUpload control: https://github.com/GluuFederation/oxTrust/issues/571

[2017-06-01 11:25] yurem commented on #567
@worm333
Please update bugs list. I've fixed few of them. The second part I can't reproduce. Maybe someone fixed them already

[2017-06-01 17:10] mzico opened #572 "Multivalued attribute administration missing workflow"
Multivalued attributes should present itself 'twice' at least in oxTrust. However here is what happening:

 - A multivalued attribute is declared
 - Selected an user
 - Grabbed this multi valued attributes, populated this for this user
 - Then there is no second attribute available in oxTrust for inserting second values

Here is this video, showing how a multi valued attributes is behaving when Gl

[2017-06-02 07:42] yuriyz opened #573 "UMA 2 Scopes : Adapt oxTrust code according to scopes changes in oxAuth"
Now oxAuth support plain UMA scopes, following changes are made that must be reflected on UI:
1) removed oxUrl and oxType attributes (no type anymore for scope)
2) oxId keeps plain scope name (e.g view, edit, delete) or full scope url (e.g. http://rs.com/scopes/edit).

Please check commits attached to issue for more details here:
https://github.com/GluuFederation/oxAuth/issues/536

[2017-06-02 13:48] yurem opened #575 "Pass relyingPartyId from IDP to oxAuth in authorization request"
In 2.4.4 sp4 we implemented this already. These are only 2 lines:
https://github.com/GluuFederation/oxTrust/commit/00d18d62fcf8963f7f91938e5b493da8c4ddf469#diff-d009f1d80def1ca9109c86a33fb7c86dR136

How to implement this in 3.1.x?
@qbert2k how we can pass custom authorization paramer/header in 3.1.x which we can get from custom script?
@dmogn what we can use instead of line above with IDP3?
[code]

[2017-06-04 05:16] shekhar16 commented on #554
It was seam -> weld migration issue.And it is fixed.
the reason for this issue was org.gluu.oxtrust.util.jsf.JsfFunctions.getPersonDisplayName(JsfFunctions.java:112) null pointer .

But still need to test it with latest code.But as currently weld migrated code is in working not condition so couldn't able to test it properly.
presently facing issue :
jsf externalContext.redirect java.lang.illegalst

[2017-06-05 07:25] worm333 commented on #522
I've added new field `External log4j location`  in `/identity/logviewer/configure` form. If field is empty or path to external log4j is incorrect (file does not exist), then log4j2 will read the default logger config from .war (otherwise logger will be configured from external config)

[2017-06-05 07:25] #522 closed

[2017-06-06 04:27] #560 closed

[2017-06-07 03:30] sahiliamsso commented on #558
ok i see if i am entering valid captcha site key and client secret then it shows up on registration form.

[2017-06-07 07:00] yurem opened #578 "Deprecate or review native2ascii script usage"
In our oxtrust/oxauth server pom.xml there is dependency on
[code]

This script for Linux only. As result on Windows we have to comment out this line.
Are we really need to convert our resource files? Can we do this on runtime?

If it's not possible we need to add Windows version of script too.

[2017-06-07 08:28] worm333 commented on #578
In fact `native2ascii` we only need in production builds. Basically `resources/scripts/native2ascii.sh` is looping through all `messages*.properties` files and converts specific characters in ASCII, using Unicode escapes (\uxxxx) notation.

So I've created new profile `native2ascii` which will be activated only in unix-like systems, take a look at these pull requests: #579 and [#560](https://githu

[2017-06-10 17:22] nynymike opened #581 "Remove Level from Authorization Script"
![image](https://user-images.githubusercontent.com/3717101/27004870-4c219bfc-4dd7-11e7-849f-b328076cca69.png)

I don't see the purpose of this Level setting or how it is communicated or used.

[2017-06-10 17:26] nynymike opened #582 "Fix UMA scope validation logic for id"
![image](https://user-images.githubusercontent.com/3717101/27004900-d39d6bec-4dd7-11e7-9dab-cc9f081739c9.png)

1. The id does not need to be alphanumeric (in fact URLs are the standard), and the limit for URL length is 2083 characters
2. Scopes can have a description according to UMA [3.1.1](https://docs.kantarainitiative.org/uma/ed/oauth-uma-federated-authz-2.0-04.html#scope-desc)

[2017-06-10 17:31] nynymike opened #583 "Remove scope type from table view"
![image](https://user-images.githubusercontent.com/3717101/27004935-9fb1ba8a-4dd8-11e7-9dd1-4aa3f6bd5684.png)

We have removed scope type from the form, it should also be removed from the table view.

[2017-06-10 19:39] yuriyz commented on #581
related to https://github.com/GluuFederation/oxTrust/issues/573

[2017-06-10 19:40] yuriyz commented on #582
related to https://github.com/GluuFederation/oxTrust/issues/573

[2017-06-10 19:41] yuriyz commented on #583
related to https://github.com/GluuFederation/oxTrust/issues/573

[2017-06-11 05:06] shekhar16 opened #584 "redirect looping"
Few pages are not working.
error page
passwordReminder page
finishlogout page
etc.
Here is snapshot of dev environment.

![image](https://user-images.githubusercontent.com/15937500/27008527-79170bc8-4e91-11e7-900b-b7b8aff33fb0.png)

[2017-06-11 05:56] shekhar16 commented on #584
Fixed.

[2017-06-11 05:56] #584 closed

[2017-06-11 06:18] shekhar16 commented on #584
![image](https://user-images.githubusercontent.com/15937500/27008865-e13d674c-4e9b-11e7-8104-bc885edca9c5.png)

[2017-06-11 06:48] shekhar16 opened #585 "Passwordreminder page is not working."
![image](https://user-images.githubusercontent.com/15937500/27009004-faad01ac-4e9f-11e7-9d97-b4d8f7249090.png)

[2017-06-12 04:15] shekhar16 commented on #585
![image](https://user-images.githubusercontent.com/15937500/27019161-ca2dea50-4f53-11e7-8834-c5df797e22d7.png)

[2017-06-12 04:15] #585 closed

[2017-06-12 04:37] shekhar16 commented on #583
Fixed.

![image](https://user-images.githubusercontent.com/15937500/27019529-e02944d2-4f56-11e7-9ca4-9dc882c4a1ad.png)

[2017-06-12 04:37] #583 closed

[2017-06-12 04:37] shekhar16 commented on #573
![image](https://user-images.githubusercontent.com/15937500/27019534-e5899eb8-4f56-11e7-953e-62dfda0ac6fd.png)

[2017-06-12 19:21] aliaksander-samuseu opened #587 "Post-logout redirect uri list is named incorrectly"
Environment: Gluu CE 3.x

Please see picture below:
![logout-redir-url](https://user-images.githubusercontent.com/11802046/27050968-12bb369c-4fbd-11e7-876d-55b327c44a94.png)

The correct name of this list is "Post Logout Redirect URIs". Note that name of the corresponding button on the page is correct, seems like this list was just missed last time naming issues were attended there.

[2017-06-13 15:10] dmogn opened #588 "SAML - wrong metadata credentials directory path"
Path /opt/shibboleth-idp/metadata/credentials does not exist after setup.py
oxTrust cannot add a key and include it to TR conf .zip file late.

[2017-06-13 15:28] shekhar16 commented on #587
Fixed.
![image](https://user-images.githubusercontent.com/15937500/27090535-1247c220-507b-11e7-8187-6ba887e9d8f9.png)

[2017-06-13 15:28] #587 closed

[2017-06-13 15:29] shekhar16 commented on #558
@sahiliamsso can we close this issue.

[2017-06-13 15:51] dmogn commented on #588
Done.

[2017-06-13 15:51] #588 closed

[2017-06-13 16:35] #578 closed

[2017-06-13 18:49] nynymike opened #589 "Add FluentD support"
Can we add jar file and log4j2 adapter for FluentD? This would provide another good option for cluster logging.

https://github.com/wywygmbh/log4j-plugin-fluency

[2017-06-14 18:13] #582 closed

[2017-06-15 17:43] shekhar16 commented on #564
Fixed.

[2017-06-15 17:43] #564 closed

[2017-06-15 18:52] yuriyz commented on #573
@shekhar16 can you paste screenshot of how "Add UMA scope" dialog looks ?

[2017-06-15 18:57] yuriyz commented on #573
@shekhar16 I don't see any commits where you changed UI.

[2017-06-15 18:59] yuriyz commented on #573
ah, it's done as part of other issues, closing for now.

[2017-06-15 18:59] #573 closed

[2017-06-15 22:38] sahiliamsso commented on #558
Sekhar, Original issue can be marked resolved. However this one still not fixed as mentioned by @willow9886
[code]

[2017-06-16 14:40] yuriyz opened #590 "UMA 2 : Introduce new "UMA Claims Gathering Script""
1. Introduce new "UMA Claims Gathering Script". In Configuration -> Manage Custom Scripts there should be new tab called "UMA Claims Gathering Script". Key for new script type should be `uma_claims_gathering`.
See: https://github.com/GluuFederation/oxCore/blob/master/oxService/src/main/java/org/xdi/model/custom/script/CustomScriptType.java#L49-49

Make sure "Priority" is present for "UMA Claims Ga

[2017-06-16 14:40] yuriyz commented on #590
cc : @nynymike

[2017-06-16 17:08] jgomer2001 opened #591 "Several JSF-related exceptions in 3.1.0 blocks usage"
When building master branch from source and then running, some runtime errors arise and hinder the usage of oxtrust itself. The following describes the situation:

*Last cloned of repositories*: Jun 16th at 00:00 UTC
*IDE used*: IntelliJ 2017.1.2
*oxauth version used*: 3.1.0-SNAPSHOT (built from source also)
*app server*: Jetty using different ports under HTTPS. Versions tried: 9.4.2.v20170220, 9.

[2017-06-16 17:16] nynymike commented on #591
Shekhar and Yura... any ideas what could be going on here? Is this something specific to IntelliJ? Does this behavior exist with Eclipse?

[2017-06-16 23:44] jgomer2001 commented on #591
@yurem @shekhar16
**Also important**
Apparently SCIM service is not being "activated": by modifying entries directly in LDAP to enable SCIM and UMA custom script, if one enters to a URL similar to `https://localhost:8453/identity/seam/resource/restv1/scim/v2/Schemas/` a 404 HTTP error (not found) is returned by Jetty

[2017-06-17 00:30] nynymike commented on #591
Not sure what you mean by activated, but there is a config setting to enable SCIM.

![image](https://user-images.githubusercontent.com/3717101/27248501-fdf27b66-52c9-11e7-858f-3fcc6c6d0f24.png)

![image](https://user-images.githubusercontent.com/3717101/27248516-3edff414-52ca-11e7-9b75-5fc42faa5dea.png)

[2017-06-17 00:31] nynymike commented on #591
![image](https://user-images.githubusercontent.com/3717101/27248526-59081614-52ca-11e7-9fca-bb31265bb292.png)

[2017-06-17 00:31] nynymike commented on #591
![image](https://user-images.githubusercontent.com/3717101/27248532-681a9532-52ca-11e7-9712-de6c14702383.png)

[2017-06-17 00:32] nynymike commented on #591
![image](https://user-images.githubusercontent.com/3717101/27248538-7f67dd94-52ca-11e7-8c69-cf7257b78d93.png)

[2017-06-17 18:46] shekhar16 commented on #590
![image](https://user-images.githubusercontent.com/15937500/27255394-64f1a2aa-53bb-11e7-8417-e47a01c80947.png)

[2017-06-17 18:48] shekhar16 commented on #590
@yuriyz please add the script configuration for UMA Claims Gathering Script in scrpt.ldif file

[2017-06-17 19:57] yuriyz commented on #590
@shekhar16 added https://github.com/GluuFederation/community-edition-setup/commit/bde124668280930f16884df86c695118e07bbd0d

[2017-06-17 21:24] yuriyz opened #593 "UMA 2 : added "claims_redirect_uris" to client."
https://github.com/GluuFederation/oxAuth/issues/569

Look at oxauth issue above, there is new 'claims_redirect_uris' parameter added to client object (Dynamic Registration is updated). Please add parameter on UI.

`oxClaimRedirectURI` added to `oxAuthClient` OC.

[2017-06-18 04:22] shekhar16 commented on #590
Thanks :+1:

[2017-06-18 05:09] shekhar16 commented on #590
![image](https://user-images.githubusercontent.com/15937500/27258180-83b599ac-5411-11e7-899b-6cb0148d7aa9.png)

[2017-06-18 07:38] yuriyz commented on #590
@shekhar16 minor thing, please rename label "Level" -> "Priority". Otherwise look good.

[2017-06-18 09:32] shekhar16 commented on #593
![image](https://user-images.githubusercontent.com/15937500/27259715-0fb84f1a-5437-11e7-8dea-b4571f70d6f6.png)

[2017-06-18 11:04] yuriyz commented on #593
looks good

[2017-06-18 13:11] jgomer2001 commented on #591
You are right, that wasn't clear. I edited...

[2017-06-18 15:24] shekhar16 commented on #593
Fixed.

[2017-06-18 15:24] #593 closed

[2017-06-19 10:29] yurem commented on #591
@jgomer2001 I think you get redirects in loop and exceptions because your oxAuth instance not up or oxTrust is unable to get access token.
I've added negative navigation rules:
https://github.com/GluuFederation/oxTrust/commit/8f29124924c70ee27fc72a36d0827fdf35d93bba

I this issue there are other questions too. Can you tell if other issues still have place?

[2017-06-19 13:51] yurem commented on #591
Remove second redirect in pre-authentication phase: https://github.com/GluuFederation/oxTrust/commit/f90eca1bfe799515c4266b91a228194ed69ce0ab

[2017-06-19 13:51] #591 closed

[2017-06-19 16:42] jgomer2001 commented on #591
@yura
I think you overlooked some details in my issue. If oxAuth weren't up and running I wouldn't be able to login... and of course it's getting the access token: I can login! ; local oxAuth is well behaved - not even an error in that log.

I cloned master branch once more but am getting the same exact behaviour.

Also, I mentioned the SCIM problem here because I tought it could give some additio

[2017-06-19 17:52] shekhar16 commented on #590
![image](https://user-images.githubusercontent.com/15937500/27298409-1b978700-5546-11e7-91c9-62fadbcb76dc.png)

[2017-06-19 17:52] #590 closed

[2017-06-20 14:17] shekhar16 commented on #558
I think @yurem can tell us,about the recaptcha keys whether we are setting it up in setup or this would be for specific clients.

[2017-06-21 06:56] yurem opened #594 "Simplify RestEasy endpoints URLs"
Change:
/oxtrust/seam/resource/restv1/oxtrust/endpoint_name
To:
/oxtrust/restv1/endpoint_name

[2017-06-21 07:20] #594 closed

[2017-06-21 08:16] yurem commented on #567
Done, for all other migration issues we need to open separate issue

[2017-06-21 08:16] #567 closed

[2017-06-21 09:39] yurem commented on #551
We also need to remove deprecated LDAP objectClass

[2017-06-22 07:34] zamilskhan commented on #558
Tested, working properly in 3.0.2. Closing ticket.

[2017-06-22 07:34] #558 closed

[2017-06-23 15:47] shekhar16 opened #595 "Password Reminder page is not working."
Enter valid email address and then click on "Send Email" button.
getting Error page.
Getting below exception.:
javax.faces.FacesException: HV000030: No validator could be found for constraint 'javax.validation.constraints.NotEmpty' validating type 'java.lang.String'. Check configuration for 'email'

[2017-06-23 15:55] shekhar16 commented on #595
Fixed.

![image](https://user-images.githubusercontent.com/15937500/27490047-7895ea66-585a-11e7-8d77-d5e76350829a.png)

[2017-06-23 15:55] #595 closed

[2017-06-23 16:08] willow9886 commented on #595
@shekhar16 can you put a space in between `using` and `GLUU`. ?

[2017-06-24 06:45] shekhar16 commented on #554
Fixed.
![image](https://user-images.githubusercontent.com/15937500/27506503-c99674fe-58d6-11e7-9eea-b7f18377d48a.png)

[2017-06-24 06:46] shekhar16 commented on #554
https://github.com/GluuFederation/oxTrust/issues/585

[2017-06-24 06:46] #554 closed

[2017-06-25 12:35] shekhar16 opened #596 "Update login page design."
![image](https://user-images.githubusercontent.com/15937500/27516248-db7a0002-59d3-11e7-8ba7-be6f6decb3ef.png)

[2017-06-25 13:58] willow9886 commented on #596
@shekhar16 just want to confirm this is the design used when passport is enabled and in use as the login strategy?

[2017-06-26 14:36] nynymike opened #597 "UI locale Support for oxTrust"
I'm not sure if this is a bug or a gap in the docs:

[Issue 4240](https://support.gluu.org/other/4240/ui_locales-does-not-work-correctly/)

[code]

[2017-06-26 15:20] worm333 opened #598 "Newly created users has admin rights."
Steps to reproduce:

1. Go to `/identity/person/add` and create new user.
2. Logout from oxTrust and log in with credentials of newly created user.

As a result new user will have admin rights.

[2017-06-26 15:53] willow9886 commented on #598
I am unable to replicate this on CE 3.0.2.

I registered a new user.

Logged in as the user and am only able to see my personal > profile.

![image](https://user-images.githubusercontent.com/5271048/27548132-a329a470-5a5d-11e7-97fe-85b5b112c340.png)

[2017-06-26 18:28] nynymike commented on #566
If this feature is not doing anything, let's just remove it from the GUI.

[2017-06-27 07:40] worm333 commented on #598
This behavior happens in the latest versions of oxTrust. Here is the information about my environment where I was able to reproduce it:

- oxAuth revision number: `a670dc8065600e8dd4174ddcb1bb5fb7927aa87f`
- oxTrust revision number: `5f8302d423dc17d740f46ec371e536a643846202`
- Gluu server: [gluu-server-3.0.1_1-5~trusty+Ub14.04_amd64.deb](https://repo.gluu.org/ubuntu/pool/main/trusty-devel/gluu-ser

[2017-06-27 14:25] shekhar16 opened #599 "Register page is not working."
http://localhost:8490/identity/register.

logs :

2017-06-27 19:52:35,658 DEBUG [oxTrustScheduler_Worker-2] [org.gluu.oxtrust.ldap.service.StatusCheckerTimer] (StatusCheckerTimer.java:222) - Setting httpd attributes
2017-06-27 19:52:35,746 DEBUG [oxTrustScheduler_Worker-2] [org.gluu.oxtrust.ldap.service.StatusCheckerTimer] (StatusCheckerTimer.java:198) - Appliance status update finished
2017-06-27

[2017-06-27 18:31] yurem commented on #598
I can't reproduce it in [3.0.2](https://repo.gluu.org/ubuntu/pool/main/trusty/gluu-server-3.0.2_9-1~trusty+Ub14.04_amd64.deb)

Do you have any scripts enabled which can add memberOf attribute to add user to admin group.

Can you try again and export this user and admin group entries?

[2017-06-28 02:38] qbert2k commented on #596
@shekhar16  @willow9886

According to specs the Client has metadata for Terms Of Service and Privacy Policy links:

http://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata

If possible please display them in the UI when present, for example, in old code:

[code]

Since those links were removed, there are interop test failing right now:

https://ox.gluu.org/jenkins/job/oxAuth/21

[2017-06-30 03:57] shekhar16 commented on #572
Fixed.
![image](https://user-images.githubusercontent.com/15937500/27720269-45e35088-5d76-11e7-9e2a-a9fac4e3bdb3.png)

[2017-06-30 03:57] #572 closed

[2017-06-30 05:59] #545 closed

[2017-06-30 06:01] #159 closed

[2017-06-30 09:01] #566 closed

[2017-06-30 14:41] willow9886 commented on #572
@shekhar16 the blue x , + , - icons don't look right... is that intended design?

[2017-06-30 18:19] willow9886 opened #603 "personal info on users page"
We display an `x` next to each item in the user profile page, but the x is overlapping the persons data. Let's implement a better design for this so that the `x` doesn't overlap the info.

![image](https://user-images.githubusercontent.com/5271048/27748834-91b4042e-5d96-11e7-9d65-f26c79af1e72.png)

[2017-06-30 18:29] willow9886 opened #604 "show u2f creds in user page"
We should show a users u2f creds in the manage people page.

![image](https://user-images.githubusercontent.com/5271048/27748998-3d8bdb82-5d97-11e7-9405-4d14745cade8.png)

Other creds, like mobile number and OTP are stored as user claims. Since they are seperate LDAP entries under the person entry, they would have to be listed in a subsection.

[2017-07-02 12:03] shekhar16 commented on #596
Login page when passport is disabled :
![image](https://user-images.githubusercontent.com/15937500/27769647-4fd41e7e-5f4c-11e7-970c-d32c1ab04fc4.png)

Login Page after passport enabled:

![image](https://user-images.githubusercontent.com/15937500/27769657-98ca1638-5f4c-11e7-8b0a-abb64b26063c.png)

[2017-07-02 12:13] shekhar16 commented on #596
Fixed.

[2017-07-02 12:13] #596 closed

[2017-07-02 15:50] shekhar16 commented on #603
Here is the option i tried.

![image](https://user-images.githubusercontent.com/15937500/27771452-1ef622e6-5f6c-11e7-9696-03de06465bdd.png)

[2017-07-03 15:33] willow9886 commented on #596
@shekhar16 we still need to add privacy policy and terms of service links here.

[2017-07-03 15:35] willow9886 commented on #596
@shekhar16 also note that when passport is enabled, we should only show the social media icons that have been enabled.

So if only facebook login is enabled, we only show facebook button on the login page.

If facebook and twitter login are enabled, we show fb and twitter buttons.

Does that make sense?

[2017-07-04 18:34] shekhar16 opened #606 "remove c:foreach from SAML page and related issues."

[2017-07-04 18:41] shekhar16 commented on #606
Fixed.

![image](https://user-images.githubusercontent.com/15937500/27840427-7e6c760c-6116-11e7-9f2c-e4407f84653a.png)

[2017-07-04 19:02] #606 closed

[2017-07-05 16:48] aliaksander-samuseu commented on #490
@shekhar16 @dmogn

Reopening it as it's designated for 3.0.2 and I still can reproduce it in my release deb pakage. Fed metadata's element is not added to `/opt/shibboleth-idp/conf/metadata-providers.xml` file at all, and regular TR's is added only if it's created with custom relying party configuration added to it. If it was again fixed for 3.1.x branch, was it also back-ported to 3.0.x?

[2017-07-05 17:27] shekhar16 commented on #604
I couldn't see these attribute (like mobile number and OTP) in ldap. Can u please help to locate these attributes.so that i can fix this issue.

[2017-07-06 13:54] shekhar16 commented on #603
Is it ok ?

[2017-07-06 13:56] willow9886 commented on #603
@shekhar16 yes, looks better.

[2017-07-06 14:39] shekhar16 commented on #603
Can we close this issue?

[2017-07-06 14:39] #603 closed

[2017-07-06 18:55] yurem commented on #244
I vote for solution #2 too. It's easier replace file than update cert in cacert

[2017-07-06 19:30] aliaksander-samuseu opened #607 "Issues with password reset feature"
Environment:
Ubuntu 14.04, gluu-server-3.0.2-9-1

Preconditions:
1. Mail server is configured at "Configuration -> Org. Configuration -> SMTP server configuration" and confirmed to be functioning (due to [other issue](https://github.com/GluuFederation/oxTrust/issues/608) this feature may be quite picky about SMTP server it wants to work with)
2. "Self-Service Password Reset" feature is enabled
3.

[2017-07-06 19:48] aliaksander-samuseu commented on #607
@shekhar16

We also probably have some issue with mark up in the letter's template, as it's presented in the mail client as a source code of html file (it's not rendered), thought it looks like it should:

![selection_072](https://user-images.githubusercontent.com/11802046/27929827-2d0806ae-629d-11e7-98dc-7a04957b207d.jpg)

Source is below:

[code]

[2017-07-06 20:11] aliaksander-samuseu opened #608 "Issues with SMTP server configuration"
Environment:
Ubuntu 14.04, gluu-server-3.0.2-9-1

Preconditions:
1. You have account at webmail.gluu.org

Steps to reproduce:
1. Log in to web UI as admin
2. Proceed to "Configuration -> Org. Configuration -> SMTP server configuration"
3. Configure it using settings like this:
  - SMTP host: webmail.gluu.org
  - From Name: any
  - From Email Address: your email address
  - Requires Authentication:

[2017-07-06 23:12] nynymike commented on #562
For docker deployment, we'd prefer not to have any file.

[2017-07-07 04:54] dmogn opened #609 "UI session timeout error"
Howto reproduce:
1. Login to oxTrust & wait for session timeout.
2. Click to any link to protected page.

Old version behaviour: redirecting to login page in oxAuth.
New version behaviour: redirecting to error page with log exception:

2017-07-07 04:43:41,816 ERROR [qtp274064559-16] [org.gluu.oxtrust.exception.GlobalExceptionHandler] (GlobalExceptionHandler.java:50) - viewId:/authentication/manage

[2017-07-07 17:03] dmogn commented on #571
Done.

[2017-07-07 17:03] #571 closed

[2017-07-10 10:41] yurem commented on #596
My 2 cents: https://github.com/GluuFederation/oxAuth/commit/71e4d02475c32f995454517f7f142df13ddf2231

I've restored logo section.

[2017-07-10 16:44] dmogn opened #610 "<ox:decorate> exception while rendering UI"
ERROR [qtp274064559-12] [org.gluu.oxtrust.exception.GlobalExceptionHandler] (GlobalExceptionHandler.java:50) - argument type mismatch
java.lang.IllegalArgumentException: argument type mismatch
        at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method) ~[?:1.8.0_112]
        at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62) ~[?:1.8.0_112]
        at sun.re

[2017-07-10 17:12] yurem commented on #610
Where do you get it? In all other places it works fine. Here is random [example](https://github.com/GluuFederation/oxTrust/blob/master/server/src/main/webapp/group/groupInventory.xhtml#L51).

[2017-07-10 18:22] shekhar16 commented on #608
@aliaksander-samuseu  it seam like there isconnection isuue with smtp server.

[2017-07-10 18:23] shekhar16 commented on #607
@aliaksander-samuseu  Have u tried it with latest build? As u mentioned version 3.0.2.
Please try with latest build.

[2017-07-11 03:47] dmogn commented on #610
@yurem
https://ce.gluu.info/identity/asimba/editIDP
https://ce.gluu.info/identity/asimba/editSPRequestor.htm

https://github.com/GluuFederation/oxTrust/blob/master/server/src/main/webapp/WEB-INF/incl/asimba/idpForm.xhtml#L69

All works fine after I've removed all <ox:decorate> from these pages.

[2017-07-11 03:52] dmogn commented on #610
I did not find any difference from other pages with <ox:decorate>

[2017-07-11 16:47] dmogn commented on #562
We need a flag to detect "Docker" version in oxTrust. At now oxTrust can detect CE only:
https://github.com/GluuFederation/oxTrust/blob/master/server/src/main/java/org/gluu/oxtrust/util/ProductInstallationChecker.java
https://github.com/GluuFederation/oxTrust/blob/master/server/src/main/java/org/gluu/oxtrust/action/ProductInstallationCheckerAction.java

[2017-07-11 16:49] iromli commented on #562
This is related to hide SAML menu in docker version of oxTrust though. A workaround to hide the menu is to create `/install/community-edition-setup` directory in oxTrust docker image.

[2017-07-11 16:55] dmogn commented on #216
We need adjust this logic for "Docker" version.

[2017-07-11 17:00] iromli commented on #216
It would be nice if oxTrust could check the environment variables to hide/show the menu and submenus.

[2017-07-11 17:57] yurem commented on #610
Fixed editIdp.xhtml

[2017-07-11 17:57] #610 closed

[2017-07-11 18:49] dmogn opened #611 "JSF-related changes in SAML pages"
By Yuriy's code review:

del  if="#{permissionService.hasPermission('trust', 'access')
del identity.checkLoggedIn()
because @Secure("#{permissionService.hasPermission('trust', 'access')}")

<f:metadata>
 </f:metadata>

<f:viewAction action="#{updateAsimbaIDPAction.setEditEntryInum(param['inum'])}"/>
->
<f:viewParam name="inum" value="#{updateAsimbaIDPAction.editEntryInum}" />

page.xml -> navigati

[2017-07-11 18:50] dmogn commented on #611
ASAP

[2017-07-11 20:13] yurem commented on #216
Is it need for "docker" version we can add environment variables checks.
But maybe we can add LDAP attribute to specify list of installed components in JSOM format? Is there any tree in LDAP which we not sync during replications?

[2017-07-11 20:16] iromli commented on #216
@yurem Currently, only `o=gluu` that is replicated.

[2017-07-11 20:38] shouro commented on #216
I vote for environment variable check.

[2017-07-12 03:03] zamilskhan opened #612 "Move captcha site key and site secret to manage registration page"
![captcha](https://user-images.githubusercontent.com/7703245/28099593-46aa3870-66df-11e7-956b-32a7d6d75dc9.png)
These fields are from oxTrust JSON Configuration. Moving them to the manage register page will make enabling captcha easier.

[2017-07-12 10:51] yurem commented on #216
Here are variables names which oxTrust ProductInstallationChecker should check:
[code]

[2017-07-12 10:56] yurem commented on #216
If `gluu.component.docker=true` oxTrust should assume that there is no installed components unless if it's enabled via env variable.

[2017-07-13 09:09] yurem opened #613 "JSF 2.2 and navigation.xml review after page.xml convertion"
- Remove from xhtml if there is sumalar annotation in action class.
Example
<f:metadata>
remove if="#{permissionService.hasPermission('trust', 'access')
remove identity.checkLoggedIn()
because @Secure("#{permissionService.hasPermission('trust', 'access')}")

- Use JSF 2.2.way to set request parameters
Repalce
<f:metadata>
<f:viewAction action="#{updateAsimbaIDPAction.setEditEntryInum(param['inum']

[2017-07-13 13:17] jschristie commented on #597
@nynymike: you mean to say this is a bug as in bug or its a gap/bug in docs? Because i dont see any gaps in docs. May be an extra pair of eyes should be able to point me the right direction.

[2017-07-13 16:20] shekhar16 commented on #612
@zamilskhan  This is a part of oxtrust configuration json which is displayed by json editor js library .

[2017-07-13 18:17] #562 closed

[2017-07-13 18:17] #274 closed

[2017-07-13 22:41] zamilskhan commented on #612
@shekhar16 is there any way we can put the input in the manage registration page so that when these 2 fields are put there, they will be filled up in the oxtrust config json?

[2017-07-16 00:16] jgomer2001 commented on #546
@yurem Please take a look at the couple of pull requests that point to solving this issue

[2017-07-16 20:42] zamilskhan opened #617 "Favicon update error"
Pakcage: gluu-server-3.1.0.x86_64 1-1.BETA3.centos6
oxTrust Implementation Build: a92af0ad7378a8bf8ef3ef5c807a5d76414a15bc

Favicon update always shows the gluu logo regardless what `ico` or `jpg` is used.
![favicon-update-error](https://user-images.githubusercontent.com/7703245/28251164-76435e5a-6a99-11e7-9625-f62ed207ee60.png)

[2017-07-16 21:19] willow9886 commented on #617
The favicon should actually just be the icon.. attached.

![icosahedron-transparent](https://user-images.githubusercontent.com/5271048/28251430-914c1f0e-6a42-11e7-8b58-0e7e274af898.png)

[2017-07-16 21:23] willow9886 commented on #617
oh, I see what you're saying.. regardless what image is uploaded, the favicon doesn't change. Yes, sounds like a bug.

[2017-07-16 22:08] zamilskhan opened #618 "Import xls file not available"
Pakcage: gluu-server-3.1.0.x86_64 1-1.BETA3.centos6
oxTrust Implementation Build: `a92af0ad7378a8bf8ef3ef5c807a5d76414a15bc`

There is no import user from xls tab under Users.
![import-xls](https://user-images.githubusercontent.com/7703245/28251287-f39dddb0-6a9b-11e7-8918-5e2f65f28da3.png)

[2017-07-17 01:43] zamilskhan opened #619 "SAML TR unable to add attributes"
Package: gluu-server-3.1.0.x86_64 1-1.BETA3.centos6
oxTrust Implementation-Build	: `a92af0ad7378a8bf8ef3ef5c807a5d76414a15bc`

Unable to add attributes while creating a new TR, and new TR is not created
![create-tr-error](https://user-images.githubusercontent.com/7703245/28253261-9055f350-6ac3-11e7-882b-d6743e56ef93.png)

[2017-07-17 04:03] dmogn commented on #613
related with https://github.com/GluuFederation/oxTrust/issues/611

[2017-07-18 08:42] yurem commented on #562
@rahatjaan we need to add same method to oxAuth to allow override use env variables instead of ox-ldap.properties

Is this works fine if we don't have ox-ldap.properties at all?

[2017-07-18 16:36] yurem opened #620 "Custom nameid functionality requires update"
Current AttributeResolverAction do work in hack way. It reads the template, process it and overwrite IDP file.
Another IDP configuration generator do the same. As result we don't know which file in IDP now.

We need to update AttributeResolverAction to store configuration in LDAP. And IDP configuration generator should use this information when needed.

In result we should get one service which ge

[2017-07-19 20:03] yurem commented on #607
@aliaksander-samuseu can your check it in 3.1.0: http://ox.gluu.org/maven/org/xdi/oxtrust-server/3.1.0-SNAPSHOT/oxtrust-server-3.1.0-SNAPSHOT.war ? Please reopen it if bug still exists.

[2017-07-19 20:03] #607 closed

[2017-07-19 20:21] GuillaumeSmaha commented on #597
@nynymike I can reproduce this bug with version 3.0.2.
If I updated the file `messages_es.properties` in the war file `oxauth.war`, my translation will work correctly.

Do you provide a directory in `/opt/gluu/jetty/oxauth` to overwrite these properties files ? (instead of directly edit the war file)

[2017-07-19 21:02] GuillaumeSmaha commented on #597
@nynymike I think I found why it doesn't work on 3.0.2.
I check files in `oxauth.war` and it seems that the files matches the version 3.0.1 instead of 3.0.2.
For example, I exactly have this file : https://github.com/GluuFederation/oxAuth/blob/v3.0.1/Server/src/main/webapp/WEB-INF/faces-config.xml

I installed gluu 3.0.2 with the rpm package for centos 7.

[2017-07-20 08:08] worm333 commented on #597
@GuillaumeSmaha right, in order to add new locales you need to add `messages_[locale].properties` to [resource](https://github.com/GluuFederation/oxAuth/tree/v3.0.1/Server/src/main/resources) folder and add language code as `supported-locale` to the [faces-config.xml](https://github.com/GluuFederation/oxAuth/blob/master/Server/src/main/webapp/WEB-INF/faces-config.xml#L9).

Modifying `uiLocalesSupp

[2017-07-20 12:39] #546 closed

[2017-07-20 12:50] jgomer2001 commented on #591
Last week commits on this project have improved considerably my local oxTrust behavior
Curiously I ended up achieving better results in a CLI only environment...

[2017-07-20 15:32] GuillaumeSmaha commented on #597
@worm333 Can you check the build for the RPM file https://repo.gluu.org/centos/7/gluu-server-3.0.2-1-1.centos7.x86_64.rpm to verify if the oxauth war is updated or still at version 3.0.1 ?

[2017-07-21 11:45] #618 closed

[2017-07-22 04:10] shekhar16 commented on #619
@zamilskhan  please test it with latest build. its working for me with latest code.

[2017-07-22 07:38] shekhar16 commented on #599
@rajnikantsh is it working with latest code?Because its not working for me..

[2017-07-23 11:10] shekhar16 commented on #612
Fixed.

![image](https://user-images.githubusercontent.com/15937500/28498855-7b51cfe0-6fc5-11e7-88a3-db3d0e9b6002.png)

[2017-07-23 11:10] #612 closed

[2017-07-24 14:41] yurem commented on #540
yes, we need to implement it. Partially we can do this now. I offer to implement custom logic via registration script.
Here is what I suggest to add:
1. Add to [registration ](https://github.com/GluuFederation/oxExternal/blob/master/user_registration/sample/SampleScript.py) script.
[code]
If getConfirmationPage return non empty string we need to redirect user to specified page after registration

[2017-07-24 14:43] yurem commented on #540
After that we can implement what @mzico suggested:
1. In preRegister add to user entry attribute with random GUID
2. In post Register we need to send e-mail with link and with GUID at the end
3. In confirmRegistration we need to try to find user by GUI and remove GUID and active user.

[2017-07-24 16:23] rajnikantsh commented on #599
@shekhar16 following is the PR is opened for this issue this is still not merged. Please have a review on this https://github.com/GluuFederation/oxTrust/pull/623/commits/0b2fb882f7dd90ea24a3e62c54ec3a5d5afd36e3

[2017-07-24 18:04] shekhar16 commented on #540
https://github.com/GluuFederation/oxExternal/commit/c744eceed84357e83d7f66f5eb875927385219ee#diff-c26b65d1d358368054b5000f284c7582

[2017-07-24 19:02] yurem commented on #540
@shekhar16 can you write new sample scripts which implements this work flow?

Can you add these new methods to sample script: https://github.com/GluuFederation/oxExternal/blob/master/user_registration/sample/SampleScript.py

[2017-07-25 10:04] yurem commented on #598
Fixed: https://github.com/GluuFederation/oxCore/commit/0e5b3b335eae2d4455f1c3c4ab2b714745afc4dc

[2017-07-25 10:04] #598 closed

[2017-07-25 10:23] yurem commented on #613
Updated all pages

[2017-07-25 10:23] #613 closed

[2017-07-25 10:31] yurem commented on #129
In some pages we partially re-render part of the page without submitting whole page. In older version it was the problem because user can trigger more than one ajax update simultaneously. As result he get error page. I think it's not an problem with JSF 2.2 now. In 3.1.0 I never get concurrent call exception. I think we only can add label to upper corner of the page to show user when browser execu

[2017-07-25 10:50] yurem commented on #129
Implemented

[2017-07-25 10:50] #129 closed

[2017-07-25 11:21] yurem commented on #540
We opened simular issue some tiem ago:
`Extend registration script. Add method to allow call special endpoint externally` #324

[2017-07-25 11:21] yurem commented on #324
There is new similar issue

[2017-07-25 11:21] #324 closed

[2017-07-25 12:06] rajnikantsh commented on #619
@zamilskhan can you please test it with latest code because as per @shekhar16 its working with latest code

[2017-07-25 15:40] dmogn commented on #611
Done.

[2017-07-25 15:40] #611 closed

[2017-07-25 15:45] nynymike commented on #619
Closing issue. If it's still a bug, please re-open.

[2017-07-25 15:45] #619 closed

[2017-07-26 13:05] worm333 commented on #597
@GuillaumeSmaha I've checked the build it uses `3.0.2` version.

[2017-07-27 18:55] yurem opened #626 "Handle coversation timeout"
In 3.1 we uses conversation context for all forms. This is better than session scope because it allows to open few tabs to do few independent updates simultaneously. Example:
Tab 1: https://u144.gluu.info/identity/person/update/@!FE7B.148F.D760.2436!0001!A0D4.6821!0000!51BE.EDED.A372.2CA8?cid=3
Tab 2: https://u144.gluu.info/identity/person/update/@!FE7B.148F.D760.2436!0001!A0D4.6821!0000!FE57.BF9D

[2017-07-27 19:04] GuillaumeSmaha commented on #597
@worm333 Thanks.
I also check and ` META-INF/maven/org.xdi/oxauth-server/pom.xml` contains `<version>3.0.2</version>`.
But my issue was a mismatched between war file and github (tag `3.0.2`) for the file https://github.com/GluuFederation/oxAuth/blob/3.0.2/Server/src/main/webapp/WEB-INF/faces-config.xml

But don't worry about it, I updated my ansible to update face-config.xml for the missing langua

[2017-07-27 19:07] yurem commented on #626
@nynymike @willow9886 How to handle this situation correctly?

We can add background JS process to web page to show user message after 9 minutes. In this dialog we can add button to update conversation. This one minute is enough to confirm that user still there.

Another simpler solution is to catch this exception and show error page with problem description.

Also we can increase conversation tim

[2017-07-27 22:19] bluebaroncanada commented on #608
This may be related to an issue I'm also experiencing where there is no certificate trust.
I resolved this issue locally by adding `props.put("mail.smtp.ssl.trust", this.hostName);`  to line 75 of `MainUtils.java`
This is an urgent issue that is fatal to execution.   I will file another issue in case they aren't actually related.

[2017-07-27 22:27] bluebaroncanada opened #627 "SMTP trust issues"
I am experiencing a severe issue with SMTP setup.  I try to connect and there's a generic `Failed to connect to SMTP server.`  Very helpful.
So I checked out the project and wrote a small Main function like so:

[code]
The error that I got is:
[code]
That led me to: https://stackoverflow.com/questions/16115453/javamail-could-not-convert-socket-to-tls-gmail

and indeed, if I add `props.put("mail.sm

[2017-07-27 22:28] bluebaroncanada commented on #627
May be related to https://github.com/GluuFederation/oxTrust/issues/608

[2017-07-27 22:28] bluebaroncanada commented on #608
May be related to https://github.com/GluuFederation/oxTrust/issues/627
Urgent

[2017-07-28 09:05] yurem opened #629 "Add option to mail configuration to enable implicit trust to host mail server"
Now oxTrust trust mail server by default:
https://github.com/bluebaroncanada/oxTrust/blob/f5dd949ab7201db3351c6e1aaae558d84ed09715/server/src/main/java/org/gluu/oxtrust/util/MailUtils.java#L75

We need to enable/disable this via check box in mail configuration form.

[2017-07-28 09:06] yurem commented on #627
Merged your pull request

[2017-07-28 09:06] #627 closed

[2017-07-28 16:00] rajnikantsh commented on #620
Here is the PR for this issue

https://github.com/GluuFederation/oxTrust/pull/630
https://github.com/GluuFederation/oxCore/pull/42
https://github.com/GluuFederation/community-edition-setup/pull/318

[2017-07-28 16:00] #620 closed

[2017-07-29 08:59] shekhar16 commented on #540
https://github.com/GluuFederation/oxExternal/commit/ed61aba9259f10bf865886cda910328b89350f73#diff-c26b65d1d358368054b5000f284c7582

[2017-07-29 09:01] shekhar16 commented on #540
https://github.com/GluuFederation/oxCore/commit/17c792027487c970720070904dd7ebc941e42c9e

[2017-07-31 11:53] yurem opened #631 "Remove old SCIM 1 code"
We need to remove all SCIM 1 related classes to clean up and remove unsupported code

[2017-07-31 11:53] yurem commented on #631
@nynymike What do you think?

[2017-07-31 12:20] nynymike commented on #631
Yes, remove SCIM 1 support!

[2017-07-31 18:23] mzico opened #632 "Wrong error message for authN failure"
Wrong credential is showing 'Incorrect email or password' though primary_key is 'Username' / 'UID'.
![screenshot_15](https://user-images.githubusercontent.com/7156097/28791833-4dd2088a-75f3-11e7-96aa-aa812cc2cbc5.png)

Versions: All 3.x including 3.1

[2017-08-01 03:32] bluebaroncanada opened #633 "Images in developer setup are too small"
On this page https://gluu.org/docs/ce/3.0.2/developer-guide/oxtrust-eclipse/
Some images are too small to be legible.

https://gluu.org/docs/ce/3.0.2/img/developer/oxtrust/deployinjetty.png
https://gluu.org/docs/ce/3.0.2/img/developer/oxtrust/vmarguments.png
https://gluu.org/docs/ce/3.0.2/img/developer/oxtrust/jettyverchng.png
https://gluu.org/docs/ce/3.0.2/img/developer/oxtrust/configurationliste

[2017-08-01 04:06] bluebaroncanada opened #634 "Some instructions in developer setup impossible to complete"
1. Download Silver Edition from Symas Download

2. Create folder for custom Gluu schema: C:\Program Files (x86)\symas-openldap\etc\openldap\schema

3. Copy into custom Gluu schema folder 2 files from CE /opt/gluu-server-3.0.2/opt/gluu/schema/openldap

4. Copy C:\Program Files (x86)\symas-openldap\etc\openldap\slapd.conf.default into C:\Program Files (x86)\symas-openldap\etc\openldap\slapd.conf

5.

[2017-08-01 04:08] bluebaroncanada commented on #634
Reinstalling openldap solved it, updating the directory names is still needed.

[2017-08-01 04:12] bluebaroncanada commented on #634
This instruction doesn't jive with the includes beloe
2. Create folder for custom Gluu schema: C:\Program Files (x86)\symas-openldap\etc\openldap\schema

   include      `etc/openldap/gluu/gluu.schema`
   include      `etc/openldap/gluu/custom.schema`

[2017-08-01 04:14] bluebaroncanada commented on #634
Module not listed
moduleload   unique.la

[2017-08-01 04:37] bluebaroncanada commented on #634
Had to add the module manually.  Suggest that be added to the instructions.

[2017-08-01 04:38] bluebaroncanada commented on #634
Had to create the directory `var/run` for the `slapd.pid` on the `slaptest.bat` step.

[2017-08-01 04:51] bluebaroncanada commented on #634
export OPENDJ_JAVA_HOME=/opt/jre; /opt/opendj/bin/ldapsearch -h localhost -p 1636  -Z -X -w secret -D `cn=directory manager,o=gluu` -b `o=gluu` objectClass=* > gluu.ldif
backticks should be double quotes.  also, throughout, this problem exists and special characters, when copied, are not handled by the browser/os which makes it very difficult to paste

[2017-08-01 05:03] bluebaroncanada commented on #634
What does this mean?  How do you do that?  There is a typo and the grammar is difficult to comprehend.

2. Load gluu.ldif into dev LDAP and update to conform new environemt

[2017-08-01 05:26] bluebaroncanada commented on #634
[code]
What?

[2017-08-01 05:27] bluebaroncanada commented on #634
[code]
What?

[2017-08-01 12:47] mzico commented on #632
workaround:

 - Un-war oxauth.war
 - Change value of 'login.errorMessage' attribute inside messages_en.properties
 - Re-war oxauth.war

[2017-08-01 13:52] nynymike commented on #634
We are not going to support you building a development version of oxTrust...

And by the way, we use a Gluu Server for LDAP... we never use Symas Silver.

[2017-08-01 13:52] #634 closed

[2017-08-01 14:15] zamilskhan opened #635 "Configure Log Viewer Error Message"
Package: gluu-server-3.1.0.x86_64 1-1.BETA4.centos6
Steps to reproduce:

1. Add new log location from configure log viewer
2. Click on update to see error message
![config-log-viewer](https://user-images.githubusercontent.com/7703245/28824529-3379794a-76e4-11e7-862a-b85dd48e03a5.png)

3. Check to see that logs have been added and accessed from oxTrust.

[2017-08-01 14:41] yurem commented on #256
Done: https://github.com/GluuFederation/oxTrust/commit/aa457c8047c8a6a100f623581d023724ee7d176f

[2017-08-01 14:41] #256 closed

[2017-08-01 16:03] arsenb commented on #632
This is not the preferred method of dealing with this kind of modification because every update of the GLUU would be overwriting the change.
As documentation states a more permanent solution is placing the files in /opt/gluu/jetty/oxauth/custom/pages/.....
We should find the reason why that is not working

[2017-08-01 16:08] mzico commented on #632
@arsenb : The method I shared won't override the changes as it's inside war file. However... I agree that...this modification should be much simpler like others in /custom/pages/ type.

[2017-08-01 17:14] yurem commented on #631
Done!

[2017-08-01 17:14] #631 closed

[2017-08-01 18:51] shekhar16 commented on #632
https://github.com/GluuFederation/oxAuth/commit/66bb8594f4db9f14f037f1f30eb63e3c0a5a6f41

[2017-08-01 18:52] shekhar16 commented on #632
![image](https://user-images.githubusercontent.com/15937500/28841669-9525d100-7718-11e7-9f03-235bd087dc50.png)

[2017-08-01 18:52] #632 closed

[2017-08-02 08:13] zamilskhan opened #637 "Custom Scripts fail to update"
Package: gluu-server-3.1.0.x86_64 1-1.BETA4.centos6
Steps to reproduce:

1. Navigate to `Manage Custom Scritps` and try to enable any custom script to see the following
![user-registration-update-error](https://user-images.githubusercontent.com/7703245/28863810-2f6b844e-778c-11e7-89fe-afe0448675f2.png)

2. The error produces the following stack trace in `oxtrust.log` available @ https://pastebin.c

[2017-08-02 13:39] rajnikantsh commented on #635
Log configurations was saved successfully but displayed message was wrong.

[2017-08-02 14:18] nynymike commented on #626
1. Background JS process won't run if the tab is closed.
2. Yes, update conversation to 30 min.
3. We should catch the error and logout the user if possible.

[2017-08-02 19:54] aliaksander-samuseu opened #639 "Can't add SAML TRs in web UI"
In latest snapshot Gluu CE 3.1 oxtrust.war provided by Yuriy for QA [here](http://ox.gluu.org/maven/org/xdi/oxtrust-server/3.1.0-SNAPSHOT/oxtrust-server-3.1.0-SNAPSHOT.war) new TR cannot be added in web UI as upon selection of any "Metadata Location" option subsequent controls (like url input field or file upload control) don't appear. I'm also unable to add attributes to the "Released" list. Can'

[2017-08-03 15:03] yurem opened #640 "Fix CR background job start"

[2017-08-03 15:05] #640 closed

[2017-08-03 16:21] yurem opened #641 "Remove trust all trust manager from oxLdap"
oxLdap supports new properties:
[code]

We added them in 3.1.0. I offer to not support trust all trust manager in 3.2.0

[2017-08-03 16:22] yurem commented on #244
I added new properties to [ox-ldap.properties](https://github.com/GluuFederation/community-edition-setup/blob/master/templates/ox-ldap.properties#L6).
[code]

Setup fill these properties during install.

Also for compatibility purposes if `ssl.trustStoreFile` or `ssl.trustStorePin` are empty oxLdap uses trust all trust manager as before. we will remove this in 3.2.0 completely: https://github.com/

[2017-08-03 16:22] #244 closed

[2017-08-03 16:24] yurem commented on #244
@jschristie can you add note to 3.1.0 docs about these 3 new ox-ldap.properties?

[2017-08-03 16:35] nynymike commented on #641
I think that is overkill... I like trust all... In some cases importing server certs is overkill

[2017-08-03 19:08] shekhar16 commented on #639
https://github.com/GluuFederation/oxTrust/issues/310

[2017-08-03 19:08] shekhar16 commented on #639
![image](https://user-images.githubusercontent.com/15937500/28938935-421a7222-78ad-11e7-9071-33929589eae7.png)

[2017-08-03 21:55] GuillaumeSmaha commented on #597
@worm333 I found another example that oxauth contains the file from 3.0.1.

I got an error after restart when I call `.well-known/openid-configuration`

[code]

If I check the file `OpenIdConfiguration.java` on Github for both version 3.0.1 and 3.02 :

- https://github.com/GluuFederation/oxAuth/blob/v3.0.1/Server/src/main/java/org/xdi/oxauth/servlet/OpenIdConfiguration.java#L352

- https://github.

[2017-08-04 11:07] aliaksander-samuseu commented on #639
@shekhar16

I did select "Single SP", but further controls still didn't appear. Which oxTrust package do you use? Is it the snapshot .war I referenced?

[2017-08-04 13:56] shekhar16 commented on #639
I m using latest code 3.1.0.

[2017-08-04 14:50] worm333 commented on #589
#642, [this pull request](https://github.com/GluuFederation/oxAuth/pull/601) and [this commit](https://github.com/GluuFederation/community-edition-setup/commit/3a9de2d3d0e0b82ff01010977222a818a8632694) are related with issue

[2017-08-04 15:19] aliaksander-samuseu commented on #639
@shekhar16

How can I test it? Is it available as a package to install, or as a .war archive?

[2017-08-04 15:41] worm333 commented on #589
Here is the instruction how to integrate [FluentD](https://www.fluentd.org/) with [oxTrust](https://github.com/GluuFederation/oxTrust):

1. Update [log4j2.xml](https://github.com/GluuFederation/oxTrust/blob/master/server/src/main/resources/log4j2.xml) by adding [FluencyAppender](https://github.com/wywygmbh/log4j-plugin-fluency/blob/master/src/com/wywy/log4j/appender/FluencyAppender.java):
[code]
T

[2017-08-04 15:49] willow9886 commented on #589
@jschristie can you work with @worm333 to get documentation for this added? Also, cc @shouro & @iromli

[2017-08-04 18:03] iromli commented on #589
We also need to add docs on how to find and modify `log4j2.xml` in distribution package. As for as I know, I need to unpack `identity.war` to modify `log4j2.xml`.

[2017-08-04 23:14] sahiliamsso opened #643 "Unable to Add users via oxTrust"
Click on users > add person, fill in required details.
Even though password and confirm password is same, getting this validation error
![image](https://user-images.githubusercontent.com/21104811/28990172-5f94ab10-7998-11e7-8751-6d40a6f06ab5.png)

Click submit
![image](https://user-images.githubusercontent.com/21104811/28990181-75f77748-7998-11e7-8536-85258247b78a.png)

Manifest-Version: 1.0
Imple

[2017-08-05 00:27] sahiliamsso opened #644 "User profile is not displayed in Oxtrust"
Nothing displays when click on Personal > Profile.
![image](https://user-images.githubusercontent.com/21104811/28991193-b05e4790-79a2-11e7-9112-087f663d0b8a.png)

**Logs**
2017-08-05 00:26:50,839 TRACE [qtp985655350-14] [org.gluu.oxtrust.service.PermissionService] (PermissionService.java:57) - Checking permissions for target 'profile' an 'action'. Identity: access
2017-08-05 00:26:50,995 ERROR [qt

[2017-08-05 07:52] shekhar16 commented on #368
I tested it in 3.1.0 latest code its working.
![image](https://user-images.githubusercontent.com/15937500/28993985-bd8003a8-79e0-11e7-836e-2787e6ed8063.png)

[2017-08-06 09:37] shekhar16 commented on #644
Fixed.
![image](https://user-images.githubusercontent.com/15937500/29001462-a4239b04-7aa8-11e7-910f-a28a5a31e902.png)

[2017-08-06 14:33] shekhar16 commented on #639
I think you can test it with latest .war file from repo.

[2017-08-06 14:55] shekhar16 commented on #637
I think the issues with existing record in ldap for inum : @!26AF.7366.6400.ACC1!0001!10A0.3CF7!0011!2DAF.F996
Can u please share the record : inum=@!26AF.7366.6400.ACC1!0001!10A0.3CF7!0011!2DAF.F996,o
u=scripts,o=@!26AF.7366.6400.ACC1!0001!10A0.3CF7,o=gluu

[2017-08-07 10:48] shekhar16 commented on #643
@sahiliamsso it working with latest code.Can u please try it with latest identity.war file.
Validation for password and confirm password is working on blurr event so whenever you we will move  these textfield the validation will call.So if both the value are same,the validation will get clear.

[2017-08-07 15:33] jschristie commented on #589
@iromli, I don't think that would be required, since we could configure that in oxTrust UI

[2017-08-07 15:33] #589 closed

[2017-08-07 15:48] yurem commented on #508
Fixed

[2017-08-07 15:48] #508 closed

[2017-08-07 17:48] nynymike opened #645 "Display Client Refresh token time to live"
A new feature in oxAuth allows specification of different refresh token expiration intervals. This needs to be displayed, and settable in the oxTrust admin UI.

See: https://github.com/GluuFederation/oxAuth/issues/603

[2017-08-09 03:31] shekhar16 commented on #515
The relying party will be visible when we select entity type=single sp.
The page was redesign as per https://github.com/GluuFederation/oxTrust/issues/310

[2017-08-09 11:09] aliaksander-samuseu commented on #639
@shekhar16
Just have tested it, it still the same

[2017-08-09 11:19] aliaksander-samuseu commented on #515
@shekhar16
Just wanted to make sure there is no confusion here. As mentioned above, in IdPv3 we got those new conditions - `RelyingPartyByGroup`/`RelyingPartyByTag` - which actually may make those controls useful for federations too, if employed. So we could allow users to create general TR for some federation, instead of creating separate TRs for each SP he needs from this federation (they still

[2017-08-09 15:28] worm333 commented on #645
Added the necessary changes in the following pull requests: [oxTrust](https://github.com/GluuFederation/oxTrust/pull/646), [oxAuth](https://github.com/GluuFederation/oxAuth/pull/605) and [community_edition_setup](https://github.com/GluuFederation/community-edition-setup/pull/320).

[2017-08-09 15:28] #645 closed

[2017-08-09 20:29] aliaksander-samuseu commented on #639
I've installed the latest RC1 package, and the issue is not there anymore. Closing it.

[2017-08-09 20:29] #639 closed

[2017-08-09 21:32] nynymike commented on #575
What is the impact of this bug?

[2017-08-10 06:35] sahiliamsso opened #647 "Cache Refresh (CR) not working"
External Users are not imported using CR

Implementation-Title: oxTrust Server
Implementation-Version: 3.1.0-SNAPSHOT
Archiver-Version: Plexus Archiver
Built-By: tomcat
Implementation-Build: 55827a37709be01b000c74b477ed71293c566092
Implementation-Vendor-Id: org.xdi

CR Logs

2017-08-10 06:30:44,001 ERROR [Thread-91] [gluu.oxtrust.ldap.cache.service.CacheRefreshTimer] (CacheRefreshTimer.java:199) -

[2017-08-10 13:52] GuillaumeSmaha commented on #597
@worm333 Apparently, the branch/tag `3.0.2` is not the same than `version_3.0.2`. Could you delete this branch `3.0.2` to avoid future confusion when somebody tries to explore the code of this version ?

[2017-08-10 18:32] shekhar16 commented on #637
Please share the record so that we can resolve the issue and close it.

[2017-08-10 18:36] shekhar16 commented on #604
@nynymike @yurem Can u please help me to add these fields in user attribute tab as these are not in attribute list.

[2017-08-11 01:13] aliaksander-samuseu opened #648 "SAML TRs cannot be created in web UI"
Environment: Ubuntu 14.04, Gluu CE RC1 + latest oxauth/oxtrust packages installed according to [this guide](https://ox.gluu.org/doku.php?id=qa:platforms#howto_update_beta_package_to_latest_310_version)

Steps to reproduce:
1. Log in to web UI as admin user
2. Move to "SAML -> Trust Relationship" page and click "Add relationship" button there
3. Try to create some basic TR using "Uri" or "File" met

[2017-08-11 01:23] sahiliamsso commented on #643
@shekhar16 just tried on latest war file. Still getting same error
Manifest-Version: 1.0
Implementation-Title: oxTrust Server
Implementation-Version: 3.1.0-SNAPSHOT
Archiver-Version: Plexus Archiver
Built-By: tomcat
Implementation-Build: 55827a37709be01b000c74b477ed71293c566092

![image](https://user-images.githubusercontent.com/21104811/29198435-a72092dc-7e61-11e7-98d2-8498ce700bf1.png)

2017-08-

[2017-08-11 09:12] rajnikantsh commented on #637
Not able to reproduce this as i updated custom script by checking enable checkbox. Was able to successfully update custom script list.
I got error while updating custom script few weeks back at that my code and data in ldap server were up to date. As i updated my data and code everything started to working fine.

[2017-08-11 13:29] ldeveloperl1985 commented on #637
I am trying to update custom script using oxtrust. It updated the configuration but shows the same message as above `failed to update custom script configuration`.
oxtrust log: https://pastebin.com/YmdwJQru

Package: gluu-server-3.1.0_1-1.RC1-trusty+Ub14.04_amd64
Ubuntu 14.04

[2017-08-11 13:38] nynymike commented on #637
I wonder if it's a schema error:

[code]
Perhaps if we could print the entry to the debug log and see what value is missing.

[2017-08-11 13:40] nynymike commented on #643
Can you include the ldif for this entry? Perhaps the entry is not objectclass gluuPerson...

[2017-08-11 16:16] aliaksander-samuseu commented on #648
@shekhar16

Could you also check other methods of TR creation while you on it? Creating fed TR and a single TR from that fed TR, in particular.

[2017-08-11 19:05] nynymike opened #649 "Display status of client in OpenID Connect Client Form"
Corresponding UI change for oxAuth https://github.com/GluuFederation/oxAuth/issues/612

[2017-08-11 19:11] nynymike commented on #649
Reopen if necesssary per comment in https://github.com/GluuFederation/oxAuth/issues/612

[2017-08-11 22:37] sahiliamsso opened #650 "Error when session is idle for ~10min"
Getting this error on any action taken after session is idle for ~10mins
![image](https://user-images.githubusercontent.com/21104811/29234128-8a8e8de8-7f12-11e7-9f4d-2ab2c08a4f38.png)

![image](https://user-images.githubusercontent.com/21104811/29234311-bcc70460-7f13-11e7-87d3-534a1245df6f.png)

[2017-08-12 08:29] jschristie commented on #644
Issue still persist and I am latest build, trusty RC1

[2017-08-12 14:07] mzico opened #651 "Log level not changing"
changing log level from oxTrust ( Configuration -> JSON configuration -> loggingLevel ) is not doing anything in log levels of oxtrust.

Here is what oxtrust.log says:

[code]

[2017-08-12 14:54] aliaksander-samuseu commented on #648
@shekhar16

Similar issues with adding OIDC/UMA items, and with adding users. It's a major QA blocker atm.

[2017-08-13 23:01] nynymike opened #652 "Bad error message on search with no values"
When I hit "search" on the "Manage People" page, with no value,  I got a weird error.

This is not a user friendly message

![image](https://user-images.githubusercontent.com/3717101/29254018-52cdf5d4-8051-11e7-8495-bc990cf72457.png)

An error message should display saying something to the effect of "2 characters are required to search people"

[2017-08-14 05:36] dmogn commented on #650
Same with this issue: https://github.com/GluuFederation/oxTrust/issues/609

[2017-08-14 06:06] dmogn commented on #648
Also this error is happen on oxTrust initialization (without UI actions):

[code]

[2017-08-14 06:08] dmogn commented on #648
Looks like all LDAP writing has been broken.

[2017-08-14 08:58] arvindsinghtomar commented on #643
@sahiliamsso I was able to add person successfully.

[2017-08-14 10:43] #643 closed

[2017-08-14 13:01] yurem commented on #648
I can't reproduce it locally. We also need to to check LDAP logs to get all required in formation about this issue.

[2017-08-14 13:51] jschristie commented on #652
![image](https://user-images.githubusercontent.com/23150138/29274478-a83675f8-8125-11e7-9f32-4ff001756342.png)

after searching with 1 character, i get a message which is great, but after entering two characters, i see "x" after search button

[2017-08-14 13:57] jschristie opened #654 "Tab not working in add users"
while adding users in oxTrust, i use Tab to move to next field, however tab doesn't take me to next field or doesn't highlight or allow me to type the values.

users>add person

click on Username, enter value and then press tab to move to next field.

I am taken to next field or let me to type.

[2017-08-14 15:25] jschristie opened #655 "Enabling custom scripts gives error"
While trying to enable User Registration/Client Registration under Manage Custom Script gives error, however the script is enabled.

![image](https://user-images.githubusercontent.com/23150138/29278592-d981844c-8132-11e7-8fa0-23e097163a6a.png)

[2017-08-14 15:36] jschristie opened #656 "Leaving the oxTrust Admin UI idle, gives an error"
Ideally if i leave the oxTrust admin UI idle for some time, it should log me out and return me to login page, rather here i get following error and clicking on back button, i am logged in, which is not ideal.

![image](https://user-images.githubusercontent.com/23150138/29279029-3bd4164a-8134-11e7-93f8-ed9bc4aaa00f.png)

[2017-08-14 15:47] jschristie commented on #635
issue still persist, meesage displayed is incorrect, i am using the latest build.

![image](https://user-images.githubusercontent.com/23150138/29279601-f6b8b58c-8135-11e7-839d-4f54821a8e65.png)

[2017-08-14 19:10] yurem commented on #652
It's not one dialog issue. It's normal JSF 2.2 behavior to use clientId to show problematic field.
It's JSF 2.2 pattern.
javax.faces.validator.BeanValidator.MESSAGE={1}: {0}

Instead of clientId you can add label attribute to input field. JSF will use it instead of clientId in this case.

Also we can change pattern to:
javax.faces.validator.BeanValidator.MESSAGE={0}

You can add here custom JSF me

[2017-08-15 04:10] sahiliamsso opened #657 "Configure Registration Form Attributes not showing up"
Configure Registration Form Attributes not showing up

![image](https://user-images.githubusercontent.com/21104811/29301968-ae245148-816f-11e7-9454-873526efc1ae.png)

[2017-08-15 07:26] dmogn commented on #648
@yurem - Look Mike's issue, please. Shib IDP should be installed to reproduce.

[2017-08-15 11:23] yurem commented on #647
Please retest it in RC3 and re-open if needed.

[2017-08-15 11:23] #647 closed

[2017-08-15 11:33] yurem commented on #650
Duplicate. Original issue: https://github.com/GluuFederation/oxTrust/issues/626

[2017-08-15 11:33] #650 closed

[2017-08-15 11:34] yurem commented on #609
Duplicate of issue: https://github.com/GluuFederation/oxTrust/issues/626

[2017-08-15 11:34] #609 closed

[2017-08-15 11:35] yurem commented on #637
Can you retest in RC3? I can't reproduce it

[2017-08-15 11:35] #637 closed

[2017-08-15 11:37] yurem commented on #644
It should works fine in RC3

[2017-08-15 11:37] #644 closed

[2017-08-15 11:38] yurem commented on #656
Same issue is here: Handle coversation timeout #626

[2017-08-15 11:38] #656 closed

[2017-08-15 11:39] yurem commented on #626
In RC3 we implemented point 2.
`
Yes, update conversation to 30 min.
`

In next build we will implement:
`
We should catch the error and logout the user if possible.
`

[2017-08-15 11:49] yurem commented on #648
Please retest it in CR3

[2017-08-15 11:49] #648 closed

[2017-08-15 11:56] yurem commented on #635
Please retest it in RC3. I'm getting this message when I click Update button
![default](https://user-images.githubusercontent.com/6104200/29315070-d8f73606-81c9-11e7-9be1-1bdfddf21267.png)

[2017-08-15 11:56] #635 closed

[2017-08-15 11:58] yurem commented on #654
I'm moving it to 3.2.0 and mark it as enhancement. The reasons is that it's not bug and even not all standalone applications supports right tab order.