[2014-11-25 07:57] yurem opened #1 "Saml OpenId auth client should support latest oxAuth"
Saml OpenId auth client should support latest technologies:
1) OpenId discovery
2) https://github.com/GluuFederation/oxAuth/commit/93432cae6173b71469230add47e981e7a0fd7f29
3) Dynamic client registration
4) More information in https://github.com/GluuFederation/oxTrust/tree/master/cas-openid-auth-client module

[2014-12-16 15:55] #1 closed, assigned to yurem

[2014-12-16 16:05] mzico opened #3 ""Cert info" is throwing error"
oxTrust / oxAuth version: 1.7.0.Beta3
How to reproduce the error:
1. Login to IDP
2. Go to "Manage Certificates"
3. Click on "Cert Info".
IDP is not showing any information about cert but it is landing to home page with error " System Error. Please try again or contact a Gluu administrator for help. "

Stack trace from oxtrust.log:

2014-12-16 10:42:28,667 ERROR [org.jboss.seam.exception.Exception

[2014-12-19 15:32] mzico opened #4 "Filtering website from Federation Trust is throwing error"
Creating trust relationship for a federated website works perfectly. But, if we want to follow a second route** to create a trust relationship under "Federation" with Filtering options, it throws error***.
From oxtrust stack trace:

2014-12-19 10:24:47,448 WARN  [org.jboss.seam.jsf.SeamPhaseListener] uncaught exception, passing to exception handler
javax.faces.validator.ValidatorException: 'inum'

[2014-12-29 13:15] mzico opened #5 "Support post user add custom script"
Scenario:
I do not have any backend AD / LDAP. I am using Gluu Server's internal LDAP to store user information. My new user will enter into Gluu Server's LDAP with only oxTrust registration feature. Primarily, I am allowing "Username" and "Email_Address" for registration. Is it possible to automatically map and populate ePPN ( eduPersonPrincipalName )?

ePPN will take "Email_address" attribute's

[2015-01-02 16:47] mzico opened #6 "test"
test

[2015-01-05 18:55] mzico opened #7 "Enhancement for "shibboleth2-configuration.zip" elements"
* attribute-map.xml
   * Released attributes are not showing it's urn value, instead it is loading
the value from template.
i.e. the snippet of existing "attribute-map.xml" from one trust relationship
where I released UID and givenName:

              <Attribute name="urn:oid:$attrParams.attributeOids.get($attribute.name)" id="uid"/>
              <Attribute name="urn:oid:$attrParams.attributeOids

[2015-01-05 19:12] mzico opened #8 "Testing for Ganesh Da"
Testing for GaneshDa

[2015-01-05 19:13] #8 closed

[2015-01-05 19:45] otataryn commented on #7
How can this be reproduced?

[2015-01-05 19:55] mzico commented on #7
We can create a trust relationship with "generate" method for any testSP.

[2015-01-05 20:54] mzico opened #9 "Unable to create custom attribute"
* Testing builds: Beta1 ~ Beta5
   * oxTrust: Implementation-Version: 1.7.0.Beta1
   * oxAuth: Implementation-Version: 1.7.0.Beta1

* How to reproduce?
Try to create a custom attribute with oxTrust Web UI.

* 100-user.ldif:
dn: cn=schema
objectClass: top
objectClass: ldapSubentry
objectClass: subschema
cn: schema
#objectClasses: ( DA855F9895A1CA3B000131B460A7-oid NAME 'DA855F9895A1CA3B000131B460A7

[2015-01-07 16:23] mzico commented on #9
I tried with Beta6 ( oxtrust+oxauth+oxIDP ), modified oxTrust.properties  (schema.add.attribute.attributeTypes, schema.add-without-attribute-types.objectClass.objectClasses and schema.add-with-attribute-types.objectClass.objectClasses ) and recreated "ou=oxAuth-DA....,ou=configuration..." and "ou=oxtrust-DA....,ou=configuration..." but issue is still there. Whenever I am going to create a new attr

[2015-01-07 17:40] yurem commented on #9
During installation setup script replace %%s with %s in destination oxTrust.properties. Can you try to replace next lines in oxTrust.properties:
schema.add.attribute.attributeTypes=( %s NAME '%s' EQUALITY caseIgnoreMatch ORDERING caseIgnoreOrderingMatch SUBSTR caseIgnoreSubstringsMatch SYNTAX 1.3.6.1.4.1.1466.115.121.1.15 USAGE userApplications X-SCHEMA-FILE '100-user.ldif' X-ORIGIN 'gluu' )
schem

[2015-01-07 20:04] mzico commented on #9
Thanks, it's working. I am closing the ticket.

[2015-01-07 20:04] #9 closed

[2015-01-10 17:56] yurem commented on #5
Added support in current code

[2015-01-10 17:56] #5 closed

[2015-01-12 15:10] mzico opened #10 "Unable to remove attribute from "Attribute mapping" section of CR feature"
oxTrust version: 1.7.0.Beta3
oxAuth version: 1.7.0.Beta3

How to reproduce:

Try to remove (click on "x" button) a mapping from "Attribute mapping" section of oxTrust CR page.

stack trace from oxtrust.log:

2015-01-12 09:28:27,540 ERROR [org.jboss.seam.exception.Exceptions] handled and logged exception
javax.servlet.ServletException: Cannot convert SimpleDoubleProperty [value1=displayname, value2

[2015-01-13 12:58] yurem opened #11 "Allow to configure CR appliance attribute oxTrustCacheRefreshServerIpAddress"
In oxTrust GUI should be option to specify oxTrustCacheRefreshServerIpAddress.

[2015-01-14 16:47] willow9886 opened #12 "Support email displayed in shibboleth2.xml.vm & feedback.xhtml"
We should use the support email indicated by admin during setup for shibboleth2.xml.vm and feedback.xhtml so that when a user sees an error page they are instructed to contact the organization directly, not gluu.

[2015-01-15 14:30] #12 closed

[2015-01-15 15:14] mzico opened #13 "Unable to delete trust relationship"
* oxAuth: 1.7.0.Beta6
* oxTrust: 1.7.0.Beta6

How to reproduce:
Create a sample trust relationship and then try to delete it. Deletion of trust relationship is not working.

Here is the stack trace from oxtrust.log:

2015-01-15 07:56:15,549 ERROR [org.gluu.oxtrust.ldap.service.LdifArchiver] Failed to write into log file
java.io.FileNotFoundException: /var/ox/oxtrust/removed/inum=@!DA85.5F98.95A1.C

[2015-01-15 16:18] #13 closed

[2015-01-15 21:00] willow9886 opened #14 "failed registration fixes"
Currently, when registration fails, we expose two additional fields that are not displayed upon original registration attempt: `cn` and `uid`

Only fields that are exposed in registration form should be displayed if registration attempt is failed.

[2015-01-15 21:07] willow9886 opened #15 "Password Reset in GUI"
Lets make pw reset configurable inside the oxtrust GUI. Perhaps as a field in organization configuration,

[2015-01-20 17:46] yurem opened #16 "Configure cluster"
"Configure cluster partners" gui is broken.
Is this feature required for shibboleth clusters ?
Perhaps we should just call the section memcached ?

[2015-01-20 19:09] nynymike opened #17 "oxTrust logout from old session web page"
If you login / logout it works. But if you login... wait a long time... and then hit Logout, the session is not Logged out of the browser. Perhaps the seam session is not valid, so the admin is getting redirected before the Logout is called? Is there some way to fix this? Perhaps auto-close of the oxTrust web UI so that the person no longer sees the Logout link?

[2015-01-22 15:02] yurem opened #18 "Fix Cluster configuratiuon"
It looks like GUI is broken. What about moving these options to new page from organization page?

[2015-01-22 15:03] yurem opened #19 "Fix CSS styles or default template"
Wrong CSS leads to displaying messages in not right place.
For example, open dialog to add new scope and click Add button.

[2015-01-22 15:05] yurem opened #20 "Fix values in Build Date and Build Number fields"
Values in next fields are invalid:
Build Date 12:11 Oct 30 2011 UTC
Build Number ${env.BUILD_NUMBER}

[2015-01-22 15:07] yurem opened #21 "Show only enabled Authentication modes and levels"
Show only enabled Authentication modes and levels in Manage Authentication form. Now it show even not enabled methods.

[2015-01-22 15:08] yurem opened #22 "Some elements in Manage Registration out of form area"

[2015-01-22 15:10] yurem opened #23 "Person count and Group count have empty value in status form"

[2015-01-22 15:11] yurem opened #24 "Fix invalid oxTrust relying-party.xml.vm tempale file"
relying-party.xml.vm
2015-01-22 08:10:39,852 - Left side ($trustRelationship.getGluuSAMLMetaDataFilter().size()) of '>' operation has null value at relying-party.xml.vm[line 128, column 61]

[2015-01-22 15:13] yurem opened #25 "Implement requered functionality in Manage Certificates dialog"
It was developed to work together with puppet. This means that it stores information in LDAP but don't do real trust/keystore updates.

[2015-01-22 15:14] yurem opened #26 "Fix method which parses LDAP schema"
2015-01-22 09:11:29,187 DEBUG [org.gluu.oxtrust.servlet.FaviconImageServlet] Successfully send organization favicon with size
2015-01-22 09:11:29,385 WARN  [org.jboss.seam.ui.renderkit.DefaultActionRendererBase] Must set an id for the default action source
2015-01-22 09:11:29,414 WARN  [org.jboss.seam.ui.renderkit.DefaultActionRendererBase] Must set an id for the default action source
2015-01-22 0

[2015-01-26 11:30] mzico opened #27 "Password reset feature"
Overall, password reset is working. There are two small issues though.

One:

1. Enabled password reset from oxTrust.
2. Re-loaded "ou=oxtrust-DA...,ou=configuration,o=gluu"
3. Enabled SMTP configuration in oxTrust.
4. https://idp.gluu.org/identity/person/passwordReminder.htm
5. #4 is asking for my email address, email address provided.
6. Getting "further instruction" in my email with link someth

[2015-01-26 19:18] #24 closed

[2015-01-26 20:33] mzico opened #28 "Remove "privacy level" section for attribute"
"Privacy Level" ( 1 - 5 ) are not used much in our existing operation. Let's remove that.

[2015-01-26 20:41] nynymike commented on #28
Definitely remove!

[2015-01-27 08:20] #28 closed

[2015-01-27 08:44] #21 closed

[2015-01-27 09:37] #6 closed

[2015-01-27 09:41] mzico opened #29 "oxTrust feature "Profile""
oxTrust feature: "Profile" is showing read-only report. It is not allowing user to change password / add or modify any attribute.

Though there are couple of standard ways to add / modify attributes (Gluu Server admin can add/remove attributes with another feature ) and change password ( self-signed password reset feature ) so I am exactly not sure if we *really* need to enable *this* feature. May

[2015-01-27 10:35] #11 closed

[2015-01-27 10:48] rystraum commented on #29
I've decided to look into this further.

The profile page is rendered using [viewProfile.xhtml](https://github.com/GluuFederation/oxTrust/blob/master/server/src/main/webapp/profile/person/viewProfile.xhtml) which suggests that it should already be editable as indicated in line 67 (userCanEdit? ' edit' : 'view') if isUserCanEdit() returns true.

isUserCanEdit() can be found in [GluuAttribute.java](

[2015-01-27 13:00] #19 closed

[2015-01-27 16:08] #20 closed

[2015-01-28 11:45] yurem opened #30 "CR Snapshot Folder should has default value"

[2015-01-28 12:56] yurem opened #31 "Find python replacemanet for check_ssl"
check_ssl is only one application which based perl. We need to find python replacement for it to avoid installing perl packages.

[2015-01-28 16:23] nynymike commented on #3
This is a duplicate of #25.

[2015-01-28 16:23] #3 closed

[2015-01-28 16:24] nynymike commented on #25
We can add this feature back when it addresses all the certificates for the different gluu server components.

[2015-01-28 17:11] #23 closed

[2015-01-28 18:18] yurem commented on #31
According to the Ganesh we will get it in 2 days. Vishwa Ranjan is working on it.

[2015-01-30 16:02] nynymike opened #32 "Authentication Level mapping to ACR"
In the custom authentication levels, we have a dropdown-box for "Level" with integers in it.

I think we need to add a new global field in Configure authentication for "Authentication Level ACR Prefix" (ALAP)

For example, if ALAP is "https://example.com/acr/level" , then an authentication level with 10 the the proper acr would be "https://example.com/acr/level/10"  This should be available also i

[2015-01-30 16:03] nynymike opened #33 "Set ACR / Level for LDAP Password Authentication"
There is no where to set the ACR or level associated with the default LDAP password workflow.

[2015-02-05 13:46] yurem opened #34 "Allow to set explicitly SCIM endpoint protection"
Currently oxTrust SCIM uses both authentication methods: oxAuth, UMA.

We should add dropdown box on Organization or Authentication page to allow specify explicitly SCIM protection method: oxAuth, UMA, Both. There is more information in this digest:
https://support.gluu.org/view/application-integration/scim-apis-not-found-404/1593

[2015-02-13 12:47] #31 closed

[2015-02-13 14:54] #27 closed

[2015-02-17 18:08] nynymike opened #35 "Configure if Scope is visible in OpenID Connect discovery"
It would be nice if there was a checkbox that controlled whether a scope was published to OpenID Connect discovery. We may need a new LDAP attribute (oxAuthDiscoverable?) to the oxAuthCustomScope objectclass

[2015-02-20 10:33] ganesh-at-wiw opened #36 "oxTrust logs throwing errors everytime check_ssl is ran"
Whenever /usr/local/bin/check_ssl is ran, which in turn runs the below command:
check_ssl_cert.sh -H `hostname`

we get error like:
SSL_CERT CRITICAL ganesh.gluu.org: Cannot verify certificate\nself signed certificate|days=365;;;;

Now, to tackle this, I've used: "-s" option in the command:

check_ssl_cert.sh -s -H `hostname`

The sample run looks like:
GLUU.root@ce:~# check_ssl_cert.sh -s -H host

[2015-02-20 10:34] ganesh-at-wiw commented on #36
Please guide if you think something needs to be corrected.

[2015-02-26 20:21] RubenatorX commented on #29
Any progress on this front? I really need users to be able to edit some of their information.

[2015-02-27 12:49] yurem commented on #29
We will take a look on this issue after 2.1 release

[2015-02-27 17:49] RubenatorX commented on #29
So, in the meantime... the only way for users to update their own email address is to email me?

[2015-02-27 19:14] nynymike commented on #29
Gluu supports the SCIM interface if you want to have another application make a call to update the attribute. You can also use LDAP. The primary purpose of the gluu server is central authentication / authorization. While we do have some identity management features, these features take a back seat in priority to access management. Self-service is definitely one of those IDM features that we'd like

[2015-03-03 14:17] otataryn commented on #36
Native check_ssl and check_ssl_cert_alternative.pl -H on Centos just returns a number of days, so that is what is expected in code.
GLUU.[root@ce community-edition-setup-master]# check_ssl
364

retuned an unexpected value
means that check_ssl returned something that cannot be considered a number.

Is there any way to make check_ssl_cert.sh -s -H hostname return a number?

[2015-03-03 14:42] yurem commented on #36
There is python version of this command: https://github.com/GluuFederation/gluu-util/tree/master/check_ssl
We are planning to migrate to this command in next CE in order to remove python from dist,

[2015-03-03 15:02] yurem commented on #33
There is basic authentication method which is qual to LDAP passowrd authentication method:
https://github.com/GluuFederation/oxAuth/tree/master/Server/integrations/basic

It's possible to enable it and specify auth level/name if we need acr in oxAuth.

[2015-03-03 20:15] nynymike opened #37 "Uma Scope mapping missing"
In the old interface, you could associate UMA Scopes with policies.
![uma_old](https://cloud.githubusercontent.com/assets/3717101/6471332/8e019844-c1af-11e4-8db1-28258c7536ef.png)

In the new interface, this feature seems to have dropped off.
![uma_new](https://cloud.githubusercontent.com/assets/3717101/6471331/8c1584dc-c1af-11e4-8d3b-1a4f90683a61.png)

Without being able to associate scopes with

[2015-03-03 21:16] mzico commented on #10
Problem resolved.

[2015-03-03 21:16] #10 closed

[2015-03-04 21:09] mzico opened #38 "Registration for new user is not completing in CE"
oxTrust: 2.1.0.Final
oxAuth: 2.0.0.Final
Base CE: 2.1.0-Beta1
Platform: CentOS.

How to reproduce:
1. "Enable" User Registration script ( Default. Setup coming with default CE installation. Same default "Custom Script"
2. Go to "Configuration" --> "Manage Registration"
2.1 Enable "Activate Invitation Links Management"
3. Go to : https://<hostname>/identity/register

After completing the registrati

[2015-03-05 15:50] yurem commented on #37
![screenshot_1](https://cloud.githubusercontent.com/assets/6104200/6508205/19706520-c360-11e4-90e3-6fec50908441.png)

[2015-03-05 15:51] yurem commented on #37
In new interface all scripts in the same place.
But after adding new script it's possible to select it in UMA scope form.

[2015-03-05 16:46] nynymike commented on #37
Ok, I guess its the same thing...

[2015-03-05 16:46] #37 closed

[2015-03-20 15:39] nynymike opened #39 "Registration Code Enrollment: Improve flow for unauthorized / expired tokens"
The Registration page should display a descriptive error when the registration code is expired/invalid -- not just redirect to the login page:

When the token is expired: "Your invitation has expired, please contact the instructor to request a new invitation."

When the token is invalid: "Your invitation is invalid, please contact the instructor to request a valid invitation."

[2015-03-30 15:18] nynymike opened #40 "Add configuration page to manage oxAuth/oxTrust JSON configuration"
ou=oxAuth,ou=configuration,o=@!1111,o=gluu

in oxAuthConfDynamic attribute you will see json..

The checkbox should find there "uma-add-scopes-automatically" and set it to "true" or "false"

This property enables oxAuth to dynamically create scopes registered by an UMA RS. The advantage of this is that applications can create their own specific scopes.

[2015-03-30 18:10] nynymike commented on #40
oxAuth/oxTrsut store configuration in LDAP. We need to add new page to change them on the fly. It should be universal editor which can allow to change values of any JSON.

[2015-03-30 18:25] willow9886 opened #41 "Responsive interface"
Need to merge updates for responsive oxTrust interface.

[2015-03-30 19:17] willow9886 opened #42 "oxPush in UI"
Add configuration property to hide/show oxPush configuration. By default, it should be hidden.  Also, oxPush should be managed inside one of the configuration items, not within the OAuth2 menu.

[2015-03-30 20:57] nynymike commented on #39
Added this to release 2.2 for the end of April: http://ox.gluu.org/doku.php?id=roadmap:2.2

[2015-03-30 21:01] mzico opened #43 "Confirmation email upon successful registration"
It would be nice if oxTrust / Registration could send a confirmation email after successful registration to newly registered user.

Requesting this feature for Gluu Server Version-2.2

[2015-03-30 21:10] willow9886 commented on #43
@mzico Hard coding this specific use case only scratches the surface.. wouldn't it be better to have a 'notifications configuration' section that allowed Gluu Server admins to configure notifications?

[2015-03-30 21:15] nynymike commented on #43
There is a post registration interception script where you could add this type of functionality. I'm not convinced there is enough demand for this...

[2015-03-30 21:15] #43 closed

[2015-03-31 14:37] nynymike opened #44 "Create new sample folder for interception scripts"
I think it would be better to create a folder substructure for sample scripts. For example:
[code]

[2015-03-31 14:49] yurem opened #45 "Update main menu according to requirements"

[2015-03-31 15:16] willow9886 commented on #45
Proposed new navigation structure: https://docs.google.com/document/d/1NC7CbJJDTUJfgvlHgEatPa7vLamoTcAuv-qsVSLTZFc/edit?usp=sharing

[2015-04-02 16:05] RubenatorX commented on #43
In my opinion, email confirmation is a basic and essential part of registration of an unknown user. I certainly don't want to be sending emails (like notifications and newsletters) to random emails owned by people that did not sign-up themselves.
@nynymike, it is one thing to script an email to be sent out on registration, its another thing to accept the incoming link to mark the email as valid.

[2015-04-06 19:03] willow9886 opened #46 ""Activate Invitation Links Management" in oxTrust"
Currently, the only reference to invitation links in oxTrust is in Configuration > Manage Registration, where we have a checkbox for Activate Invitation Links Management.

All other functionality within oxTrust relating to invitation links management has been removed, including "Configure Linktrack API"  and "Registration Requests" (which was formerly a part of the Profile section of oxTrust).

It

[2015-04-06 20:38] willow9886 commented on #46
It seems like we're leaning towards removing "Activate Invitation Links Management" from the oxTrust interface. We need to figure out a plan for any existing customers who are using this feature, and the features listed above that have already been removed from oxTrust.

[2015-04-07 15:18] willow9886 commented on #46
Mike's suggestion is to maintain the feature in the main branch, but hide it unless you manually update a properties file or ldap entry. Oleksiy agreed this is a good quick fix. I think we should proceed with this.

[2015-04-07 15:26] willow9886 opened #47 "Remove "Manage Email Addresses" section from Configuration > Org. Configuration"
This section for admin to enter email address for Jira, Centreon, Billing, etc. are no longer needed.

![screenshot 2015-04-07 at 10 26 01 am](https://cloud.githubusercontent.com/assets/5271048/7026629/883bc2a0-dd10-11e4-8e03-88862df3ff4a.png)

[2015-04-07 15:30] willow9886 opened #48 "Combine "Configure Log Viewer" and "View Log File" into one Page"
Configure Log Viewer and View Log File can be combined into one section called Logs.

UI can follow our existing pattern for when multiple sections are stored within one page, i.e. see configuration > organization configuration.

[2015-04-07 15:42] willow9886 commented on #45
fyi @zamilskhan for your next release notes, this is complete.

[2015-04-07 15:42] #45 closed

[2015-04-07 15:49] willow9886 opened #49 "Application Session tab hidden on Custom Scripts page"
Currently the tab for Application Session is half hidden on the custom scripts page. Let's make an adjustment to the interface so that it can be clearly viewed in full.

![screenshot 2015-04-07 at 11 34 26 am](https://cloud.githubusercontent.com/assets/5271048/7028210/12a0007e-dd1a-11e4-9570-38bbf2738148.png)

[2015-04-08 17:53] zamilskhan opened #50 "Transparent Logo upload problem"
There's an issue with uploading logos with transparent backgrounds in the oxTrust user interface. See Will's comment below.

[2015-04-08 18:25] willow9886 commented on #50
I was able to successfully upload a logo. However, when I tried to remove the test logo and upload a different logo, it did not take effect. See screenshot below.

![Uploading Screenshot 2015-04-08 at 1.23.57 PM - Display 1.png . . .]()

[2015-04-08 18:30] willow9886 commented on #50
I was able to upload multiple logos without issue..

[2015-04-08 19:30] willow9886 commented on #50
There's an issue with uploading logos with transparent backgrounds in the oxtrust user interface. When you upload an image with a transparent background, it shows up like the screenshots below.

![screenshot 2015-04-08 at 2 29 31 pm](https://cloud.githubusercontent.com/assets/5271048/7053559/c3c55692-ddfb-11e4-98ad-af643346e0d6.png)

![screenshot 2015-04-08 at 2 29 25 pm](https://cloud.githubuserc

[2015-04-08 19:43] zamilskhan commented on #50
Yes, the same thing happened in the CE Ubuntu 2.1 Installation. The problem seems to be with transparent background.

[2015-04-10 17:20] willow9886 opened #51 "Expose attribute mapping by default"
In oxTrust, Configuration > Cache Refresh, when the "Copy" method is selected, the "Attribute Mapping" drop down is exposed. This accordion should be expanded by default. Currently it is minimized by default.

# Currently, it looks like this by deault:

![screenshot 2015-04-10 at 12 19 29 pm](https://cloud.githubusercontent.com/assets/5271048/7093077/e6109410-df7b-11e4-8c49-028c138ebf9c.png)

# It

[2015-04-13 12:56] rystraum opened #52 "Developer environment"
Hi,

I'm familiar with Java but has not worked on jBoss before, but I'm comfortable enough with OOP and frameworks to feel my way around. I would like to contribute to this project, but I've been trying to set up a workflow where I can test my changes to no avail.

Do you have any documentation on how we can set a development environment up?

[2015-04-13 16:11] otataryn commented on #52
Hello.
The easiest way to fire up an enenvironment would be to create your own CE deployment, as described here: http://www.gluu.org/docs/articles/gluu-server-ce/ (see Installation). Once that is done you will be able to hack around and to move parts of the project to your workstation.

[2015-04-13 16:14] nynymike commented on #52
Rys,

Rahat just setup a development oxTrust environment, and may have some tips on setting up your development environment.

- Mike

[2015-04-13 16:22] rahatjaan commented on #40
I think by universal editor you mean that I will read the JSON and then parse json to get the fields present in the JSON object and then render the page with those fields dynamically and when you save the page it again converts the Java Object back to json and store the json string in ldap.

[2015-04-13 17:08] Anikynetix opened #53 "Registration Code Enrollment: Validate course capacity during registration"
Seat availability should be verified before the registration of each user. In the event of a registration attempt when there are no seats available, the following message should be displayed to the user:

"There are no available seats for this course at the moment."

[2015-04-13 17:55] willow9886 opened #54 "UMA navigation fixes"
Using seed21 as my example...

UMA navigation should be ordered:

- UMA
    - Resources
    - Scopes

When Scopes is clicked, currently it takes you to the resources tab. When Scopes is clicked, the default tab should be scopes.

[2015-04-13 18:54] willow9886 opened #55 "Hide "activate invitation links""
In Configuration > Manage Registration , we want to maintain the "Activate Invitation Links" feature in the main branch, but hide it by default unless it is manually configured from a properties file or ldap entry.

[2015-04-13 18:54] #55 closed

[2015-04-13 18:55] willow9886 commented on #55
Please see this issue: https://github.com/GluuFederation/oxTrust/issues/46

[2015-04-13 20:01] mzico commented on #36
Just to give you a note:
I just installed our wildcard cert in https://ubuntu.gluu.org

Also configured intermediate/root cert. But still I am getting:

GLUU.root@ubuntu:/etc/apache2/sites-enabled# check_ssl
SSL_CERT CRITICAL *.gluu.org: Cannot verify certificate\nself signed certificate|days=363;;;;
GLUU.root@ubuntu:/etc/apache2/sites-enabled#

BTW, I am using 2.1 deb

[2015-04-13 20:07] nynymike commented on #36
Can you paste in the Apache SSL configuration?

[2015-04-14 13:47] nynymike commented on #43
The Gluu Server is primarily an access management platform (i.e. central authn / authz). There are many requests for handy IDM features, There is already an SMTP component in Seam. So if you want to submit the code, or post a bounty to write this feature, you can help expedite it! Otherwise, we need to prioritize features that align with our business model.

[2015-04-14 19:39] yurem commented on #46
Should we add property in oxTrust.properties to enable disable it?

[2015-04-14 19:45] willow9886 commented on #46
Yes, let's proceed. "Activate Invitation Link " should be hidden by default.

[2015-04-14 19:46] yurem commented on #40
Also I think we need to add descriptions for every field too. We can store them in JSON/properties format in oxTrust.war because this is static information.

[2015-04-14 19:53] willow9886 commented on #42
I think this was fixed by Yura.

[2015-04-14 19:53] #42 closed

[2015-04-15 06:24] mzico commented on #5
@yurem : How to implement this feature in any live IDP? Customer who require this has 1.7.0 oxtrust and oxauth inside their IDP.

[2015-04-15 06:42] yurem commented on #5
You should update it to CE 2.1 and use this script as sample: https://github.com/GluuFederation/oxExternal/blob/master/user_registration/sample/SampleScript.py

[2015-04-15 11:29] rystraum commented on #29
@RubenatorX We've found a fix via changing LDAP attributes.
You need to change the attribute gluuOrgProfileMgt from disabled to enabled of the gluuAppliance dn.
Here's what worked for us, just modify to your setup.

      root# /opt/opendj/bin/ldapmodify -h localhost -p 1389 -D 'cn=Directory Manager' -w 'password'
      dn: inum=@!<inum of gluu appliance>,ou=appliances,o=gluu
      changeType: mod

[2015-04-15 11:52] rystraum commented on #29
@RubenatorX I've created a pull request that includes the setting under Configuration > Organization Configuration. This pull request and the LDAP workaround does the same thing.

[2015-04-15 15:49] RubenatorX commented on #29
Oh great thank you! Good work. My users will be grateful.

[2015-04-15 16:07] willow9886 opened #57 "Modification to oxTrust Home"
### Currently the homepage text is as follows:

Welcome to your Gluu Identity Appliance!

Your federation service is live! Here are some of the features this appliance provides:

1. Upload SSL certificates, configure appliance appearance and capabilities, import people - Configuration
2. Activate attributes to release - Attributes
3. Create a Trust Relationship - Trust Relationships
4. Manage User

[2015-04-15 19:05] rahatjaan commented on #40
![oxtrustjsoneditor](https://cloud.githubusercontent.com/assets/1223423/7167149/38b67d02-e3cc-11e4-855c-23156f0d7a9c.png)

[2015-04-15 19:05] rahatjaan commented on #40
My Idea for Universal JSON editor is attached in the screen shot above

[2015-04-15 19:44] yurem commented on #40
The mockup looks promisingly... I only think that we need to add 2 separate menu items to show oxAuth/oxTrust configuration independently.

[2015-04-15 20:07] nynymike commented on #40
actually, I'm ok with it on one page.... It saves space in the menu.

[2015-04-16 07:25] yurem commented on #40
In oxAuth there are few configurations in JSON.

Example:
dn: ou=oxAuth,ou=configuration,o=@!1111,o=gluu
oxAuthConfDynamic: https://github.com/GluuFederation/community-edition-setup/blob/master/templates/oxauth-config.xml
oxAuthConfErrors: https://github.com/GluuFederation/community-edition-setup/blob/master/static/oxauth/oxauth-errors.json
oxAuthConfStatic: https://github.com/GluuFederation/commu

[2015-04-16 07:27] yurem commented on #40
Are we planning to edit only oxAuthConfDynamic configuration?

[2015-04-16 07:28] rahatjaan commented on #40
This was just a POC of how it will look like but we can have all the 4 json configs for oxAuth as well

[2015-04-16 07:46] yurem commented on #40
I think we need to allow edit only one JSON:
oxAuthConfDynamic: https://github.com/GluuFederation/community-edition-setup/blob/master/templates/oxauth-config.xml

Other configs except oxAuthConfErrors it's dangerous to allow edit.

Regarding splitting oxAuth/oxTrust configs. I think Mike is right, it's more user friendly.  Moreover you are going to display them in collapsible panels. Hence user ca

[2015-04-16 12:28] rystraum commented on #29
@yurem I think this issue can be closed now.

[2015-04-16 12:48] yurem commented on #29
Thank you for your research and help.

[2015-04-16 12:48] #29 closed

[2015-04-16 19:23] nynymike opened #58 "Delete OAuth2 Client Fails"
When you try to delete a client, oxTrust reports:

Failed to remove client 'Demo Website'

The client is not deleted because it has subordinate entries in LDAP:

[16/Apr/2015:09:17:42 +0000] DELETE RES conn=8 op=1299 msgID=1300 result=66 message="The entry 'inum=@!E475.D9B8.5D7A.FE22!0001!B753.B06D!0008!EB96.8237,ou=clients,o=@!E475.D9B8.5D7A.FE22!0001!B753.B06D,o=gluu' cannot be removed because i

[2015-04-16 19:53] willow9886 commented on #52
Also, this guide might help you get the test environment setup:

https://github.com/GluuFederation/oxTrust/wiki/Setting-up-Development-Environment-on-Windows

Closing this issue for now.

[2015-04-16 19:53] #52 closed

[2015-04-19 19:13] rahatjaan commented on #40
configuration.oxTrust.oxTrustConfApplication and
configuration.oxAuth.oxAuthConfDynamic

both are editable now. Loading from Open DJ and Saving back to open DJ is done.

Can anyone tell me what is the process of committing code back to the git. One traditional way could be to create my own new branch and commit my code there othewise I can commit my code to release 2.1

My Changes reside in oxCore

[2015-04-20 12:54] yurem commented on #40
Create branch and commit code to the branch is the best approach.
But if your code is just small update or bugfix and we are not planning to release new version within one week yo can commit code to master branch.

[2015-04-20 16:07] rahatjaan commented on #40
I created my branch and committed code here
for ox trust
https://github.com/GluuFederation/oxTrust/tree/json_config
for oxCore
https://github.com/GluuFederation/oxCore/tree/json_editor

[2015-04-20 16:08] rahatjaan commented on #40
I have created pull request for both branches
for ox core
https://github.com/GluuFederation/oxCore/pull/1
for oxTrust
https://github.com/GluuFederation/oxTrust/pull/59

[2015-04-20 16:10] rahatjaan commented on #40
I have merged both the pull request to reduce your work because there were zero conflicts.

Please review and Close the ticket

[2015-04-21 16:20] yurem opened #60 "Configuration JSON editor should not use hardcoded oxauth config DN"
Currently JSON configuration editor uses next method to determine oxauth config DN:
it gets oxtrust config DN from oxTrustLdap.properties and replace oxtrust with oxauth.

I think JSON editor should allow to specify DN of configuration entries in LDAP in similar to Log viewer way.

oxJsonConfig: {"json_ldap_dn":[{"value1":"oxAuth dynamic configuration","value2":"ou=oxauth,ou=configuration,inum=@!1

[2015-04-21 16:23] yurem opened #61 "Load configuration from LDAP before editing in JSON editor"
Current implementation of JSON configuration editor load configuration from LDAP at startup only.
In future we are planning to do oxAuth/oxTrust configuration reload on the fly without server restart.
Hence JSON editor should load actual configuration from LDAP before allows admin to edit it.

[2015-04-21 16:50] yurem opened #62 "Don't allow to remove/instert mandatory fields"
We should hide menu which allows to insert/remove top level nodes. I think we should allow insert/remove only for array nodes.
This should make it more safe to use.

Current GUI:
![screenshot_1](https://cloud.githubusercontent.com/assets/6104200/7257629/bf6dea78-e85f-11e4-970d-87ee0d7e1694.png)

[2015-04-21 17:36] rahatjaan opened #63 "UI Revamp for OxTrust"
I am instructed to create this ticket from William that we are planning for a brand new UI design using responsive HTML5 and Css3.

We will use bootstrap, responsiveness for UI design. The idea for the UI is to come up with such a UI which is responsive and can be seen on any resolution that will help.

I am writing my proposal here for the new UI

1) Don't use JSF at all for UI. I can write two p

[2015-04-21 22:15] nynymike commented on #63
I like the idea, but I'm concerned about how long it would take to re-write the entire UI of the application...

[2015-04-22 04:21] rahatjaan commented on #63
I think it will be premature for me to say anything about estimating the entire UI to a brand new technology because I don't have full sight of the product itself.

But here is another way of doing a revamp. As a first step we can just build the UI with JSF and the same technology framework and just do the HTML bootstrap way and make it responsive.

As a next step down the road as a long term plan

[2015-04-22 09:43] #40 closed

[2015-04-22 09:44] rahatjaan commented on #61
fixing it now

[2015-04-22 13:13] yurem commented on #63
We are trying to add bootstrap 3 to oxTrust using Steve Oh's instructions from this issue: http://stackoverflow.com/questions/16751933/richfaces-with-bootstrap-css

If you have any question you can speak with Oleksiy about this.

[2015-04-22 14:00] willow9886 commented on #63
Yes, Oleksiy and Andriy are working on getting boostrap added now. I think after that has been completed and merged with our main project, we can start to plan for the additional upgrades described by Rahat.

[2015-04-23 07:53] rahatjaan commented on #61
fixed and committed to master branch because it is very small fix so no need to create a separate branch.

[2015-04-23 07:54] #61 closed

[2015-04-23 17:08] nynymike opened #64 "Add sector identifiers to view OAuth2 client page"
Sector identifiers enable a domain to group clients. This param is available to a client during dynamic client registration:
  http://openid.net/specs/openid-connect-registration-1_0.html#RegistrationRequest

Also, it determines which id is sent to a client:
 http://openid.net/specs/openid-connect-core-1_0.html#PairwiseAlg

We need this parameter visible for each oxTrust client.

[2015-04-23 19:31] yurem opened #65 "Add second TR to CE"
We need to add second TR to CE or CE testing data set in order to enable org.gluu.oxtrust.service.test.PostLogoutRedirectUriTest

[2015-04-24 17:15] nynymike opened #66 "Custom Authentication Script "Usage Types" have wrong values: Interactive-->Web, Services-->Native"
![image](https://cloud.githubusercontent.com/assets/3717101/7324363/b78d3180-ea6a-11e4-85bb-aa166e852092.png)

These labels are confusing. I think Interactive should be "Web" and Service should be "Native"

[2015-04-28 14:53] willow9886 opened #67 "Upgrade to SCIM 2.0"
We need to upgrade from SCIM 1.1 to SCIM 2.0.

[2015-04-28 15:14] yurem commented on #66
Fixed

[2015-04-28 15:14] #66 closed

[2015-04-28 15:53] otataryn commented on #50
Fixed by changing thumbnail image type from JPEG to PNG.
JPEG does not allow for alpha channel, and apparently sun image library works differently on Windows and CentOS: on Windows it just drops alpha altogether and on CentOS it throws an exception.

With PNG as image format for thumbnails there should not be any issues.

[2015-04-28 15:53] #50 closed

[2015-04-28 16:38] otataryn commented on #38
Could not reproduce on latest oxTrust snapshot.
2.1 Enable "Activate Invitation Links Management"
only allows for invited registration, so identity/register is inaccessible.
Enabling "Enable registration without invitation" allows user to be registered without any issues.

[2015-04-28 16:46] mzico commented on #38
I will test again. Thanks Oleksiy.

[2015-04-28 17:51] ganesh-at-wiw commented on #36
Yura, the python version of check_ssl command works fine at Ubuntu as I just checked it out.
But I do not see the python version included there in CE.
When are we planning to include it?

[2015-04-28 17:56] ganesh-at-wiw commented on #36
If it's okay to leave it for now, then we can close the issue.

[2015-04-28 18:27] ganesh-at-wiw commented on #36
Since now the check_ssl works in both rpm and deb alike, though in latest versions.
I've assigned it back to Oleksiy, so that he can add another layer to the error in oxTrust logs.

[2015-04-28 20:23] yurem commented on #58
Fixed

[2015-04-28 20:23] #58 closed

[2015-04-28 21:38] nynymike opened #68 "Remove Authorized Groups From Client Configuration"
![image](https://cloud.githubusercontent.com/assets/3717101/7380975/edd70cea-edc4-11e4-9580-6fa920c8e9d9.png)

This feature should be removed.

[2015-04-29 01:23] qbert2k opened #69 "Add feature to force oxAuth to generate new Keys"
oxAuth already has a feature to rotate keys automatically in a configured time:

[code]

It is required to have a way in the UI to rotate keys any time when desired.

[2015-04-29 11:45] mzico commented on #38
@otataryn : I was able to reproduce the problem. Please ping me in chat if you want to discuss more.

[2015-04-29 16:31] yurem commented on #68
Fixed

[2015-04-29 16:36] yurem commented on #68
I reopened this issue because we uses oxAuthClientUserGroup client atribute in Client entry.
If we really need it in oxAuth we need to revert back 2 commits:
https://github.com/GluuFederation/community-edition-setup/commit/a00f84a8e00cadb050c7c8d8783e604118d3a03d
https://github.com/GluuFederation/oxTrust/commit/614a9b9ff0d8b7058774c1dd9330db7881a47baa

Javier, can you give advice about this attrib

[2015-04-29 16:37] yurem commented on #36
I think it's part of CE. You tested it in 2.2 beta vesion

[2015-04-29 17:17] #14 closed

[2015-04-29 18:56] nynymike opened #70 "Make it easier to manage approved redirect_uris for sector_identifier_uri validation"
oxAuth validates that when a client registers a sector_identifier, the redirect_uri's registered must be present in a JSON at the specified https location [OpenID Connect Client Registration](http://openid.net/specs/openid-connect-registration-1_0.html#SectorIdentifierValidation)

That JSON file could be anywhere, but it would be convenient if oxTrust provided a way to publish these. For example,

[2015-04-30 10:31] otataryn commented on #41
Asigning to Rahat for now. If anything is needed from my side - please assign it back.

[2015-04-30 10:44] otataryn commented on #36
I'm adding SSL_CERT CRITICAL errors as an expected output in case something is wrong

[2015-04-30 15:57] #36 closed

[2015-04-30 21:57] #38 closed

[2015-05-01 09:42] yurem commented on #36
Current version of cehck_ssl always return number:
https://github.com/GluuFederation/gluu-util/blob/master/check_ssl/check_ssl.py

There is no SSL_CERT CRITICAL return code or message now.

[2015-05-01 15:40] yurem opened #71 "After changing oxAuth/oxTrust JSON conf application should reload settings"
For example we can add json attribute version and increase it at every config update.
On oxAuth/oxTrust periodic job should reload config on version change

[2015-05-05 14:43] willow9886 opened #72 "Add interfaces for Asimba"
If Asimba is deployed during installation, oxTrust should include interfaces to make managing Asimba easier. This is something that can be incorporated into the [interface redesign project](https://github.com/GluuFederation/oxTrust/issues/63). We'll need to put together some wireframes so that we know which functionality should be manageable from the interface.

[2015-05-22 18:07] nynymike opened #73 "Default Value for Cache Refresh --> LDAP"
The default value is for Cache Refresh is "VDS" which no one uses. We should change this to LDAP

[2015-05-22 18:07] nynymike commented on #73
![image](https://cloud.githubusercontent.com/assets/3717101/7776809/813986c2-0083-11e5-8e1e-7eba9d1d23d7.png)

[2015-05-24 08:06] mzico opened #74 "ArrayIndexOutOfBoundsException error for 2.2"
Though there is no visible problem producing for this error but then again it's coming periodically in oxtrust.log

2015-05-24 08:09:18,789 ERROR [org.jboss.seam.async.AsynchronousExceptionHandler] Exception thrown whilst executing asynchronous call
java.lang.ArrayIndexOutOfBoundsException: 1
	at org.gluu.oxtrust.ldap.service.StatusCheckerTimer.setCertificateExpiryAttributes(StatusCheckerTimer.jav

[2015-05-25 19:47] mzico opened #75 "Default LDAP Authentication Deactivation not working"
I implemented basic_multi_auth and went to deactivate default LDAP Authentication. But deactivation is not working and throwing 'System Error'.

Stack trace of oxTrust.log:

2015-05-25 19:44:40,768 ERROR [org.jboss.seam.exception.Exceptions] handled and logged exception
javax.servlet.ServletException: java.lang.NullPointerException
	at javax.faces.webapp.FacesServlet.service(FacesServlet.java:606)

[2015-06-12 18:34] yurem commented on #32
Can we close this issue?

[2015-06-12 19:29] #32 closed

[2015-06-19 19:08] #53 closed

[2015-06-22 17:34] #39 closed

[2015-06-22 17:34] #15 closed

[2015-06-25 23:02] aliaksander-samuseu opened #77 "[Bug][Functional][ManageCustomScripts] "Cross button" won't close new script UI section until any character is put into "Name" field"
Environment:
Ubuntu x64 14.04.1 on VmWare Workstation 11.1.0 build-2496824, Gluu CE 2.2

Steps to reproduce:
1) Login into oxTrust web UI
2) Move to the "Manage Custom Scripts" page
3) Click "Add custom script configuration" link on any tab here
4) Click "cross button" at the top-right corner of the UI section for the new script

Result: Section isn't removed, notification is displayed notifying t

[2015-06-29 15:39] nynymike opened #78 "Dropdown for Scope Type : "dynamic" or "ldap""
We should extend the schema of the schema of the LDAP entry oxAuthCustomScope to include
"oxScopeType" attribute. The current valid values are "ldap" or "dynamic"

The UI should enable selection of the oxScopteType as "type: " + drop down of available types.

![image](https://cloud.githubusercontent.com/assets/3717101/8411720/0a2394fc-1e4b-11e5-8c81-aea536a0df0a.png)

[2015-07-08 18:39] aliaksander-samuseu opened #80 "[Bug][Functional][Attributes]"System error" result on attempt to view "Work Telephone Number" attribute's properties"
Environment:
Ubuntu x64 14.04.1 on VmWare Workstation 11.1.0 build-2496824, Gluu CE 2.3.0-1

Steps to reproduce:
1) Login into oxTrust web UI
2) Move to the "Attributes" page
3) Click "Work Telephone Number" link to view corresponding attribute's properties (you may need to switch to "Show All Attributes" mode in case it was made inactive)

Result: user is being redirected to IdP's home page and e

[2015-07-12 17:53] yurem commented on #74
I see the same on ce-dev.gluu.org 2.3.1

[2015-07-14 18:54] aliaksander-samuseu opened #81 "[Bug][Functional][Federations]"Delete" button isn't deactivated in the editor during new federation's creation"
Environment:
Ubuntu x64 14.04.1 on VmWare Workstation 11.1.0 build-2496824, Gluu CE 2.3.0-1

Steps to reproduce:
1) Log in to oxTrust web UI
2) Move to the "Federations" page
3) Click "Add federation" link to open federation editor
4) Note that "Delete" button is present and active; press the button and confirm the deletion in pop-up dialog that will appear

Result:
Deletion is actually tried, res

[2015-07-15 00:46] aliaksander-samuseu opened #82 "[Bug][Functional][SAML]Ability to modify module's settings is lost on attempt to add attribute to the "Released" list"
Environment:
Ubuntu x64 14.04.1 on VmWare Workstation 11.1.0 build-2496824, Gluu CE 2.3.0-1

Steps to reproduce:
1) Log in to oxTrust web UI
2) Move to the "SAML" -> "Trust relationships" page
3) Click "Add Relationship" link to open relationship editor
4) Put some valid values into "Display Name" and "Description" fields
5) Select "URI" method from the "Metadata Type*" dropdown.
6) Put any of the

[2015-07-15 11:33] aliaksander-samuseu opened #83 "'Server Status' report"
Environment:
Ubuntu x64 14.04.1 on VmWare Workstation 11.1.0 build-2496824, Gluu CE 2.3.0-1

Steps to reproduce:
1) Log in to oxTrust web UI
2) Move to the "Configuration" -> "Server status" page
3) Note the values shown by different counters here.
4) Try to restart the Gluu server, or the host server itself and repeat steps 1-3, observing the differences.

Result:
Values of "Free memory" and "Fre

[2015-07-15 11:58] aliaksander-samuseu opened #84 "[Bug][Functional][Installation]"service gluu-server restart" console command fails"
Environment:
Ubuntu x64 14.04.1 on VmWare Workstation 11.1.0 build-2496824, Gluu CE 2.3.0-1

Preconditions:
Gluu server is running and fully operational

Steps to reproduce:
1) Open console and issue the following command under the root user: "service gluu-server restart"

Result:
Despite the server is stopped successfully, it's subsequent start attempt results in failure due to the fact some port

[2015-07-15 16:57] aliaksander-samuseu opened #85 ""Internal server error" on attempt to test SMTP connection"
Environment:
Ubuntu x64 14.04.1 on VmWare Workstation 11.1.0 build-2496824, Gluu CE 2.3.0-1

Steps to reproduce:
1) Log in to oxTrust web UI
2) Move to "Configuration" -> "Organization Configuration"
3) Provide some valid settings for SMTP connection and tick the "Requires SSL" and "Requires Authentication" checkboxes
4) Click the "Test configuration" button

Result:
The browser tries to load the

[2015-07-16 08:52] aliaksander-samuseu opened #86 "[Bug][Functional][SAML]URL put into the "SP logout URL" ends up in the "oxAuthPostLogoutRedirectURI" attribute of the "oxTrust Admin GUI" object"
This issue originates from this support ticket, which also contains a temporal circumvention method:
https://support.gluu.org/view/application-integration/logout-error-after-saml-config-update/1984

Environment:
Ubuntu x64 14.04.1 on VmWare Workstation 11.1.0 build-2496824, Gluu CE 2.3.0-1 (it was reported that versions 2.3.1-1 and 2.1-0 are also affected)

Steps to reproduce:
1) Log in to oxTrust

[2015-07-17 15:20] mzico opened #87 "User Registration not working"
Gluu Server: CentOS 6.x - 2.3.1 - oxTrust: 3.0.1-SNAPSHOT - oxAuth: 3.0.1-SNAPSHOT

`https://hostname/identity/register` is not appearing. Instead it is moving for oxAuth login page.

Investigation:
1. No visible error in oxtrust/oxauth/wrapper log.
2. `https_gluu.conf` has good condition:  `<LocationMatch  "/identity/(error|feedback|register|ssologin|federation/hosted/inventory|/federation/propos

[2015-07-17 20:52] yurem opened #88 "oxTrust should automatically add gluuLdapAttributeName to new custom attribute"
This attribute needed to proper oxAuth scope->claim mapping

I think by default gluuLdapAttributeName value should be equal attribute name

[2015-07-20 20:41] aliaksander-samuseu opened #89 "[Bug][Functional][Join Federation]"Failed to save metadata file" error on attempt to apply for hosted federation's membership"
Environment:
Ubuntu x64 14.04.1 on VmWare Workstation 11.1.0 build-2496824, Gluu CE 2.3.0-1

Steps to reproduce:
1) Log in to oxTrust web UI as a regular user (not a member of Gluu Manager Group)
2) Move to "Federations" -> "Join Federation" page
3) Fill all required fields there and click "Add" button; you can use next urls as sources of test metadata:
https://shib.alexanderstreet.com/Shibboleth.

[2015-07-20 21:54] aliaksander-samuseu opened #90 "[Bug][Security][Federations]Regular users are capable to add/modify hosted federations"
Environment:
Ubuntu x64 14.04.1 on VmWare Workstation 11.1.0 build-2496824, Gluu CE 2.3.0-1

Preconditions:
1) At least one regular user's account exists in the oxTrust
2) Several test federations are created at "Federations"-> "Federations" page while logged in as admin user
3) "Federation hosting" has been enabled at the "Organization configuration" page

Steps to reproduce:
1) Log in to oxTrust

[2015-07-24 19:46] nynymike opened #92 "Non-enabled scripts should not show as default authentication options"
I see CAS on the dropdown for default authentication, although the CAS script is not even enabled. I don't even think we should ship with the CAS script present. I'd rather see Duo there!

![image](https://cloud.githubusercontent.com/assets/3717101/8883188/88ff52a4-3212-11e5-92b2-4a8192a7026c.png)

[2015-07-27 15:23] iromli commented on #74
It also occurs in v2.3.2. In cluster usecase, the errors are thrown when oxTrust running `check_ssl` subprocess. Disabling `check_ssl` removes the errors above (but it throws different errors though).

[2015-07-27 15:23] iromli opened #93 "Reload oxTrust configuration without tomcat restart"
In cluster setup, LDAPs may deployed after oxTrust. Although oxTrust able to do the LDAP connection failover, it doesn't load the entry from LDAP correctly. For example, when trying to login, oxTrust throws error about non-existant account (although the account is actually exists in LDAP). Restarting Tomcat manually fixes this issue. It would be nice if oxTrust has a feature to reload the configur

[2015-08-03 23:29] aliaksander-samuseu opened #94 "Uploading picture through "Picture URL" attribute prevents user from logging in to web UI"
Environment:
Ubuntu x64 14.04.1 on VmWare Workstation 11.1.0 build-2496824, Gluu CE 2.3.1-2

Preconditions:
1) Fresh installation of Gluu CE
2) New regular user account created just for this test
3) Feature "User Can Edit Own Profile" on the "Configuration->Organization Configuration" page is enabled
4) Authentication against internal LDAP database is used (though it was confirmed that issue can b

[2015-08-03 23:49] aliaksander-samuseu opened #95 "[Bug][Functional][Profile]Admin user can't edit its own attributes when corresponding feature is disabled"
Environment:
Ubuntu x64 14.04.1 on VmWare Workstation 11.1.0 build-2496824, Gluu CE 2.3.1-2

Preconditions:
1) Fresh installation of Gluu CE
2) Authentication against internal LDAP database is used

Steps to reproduce:
1) Log in to oxTrust web UI as an admin user
2) Enable "User Can Edit Own Profile" feature on the "Configuration->Organization Configuration" page and move to the "Personal->Profile

[2015-08-04 00:14] aliaksander-samuseu opened #96 "Attributes can't be removed/detached from user accounts via oxTrust"
Environment:
Ubuntu x64 14.04.1 on VmWare Workstation 11.1.0 build-2496824, Gluu CE 2.3.1-2

Preconditions:
1) Fresh installation of Gluu CE
2) Regular user account exists in the system.
3) Feature "User Can Edit Own Profile" on the "Configuration->Organization Configuration" page is enabled
4) Authentication against internal LDAP database is used (though it was confirmed that issue can be reprodu

[2015-08-10 12:59] yurem commented on #93
Fixed: https://github.com/GluuFederation/oxTrust/commit/44362d998580de80d73791688c8b3491bf97d09c

[2015-08-10 12:59] #93 closed

[2015-08-10 13:59] yurem commented on #74
https://github.com/GluuFederation/oxTrust/commit/7604c17ae453018945fe15e39bfc393ed5241192

[2015-08-10 13:59] #74 closed

[2015-08-11 12:47] yurem commented on #92
There is no bug in this form. It display only enabled script.
But I found bug which can led to this issue. In custom script form after changing usage type few times form can't be saved. Hence I suspect scripts were not saved. As result this form shows invalid list.

[2015-08-11 12:47] #92 closed

[2015-08-11 19:52] nynymike opened #97 "Attribute not editable"
You can't edit the attribute metadata if the attribute is not editable. See

https://support.gluu.org/view/integrations/memberof-not-listed-in-scopeclaim/2015

[2015-08-11 19:56] willow9886 commented on #97
Alex also had some notes about editing of attributes in this [support ticket](https://support.gluu.org/view/maintenance/inability-to-change-pre-packaged-attriubutes-properties-via-oxtrust-web-ui/1972).

[2015-08-11 21:37] mzico commented on #4
Need to test the status of this ticket. I'll update status.

[2015-08-11 21:39] mzico commented on #16
We are not this feature now.

[2015-08-11 21:39] #16 closed

[2015-08-11 21:42] mzico commented on #17
Need to test if this issue still there in oxTrust or fixed already.

[2015-08-12 00:35] nynymike commented on #17
Its not fixed. But its not the highest priority either. Because the oxTrust session is expired, the logout link is invalid... but the openid connect session is still valid, so it lets you in. I think we can perhaps figure out a better solution for this... but I'm not sure what it is right now.

[2015-08-12 08:20] yurem commented on #97
I've added missing `gluuAttributeEditType: admin` to attribute entries.
https://github.com/GluuFederation/community-edition-setup/commit/17bb277e5ae090a1c8f53da6893154857b7426bc

Now all attributes have:
gluuAttributeEditType: admin
gluuAttributeViewType: admin

[2015-08-12 08:25] yurem opened #98 "Review default attribute permissions"
Now all attributes in https://github.com/GluuFederation/community-edition-setup/blob/master/templates/attributes.ldif have:
gluuAttributeEditType: admin
gluuAttributeViewType: admin

We need to review this template file. We should add/remove next attributes:
gluuAttributeEditType: user
gluuAttributeViewType: user

[2015-08-12 08:26] yurem commented on #97
I've opened issue to review user level permissions too: https://github.com/GluuFederation/oxTrust/issues/98

[2015-08-12 08:26] #97 closed

[2015-08-12 10:34] yurem commented on #73
https://github.com/GluuFederation/oxTrust/commit/b5104de539be0d71d15196172de3ee0ee2091df8

[2015-08-12 10:34] #73 closed

[2015-08-12 11:47] mzico commented on #96
Bug persist in 2.3.2 release.

[2015-08-12 11:52] mzico commented on #95
Couldn't reproduce the issue in 2.3.2.

[2015-08-12 11:52] #95 closed

[2015-08-12 12:01] mzico commented on #94
Bug persist there in 2.3.2. No specific indication of error in log.
Here are couple of last lines from oxauth.log:

    2015-08-12 11:58:41,612 TRACE [org.xdi.oxauth.service.AttributeService] Get attribute from cache by Dn 'inum=@!468E.50EC.FF5C.BCDC!0001!1705.F84C!0005!BE64,ou=attributes,o=@!468E.50EC.FF5C.BCDC!0001!1705.F84C,o=gluu'
    2015-08-12 11:58:41,613 TRACE [org.xdi.oxauth.service.Attri

[2015-08-12 12:02] mzico commented on #90
We are not supporting hosting federation right now. May be we will re-open the bug if required in future. Closing ticket for now.

[2015-08-12 12:02] #90 closed

[2015-08-12 12:03] mzico commented on #89
We are not supporting hosting federation right now. May be we will re-engage again when this feature is active. Closing issue for now.

[2015-08-12 12:03] #89 closed

[2015-08-12 12:36] mzico commented on #87
Bug persist in 2.3.2. Log throwing NPE:

stack trace from wrapper.log:

    INFO   | jvm 1    | 2015/08/12 12:28:45 | 2015-08-12 12:28:45,926 ERROR [org.jboss.seam.exception.Exceptions] handled and logged exception
    INFO   | jvm 1    | 2015/08/12 12:28:45 | javax.el.ELException: java.lang.NullPointerException
    INFO   | jvm 1    | 2015/08/12 12:28:45 |       at org.jboss.el.util.ReflectionUti

[2015-08-12 13:34] mzico commented on #86
I couldn't reproduce the issue in 2.3.2 build. `oxAuthPostLogoutRedirectURI` for 'oxTrust Admin GUI' ou=client is fine even I added a new SAML Trust relationship with it's logout URI.

Just to note, here is the my ldapsearch for

[code]

[2015-08-12 13:34] #86 closed

[2015-08-12 13:47] mzico commented on #84
This issue should be moved to 'https://github.com/GluuFederation/community-edition-setup/issues'
Anyone know how to move issue from one repo to another?

[2015-08-12 16:10] yurem commented on #87
Fixed: https://github.com/GluuFederation/oxTrust/commit/bdc5b67e0b4bf3322383755410e37c14491de86b

[2015-08-12 16:10] #87 closed

[2015-08-12 16:11] yurem commented on #78
Resolved

[2015-08-12 16:11] #78 closed

[2015-08-13 21:34] zamilskhan commented on #17
I waited and hit logout. This is what I get.
![screenshot-ubuntu gluu info 2015-08-14 03-33-18](https://cloud.githubusercontent.com/assets/7703245/9262270/6613616c-4235-11e5-8efb-22cc47a4ba6d.png)

[2015-08-14 09:04] mzico commented on #17
@nynymike : got it, thanks.

@zamilskhan : Thanks. Yes, this logout is happening but openID connect session is active even after logout. Not a high priority issue right now.

[2015-08-16 17:53] mzico commented on #85
@aliaksander-samuseu : What does wrapper.log says about this failure? Generally this 'Internal Server Error' means Server felt into waiting loop and died.

[2015-08-16 17:59] mzico commented on #83
Need input from @yurem and @rahatjaan on this issue. I *think* we are going to implement a new 'Server Status' feature in our new oxTrust+oxAuth.

However, here is current status of 2.3.3 rpm:

![server_status](https://cloud.githubusercontent.com/assets/7156097/9294555/87e51410-4416-11e5-8347-85b4633f44a8.png)

[2015-08-16 18:33] mzico commented on #82
@aliaksander-samuseu : I couldn't reproduce the problem with 2.3.3. Used 'File' method to upload the metadata file, added 'mail' and 'inum' attributes, removed 'mail' attributes and removed trust relationship; all worked for me.

Generally, this 500 error appears if IDP can't resolve SP's hostname ( i.e. SP is not reachable from Internet or some firewall issue in SP server ).

Please feel free to

[2015-08-16 18:33] #82 closed

[2015-08-16 18:33] mzico commented on #81
Federation is not our concern now.

[2015-08-16 18:33] #81 closed

[2015-08-16 19:47] mzico commented on #77
@aliaksander-samuseu : Just refresh the page.

[2015-08-16 19:50] mzico commented on #44
@nynymike / @yurem : Whom should we assign this ticket?

[2015-08-16 19:51] mzico commented on #30
+1

[2015-08-16 19:52] mzico commented on #18
We don't need this feature now; we have different cluster solution. It would be better to remove/hide this button. What do you think, @yurem?

[2015-08-16 19:57] mzico commented on #4
This problem is no longer in Gluu Server 2.3.3.

[2015-08-16 19:57] #4 closed

[2015-08-17 13:58] yurem opened #99 "Update client registration form"
Client registration form should be similar to form in this application https://seed.gluu.org/oxauth-rp/home.seam

[2015-08-18 15:20] nynymike opened #100 "Remove Federation Hosting Select Box"
Federation Hosting feature should be removed.  This is old and will not be supported in its current form. The select and any backend components should be removed.

[2015-08-18 15:21] nynymike commented on #100
![federation_hosting](https://cloud.githubusercontent.com/assets/3717101/9334140/e7d82ccc-4592-11e5-9c2c-c08915001b82.png)

[2015-08-18 18:25] aliaksander-samuseu commented on #85
@mzico : that's strange, but I can't see anything unusual in wrapper log for the whole period of time the page is being stuck in loading state. The only relevant entry can be found in apache's error log:idp.gluu.loc:443 192.168.238.102 - - [18/Aug/2015:18:12:33 +0000] "POST /identity/organization/configuration?cid=219 HTTP/1.1" 500 1019 "https://idp.gluu.loc/identity/organization/configuration" "M

[2015-08-18 18:37] mzico commented on #85
tail wrapper log while doing this SMTP configuration from oxTrust.

[2015-08-18 18:40] aliaksander-samuseu commented on #85
Did that. There is a lot of usual oxTrust's messages (validation of metadata, this old exception related to certeficate timestamp checking etc), but nothing more, for the whole 5 minutes when the page is stuck in this state.

[2015-08-18 18:43] aliaksander-samuseu commented on #85
It also seems that page stays in this state for exactly 5 minutes, you can see the difference between log timestamps from access and error apache's log I posted above. I repeated it once more, and the difference between time in timestamps is the same once more:

[Tue Aug 18 18:34:09.692958 2015] [proxy_ajp:error] [pid 49917:tid 140109592577792] (70007)The timeout specified has expired: AH01030: aj

[2015-08-18 18:54] aliaksander-samuseu commented on #85
No, there is something, but it's not an error, so it was hidden amongst usual chit-chatting:

INFO   | jvm 1    | 2015/08/18 18:12:33 | 2015-08-18 18:12:33,912 INFO  [org.gluu.oxtrust.action.UpdateOrganizationAction] HostName: smtp.yandex.ru Port: 465 RequireSSL: true RequireSSL: true
INFO   | jvm 1    | 2015/08/18 18:12:33 | 2015-08-18 18:12:33,912 INFO  [org.gluu.oxtrust.action.UpdateOrganizatio

[2015-08-21 02:20] aliaksander-samuseu opened #101 "[Bug][Functional][oxAuth]Authentication against LDAP backend fails."
Environment:
Ubuntu x64 14.04.1 on VmWare Workstation 11.1.0 build-2496824, Gluu CE 2.3.3-1

Preconditions:
1) LDAP server configured so that it capable of playing ar role of backend directory with a test user account existing in it; the ones provided by MS AD is preferable, but most likely it can be reproduced for any backend directory.
2) Cache Refresh is configured and fully functional so that

[2015-08-24 11:46] mzico opened #102 "'Import people' feature not working"
Gluu Server version: 2.3.3

Situation: Tried to import a xls file ( Users --> Import people --> Upload xls file ). But oxTrust is failing to accept the xls file with error `Import failed, there are similar UID(s) in input file`. The 'Username' of xls sheet has different Usernames for every users.

[Sample xls file](http://ox.gluu.org/lib/exe/fetch.php?media=new_users.xls)

![import_people](https:/

[2015-08-25 11:37] mzico opened #103 "Unable to download shibboleth2 files from 'Generate' TR method"
IDP is throwing error `Failed to prepare Shibboleth2 configuration files for download` whenever going to download 'Shibboleth2.zip' from Trust Relationship created with 'Generate' method.

* How to reproduce the issue:
- Go to SAML -> Trust Relationship
- 'Add new Trust Relationship'
- 'Metadata Type: Generate'
- URL: anything is fine. i.e. https://test.test.com
- Keep other feature as it is now.

[2015-08-25 15:20] nynymike commented on #103
Rahat, this bug is really problematic. Its a really important feature. Can you take a quick look at this?

[2015-08-25 15:32] willow9886 commented on #84
moved to CE issues. https://github.com/GluuFederation/community-edition-setup/issues/54

[2015-08-25 15:32] #84 closed

[2015-08-25 16:08] #88 closed

[2015-08-25 16:10] yurem commented on #71
We implemented reload from file system on configuration file changes. I think we need to update configuration file or give access to see properties in readonly mode.

[2015-08-25 16:12] yurem commented on #67
Implemented

[2015-08-25 16:12] #67 closed

[2015-08-25 16:14] yurem commented on #63
We should open another issue to apply other changes to GUI

[2015-08-25 16:14] #63 closed

[2015-08-25 16:19] yurem commented on #18
yes, we need to remove this from organizationForm.xhtml and clean up related beans and action classes

[2015-08-25 16:21] yurem commented on #22
Fixed

[2015-08-25 16:21] #22 closed

[2015-08-25 16:27] #101 closed

[2015-08-25 16:28] yurem commented on #48
Fixed in revamped UI

[2015-08-25 16:28] #48 closed

[2015-08-25 16:32] willow9886 commented on #57
covered in new UI.

[2015-08-25 16:32] #57 closed

[2015-08-25 16:33] willow9886 commented on #54
fixed in new UI.

[2015-08-25 16:33] #54 closed

[2015-08-25 16:33] willow9886 commented on #51
covered in new UI.

[2015-08-25 16:33] #51 closed

[2015-08-25 16:33] willow9886 commented on #41
covered in new Ui.

[2015-08-25 16:33] #41 closed

[2015-08-25 16:34] willow9886 commented on #46
covered in new UI.

[2015-08-25 16:34] #46 closed

[2015-08-25 16:36] alinawazbscs commented on #103
do we need to fix it in New GUI?

[2015-08-25 16:36] aliaksander-samuseu commented on #101
Moved to oxAuth category: https://github.com/GluuFederation/oxAuth/issues/64

[2015-08-25 16:45] yurem commented on #35
Is this issue still take place? Can you add more comment about it?

[2015-08-25 17:40] yurem opened #104 "New custom script type to pull data from RDBMS and other sources"
Currently CR allows to sync users with LDAP server only. I think we can add new custom script type with 1 method:
List<GluuSimplePerson> loadSourceServerEntries(return_attributs, conf, etc)

In this method customer can implement logic to get data from RDBMS, MySQL, etc..
CR doesn't require major changes. For CR perspective instead of loading data from LDAP custom script method will return data nee

[2015-08-27 09:47] rahatjaan commented on #102
can you attach sample xl file which can be used to reproduce the issue

[2015-08-27 10:13] mzico commented on #102
@rahatjaan : It's not possible to attach files here in github, I guess. I'll send you over email.

[2015-08-27 13:03] rahatjaan commented on #102
there are two issues I found..

1) The input file zico shared with me is invalid... it has almost 60 empty rows and the columns are required so it will be failed to import
2) We must have importPerson.properties in tomcat/conf directory , otherwise import feature will not work

[2015-08-27 15:23] rahatjaan commented on #102
https://github.com/GluuFederation/community-edition-setup/commit/0201078716ff3c4493274e7bf91af83d89d35754

[2015-08-27 15:24] rahatjaan commented on #102
I have added gluupersonimport.properties file to community-setup

[2015-08-27 16:04] yurem commented on #102
Updated setup to copy it to conf during install https://github.com/GluuFederation/community-edition-setup/commit/f4ef3dd2f4850e3aa112a961ef921974e813f6cd

[2015-08-28 08:29] yurem commented on #103
I added missign resource/
Zico, Can you add TR to http://ce-release.gluu.org in order to retest this issue.

[2015-09-01 17:29] yurem opened #105 "Reffcator saml-openid configuration"
Currently Saml OpenId oxAuth client uses oxTrust.properties to get required configuration properties.
Also it's possible to specify them via servlet context param or filter param. But all these methods are not convenient. It should use own properties file like oxidp.properties.

Also it should use oxAuth discovery and registration endpoints to minimize number of properties.

We implemented similar

[2015-09-01 18:19] yurem opened #106 "Add GUI to show rate metrics and all counter metrics"
oxAuth currently gather next metrics: user_authentication_success, user_authentication_failure, user_authentication_rate, dynamic_client_registration_rate.
First 2 metrics contains just numeric value:
{"count":1}
Rate metrics looks like:
{"count":2,"meanRate":6.488439892715768E-4,"oneMinuteRate":1.2095845996399209E-23,"fiveMinuteRate":7.192343502873298E-6,"fifteenMinuteRate":0.006601105395911883,"

[2015-09-02 18:17] yurem commented on #100
We also need to clean up LDAP schema and code.

[2015-09-03 18:05] nynymike opened #107 "Configuration option for clusters"
We need a configuration option to signal to oxTrust that its part of a cluster.

[2015-09-03 18:06] nynymike opened #108 "Signal to gluu-flask that Shibboleth XML needs to be pushed to shib nodes"

[2015-09-03 23:57] shouro commented on #108
I am looking on a was to share metadata using salt pillar and docker volumes.
one thing is, we can not signal or call gluu-flask api from container.

[2015-09-04 00:17] iromli commented on #108
i'm agree with @shouro to take a look at salt pillar first

[2015-09-04 19:10] yurem commented on #108
Currently oxTrust put config files to SVN to track configuration files changes. But we can update oxTrust to store config file using other methods.

[2015-09-05 16:02] nynymike opened #109 "SCIM standard Discovery Endpoint: /well-known/scim-configuration"
I like the openid connect and uma standard discovery mechanism, and maybe we can offer this too for SCIM.   `https://<hostname>/.well-known/scim-configuration` which would return a list of the endpoints and any other useful configuration information.

[2015-09-07 22:17] aliaksander-samuseu opened #110 "[WIP]Released attributes' assignment to SAML TR stops functioning after SMTP connection properties have been configured"
Environment:
Ubuntu x64 14.04.3 on VmWare Workstation 11.1.0 build-2496824, Gluu CE 2.3.3-1

Preconditions:
1) Fresh installation of Gluu CE

Steps to reproduce:
1) Log in to oxTrust web UI as an admin user
2) Move to the "Configuration->Organization Configuration" page
3) Fill in all fields in the "Manage Email Addresses" section, use "derek.solomon@tut.by" as value.
4) Fill in next fields of the

[2015-09-08 20:25] iromli commented on #108
Shouro and I have take a look on salt pillar, and apparently it's out of options.

I'm proposing approach to use docker volume to store config files, and script in gluu-flask to monitor them.
We may not need to change oxTrust code or add signal.

[2015-09-08 22:17] aliaksander-samuseu opened #111 "[Bug]Custom attribute for which certain access scopes were set becomes inaccessible via web UI for default admin user right after its creation."
Environment:
Ubuntu 64bit 14.04.3 on VmWare Workstation 11.1.0 build-2496824, Gluu CE 2.3.3-1

Preconditions:
1) Fresh installation of CE 2.3.3-1

Steps to reproduce:
1) Log in to oxTrust web UI as default admin user
2) Move to the "Configuration->Attributes" page, click the "Add Attribute" link
3) Use settings as specified below, then click "Add" button:
"Name" : "testtest"
"SAML1 URI" : leave em

[2015-09-08 22:52] aliaksander-samuseu commented on #111
Updated Result and Steps sections as issue seems somewhat trickier that it appeared first.

[2015-09-08 23:03] aliaksander-samuseu commented on #111
It almost seems like sometimes direct modification of attribute's object in LDAP db being reflected in web UI instantly, and sometimes it doesn't at all for a while, or until some trigger fires (don't know what it is, moving to other page, re-login, restarting service). I also remembering it was acting like this a couple of times when I tried to modify custom attribute's settings via web UI.

[2015-09-09 17:56] yurem commented on #74
We fixed this in 2.3 branch (https://github.com/GluuFederation/oxTrust/commit/be4a1938a56dd5b25e66dcd738cbcb7543b8a9fd) but not released because our next version should be 2.4.0.
You can replace identity.war in /opt/tomcat/webapps with latest oxTrust 2.3 build: http://ox.gluu.org/maven/org/xdi/oxtrust-server/2.3.3.Final/oxtrust-server-2.3.3.Final.war

[2015-09-09 18:52] yurem opened #112 "Cache data need to draw graph on home page"
Mike:

We really want oxTrust to be fast...

We can use org.xdi.service.CacheService + define new ehcache type in configuration file.

Lifetime of data in cache can be 2-5 minutes. oxAuth stores metric by default every 5 minutes. Hence there is no sense to read data on every home page show.

[2015-09-09 21:08] nynymike opened #113 "Add extra attribute for email"
This [Support Issue](https://support.gluu.org/view/integrations/modification-of-optidpconfattribute-resolverxml/2101) references an extra required attribute for the email attribute.

[code]

I wonder if we need to update the attribute form to enable the admin to specify a nameid-format ? Not sure... or perhaps we just need to add some special logic for the `mail`
attribute.

![image](https://cloud

[2015-09-10 09:29] rahatjaan commented on #102
can we close this ticket now???

[2015-09-10 14:54] ubiquitousthey commented on #113
I was able to get my integration working when I changed the /opt/tomcat/conf/shibboleth2/idp/attribute-resolver.xml.vm file to look like this:

[code]

[2015-09-10 15:04] nynymike commented on #113
ha! my crazy idea worked!

[2015-09-10 16:12] yurem commented on #102
I think so

[2015-09-10 17:57] nynymike commented on #103
No its still not working on ce-release...

[2015-09-10 18:01] nynymike commented on #47
Make sure we remove these fields from the [LDAP schema](https://github.com/GluuFederation/community-edition-setup/blob/master/static/opendj/101-ox.ldif#L165) and also from the model (i.e. don't just remove the panel from the UI).

[2015-09-10 18:02] iromli opened #114 "Render ldapURL value in attribute-resolver.xml and login.config"
In cluster edition, we have a usecase where we use 2 LDAP servers:

1. ldap-1: host `55422c825258` and port `1636`
2. ldap-2: host `cf96202f1860` and port `1636`

Given these 2 LDAP servers, cluster renders the following value in `oxTrust.properties`:

[code]
which will generate `/opt/idp/conf/attribute-resolver.xml` as seen below:

[code]

Certainly, this is an invalid connection string since the

[2015-09-10 18:12] aliaksander-samuseu commented on #113
May be then this ticket can be accounted for, also - [link](https://support.gluu.org/view/integrations/shibboleth-authentication-with-adobe-creative-cloud/2008#hQNwDANyTXS01HAMcYHF0Q)? It seems to be of similar type.
Apparently, there is a need for using nameid of format "urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified" sometimes, as it appears that many SPs use this approach (though it's no

[2015-09-11 17:52] aliaksander-samuseu commented on #113
Another ticket of this kind: [link](https://support.gluu.org/view/customization/saml-assertion-needs-a-nameid-element/2105).
It seems that ability to enforce format for nameid used within a saml trust relationship via GUI controls is really in need.

[2015-09-13 06:17] rahatjaan commented on #100
removed from UI

[2015-09-13 06:17] #100 closed

[2015-09-13 12:03] aliaksander-samuseu opened #115 "[Bug]Attribute mappings cannot be removed on the Cache Refresh's configuration page"
Environment:
Ubuntu 64bit 14.04.3 on VmWare Workstation 11.1.0 build-2496824, Gluu CE 2.3.3-1

Preconditions:
1) Attribute mapping is created on Cache Refresh's configuration page (you'll need to assign values for all other required settings on the "Configuration->Cache Refresh" page for configuration to be accepted)

Steps to reproduce:
1) While being logged in to oxTrust web UI as default admin

[2015-09-13 16:45] iromli opened #116 "Render StorageService for memcached"
Currently oxTrust render in-memory StorageService template as seen [here](https://github.com/GluuFederation/oxTrust/blob/f774cb211fd5a9b1374ce405108d605458128439/configuration/template/shibboleth2/sp/shibboleth2.xml.vm#L23).

In cluster edition, we need to use memcached as StorageService. Here's an example of memcached StorageService configuration:

[code]

It would be nice if oxTrust can determin

[2015-09-14 10:09] rahatjaan commented on #71
What action needs to taken here???? I don't understand as reload mechanism is already in place so do we really need to do something here??

[2015-09-14 10:18] rahatjaan commented on #112
Cache is enabled for metrics

[2015-09-14 10:19] #112 closed

[2015-09-14 10:23] yurem commented on #71
We need to discuss this with Mike
While working on cluster we added ability to reload config files without tomcat restart. The configuration update in LDAP now works in this way FS->Application->LDAP
If we add additional workflow Application->LDAP we will get mix.

I think this part should update config files in FS. After changing them system will reload them automatically.

[2015-09-14 21:41] dmogn commented on #47
There is one usage of privacyEmail field:
https://github.com/GluuFederation/oxTrust/blob/master/server/src/main/java/org/gluu/oxtrust/ldap/service/TrustService.java#L376
mail.sendMail(appliance.getSmtpFromName() + " <" + appliance.getSmtpFromEmailAddress() + ">", appliance.getPrivacyEmail(), subj, preMsg + mailMsg);

What to do with it?

[2015-09-16 12:20] rahatjaan commented on #114
the issue is fixed and committed to master

[2015-09-17 09:14] yurem opened #117 "Don't load data for 7 days to show home page"
t may be better to only load 3 hours worth of data, and let the admin request more when really needed.
We really want oxTrust to be fast...
- Mike

[2015-09-17 18:46] dmogn commented on #47
Done.

[2015-09-17 20:10] iromli commented on #114
@rahatjaan is it shipped in oxTrust v2.3.4 WAR file?

[2015-09-17 22:49] dmogn commented on #103
It now works with fresh build from Git.

[2015-09-18 04:45] rahatjaan commented on #114
it is in 2.4 release which is now deployed to ce-release

[2015-09-18 09:43] yurem commented on #103
For me it also works fine in CE 2.3.4 on our testing data with sample TR. But I can't load another TR which I added manually. Probably the bug in another place. But on CE 2.4.0 I can't open TR for editing. I'm going to reopen it to double check on ce-release.gluu.org

[2015-09-18 14:34] yurem commented on #47
Maybe we should keep at least one e-mail filed : "Admin E-mail". Application should able to send notification to someone...

[2015-09-18 16:00] nynymike commented on #47
yes, we have the SMTP code, which is useful in interception scripts. Perhaps having a default admin email address could be useful if you want to send a notification.

[2015-09-18 16:20] nynymike commented on #103
This is still broken for me....

![image](https://cloud.githubusercontent.com/assets/3717101/9964647/3169c3ce-5df7-11e5-9381-d563b971f7cc.png)

When I try to generate a TR using generate, it asks me for a valid SP URL when I hit submit. But the whole point of Generate is the SP doesn't exist yet.

[2015-09-18 23:26] dmogn commented on #47
We can use email from installation or revert one email field.

[2015-09-21 11:30] yurem commented on #47
Correct, we can populate email filed using our ldif templates: https://github.com/GluuFederation/community-edition-setup/tree/master/templates

[2015-09-22 16:33] nynymike opened #118 "first oxTrust login for Admin does not display correct navigation for manager"
Only on the first time I start the Gluu-Server, when admin logs in, it does not display the correct navigation headers for a user with the manager role:

![image](https://cloud.githubusercontent.com/assets/3717101/10024227/d4ee5056-611b-11e5-9a99-8e5d75975390.png)

If I login and logout, I see the correct navigation. In `wrapper.log`, I don't see anything wrong

[code]

In `oxtrust.log` I see no e

[2015-09-22 16:47] nynymike commented on #118
Oh, one more piece of data... it doesn't seem to happen when I use password authentication--just U2F!

[2015-09-24 14:32] yurem opened #119 "Script name should not contains spaces"
Before saving script into LDAP we need to validate if in script name there is no spaces.

[2015-09-28 19:41] yurem commented on #118
I tried to reproduce it many times using different scenarios. I tried to do:
1) Reduce oxTrust session to 1 minute
2) Reduce oxAuth session lifetime to 1 minute
3) Remove manually from LDAP oxAuth session data
4) Remove oxAuth cookies from Firefox session
5) Remove oxTrust cookies from Firefox session
6) Change auth methods

In all these cases I tried to log in and try to open home page again afte

[2015-09-29 10:35] yurem opened #121 "Backend name in CR should conatins alphanumerc value"

[2015-09-29 10:40] yurem opened #122 "Don't asks user fill inum LDAP server setting in CR form in some cases"
We need to add checkbox to CR form to specify if we are planning to use CE LDAP server as inum DB.
Once admin select this checkbox we should hide inum section and use oxTrustLdap.properties to connect inum server.

[2015-09-29 11:48] yurem commented on #118
@mzico

[2015-09-29 11:56] mzico commented on #118
@yurem: I'll try to reproduce the issue by myself. Stay tuned!

[2015-09-29 14:10] chudsonsolomon commented on #102
I am using 2.3.4-2 version. Import users option doesn't work.
This same problem i faced in previous versions. The logs doesn't related to this error..

[2015-10-01 16:06] yurem commented on #80
According to attribute definition it should belong to inetOrgPerson. But according OpenDJ definition there is no this attribute in
objectClasses: ( 2.16.840.1.113730.3.2.2 NAME 'inetOrgPerson'
  SUP organizationalPerson STRUCTURAL MAY ( audio $ businessCategory $
  carLicense $ departmentNumber $ displayName $ employeeNumber $ employeeType $
  givenName $ homePhone $ homePostalAddress $ initials $

[2015-10-01 16:09] nynymike commented on #80
I never heard of the attribute workTelephoneNumber either... telephoneNumbe is fine.

[2015-10-01 16:42] willow9886 commented on #80
@rahatjaan also offered a work around for this issue on trello:

"Workaround for this issue is to add a 'custom attribute' named 'workTelephoneNumber' in the schema through OpenDJ control panel."

[2015-10-06 10:14] yurem commented on #80
I changed attribute definition. But I think we should make one improvement.
Current person entry contains only 3 OC: gluuPerson, top, ox-XYZ (for dynamic attributes)

As result our attributes list not conform OC specified in person entry. For example: roomNumber, secretary, etc.

What do you think if we will add 'person' or 'organizationalPerson' or 'inetOrgPerson' to default list of person OC ?
O

[2015-10-06 16:39] yurem opened #123 "Remove old /users API"
There is API which allows to modify person:
https://github.com/GluuFederation/oxTrust/blob/master/server/src/main/java/org/gluu/oxtrust/api/rest/UserRestService.java
https://github.com/GluuFederation/oxTrust/blob/master/server/src/main/java/org/gluu/oxtrust/api/rest/UserRestServiceImpl.java

It looks like it's old API. According to SVN Oleksiy imported this code long time ago at 12/10/12. Comment

[2015-10-06 16:39] yurem commented on #123
Mike, do you remember this API?

[2015-10-09 10:52] yurem opened #124 "It's not possible to add "Custom Script" on Person Authentication tab"
In "Manage Custom Scripts" it's not possible to add "Custom Script" on Person Authentication tab.

[2015-10-09 10:56] yurem opened #125 "After adding new script it's not possible to remove it until filling required fields"
There is bug which not allow to remove custom script until filling all required fields.
Steps to reproduce:
1) Open "Manage Custom Scripts"
2) Select "Update user" tab
3) Press "Add custom script configuration" button
4) Click on image which should do configuration removal.

[2015-10-12 17:46] yurem commented on #124
Fixed: https://github.com/GluuFederation/oxTrust/commit/d0897b56d5264db6cdf6af5bba56622258aaba2e

[2015-10-12 17:46] #124 closed

[2015-10-12 17:46] yurem commented on #125
Fixed: https://github.com/GluuFederation/oxTrust/commit/bcd4d4b0031b34fb0437a3db844ae778b9457b94

[2015-10-12 17:46] #125 closed

[2015-10-12 17:50] nynymike commented on #123
Definitely remove. I don't even remember this. The only API should be SCIM.

[2015-10-12 19:44] yurem commented on #123
Removed

[2015-10-12 19:44] #123 closed

[2015-10-13 01:28] nynymike commented on #80
The reason I don't want person is because it throws a lot of errors because 'cn' and 'sn' are required. I'm ok with adding organizationalPerson and inetOrgPerson.

[2015-10-13 11:15] yurem commented on #83
Fixed: d1c043af7877de881f9a5c4b3702c51f19d2890e

[2015-10-13 11:15] #83 closed

[2015-10-13 12:09] yurem opened #126 "Allow to change user uid via SCIM API"

[2015-10-13 12:09] yurem commented on #126
Fixed: https://github.com/GluuFederation/oxTrust/commit/66151d4b4ea4002bac0282d6c9d73ea0f84d290e

[2015-10-13 12:09] #126 closed

[2015-10-13 13:06] yurem commented on #80
I agree about 'person' object class. It will add bugs in random places.

We can't add even organizationalPerson and inetOrgPerson because:
inetOrgPerson SUP organizationalPerson SUP person!

What do you think about adding all attributes defined in attributes.ldif to gluuPerson?

Without this we will get similar issues from time to time.

[2015-10-13 13:09] yurem commented on #71
I think we should support reload config from FS only. This GUI should allow view setting only or render updated oxAuth/oxTrust configuration files. What do you think?

[2015-10-13 13:10] yurem commented on #75
It should work now

[2015-10-13 13:10] #75 closed

[2015-10-13 14:35] yurem commented on #30
Also we should fill automatically inumdb panel to simplify CR install process

[2015-10-13 14:35] #30 closed

[2015-10-13 14:53] yurem commented on #18
Fixed: 14af4b79e68a04b1c6ac83b782e93db18768d3ad, 20ee32a93d86617b13d9083633acf85dcb7a4811

[2015-10-13 14:53] #18 closed

[2015-10-13 14:54] yurem commented on #33
Fixed some time ago

[2015-10-13 14:54] #33 closed

[2015-10-13 14:55] yurem commented on #35
It's old enhancement. Should we implement it?

[2015-10-13 14:58] yurem commented on #44
All sample script re in: https://github.com/GluuFederation/oxExternal

I think we should move them to oxTrust/oxAuth to maintain them and simplify way of finding them.

[2015-10-13 14:59] yurem commented on #44
@nynymike and @willow9886 What do you think?
For example all auth scripts are in: https://github.com/GluuFederation/oxAuth/tree/master/Server/integrations

[2015-10-13 15:09] nynymike commented on #80
That's an idea... or we can add in our code to always make sure that cn and sn is populated...

[2015-10-13 16:09] willow9886 commented on #44
Yes, simplified navigation structure seems like a good idea.

[2015-10-13 16:16] yurem commented on #80
Mandatory cn and sn can led to issues in SCIM. Also I know that in CR in pre CE version this was an problem because in AD server not all user entries have sn.

[2015-10-13 16:34] yurem commented on #49
In new GUI there is no this bug

[2015-10-13 16:34] #49 closed

[2015-10-13 17:03] nynymike commented on #71
Management of config on the filesystem presents a problem for scalability. It means that in a cluster, we will have to push files... in LDAP, the active (cn=config) is stored in memory, and when the LDAP server is shutdown, it updates /opt/opendj/conf/config.ldif   It is not recommended to modify the filesystem, but if you do so, the LDAP server must be stopped at the time (and then changes will b

[2015-10-13 17:05] nynymike commented on #35
It would be nice, but its not a huge priority. I'm assigning it to Javier if he has some downtime.

[2015-10-13 17:07] yurem opened #127 "Automatic end session call on oxTrust session end not working"
2015-10-13 20:04:46,208 ERROR [org.gluu.oxtrust.service.AuthenticationSessionService] Exception happened at oxAuth logout. User: 'admin'
java.lang.NullPointerException
	at java.util.regex.Matcher.getTextLength(Matcher.java:1234)
	at java.util.regex.Matcher.reset(Matcher.java:308)
	at java.util.regex.Matcher.<init>(Matcher.java:228)
	at java.util.regex.Pattern.matcher(Pattern.java:1088)
	at org.jbo

[2015-10-13 17:13] yurem commented on #71
@iromli I think this issue will be interesting for you too

[2015-10-13 17:25] nynymike commented on #44
agreed

[2015-10-13 17:25] nynymike commented on #80
ok, then let's go with your idea to add more attributes to gluuPerson

[2015-10-13 17:26] yurem commented on #71
Requirement about reload conf files we got from gluu cluster. As far as I remember in their architecture they put updated files to each node on starting/stopping nodes.

We uses LDAP replication. It's not clear how workflow will look if we change configs on few nodes. Also configs in file systems allows to do upgrade from one to another server. It's easy to compare config files.

Current JSON edit

[2015-10-13 17:36] nynymike commented on #71
Ok, this is very disappointing news... I thought the whole point of the JSON editor was that its very hard to modify the JSON in LDIF.

[2015-10-13 17:42] yurem commented on #71
We need to improve it. It should have basic information about config structure. This editor should know if the value is multi-value, mandatory, etc.. For example we can add annotations to config beans to give it this information.

Also we need take into consideration gluu-server too. What we really need to update on all nodes after starting/stopping new cluster node.

[2015-10-13 18:20] yurem opened #128 "oxTrsut should load oxTrustCacheRefresh-template.properties.vm from oxTrust.war"
It should not load vm template from TOMCAT_HOME/conf/template...

[2015-10-13 18:28] yurem opened #129 "Application should disable controls on processing Ajax requests"

[2015-10-14 09:10] #117 closed

[2015-10-14 10:40] yurem commented on #111
Fixed. Now user with admin permissions can edit/view attributes all the time

[2015-10-14 10:40] #111 closed

[2015-10-15 06:53] yurem commented on #103
Why URL  should be not mandatory? SP metadata contains specified URL. How to generate this file if this property is empty?

[2015-10-15 07:14] mzico commented on #103
@nynymike @yurem : I think we need SP URL to generate configuration files and SAML certificate.

[2015-10-15 12:10] yurem commented on #115
It should works fine in current version

[2015-10-15 12:10] #115 closed

[2015-10-15 13:16] yurem commented on #118
I can't reproduce this

[2015-10-15 13:19] yurem commented on #118
@aliaksander-samuseu

[2015-10-15 13:20] yurem commented on #118
@nynymike can you create zip with all logs once you will get this issue next time

[2015-10-15 14:23] willow9886 commented on #118
I don't think it's been a problem since we moved to the new oxTrust

[2015-10-15 19:26] yurem commented on #96
Fixed: https://github.com/GluuFederation/oxTrust/commit/dded283359817137e5b1c7f17d28e98a5a868b9c

[2015-10-15 19:37] yurem commented on #62
Fixed

[2015-10-15 19:37] #62 closed

[2015-10-15 19:38] yurem commented on #103
Closing it...

[2015-10-15 19:38] #103 closed

[2015-10-15 19:38] yurem commented on #118
I added extra log message about user roles. This should help to find out issue if it still exist.

[2015-10-15 19:38] #118 closed

[2015-10-15 20:23] willow9886 opened #130 "Add oxPush to default installation"
add latest oxPush code to out-of-the-box server integrations

[2015-10-16 07:33] yuriyz opened #131 "Remove internal / external select box from UMA scopes form"
While creating UMA Scope it may be not very clear to end-user which type of option to select internal or external. It's good idea to add better explanation on UI:

if we create it then it's always internal because external must be provided by Resource Server

[2015-10-16 09:23] yurem commented on #47
Fixed

[2015-10-16 09:23] #47 closed

[2015-10-16 13:39] yurem commented on #127
This problem caused by invalid local configuration. The end_session URL is missing as result application can't call end session endpoint.

[2015-10-16 13:39] #127 closed

[2015-10-16 14:00] yurem commented on #102
@zico, can you retest it and attach xml file if this not work fine

[2015-10-16 16:10] nynymike commented on #131
Is there a link to this in the UMA spec? I don't remember reading it in UMA Core.

[2015-10-16 18:32] yuriyz commented on #131
Here is sample from spec:
https://docs.kantarainitiative.org/uma/draft-oauth-resource-reg.html#rfc.section.2.1
[code]
http://photoz.example.com/dev/scopes/view is RS scope. During development we agreed that it would be nice to host scopes also by AS (add/remove/edit via oxtrust).
This leads to two types of scopes:
- RS hosted scope - external - http://photoz.example.com/dev/scopes/view
- AS hosted

[2015-10-20 13:26] yurem commented on #80
We have to add next attributes (from inetOrgPerson and eduPerson) to gluuPerson:

title carLicense facsimileTelephoneNumber departmentNumber employeeType mobile telephoneNumber manager postOfficeBox employeeNumber preferredDeliveryMethod telephoneNumber roomNumber secretary homePostalAddress
 postalCode description eduPersonAffiliation eduPersonNickName eduPersonOrgDN eduPersonOrgUnitDN eduPersonP

[2015-10-20 13:40] yurem commented on #80
It will make gluuPerson very complex :(

I think there is more sophisticates and more accurate approach.
We can change gluuStatus of this attributes to false by default.
And during enabling attribute we can do next:
1) Check if attribute exist in server schema
2) Prompt user to use existing attribute
3) If user agree to use existing attribute we should add it to custom object class and change gluS

[2015-10-20 14:03] nynymike commented on #80
ok by me.

[2015-10-20 19:54] yurem commented on #80
Latest oxTrust add to custom object class attribute if it defined already. It do that during add and update.
@aliaksander-samuseu if you are going to retest it now you should manually remove gluuLdapAttributeName from attribute entry to avoid errors.

In 2.4.0 there is no gluuLdapAttributeName that's why we should remove it manually.

[2015-10-20 19:54] #80 closed

[2015-10-21 11:48] yurem commented on #119
Fixed

[2015-10-21 11:48] #119 closed

[2015-10-24 20:52] yurem commented on #128
We don't need oxTrustCacheRefresh-template.properties.vm becuase we are not rendering config file in FS now.

[2015-10-24 20:52] #128 closed

[2015-10-24 20:53] yurem commented on #71
Done

[2015-10-24 20:53] #71 closed

[2015-10-27 18:33] nynymike opened #133 "oxTrust should enable specification of acr"
Right now, oxTrust does not request acr_values param during OpenID Connect authentication. This is problematic, because oxTrust must use the default authentication type. It would be much better if we had a UI element to allow the admin to select oxTrust authentication type and default authentication type separately.

[2015-10-27 18:45] nynymike commented on #133
Already done in 2.4

[2015-10-27 18:45] #133 closed

[2015-10-27 20:45] iromli commented on #114
Is it possible to backport this fix to v2.3.x? Cluster still uses v2.3.x and we really need this fix because we have usecase with replicated LDAP.

/cc @nynymike

[2015-10-27 21:14] yurem commented on #114
Are we speaking about this commit https://github.com/GluuFederation/oxTrust/commit/fc3413ae33f02938360b755eac6e94932d5db50d ?

I can merge it into 2.3.4 and rebuild oxTtust war if needed.

[2015-10-27 21:32] iromli commented on #114
@yurem yes, I think so

[2015-10-28 16:54] yurem commented on #94
It's oxAuth issue. I send e-mail to discuss this.

[2015-10-28 17:38] yurem opened #135 "Store user pictures in FS"
Currently we stores picture in LDAP as user attribute. We need to store them in  FS.

We added API org.gluu.oxtrust.ldap.service.ImageRepository long time ago to work with images repository. We need to use it to store images in FS instead of storing it in LDAP.

Here is full plan:
1) Review ImageRepository API. We added it 5 years ago. Maybe we need to improve something in it.
2) Store in user ent

[2015-10-28 17:49] yurem commented on #94
Instead of this issue I open 2 new issues:
https://github.com/GluuFederation/oxTrust/issues/135
https://github.com/GluuFederation/oxAuth/issues/87

[2015-10-28 17:49] #94 closed

[2015-10-29 21:21] iromli commented on #114
@yurem any news about merging the fix to oxTrust v2.3.4?

[2015-10-30 14:44] qbert2k opened #136 "Update form to edit a Client, there are missing attributes"
This form must be updated to allow edit the complete set of Client attributes.

[2015-10-30 15:19] qbert2k commented on #136
Trying to change Authentication Method in admin tool doesn't work. When I click Update Pre-Authorization value of "Trusted Client" drop down for some reason is displayed in red with message "value is required".

[2015-10-30 16:08] willow9886 commented on #136
Is this also related to issue #99 ?

[2015-10-30 17:39] nynymike commented on #136
Well, client registration managment in general is not ideal. But this is just a bug.

[2015-10-30 17:47] yurem commented on #136
yes #99 is the same

[2015-10-30 19:35] nynymike opened #137 "Cache Refresh Logs not descriptive"
1) In cache refresh logs, it says "LDAP connection Error", but there can be many ldap servers--backend + inumdb, so its hard to figure out which one is the problem. It would be better if the hostname + port is given in the log for a given connection error.

2) Validation errors do not show up in the logs at all. This is a problem, because with the accoridian style logs, you may not expand the tab

[2015-10-30 20:36] iromli commented on #114
Tested and worked in v2.3.4.
Thanks.

[2015-10-30 20:36] #114 closed

[2015-10-31 03:08] nynymike commented on #136
#99 is a complete re-write of the page. I think to fix this bug, we just need to edit the xhtml page and remove one item from the dropdown list.

[2015-11-09 17:47] yurem opened #138 "Deprecate inum"
Deprecate id-generator script, inum, RS Inum API in oxAuth/oxTrust. Use UUID

Current inum pattern is : <org-inum>!<object-type>!<unique-id>

So the identifier is meaningful--you can tell what kind of object it is, and to which org it belongs.

However, this pattern is not well understood by Gluu developers or the community. Also, uuids offer more entropy, in a potentially smaller package.

Anothe

[2015-11-18 19:37] yurem commented on #34
oxTrust support only SCIM protection now

[2015-11-18 19:37] #34 closed

[2015-11-18 19:46] yurem commented on #69
We need to introduce trigger which oxTrust can use to notify oxAuth to regenerate keys. For example oxTrust can add some attribute to oxAuth configuration entry. This will be flag for oxAuth to rotate key. Before rotating keys oxAuth should remove this attribute from configuration entry.

Also we need to take into consideration that oxAuth can work in cluster. In this case first oxAuth instance wh

[2015-11-18 19:48] yurem commented on #130
According to @nynymike we need to finish oxPush upgrade before adding it to CE

[2015-11-18 19:50] yurem commented on #131
We need to review this. @nynymike told that external scopes are scopes created via UMA API

[2015-11-18 19:52] yurem commented on #121
I suspect that we fixed this in 2.4.0 already...

[2015-11-18 19:53] yurem commented on #121
@aliaksander-samuseu what do you think about my comment?

[2015-11-18 19:54] yurem commented on #109
Added

[2015-11-18 19:54] #109 closed

[2015-11-18 19:56] yurem commented on #108
oxTrust can create file in specific place and name with current data/time. What do you think about this solution? Is this will be enough to signal gluu-flask?

[2015-11-18 19:59] yurem commented on #105
Now oxIdp reads config from LDAP

[2015-11-18 19:59] #105 closed

[2015-11-18 20:44] willow9886 opened #139 "Consolidate oxAuth / oxTrust login pages"
- Lets use the default oxtrust login page design for oxauth.
- The logo added in config > org config should be displaed on the default login screen
- Lets include the favicon image (as set in config > org config) in the new login page template.

[2015-11-18 20:46] iromli commented on #108
gluu-flask v0.4 has a scheduler that monitors events (file addition, modification, etc in all Shib-related files e.g. metadata) in `/opt/idp` directory. Whenever those events occur, gluu-flask will push the files to all Shib nodes.

What file will be generated by oxTrust?

[2015-11-18 20:56] willow9886 opened #140 "Clicking through tabs on "Manage Custom Scripts" page throwing JS Error"
Screenshots and supporting text can be found here: https://trello.com/c/xD6b9qC9/125-bug-manage-custom-scripts-throwing-js-error

1. The issue is triggered by simply clicking through tabs in the custom scripts interface, it has nothing to do with any specific tab, it seems that selecting any tab presents a chance to trigger the bug.
2. I haven't been able to find a solid way to reproduce it, but i

[2015-11-18 21:00] willow9886 opened #141 "Include attribute for "mobile number" by default"
![](https://trello-attachments.s3.amazonaws.com/563d1609a73e91a75360fbca/2151x1048/e6ac23da9ebadbb6d45d3ae72b49cafd/upload_11_6_2015_at_3_05_49_PM.png)

In the person > profile section of oxTrust, lets ship by default with the "mobile phone number" attribute.

[2015-11-18 21:03] willow9886 opened #142 "remove "inum" attribute from personal > profile"
![](https://trello-attachments.s3.amazonaws.com/563d15e22c6f5358d25bbde7/1730x890/900b2c5369c12b59c1108cb10f362910/upload_11_6_2015_at_3_04_38_PM.png)

The inum field showed in the above screenshot does not need to be visible to the user.

[2015-11-18 21:05] willow9886 opened #143 "Remove references to login.htm"
See reference to login.html at the following locations:

https://github.com/GluuFederation/oxTrust/blob/edf471fec2e5d350be721f732b1475661f4bb0c2/server/src/main/webapp/index.html

https://github.com/GluuFederation/oxTrust/blob/edf471fec2e5d350be721f732b1475661f4bb0c2/server/src/test/java/org/gluu/oxtrust/action/test/AbstractAuthorizationTest.java

[2015-11-18 21:34] willow9886 opened #144 "Error when saving customized set of registration form's attributes"
![](https://trello-attachments.s3.amazonaws.com/54e640b2c6b449f424dc8382/563b99aa372b44c07c33b6eb/x/7729bc8831b0db110bab8a1af11b2cb1/manreg-update-error.png)

see screenshot.

[2015-11-18 21:35] willow9886 opened #145 "List of attributes for "Registration form attributes" feature is being reset when another filter string is chosen"
![](https://trello-attachments.s3.amazonaws.com/54e640b2c6b449f424dc8382/563b99bab9406499b4a11bf9/x/66a2ba90d2454c19fdaf4609eb3f6a87/manreg-update-error.png)

see screenshot.

[2015-11-18 21:49] willow9886 opened #146 "Clean up JSON schema configuration files"
https://github.com/GluuFederation/oxTrust/blob/master/static/src/main/resources/META-INF/resources/schema/oxauth-config.xml.json

https://github.com/GluuFederation/oxTrust/blob/master/static/src/main/resources/META-INF/resources/schema/oxtrust.properties.json

These are 2 JSON schema files which we uses in oxTrust to display configuration.

We need to add title, description, min, max, validations…

[2015-11-18 21:52] willow9886 opened #147 "UMA Interface overlapping 'x'"
![](https://trello-attachments.s3.amazonaws.com/564b70c64c10e88baf2261d4/1920x1152/0af986d2448f542a9e3110135b85a153/upload_11_17_2015_at_12_24_25_PM.png)

see overlapping 'x' in the UMA user interface.

[2015-11-18 21:54] willow9886 opened #148 "Bug in OpenID Connect Add Scopes pop-up window"
![](https://trello-attachments.s3.amazonaws.com/54e640b2c6b449f424dc8382/563b99da570cf723d08e841d/x/83b7c56ca418fb50398e714226eaa672/scope-popup.png)

"Add scopes" pop-up doesn't scale well to the current dimensions of browser's window. The pop-up appears after the button "Add scope" is clicked on the new client creation page. The issue arises when user simply clicks the "Search" button to display

[2015-11-18 22:01] willow9886 opened #149 "Add feature to refresh logs in oxtrust viewer"
There's currently no obvious way to either update a log the user is viewing, or set some update interval for it can be found; by refreshing the page the log selection page is loaded, so additional efforts are required to open the needed log again.

Refreshing the page should load the same log you were viewing. Ability to set refresh interval would be useful too.

@aliaksander-samuseu can you provi

[2015-11-18 22:02] yuriyz commented on #131
@yurem external scopes are scopes hosted by RS (or any other server different from AS). internal or external it's just our terminology which was actually introduced by me :).

[2015-11-18 22:10] willow9886 commented on #96
@yurem: @aliaksander-samuseu commented on this on trello a few days after the bug was closed... He said..

"Yuriy, it indeed was fixed for the user editor page, but the issue still persists on the profile page (when feature "User Can Edit Own Profile" on the "Organization Configuration" page is enabled they can edit their own profile). Please refer to original description of the issue on github fo

[2015-11-18 22:12] willow9886 opened #150 "TR tabs user interface touch up"
![](https://trello-attachments.s3.amazonaws.com/54e640b2c6b449f424dc8382/563b9a06aa00ca2781e5ceee/x/6eae8550477c2a3f5d1f2c26342f327a/tr-tabs-indent.png)

see screenshot.

[2015-11-18 22:13] willow9886 opened #151 "Input fields protrude beyond the page's edge on the "Source backend ldap servers" tab"
![](https://trello-attachments.s3.amazonaws.com/54e640b2c6b449f424dc8382/563b9a23779382d78189ec77/x/1ceb76b139e69c18446de55733c28c84/source-bn-gui-bug.png)

see screenshot.

[2015-11-18 22:50] aliaksander-samuseu commented on #149
I'm not sure if it needs one. What I meant is when you open any log in oxTrust it's just a page where a fragment of it is shown. The displayed part of it never updates by itself, and there are no controls there, like buttons, to refresh it. When you just press F5 key in attempt to update the page it takes you back to the log selection screen in the end (at least it's the case for my firefox). So y

[2015-11-19 13:04] mzico commented on #7
@willow9886 , @yurem: Just tried in Gluu 2.4. It's working well. Closing the issue.

[2015-11-19 13:04] #7 closed

[2015-11-27 01:54] qbert2k commented on #146
Hello William the task is complete and merged into the master branch.
Also I have added description for all the properties in the oxAuth config schema.

[2015-11-27 01:54] #146 closed

[2015-12-07 20:01] willow9886 commented on #68
@yurem is this still an issue in 2.4

[2015-12-07 20:15] willow9886 commented on #135
@yurem who should we assign this to?

[2015-12-20 16:50] aliaksander-samuseu opened #156 "[CR] Mapping table's entry is ignored if it contains upper-case letters in source attribute's name"
Please see attached picture below:
![cr-case 1](https://cloud.githubusercontent.com/assets/11802046/11959486/9d2cf36a-a8de-11e5-9263-8f592cb19e00.png)

[2015-12-20 17:07] aliaksander-samuseu opened #157 "[CR] Additional key attributes don't seem to make any difference."
Please see attached picture for details. Either its implementation should be completed, or the ability to add more keys should be removed to not confuse a user.
![addnl_keys 1](https://cloud.githubusercontent.com/assets/11802046/11959435/5618e65a-a8de-11e5-87d5-a548afc7e2c6.png)

[2015-12-20 17:18] aliaksander-samuseu opened #158 "[Bug][Cache Refresh] CR cannot remove both user entries mirrored from a backend and created at IdP itself (when "Keep external persons" feature is disabled) if they have been used to log in recently, because of them having subordinate entries."
**This issue supposed to be fixed by now. Adding this report just for history and for future references**

Happens when you have local user accounts at IDP and has logged in to them just before unsetting this checkbox. The subordinate entry is called "ou=clientAuthorizations". Please see [attached error trace](https://github.com/GluuFederation/oxTrust/files/67871/keep-pers-rem.1.txt). Otherwise (w

[2015-12-20 17:19] aliaksander-samuseu commented on #158
**Wrote by Yuriy M**:
CR should use recursive method to remove user sub entries.
I commited the fix: GluuFederation/oxTrust: 6d0543d
It's simple becauase I added method to remove entry with sub entries already :)

[2015-12-20 17:21] #158 closed

[2015-12-20 17:25] aliaksander-samuseu opened #159 "[CR] "Remove Anonymous Bind" button"
1. It demands to provide Bind DN.
2. Even after some real DN is provided, it still fails (wireshark doesn't show any connection attempts and there is an error trace in wrapper.log ([see a fragment of it](https://github.com/GluuFederation/oxTrust/files/67875/ann-bind-err-trc.1.txt)))
3. It seems that the "Bind DN" input field should become hidden the moment this checkbox is set, and visible again t

[2015-12-20 17:27] aliaksander-samuseu commented on #159
Btw, I've seen at least one of our commercial clients who uses it (before I said I don't remember anyone using it)

[2015-12-20 17:39] aliaksander-samuseu commented on #85
**Rahat wrote:**
Error occurs when we don't check "Requires Authentication" check box.
I am attaching snapshots of both cases ("Requires Authentication" unchecked and checked).
If error occurs where "Requires Authentication" Check box is checked at your side then we can further look into it.

[2015-12-20 17:41] aliaksander-samuseu commented on #85
It was last tested on ce-release.gluu.org at 15.10.2015, and was reproducible. I filled in all input fields of the "SMTP server configuration" tab, and set "Requires Authentication" and "Requires SSL" checkboxes. Still the same Internal server error

[2015-12-20 17:49] aliaksander-samuseu opened #160 "[Bug][SAML->Update trust relationship] Different GUI defects on the page and in pop-ups there."
Please see attached picture:
![popups 1](https://cloud.githubusercontent.com/assets/11802046/11919165/30ee2388-a75b-11e5-9ce5-91901034d107.png)

[2015-12-20 17:57] aliaksander-samuseu opened #161 "Import users feature doesn't work"
Unfortunately, there are still multiple problems with this feature. Please see attached picture for more details.
![user_import 1](https://cloud.githubusercontent.com/assets/11802046/11919174/98b0ba80-a75b-11e5-8dbc-84fd6cb06ff3.png)
Here is [the xls file](https://github.com/GluuFederation/oxTrust/files/67898/libreofic-mfo2003f.zip) I used to import users when testing.
1. Imported users have one l

[2015-12-20 17:58] aliaksander-samuseu commented on #161
**Yuriy M. wrote:**
I offer to move it to 2.4.1 because it's very old code (4 years old) and in depends on file: https://github.com/GluuFederation/community-edition-setup/blob/master/templates/gluuImportPerson.properties
I think we can write more smarter import dialog in 2.4.1 which not depends on gluuImportPerson.properties

[2015-12-20 18:06] aliaksander-samuseu opened #162 "[CR] "Load entries with a limited search" feature uses incomplete character set."
The feature tries to reduce amount of entries returned in responses by splitting the request of type `(key=*)` into a sequence of requests like `(key=aa*),(key=ab*)...(key=a0*),(key=ba*)...(key=a.*)...(key=..*)`. But it omits next characters that can be encountered in attributes most often used as keys (uid, sAMAccountName): `' $ & _ # ^ ~` - (and possibly some other) It only includes alphanumeric

[2015-12-20 18:09] aliaksander-samuseu opened #163 "[CR] "Test LDAP connection" buttons need to be added for each LDAP connection UI pane on the "Configuration -> CR" page"
Was proposed by @nynymike . Like the one on the "Manage authentication" page (see picture), for both backend and inum db tabs, a separate button for each defined LDAP connection.
![test-ldap 1](https://cloud.githubusercontent.com/assets/11802046/11919233/ee035784-a75d-11e5-9818-78c0c66c9d28.png)

[2015-12-20 18:14] aliaksander-samuseu opened #164 "[CR] Implement a new CR logic that would allow it to initiate full update of user objects in its internal db when changes to mappings are detected"
**This is from the selection of enhancements that @nynymike and @yurem  came up with when discussing current CR's drawbacks**. Please also see another card related to this one: [CR needs to become able to remove attributes of internal user objects managed by it for which no mappings exist anymore](https://github.com/GluuFederation/oxTrust/issues/165)

At the moment CR is unable to detect the need

[2015-12-20 18:14] aliaksander-samuseu commented on #164
On a second thought, it seems to me just adding a button that will force update is more preferable way.
1. It's much more simple solution, thus less bugs/missfires/etc
2. Even if implemented in automated manner, the button should probably be added anyway, to allow user to intervene if script isn't working correctly.

Then it can be covered in docs and a hint to click the button that will be displa

[2015-12-20 18:16] aliaksander-samuseu opened #165 "[CR] CR needs to become able to remove attributes of internal user objects managed by it for which no mappings exist anymore"
**This is from the selection of enhancements that @nynymike and @yurem  came up with when discussing current CR's drawbacks**. Please also see another issue related to this one:[ Implement a new CR logic that would allow it to initiate full update of user objects in its internal db when changes to mappings are detected](https://github.com/GluuFederation/oxTrust/issues/164)
After CR will have learn

[2015-12-20 18:16] aliaksander-samuseu commented on #165
Problem: it will make impossible to modify some attribute in Gluu's LDAP directly (bypassing the oxtrust) and persist its value, as it will be reset at next CR's iteration. This has proven to be useful in certain cases (mostly like a temporal solution in a state of emergency to make things work asap, and then only try to resolve the main issue). If the logic proposed in the card will be implemente

[2015-12-20 18:18] aliaksander-samuseu opened #166 "[CR] Add ability to browse backend/inumdb LDAP directories for Base DNs to the "Configuration -> CR" page"
**This is from the selection of enhancements that @nynymike and @yurem  came up with when discussing current CR's drawbacks**. (I'm not sure I correctly understood this one, please feel free to correct the description)
Add ability to "browse" the backend server for base DN's. An input field "Root DN" and a button "Browse" next to it should be added to each LDAP connection defined on the page. On c

[2015-12-20 18:18] aliaksander-samuseu commented on #166
**Zico wrote:**
Question: Is this a new feature with which we will be able to browse backend AD/LDAP?

[2015-12-20 18:18] aliaksander-samuseu commented on #166
If I got it right, it's just a way to select Base DN in a more intuitive way, instead of copy-pasting it from some other application. You provide some root DN for backend, click the Browse button, bind to the Root DN and start browsing the backend's tree, select some branch down the tree you want to become your Base DN for that LDAP connection and click "Apply". But it was @Mike 's idea, I could g

[2015-12-20 18:26] aliaksander-samuseu opened #167 "[CR] "Enabled" checkboxes for both source and inum db LDAP servers don't hold their states."
1. Move to the "Configuration -> Cache Refresh"
2. Provide values for all mandatory fields there
3. Set both checkboxes, click the "Update" button
4. Move to any other page, then return to the "Configuration -> Cache Refresh" again; checkboxes will again become unset.

It doesn't seem to affect CR's functionality, but will confuse a user.
![enabled-cb 1](https://cloud.githubusercontent.com/assets/

[2015-12-20 18:29] aliaksander-samuseu commented on #167
I'm not sure whether or not this issue makes sense anymore, as these checkboxes are removed in latest packages (they didn't do anything before). But I remember @Mike said back then that it's not bad to have a feature like that, so I decided to open this issue in form of discussion.

[2015-12-20 18:32] aliaksander-samuseu opened #168 "[CR] If 2 different LDAP backends are provided, and one of them is down, CR won't pull the 2nd one at all, and just will skip this iteration completely"
@nynymike asked to create a report for this issue, but after speaking with @yurem  it seems now this may be a limitation hidden deep in CR's code, so I decided to make it a discussion instead. Here is what he told me (please correct me if I misinterpret something):

"If some part of a distributed users database can't be pulled in at this iteration, CR can't process the rest of it too as unificatio

[2015-12-20 18:35] aliaksander-samuseu opened #169 "[Log viewer] A couple of thoughts how to enhance the log viewer."
It's quite inconvenient to use it at the moment, due to the fact that all logs have to be scrolled horizontally left and right all the time. I don't think that making view area wider will solve the issue. Line wrapping could help (at least it should be added as a feature, like a checkbox\button on the page where log is displayed), but enhancing scrolling controls could be also very helpful. Someth

[2015-12-20 18:36] aliaksander-samuseu opened #170 "Show status of Cache Refresh"
1) Add a counter showing current CR's state/progress to its configuration page. States like "idling due to errors in config"/"awaiting next iteration"/"pulling"/"updating inum db"/"updating user entries" and, perhaps, a rough estimation of current progress/estimated time of completion.
2) Remove a web UI user's ability to save a CR configuration with a double mappings in it. Currently CR allows ma

[2015-12-20 18:45] aliaksander-samuseu opened #171 "Add "active" column to import spreadsheet"
At the moment imported users don't have value "active" assigned to the "gluuStatus" attribute, so it won't be possible to use them right away. A user will then need to activate all these accounts manually through web UI, one by one, or by using command line tools. Perhaps adding a new column "Status" to import files' template could make this whole process more convenient and straightforward.

[2015-12-20 18:45] aliaksander-samuseu commented on #171
Another viable solution for the first problem could be ability to change at least some most simple settings of multiple user accounts, plus implemented extended search filters for the "Manage People" page. So an admin user could first search for accounts with "Active" flag not set, set some "Select all" checkbox, click the button "Bulk edit", select corresponding property from the list of supporte

[2015-12-20 18:45] aliaksander-samuseu commented on #171
Another viable solution for the first problem could be ability to change at least some most simple settings of multiple user accounts, plus implemented extended search filters for the "Manage People" page. So an admin user could first search for accounts with "Active" flag not set, set some "Select all" checkbox, click the button "Bulk edit", select corresponding property from the list of supporte

[2015-12-20 18:45] aliaksander-samuseu commented on #171
Another viable solution for the first problem could be ability to change at least some most simple settings of multiple user accounts, plus implemented extended search filters for the "Manage People" page. So an admin user could first search for accounts with "Active" flag not set, set some "Select all" checkbox, click the button "Bulk edit", select corresponding property from the list of supporte

[2015-12-21 18:00] nynymike opened #172 "Separate war file from customizations"
We should not use an exploded war file deployment--this makes it really hard to update the version of code. All customizations should be stored in LDAP, and rendered to the file system as necessary. We want to avoid file system customization in general, because they are hard to detect and replicate in the clustered deployment.

[2015-12-21 19:37] YuriyM commented on #168
Hey

My user name is YuriyM and I have received 2 notifications from this project because I was mentioned.

I am not a contributor to this project. Seems it was misspelling and in fact mentioned user name was yurem.

[2015-12-21 19:40] willow9886 commented on #168
Thanks, @YuriyM. Sorry for the confusion.

[2015-12-21 19:40] aliaksander-samuseu commented on #168
Sorry, I created this one and probably miss-clicked somewhere in a hurry.

[2015-12-21 19:44] YuriyM commented on #168
No problem

[2015-12-22 15:44] #99 closed

[2015-12-22 15:45] #136 closed

[2015-12-22 15:55] stakoz opened #174 "Typo in SCIM configuration endpoint"
Path annotation value at [Line 41](https://github.com/GluuFederation/oxTrust/tree/master/server/src/main/java/org/gluu/oxtrust/ws/rs#L41) probably had to be:
[code]

Related to [#109](https://github.com/GluuFederation/oxTrust/issues/109).

[2015-12-22 16:13] willow9886 commented on #174
Thanks @stakoz . I've updated line 41 to fix the typo.

[2015-12-22 16:13] #174 closed

[2015-12-22 16:36] qbert2k opened #175 "'feedback.htm' page need modification"
- We don't need: 'Jira' link'
- We don't need: 'Register' link.
- Anywhere support@gluu.org is mentioned, it should be replaced with a variable that inserts the orgs email.

[2015-12-22 17:46] willow9886 opened #176 "Unscrollable dialog boxes"
* From the menu on the left, choose "OpenID Connect", then "Clients",
  open a client, and then "Add scope".
* This opens a dialog box to search for scopes. Leave the search box
  empty, click "Search".
* The new dialog box is taller than my screen, can't be scrolled, and
  can't be moved so that the bottom of the dialog box becomes visible.

Attached is a screenshot.

This prevents users from eas

[2015-12-22 19:21] yurem commented on #176
![fixes](https://cloud.githubusercontent.com/assets/6104200/11963790/e67e27e2-a8f1-11e5-91b4-376aed5ccb17.png)
Fixed: https://github.com/GluuFederation/oxTrust/commit/e0d9adf8dbcfae875122f96ff22591ddd85841e1

[2015-12-22 19:21] #176 closed

[2015-12-23 15:22] qbert2k commented on #175
The support email is being readed from ldap oxTrust config file:
dn: ou=oxtrust,ou=configuration,inum=@!......,ou=appliances,o=gluu
Value of JSON entry "orgSupportEmail"

![screen shot 2015-12-23 at 11 10 22 am](https://cloud.githubusercontent.com/assets/2474616/11979151/50cbd494-a967-11e5-9f52-f299f647def6.png)

[2015-12-23 15:22] #175 closed

[2015-12-23 16:22] willow9886 opened #178 "Email confirmation for registration"
In order to confirm a user who registers against an IDP actually owns the email address he/she registers with, we need to add an account confirmation prompt before the account is activated. The easiest way to do this would be via email confirmation to demonstrate that the user who registered actually controls the email address account they registered with.

[2015-12-23 18:25] aliaksander-samuseu opened #179 "attribute-resolver.conf produced from the latest Velocity template leads to Shibboleth's (idp.war) crash at service startup"
Preconditions:
1. When reproducing, please keep in mind [accompanying issue](https://github.com/GluuFederation/community-edition-setup/issues/73) which can interfere with your judgement.
2. Check [this issue](https://github.com/GluuFederation/community-edition-setup/issues/72) to understand why we need to acquire configuration templates like that
3. Freshly installed 2.4.0-1 instance is recommende

[2015-12-23 21:01] qbert2k opened #180 "The reason of failed registration is not showing"

[2015-12-24 21:30] aliaksander-samuseu opened #181 "[Attributes] Attempt to add attribute with underscore in the "Name" field fails"
Steps to reproduce

1) Log in to web UI as admin
2) Move to "Attributes" page, click the "Add Attribute" button
3) Provide some valid values for all mandatory fields there, but use underscore character in the "Name" input field
4) Click the "Add" button

Result:

Attribute isn't added and [this error message](https://github.com/GluuFederation/oxTrust/files/71924/attribute-name-undersc.txt) appears

[2015-12-25 14:50] yurem opened #182 "Disable debug output in production profile by default"
We need to disable debug output in production builds.
Also we need to review log messages where we may log invalid password user to log. We should not log them because user can made typo.

[2015-12-25 16:05] yurem commented on #182
Also it will be nice to add few additional loggers to allow enable debug logging for specific componnet only.

[2015-12-28 18:30] nynymike opened #183 "Manage Sector Identifier URLs"
In OpenID Connect, a sector_identifier url identify a list of redirect_uris: See [http://openid.net/specs/openid-connect-registration-1_0.html#SectorIdentifierValidation](http://openid.net/specs/openid-connect-registration-1_0.html#SectorIdentifierValidation)

It would be convenient if this list of redirect_uri's could be managed from the oxTrust GUI. We may need to create a new LDAP objectclass a

[2015-12-29 21:29] nynymike opened #184 "Registration - No error displayed for duplicate username"
I tried to register with the same username, and it didn't display any error message.

[2015-12-29 21:30] nynymike opened #185 "Registration: Redirected to old page"
When I completed registration, I was re-directed to a page with the old look and feel.

![image](https://cloud.githubusercontent.com/assets/3717101/12042476/120084e2-ae41-11e5-9711-65f6835db8e2.png)

[2016-01-03 14:30] mzico commented on #184
@nynymike : Is this (https://github.com/GluuFederation/oxTrust/issues/180) same?

[2016-01-05 04:51] qbert2k commented on #180
I have added the messages component at the top to see the error messages with the new css skin.

![screen shot 2016-01-05 at 12 22 01 am](https://cloud.githubusercontent.com/assets/2474616/12107808/5e015344-b346-11e5-991c-11786d3f7bbd.png)

[2016-01-05 04:51] #180 closed

[2016-01-05 18:45] willow9886 commented on #72
Let's add an additional dropdown in the existing SAML menu to include Asimba.. see screenshot below.

![image](https://cloud.githubusercontent.com/assets/5271048/12124145/153341ea-b3aa-11e5-8c71-899a8a1d2dd7.png)

[2016-01-11 09:46] yurem opened #188 "Remove old authentication methods"
During oxTrust development we changed authentication methods few times:
Basic->Shib->oxAuth...

Now in the code there are parts of Shib authentication method which expect attributes in header.
Also oxTrust still supports basic authentication method which introduce duplicity because oxAuth provides same functionlaity
And oxTrust supports oxAuth authentication method. But don't use discovery endpoin

[2016-01-11 15:08] nynymike commented on #188
agreed

[2016-01-11 15:25] nynymike opened #189 "Remove dependency to eduPerson"
Out of the box, we ship with eduperson, an objectclass used by universities. However, non-univeristy customers don't need this. We should probably not ship with eduperson, or include instructions on how to remove it.  Right now, when you remove eduPerson schema from OpenDJ, you cannot login to oxTrust.

[2016-01-11 17:39] yurem commented on #189
It's not the 2.3.6/2.4.0 problem. We resolve it long time ago at 09/30/2014. Now oxAuth requires only:
@LdapObjectClass(values = { "top", "gluuPerson" })

[2016-01-11 17:39] #189 closed

[2016-01-13 20:05] nynymike opened #190 "Remove Activate/Deactivate Buttons from Manage Authentication"
Both these Activate / Deactivate buttons should be Removed.

![image](https://cloud.githubusercontent.com/assets/3717101/12306253/6c382dac-b9fe-11e5-869f-bbe7983ffcd5.png)

![image](https://cloud.githubusercontent.com/assets/3717101/12306258/76471272-b9fe-11e5-8186-12199775b4bd.png)

To clarify, LDAP authentication having an "Enabled" checkbox is sufficient. If it is not enabled, this authenticati

[2016-01-14 08:34] mzico commented on #181
This is not bug, please request an 'enhancement' for 2.4.3 release in trello.

[2016-01-14 08:34] #181 closed

[2016-01-14 08:38] mzico commented on #179
Assigning this to me; I need to test.

First of all, I won't push latest IDP templates without latest oxIDP.war.
Secondly, we need to know 'why' we need to push latest templates in existing Gluu Server.

[2016-01-14 13:31] mzico commented on #168
+1

[2016-01-14 13:57] mzico commented on #163
+1

[2016-01-14 14:02] mzico commented on #159
We had to implement this for this specific client. Personally, I really don't like this feature. :-)

[2016-01-14 14:03] mzico commented on #159
@yurem @nynymike: Can we keep this feature out of oxTrust and keep it somewhere inside ldap? If anyone need this, user can enable this from LDAP.

[2016-01-14 14:16] mzico commented on #157
I agree. I haven't seen anyone with multiple primary_key. If any organization want multiple attribute to use for authentication ( i.e. username && email_address ), they can use custom script which is available and tested.

[2016-01-14 14:19] mzico commented on #156
This is interesting. This is not about case sensitiveness.
The error means: 'otherhomephone' attribute is not created in Gluu Server's LDAP.

But the question is: why would it ask for this attribute? It's in customer's backend and we are mapping this with 'mobile' attribute. Question for @yurem

[2016-01-14 14:24] mzico commented on #17
@nynymike @zamilskhan @yurem: Feel free to test this with 2.4.1. Logout improved in this version.

[2016-01-14 15:26] mzico commented on #96
Fixed in 2.4.1

[2016-01-14 15:26] #96 closed

[2016-01-14 15:34] mzico commented on #85
Can't reproduce the issue with 2.4.1. Tried with our mail server.

[2016-01-14 15:34] #85 closed

[2016-01-14 15:40] mzico commented on #110
@aliaksander-samuseu: Is this ticket still valid for 2.4.1?

[2016-01-14 16:01] mzico commented on #122
+1

[2016-01-14 16:58] aliaksander-samuseu commented on #156
I used this attribute just for example, as I found the bug when trying some thing in my local instance. It was lately confirmed by a community user, and after changing all letters to lowcase he was able to circumvent it. It's really about that, you can try to experiment:
1) Add some attribute you have in backend, but never have pulled before to Gluu; you can use any case you want

[2016-01-14 17:10] aliaksander-samuseu commented on #156
One moment to note, regarding attribute you'll choose for testing: Gluu schema must not allow such attribute for user entries. What actually happens, I suppose:
1) oxTrust get attribute "otherHomePhone" from the list of pulled attributes, and convert it to lowercase (what is logical, LDAP uses case insensitive names)
2) It starts to look for mapping for it in the table. It's supposed to convert al

[2016-01-14 17:24] aliaksander-samuseu commented on #110
@mzico , not sure, will need to try it out.

[2016-01-14 17:48] aliaksander-samuseu commented on #179
@mzico
You should discuss the situation with @yurem , I was just relaying his evaluation. if I got it right, these updated templates should be in release long ago, but due to this #72 issue they were "hidden" all that time.

[2016-01-19 19:44] #183 closed

[2016-01-19 20:16] willow9886 commented on #68
@qbert2k can you comment on this? See Yura's comment above..

[2016-01-20 06:45] yurem commented on #135
I think we should do next:
1) Review org.gluu.oxtrust.ldap.service.ImageRepository to allow use it in oxAuth/oxTrust For example we can remove @Create annotation from this class and inhereti it in oxAuth and oxTrust to allow initialize properly. Also we need to review it. Maybe we need to improve something in it.
2) Update oxTrust to use this API to store images Some information in attribute + rel

[2016-01-20 06:47] yurem commented on #135
Points 1-3 is one task. But point 4 we should do after finishing previous steps. It's independents step.
For 1-3 I offer to assign @qbert2k because he knows both oxAuth/oxTrust and knows how oxAuth should return picture claims.
For point 4 I offer to assign @shekhar16

[2016-01-20 07:28] yurem commented on #68
I believe @qbert2k  can fix this

[2016-01-23 11:42] shekhar16 commented on #148
Can you please tell, how you reach to this popup.

[2016-01-23 16:29] shekhar16 commented on #148
![image](https://cloud.githubusercontent.com/assets/15937500/12531285/68413d58-c21c-11e5-914e-1f2b8d065640.png)

I fixed the issue, please take a look on the attached snapshot.

[2016-01-28 20:52] dmogn commented on #72
![oxtrust_addidp_form](https://cloud.githubusercontent.com/assets/14166017/12658405/a2a366fa-c5e7-11e5-9894-41bcc7998150.jpg)

New SAML submenu. "Add IDP" form.

[2016-01-29 18:43] dmogn commented on #72
![oxtrust_addsprequestor_form](https://cloud.githubusercontent.com/assets/14166017/12684677/f5ac4490-c69e-11e5-8dba-8bbc6d3fe9b6.jpg)

"Add SP Requestor" (add client application) form.

[2016-01-29 19:41] mzico opened #193 "Ignore case sensitive search 'objectGUID' binary attribute in CR"
The binary attribute 'objectGUID' is case sensitive now for searching 'binaryAttributes=objectGUID'. If possible make it to lower case all string which we are going to compare in CR

[2016-01-29 20:28] nynymike commented on #161
What is the status?

[2016-01-29 21:47] willow9886 commented on #102
Looks like Yura added a fix for this issue. Closing.

[2016-01-29 21:48] willow9886 commented on #148
Great, thanks Shekhar.

[2016-01-29 21:48] #148 closed

[2016-01-29 21:49] willow9886 commented on #184
Looks like it. Closing issue.

[2016-01-29 21:49] #184 closed

[2016-01-29 21:51] willow9886 commented on #190
@yurem can you comment on this?

[2016-01-29 21:57] willow9886 commented on #145
@aliaksander-samuseu is this still a bug? We couldn't reproduce...

[2016-01-29 21:59] willow9886 commented on #144
@aliaksander-samuseu can you also comment on whether this is still a bug?

[2016-01-29 22:00] willow9886 commented on #110
@aliaksander-samuseu can you re-confirm this on the latest version?

[2016-01-29 22:05] willow9886 commented on #193
@mzico can you give an example in ldif?

[2016-01-29 22:09] aliaksander-samuseu commented on #161
@nynymike , me and Zamil were checking it today. The issue with "duplicate uid" still was blocking the ability to test it properly. But judging by William's last comment in corresponding report - https://github.com/GluuFederation/oxTrust/issues/102 -  it has just been fixed, so we'll be able to check its status in one of the upcoming releases.

[2016-01-29 22:11] willow9886 commented on #161
@aliaksander-samuseu Yura seems to have pushed a fix in December, so it is not that recent...

[2016-01-29 22:18] aliaksander-samuseu commented on #161
@willow9886 , I have 2.4.1-1 ubuntu package installed which I set up a weak or two ago, and this bug is here. Don't know what package Zamil used when checking it out, but probably also one of the recent ones

[2016-01-29 22:19] willow9886 commented on #161
@aliaksander-samuseu #102 or this issue? are they the same?

[2016-01-29 22:21] aliaksander-samuseu commented on #161
@willow9886  , this one: https://github.com/GluuFederation/oxTrust/issues/102 , reported by Zico
We couldn't check what is the status of issue #161 as we can't even import users at all at the moment, issue #102 is a blocker.

[2016-01-29 22:22] willow9886 commented on #102
@yurem can you double check this fix? @aliaksander-samuseu is reporting that it is not fixed, and is blocking progress on #161

[2016-01-29 22:23] willow9886 commented on #161
@aliaksander-samuseu  I just added a note on #102 there asking yura to double check.

[2016-01-29 22:25] willow9886 commented on #164
should there just be a button to force a refresh of all user?

[2016-01-29 22:26] willow9886 commented on #179
@aliaksander-samuseu are you basically saying that SAML doesn't work?

[2016-01-29 22:29] mzico commented on #193
@willow9886 : This is an enhancement of https://github.com/GluuFederation/oxAuth/issues/32
We can import binary attribute from backend with Cache Refresh. Using binary attribute among SAML is not very popular but it's a requirement for Microsoft based services like Office365, they ask IDP to release 'ObjectGUID' in exact binary form which is there in backend AD.
We have a placeholder named 'object

[2016-01-29 22:36] willow9886 commented on #129
@yurem should we leave this in the 2.4.2 milestone?

[2016-01-29 22:37] willow9886 commented on #121
@aliaksander-samuseu can you confirm if this has been fixed?

[2016-01-29 22:42] willow9886 commented on #70
@qbert closing this issue..

[2016-01-29 22:42] #70 closed

[2016-01-29 22:42] willow9886 commented on #69
@qbert2k can you comment on the status of this issue?

[2016-01-29 22:44] willow9886 commented on #68
@qbert2k can you comment on this?

[2016-01-29 22:46] willow9886 commented on #65
@yurem need some feedback on whether this is still outstanding. Thanks!

[2016-01-29 22:46] #64 closed

[2016-01-29 22:47] willow9886 commented on #60
@yurem is this issue still outstanding?

[2016-01-29 22:47] willow9886 commented on #44
closing issue..

[2016-01-29 22:47] #44 closed

[2016-01-29 22:49] willow9886 commented on #26
@yurem is this still outstanding?

[2016-01-29 22:52] willow9886 commented on #108
@iromli can you confirm if this is still an issue?

[2016-01-30 02:15] iromli commented on #108
@willow9886 All's good. No need to modify oxTrust code to handle this one at the moment. Gluu Enterprise Edition backend handles the signal.

[2016-01-30 02:15] #108 closed

[2016-01-30 12:16] aliaksander-samuseu commented on #179
@willow9886 Not really. That's sort of hard to explain. It's still probable there is some sort of confusion.
When we were doing manual upgrade work at Colby, we ended up with SAML broken at some point. The cause of it happen to be that particular template. When I asked @yurem about it he said that this template that surfaced up during this upgrade project and led to SAML issue (it isn't being appl

[2016-01-30 12:24] aliaksander-samuseu commented on #121
@yurem @willow9886 I'm not sure I'm following. Was it me who reported it initially? I'll try to check it out anyway.

[2016-01-30 20:54] aliaksander-samuseu commented on #164
@willow9886 yes, in the end, I think this would be most rational solution. We can think whether or not it worth further automation later. But at least we should provide user with a straightforward way to update all pulled in user entries when some mappings were changed. The main CR tab also should display a clearly visible hint warning user that he must click that button to really make his changes

[2016-01-30 20:57] aliaksander-samuseu commented on #164
@willow9886 optionally, this new feature should be able to detect when such refreshment of all user entries is indeed needed, as not all changes to mappings will result in actual changes to how attributes' values are being distributed.

[2016-01-30 21:25] aliaksander-samuseu commented on #144
@willow9886 It is at least for deb package gluu-server-2.4.1 All described issues are still there.

[2016-01-30 21:43] aliaksander-samuseu commented on #145
@willow9886 yes it is. I can reproduce it for deb package gluu-server-2.4.1 Here is a video capture: [link](https://drive.google.com/file/d/0B6Mqu38YJ8RcRjdRR3hPV3lFLUk/view?usp=sharing)

[2016-01-31 04:43] shekhar16 commented on #161
@willow9886 this issue is fixed and i checked in the code in repository.Please check it .

[2016-01-31 04:43] #161 closed

[2016-01-31 04:45] shekhar16 commented on #102
@willow9886 this issue is fixed and i checkin the code in repository.Please check it .

[2016-01-31 04:45] #102 closed

[2016-01-31 14:35] shekhar16 commented on #147
HI William,
I checked the issue,but i couldn't able to reproduce it.
It is working fine for Firefox,IE,Chrome.
![image](https://cloud.githubusercontent.com/assets/15937500/12702708/e7f92300-c855-11e5-94db-95d7b96da730.png)

[2016-01-31 14:44] shekhar16 commented on #185
HI William,
I couldn't find the registration link so that i can finish the registration and view successful registration page.So please share me registration link details.

[2016-01-31 15:12] shekhar16 commented on #185
HI All,
Somehow i found the url pattern for registration page.Here is the updated page with new template.

![image](https://cloud.githubusercontent.com/assets/15937500/12702898/07b8c6e6-c85b-11e5-875e-50ad49b5040f.png)

[2016-01-31 15:12] #185 closed

[2016-01-31 22:57] nynymike commented on #147
Did you try to increase the font size?

[2016-02-01 07:34] yurem commented on #193
FIxed

[2016-02-01 07:34] #193 closed

[2016-02-01 09:58] yurem commented on #190
I would like to keep "Activate/Deactivate button" and just hide Enabled from LDAP setting.

I think so, because:
1) After Deactivate  and click Update we completely remove setting. oxAuth can detect this.
2) When we click Enable checkbox we still need to save this form to notify oxAuth to reload setting
3)  it's requires less changes: just set in bean Enable=True after clicking Activate and hide t

[2016-02-01 10:26] yurem commented on #162
We need to move this card coded string with list of characters to CR configuration to allow change it without code update

[2016-02-01 10:28] yurem commented on #159
@zico for me it will be better to fix this bug than implement some logic just of one client.

[2016-02-01 10:37] yurem commented on #157
It's possible to add max 3 key attributes. We can uses them to create our unique key if their primary key is not unique.
Regarding filter. I think we can use 'and' logic operation for all primary attributes. We need to use 'or' to make sure that at least one primary attribute is exists:
|(primary1=*)(primary2=*)(primary3=*)

We can move postpone this issue resolution for next versions 2.3.3/2.3.4.

[2016-02-01 10:37] yurem commented on #156
We need to resolve it in 2.3.2

[2016-02-01 10:39] yurem commented on #137
Every backed in our configuration has name. We can use it.

[2016-02-01 10:41] yurem commented on #130
We need to include oxPush2 into CE 2.4.2

[2016-02-01 10:42] yurem commented on #129
We can move it to 2.4.3

[2016-02-01 10:48] yurem commented on #121
We can close this issue. The name with space was the problem for properties based CR setting.
Now we store them in JSON in LDAP. Hence the name can contains any characters and spaces.

[2016-02-01 10:48] #121 closed

[2016-02-01 10:49] yurem commented on #26
yes, this issue still exists. But we can move it to 2.4.3 milestone.

[2016-02-01 10:51] yurem commented on #17
We also has plan to deprecate basic oxTrust authentication method: https://github.com/GluuFederation/oxTrust/issues/188

[2016-02-01 10:57] yurem commented on #60
I opened it after code review. I found line: https://github.com/GluuFederation/oxTrust/blob/master/server/src/main/java/org/gluu/oxtrust/ldap/service/JsonConfigurationService.java#L127

But DN of LDAP configuration is the static now. Hence we are not going to move oxauth configuration to other place...

I offer to move this issue to 2.6.0 version or close at all.

[2016-02-01 15:01] shekhar16 commented on #147
yeah i tried it with zoom as well here is snap shot.

![image](https://cloud.githubusercontent.com/assets/15937500/12720842/c698461e-c922-11e5-9053-38a4507e88d4.png)

[2016-02-01 15:43] mzico commented on #159
@yurem: Sure, if you find it easy to fix.

[2016-02-01 18:01] willow9886 commented on #147
thanks @shekhar16 closing this issue then.

[2016-02-01 18:01] #147 closed

[2016-02-01 18:13] willow9886 commented on #145
ok, assigning to @yurem and adding it to our milestone for 2.4.2

[2016-02-01 18:14] willow9886 commented on #179
ok, seems we need @yurem 's input on this..

[2016-02-01 21:34] dmogn commented on #72
![oxtrust_addselector_form](https://cloud.githubusercontent.com/assets/14166017/12732021/6196d510-c912-11e5-95c2-a2a68a5ed814.jpg)

"Add Selector' form.

[2016-02-01 22:18] aliaksander-samuseu commented on #145
@willow9886 @yurem Just wanted to note that I reproduced it on ce-release. I suppose the most recent build is deployed there, is it correct?

[2016-02-02 15:44] shekhar16 commented on #190
Hide the enabled checkbox from ldap setting and set Enabled property i.e. ldapconfig.enabled = true on click of activate button.
let me know if any change needed.

[2016-02-02 15:54] nynymike commented on #190
yes, that's fine too...

[2016-02-04 10:39] yurem commented on #190
@shekhar16 can you take look on changes which you applied to  server/src/main/webapp/resources/ox/ldapConfig.xhtml

It facelet, reusable component. We need to hide this field in another way... In this faclelet there is property "displayEnable". Hence you can find where we define this component. It will be somethig like this:
<ox:ldapConfig .... displayEnable="false" ... />

[2016-02-04 12:10] yurem commented on #178
I think we can resolve this issue without hardcoding it into oxTrust.
We have next registration script API now:
`
class UserRegistration(UserRegistrationType):
    def init(self, configurationAttributes):
    def destroy(self, configurationAttributes):
    def initRegistration(self, user, requestParameters, configurationAttributes):
    def preRegistration(self, user, requestParameters, configurat

[2016-02-04 12:14] yurem commented on #178
Next we will do something like this:
`
    def preRegistration(self, user, requestParameters, configurationAttributes):

        // Generate UUID and store it in user entry

        // Store UUID expiration time in user attribute
`

Now we need to send e-mail:
    def postRegistration(self, user, requestParameters, configurationAttributes):
        // Send e-mail here with link to specific oxTrust

[2016-02-04 12:18] yurem commented on #178
Last method will be simple:

    def cleanUpRegistrations(sel, configurationAttributes):
        // Remove expired registration with user entries

[2016-02-04 12:20] yurem commented on #178
In this approach we only need to add one page to oxTrust which should call action class to call registrationscript.confirmRegistration

It's lightweight solution without deep integration into oxTrust

[2016-02-04 14:31] yuriyz opened #194 "oxTrust : we need ability to set "logout_uri" and "logout_session_required" for client"
Right now it is not possible to set "logout_uri" and "logout_session_required" for client.

Both these options comes from Http-based logout specification:
http://openid.net/specs/openid-connect-logout-1_0.html

[2016-02-04 14:50] willow9886 commented on #178
Beautiful

[2016-02-04 15:39] willow9886 commented on #194
@yuriyz who should we assign this to?

[2016-02-04 21:24] dmogn commented on #72
![oxtrust_idps_form_preview](https://cloud.githubusercontent.com/assets/14166017/12830131/71244b96-cb6c-11e5-9012-18ff7356a732.jpg)

Two table stales from other oxTrust pages. Which is better?

[2016-02-04 21:27] nynymike commented on #72
bottom one

[2016-02-08 08:34] yurem commented on #190
We can retest it an close

[2016-02-09 17:38] #190 closed

[2016-02-09 17:42] willow9886 commented on #145
We also need to update the look and feel of the attributes tables.

[2016-02-09 17:45] willow9886 commented on #110
@shekhar16 perhaps you can see if you can replicate this issue.

[2016-02-09 18:04] willow9886 commented on #68
@shekhar16 reports that this has been resolved.

[2016-02-09 18:04] #68 closed

[2016-02-10 00:33] aliaksander-samuseu commented on #110
@willow9886 @shekhar16 The funny thing I can still replicate it in 2.4.1-1 deb :) I've updated steps in original report a bit, to be consistent with newer packages. To be honest, I haven't been sure about it myself all that time, it's just unbelievable that this setting can affect SAML TRs in any way. So I thought it can be something specific to my instance, or vm. The latter is still a probable t

[2016-02-10 07:52] yuriyz commented on #194
Reopened, since we get request to add multiple logout_uri's per one client. oxauth issue is created https://github.com/GluuFederation/oxAuth/issues/153

Scheduled this for next release.

[2016-02-13 07:37] yurem opened #197 "oxTrust should detect ainstalled modules at runtime"
There are modules oxIdp and oxAsimba which admin can skip during install.

At startup oxTrust should detect if there are war files which belong to this modules (or any other conditions) and disable actions/menu.form which belong to not enabled modules.

It's easy to use JBoss Drolls to implement this. We uses it in this project already. On user login we can assign right roles and add methods to ch

[2016-02-13 07:38] yurem commented on #197
@willow9886

[2016-02-13 14:07] iromli commented on #197
For consideration, in Enterprise Edition, oxIdp/oxAsimba are not installed in same environment (container) with oxTrust, hence I'm afraid actions/forms for oxIdp/oxAsimba will always be disabled if we choose to detect by module existence.

[2016-02-14 17:15] shekhar16 commented on #145
Fixed : update button is now working properly and the selected items are not resetting

[2016-02-14 17:15] #145 closed

[2016-02-15 14:26] yurem opened #199 "Resolve problems with testing framework"
Seam 2.3.1 uses Arquillian as test framework.
As result we postpone some gluuTrust tests migration from TesnNG due to compatibility problems.
Moreover it's not easy to use Arquillian with Seam 2.3.1...

Hence we need to migrate oxTrust to Weld in order to use supported framework or try to find out how to run all test without migration.

[2016-02-16 08:35] shekhar16 commented on #182
Fixed .
Added new variable in config-build.properties file for log level.
and used this property in log4j.xml file to set loge level for "org.oxtrust" logs.

[2016-02-16 08:35] #182 closed

[2016-02-16 21:10] nynymike opened #201 "Remove minimum character requirement from sector uri client search form"
On the https://<host>/identity/sectoridentifier/manage/add

Hitting search is ok, but should be limited to 20 results.

![image](https://cloud.githubusercontent.com/assets/3717101/13091106/2c1ce024-d4bf-11e5-92c4-f97d013a5dbe.png)

[2016-02-17 08:53] shekhar16 commented on #110
There is no manage configuration tab present on organization configuration page.

[2016-02-17 09:05] yurem commented on #156
Foxed: https://github.com/GluuFederation/oxTrust/commit/6acffe087d39c816608d5ab61383310023c08c5c

[2016-02-17 09:05] #156 closed

[2016-02-18 16:07] nynymike opened #202 "can't logout of oxTrust after restart"
1. Login to oxTrust
  2. Restart gluu-server
  3. Navigate back to oxTrust (you should still be logged in because OpenID Connect session is still active in browser)
  4. Try to logout... redirected to Seam error page (and you are still logged in).

![image](https://cloud.githubusercontent.com/assets/3717101/13149396/01043306-d627-11e5-9169-97b1085f0e0d.png)

    2016-02-18 09:50:29,360 ERROR [org.

[2016-02-18 18:15] yurem commented on #202
I have tried to reproduce it in CE 2.4.2 beta2. But I didn't get exceptions. I used next scenario:
1. Login into oxTrust
2. service gluu-server-2.4.2 stop
3. service gluu-server-2.4.2 start
4. tail -f /opt/gluu-server-2.4.2/opt/apache-tomcat-7.0.55/logs/oxauth.log ---- to make sure that oxauth started
5. tail -f /opt/gluu-server-2.4.2/opt/apache-tomcat-7.0.55/logs/oxtrust.log ---- to make sure tha

[2016-02-18 18:18] yurem commented on #202
![redirects](https://cloud.githubusercontent.com/assets/6104200/13153415/bfa58652-d67c-11e5-90c3-4dfe88722f01.png)

[2016-02-18 18:20] dmogn commented on #72
Done.

[2016-02-18 18:23] yurem commented on #202
According to this list of calls oxTrust on logout action after server restart do next:
/idenity/logout -> /idenity/home (home requires user login)  -> /idenity/login (prepare authorization request) -> /oxauth/authorize (at this point oxAuth Auth Filter intercept process and do user authentication because there is session cookie) -> /identity/authcode#.....

[2016-02-19 20:28] yurem commented on #202
oxTrust should send end_session requests to oxAuth on tomcat shutdown to end all authenticated users sessions

[2016-02-19 20:32] dmogn commented on #72
TODO for 2.4.2: More hints, rename some fields, set selection to "Selector" form

Mike Schwartz: its confusing...
Mike Schwartz: What is a Selector?
Mike Schwartz: Where would one find the organziation id?

Mike Schwartz: Its asking me for a bunch of ID's... and I'm not sure where to find them
Mike Schwartz: PreAuthorizationProfileID, PostAuthorizationProfileID, AttributeReleasePolicyID,
Mike Schw

[2016-02-19 21:08] yurem opened #203 "gluuOrganization object calls should not have uid attribute"
If we don't use this attribute we need to remove it.
Instead of uid if it's needed gluuOrganization  should use user personInum attribute.

[2016-02-19 21:34] dmogn opened #204 "Improvements in interfaces for Asimba"
Edit properties forms should be converted to some wizards. For example: an user creates a new IDP. Enter URL -> select IDP type (Shib, ADFS, other Asimba) -> the form finds Metadata URL, download Metadata, fills flags and attributes with default set for this type of IDP.

Mike Schwartz: we have an xml mapping file now.
Mike Schwartz: we wrote a custom discovery class to support this use case.
Mike

[2016-02-21 06:47] shekhar16 commented on #201
Fixed : Removed no of character validations and set limit of display search client result.

[2016-02-21 17:02] yurem commented on #201
I think according to issue description we should keep input validation: 2-30 characters. But limit result set to 20 results.

Also I think you can remove lines 264-266:
https://github.com/GluuFederation/oxTrust/commit/6218bc888fd3fba884faba170386e6164ff118a0#diff-63759ce348cbb0a769fa7c3fcc2152abR264

Method uses searchClients(String pattern, int sizeLimit) second param wich tell LDAP to return max

[2016-02-22 09:55] shekhar16 commented on #201
Yes Yuriy ,I already tried do this issue with this approach but the display list is not restricted to expected limit, After that i fixed issue with different approach.(which is currently committed in repo.).
I reviewed that searchclient method and it was returning expected limited result but after that in do-while it will increase the result size and exceed the limit.And finally on display the lis

[2016-02-22 09:56] shekhar16 commented on #201
As per issue heading "Remove minimum character requirement from sector uri client search form"
I removed the character validation.

[2016-02-22 10:34] yurem commented on #201
If LDAP API not working fine we need to open issue to find out core of the issue.
LdapEntryManager.findEntries(String baseDN, Class<T> entryClass, Filter filter, int sizeLimit)
Should return maximum specified number of entries if sizeLimit > 0

[2016-02-22 10:36] yurem commented on #201
Regarding subject of this issue. I think we need to remove only minimum characters validation. Maxim validation should works as before.

@nynymike Can you clarify requirements

[2016-02-22 11:20] yurem commented on #201
@shekhar16 I understand what you wrote about LdapEntryManager.findEntries with sizeLimit

In oxLdap name of the parameter not conform to actual action..

I updated oxLdap. I renamed:
sizeLimit -> searchLimit

And added:
sizeLimit parameter to allow specify how many entries LDAP should return. Now when we do search we do next:
<code>
searchRequest.setSizeLimit(sizeLimit);
</code>

These are new cha

[2016-02-22 11:22] yurem commented on #201
@shekhar16  can you try to use new method:
findEntries(String baseDN, Class<T> entryClass, Filter filter, int searchLimit, int sizeLimit)

searchLimit = 0 to not use pagination during search

[2016-02-23 09:13] yuriyz commented on #194
@qbert2k I've added support on oxauth. So you can add it on oxTrust.

[2016-02-23 10:07] yurem commented on #201
I offer to close it.

I updated validation: https://github.com/GluuFederation/oxTrust/commit/a1ef4362740cc21a662eb11c97fdbf4d0ca6334f

And now we uses LDAP to limit search limit

[2016-02-23 10:07] #201 closed

[2016-02-23 10:25] yurem commented on #130
I've added current oxPush2 script to CE 2.4.2: https://github.com/GluuFederation/community-edition-setup/commit/f1b14404a1414f752bfa81825aabb48557b77f08

[2016-02-23 10:25] #130 closed

[2016-02-23 10:29] yurem commented on #143
Fixed: https://github.com/GluuFederation/oxTrust/commit/11dfb133c14f92f91f477cd29f7357714fe74ccd

[2016-02-23 10:29] #143 closed

[2016-02-26 21:16] aliaksander-samuseu commented on #110
Just a quick notice that I'm able to reproduce it even in 2.4.2 beta rpm on a vm different from the on I tested it before. Shekhar is trying to configure Gluu for backend authentication atm, so he would become able to verify and start fixing it.

[2016-02-27 06:05] shekhar16 commented on #194
Fixed on add client page and update client page as well.

[2016-02-27 09:06] yurem opened #205 "Swagger is part of the final war"
Why we put swagger and it's dependencies in final war?
Should we use it only and build time?

[2016-02-29 22:29] mzico opened #206 "Consent page not appearing for 'Persistent Client Authorizations' ( version: 2.4.x )"
How to reproduce:

* Log into oxTrust
* OpenID Connect --> Clients
* Select 'oxTrust Admin GUI'
   - 'Persistent Client Authorizations' : False
* Save client.
* Try to login.

We should get a message like below image:

![consent_message](https://cloud.githubusercontent.com/assets/7156097/13411208/90373b94-df01-11e5-8cd8-cffe7a631eec.png)

[2016-02-29 22:42] nynymike commented on #206
There are two controls that control whether the scope approval is required : pre-authorization (which totally supresses) and persist authorization, which should just require approval the first time.

[2016-03-01 19:14] shekhar16 commented on #151
Fixed,Input fields are adjusted similar to manage registration page fields.

[2016-03-02 13:17] tecoholic opened #207 "Group and People count on Server Status Page Incorrect"
Upon fresh installation of Gluu Server 2.4.2 on CentOS 6.7, the server status page showed empty space next to Groups and People count. Upon import of 9 contacts from a test xls file, it showed a count of 1 for Group and Person. It should have been `10 = 1 admin + 9 imports`. Upon creating a new person using the <kbd>Add  Person</kbd> from the oxTrust UI, the count still remained at 1.

[2016-03-08 04:52] dmogn opened #208 "SAML2IDP.java - the code do not passes IDP timeout do underlayer metedata discovery."
SAML2IDP.java:372

[2016-03-08 04:53] dmogn commented on #208
Fixed.

[2016-03-08 04:53] #208 closed

[2016-03-08 05:05] dmogn commented on #208
Ups.. It is Asimba's internals related bugfix, not oxTrust.

[2016-03-08 21:38] zamilskhan opened #209 "Passwords not pulled from file in the import file method"
The Passwords stored in the test file under the coloumn `Password` is not pulled and does not show up in the imported user details. The password needs to be manually added for the user to log in.

[2016-03-09 15:18] zamilskhan commented on #209
Update: while accessing the user pulled from file, the following lines are in the `wrapper.log`

INFO   | jvm 1    | 2016/03/09 10:17:38 | 2016-03-09 10:17:38,072 ERROR [org.gluu.oxtrust.ldap.service.AttributeService] Failed to find attribute 'iname' metadata
INFO   | jvm 1    | 2016/03/09 10:17:38 | 2016-03-09 10:17:38,072 ERROR [org.gluu.oxtrust.ldap.service.AttributeService] Failed to find attr

[2016-03-09 20:08] zamilskhan opened #210 "User Registration Page"
It seems that any user is able to register and have his basic info such as First Name, Last Name, Username and Email put into the server even when the script is disabled. If it is possible, the page `hostname/identity/register/` could be kept dormant until the script is enabled.

[2016-03-09 20:10] nynymike commented on #210
1. The page should not be visible.
2. Before the form is processed by the action, it should make sure registration is enabled.

[2016-03-10 07:23] uboznikov opened #211 "Please re-evaluate fix to Support Ticket #2310"
Setting the `@JsonIgnore` annotation in `Resources` property of `ListResponse.java` caused the disappearance of the `Resources` field in the JSON body, as reported in the following ticket:

https://support.gluu.org/integrations/unexpected-200-behavior-for-scim-user-group-endpoints-2540

However, I could not reproduce the issue in the original ticket (#2310) as the attached image has already been d

[2016-03-10 14:49] uboznikov opened #212 "Add filtering, sorting, and pagination per SCIM 2.0"
Filtering:
https://tools.ietf.org/html/rfc7644#section-3.4.2.2

Sorting:
https://tools.ietf.org/html/rfc7644#section-3.4.2.3

Pagination:
https://tools.ietf.org/html/rfc7644#section-3.4.2.4

[2016-03-10 14:50] uboznikov opened #213 "Bring to SCIM 2.0 spec the following endpoints"
/ServiceProviderConfig
/ResourceTypes
/Schemas - partially supports User Extensions

[2016-03-10 15:30] zamilskhan commented on #207
I tried rebooting VM and then restarting Gluu Server. The count does not go up immediately and it takes some time.

[2016-03-14 00:52] dmogn opened #214 "Asimba submenu collapses"
Mike Schwartz: One little think I noticed.
Mike Schwartz: When I click on some of the items, the left navigation collapses
Mike Schwartz: which is different from the behavior of the other features.

[2016-03-14 10:43] mzico opened #215 "Password reset page is showing old GUI"
Screenshot attached of what we are getting with 2.4.2. We should push new oxTrust GUI in this page as well.

![passwordresetpage](https://cloud.githubusercontent.com/assets/7156097/13742042/9a4ef72e-e9a7-11e5-8c6f-41a58e8b868b.png)

[2016-03-14 16:07] shekhar16 commented on #210
Fixed. Added check whether user_registration script is enable or not.

[2016-03-14 18:52] shekhar16 commented on #211
Fixed. Added @JsonAutoDetect to avoid unexpected behavior..

[2016-03-14 19:04] willow9886 commented on #215
@mzico any thoughts on who this should be assigned to?

[2016-03-14 19:18] mzico commented on #215
@willow9886 : Yes, @shekhar16 would be good. If required, @qbert2k can assist, I believe.

[2016-03-14 20:18] willow9886 commented on #151
@shekhar16 If you've fixed this, should we go ahead and close the issue?

[2016-03-14 21:51] willow9886 commented on #215
@shekhar16 can you take a look into this?

[2016-03-16 15:49] dmogn opened #216 "Hide SAML menu items (Shib, Asimba) while Asimba or Shib IDP hasn't been installed"
Check that the product has been installed while show SAML submenu:

William Lowe: can we make it so that if Asimba is not installed during installation, the new interfaces are hidden?
William Lowe: we need to do the same thing for Shibboleth

[2016-03-16 16:12] dmogn opened #217 "Asimba interfaces: Import SAML SP/IDP certificate to asimba keystore"
Import SP/IDP certificate in GUI upload.

[2016-03-17 08:36] shekhar16 commented on #206
Fixed.Please test it
Is it behaving as expected or not?

[2016-03-17 12:11] shekhar16 commented on #206
Changes reviewed by Yuriy M, and he is fine with the changes..

[2016-03-17 12:14] mzico commented on #206
@shekhar16 : which version should we check?

[2016-03-18 08:00] yurem opened #218 "Add test to clean up person/groups"
We need to cover case when there are problems in code and test is able to create person/groups but not able to remove them.

We have similar test in oxAuth-Server: https://github.com/GluuFederation/oxAuth/blob/master/Server/src/test/java/org/xdi/oxauth/comp/CleanUpClientTest.java

This test should remove all person/group except specified in properties.

Also it should clean up next test groups:
ht

[2016-03-18 08:29] yurem opened #219 "Remove custom attributes after test execution"
We need to add one missing step to [UserExtensionsTest](https://github.com/GluuFederation/oxTrust/blob/master/server/src/test/java/org/gluu/oxtrust/service/test/UserExtensionsTest.java)

It should remove custom attributes from custom object class and remove custom attributes at final step.

Also it will be nice to not hardcode CREATEJSON.  We can read it from properties file:
testData.getString("s

[2016-03-18 21:36] shekhar16 commented on #215
Fixed and the code is commited.

[2016-03-20 09:16] yurem commented on #211
Can we close it?

[2016-03-21 10:11] uboznikov commented on #219
Please see commit: [889d1ad17d0269370419fe5da349292928477954](https://github.com/GluuFederation/oxTrust/commit/889d1ad17d0269370419fe5da349292928477954)

There is no need to remove custom attributes as this is just the same with [UserExtensionsJsonTest](https://github.com/GluuFederation/SCIM-Client/blob/master/src/test/java/gluu/scim2/client/UserExtensionsJsonTest.java) and [UserExtensionsPersonTe

[2016-03-21 11:06] yurem commented on #219
In this test we uses dynamic attributes with names 'customFirst', 'customSecond' and 'customThird'. But in SCIM-Client we uses pre-added attributes with names 'scimCustomFirst', 'scimCustomSecond' and 'scimCustomThird'

Hence attributes 'customFirst', 'customSecond' and 'customThird' removal will be good test if our API works fine and allow to add/remove attribute.

[2016-03-21 13:15] uboznikov commented on #219
Sorry, I forgot that the custom attributes in the SCIM-Client unit tests have been renamed, but originally they were the same. So what we really want is another set of tests, i.e., for creating and deleting custom attributes?

[2016-03-21 13:25] yurem commented on #219
ok, we can keep this test without attribute removal. We can add another non SCIM test to cover attributes add/remove just to check SchemaService.

[2016-03-21 13:53] uboznikov commented on #219
Ok, I have committed: [- Fixed names of custom attributes](https://github.com/GluuFederation/oxTrust/commit/dee67c4c2372c7c59db53369f7457b7e70db283d)

[2016-03-21 13:53] #219 closed

[2016-03-21 14:30] uboznikov commented on #211
Tested ok.

[2016-03-21 14:30] #211 closed

[2016-03-21 16:27] shekhar16 commented on #209
Fixed : Now Password are set from the file .

[2016-03-25 16:50] mzico opened #220 "oxTrust popup window is not stable"
Check out below screenshot. Popup window 'Relying Party Configuration' is sliding under left management menu...

![popup_problemo](https://cloud.githubusercontent.com/assets/7156097/14048931/a283298e-f27f-11e5-80de-9865c821f369.png)

[2016-03-25 16:52] willow9886 commented on #220
we should also update the style of this pop up to match our new skinning.

[2016-03-26 14:34] yurem commented on #206
It should be in 2.4.3. We deployed this update to ce-dev

[2016-03-27 11:55] shekhar16 commented on #122
Added check box for default inum server and conditionalyy hide/show for inum server tab.

[2016-03-28 16:21] shekhar16 commented on #122
Please let me know how CR functionality load inum server configuration.

[2016-03-28 19:45] shekhar16 commented on #220
Fixed.Popup window 'Relying Party Configuration' is now always on top.
Style is updated to match our new skinning.

[2016-03-28 19:54] willow9886 commented on #220
nice work @shekhar16 !

[2016-03-28 19:54] #220 closed

[2016-03-29 00:13] zamilskhan opened #221 "Logout URI in OpenID Connect Add Client"
There is a filed in the form in the Add Client page named `Logout URI` and there is a button `Add Logout URI`. Are these the same or is there a duplicate?

[2016-03-29 14:29] yurem commented on #122
It did that there
https://github.com/GluuFederation/oxTrust/blob/master/server/src/main/java/org/gluu/oxtrust/ldap/cache/service/CacheRefreshTimer.java#L249

You can create there LdapServerConnection with ldapEntryManager inside.

[2016-03-30 15:43] mzico opened #222 "Hostname should show FQDN in Configuration/Server Status"
![hostnamevalue](https://cloud.githubusercontent.com/assets/7156097/14148207/35955728-f664-11e5-80d9-0a14cf81387e.png)

[2016-03-30 15:46] mzico opened #223 "Enhancement: 'no SAML' Gluu Server - no SAML feature in oxTrust"
If possible...

Organization might not install SAML in their Gluu Server. In that case can we remove the SAML features ( Shibboleth / Asimba ) from oxTrust?
![suggestion](https://cloud.githubusercontent.com/assets/7156097/14148332/ad41f29a-f664-11e5-9c6a-30c91b046772.png)

[2016-03-30 15:56] willow9886 commented on #223
@dmogn do we already have an open issue for this?

[2016-03-30 16:21] mzico opened #224 "'Update Password' button in many pages..."
There is an 'Change Password' that has no purpose!
- Configuration --> Organization Configuration

[2016-03-30 18:42] shekhar16 commented on #122
Fixed.removed the c:if tag and load the default inum server configuration.

[2016-03-30 19:56] #122 closed

[2016-03-30 20:44] mzico commented on #215
@shekhar16 : Here is what I can see the new password reset page. I think 'Set Password' and 'Cancel' are still showing green instead of our new blue color. Plus... 'Set Password' and 'Cancel' buttons should be under Captcha box?

![passresetlink](https://cloud.githubusercontent.com/assets/7156097/14156883/3fc5dafe-f68e-11e5-9a18-df259ecb9ca6.png)

[2016-03-31 15:46] dmogn commented on #217
Done.

[2016-03-31 15:46] #217 closed

[2016-03-31 15:48] dmogn commented on #223
@willow9886
Yes, we have: https://github.com/GluuFederation/oxTrust/issues/216

[2016-03-31 15:52] willow9886 commented on #223
OK, closing this and point to issue [216](https://github.com/GluuFederation/oxTrust/issues/216)

[2016-03-31 15:52] #223 closed

[2016-03-31 16:40] mzico opened #225 "'Login' button not required in password reset link"
I think we don't need 'Login' button in password reset link ( .../identity/person/passwordReminder.htm )
![passwordreset](https://cloud.githubusercontent.com/assets/7156097/14183320/54fc2b92-f735-11e5-9463-fa62b1c8b66f.png)

[2016-03-31 16:42] willow9886 commented on #225
can we also make the captcha look a little more professional? Take a look [here](https://www.google.com/search?q=captcha+design&espv=2&biw=1920&bih=932&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjB-8qGr-vLAhUrsYMKHeuTB5oQ_AUIBigB) for some inspiration. Let me know if you need a psd design or any other materials to help..

[2016-03-31 17:03] mzico commented on #225
@shekhar16 @willow9886 : Instead of Captcha, I think we can implement 'reCAPTCHA' ( https://www.google.com/recaptcha/intro/index.html )?

[2016-03-31 17:51] yurem commented on #225
We uses new reCapthaca in cert script:
![screenshot_2](https://cloud.githubusercontent.com/assets/6104200/14185407/58a64aaa-f782-11e5-8d52-101883a0020c.png)

You can use it as reference

[2016-03-31 18:26] aliaksander-samuseu opened #226 "More user-friendly look of the OIDC client configuration page"
In CE 2.4.2 the "OpenID Connect -> Clients -> Update/Add Client" page may look somewhat frightening to a new user. There are a whole lot of new properties you can edit using web UI now (which is a good thing), but a user who has just installed Gluu and tries to configure his first OIDC client may easily be lost in this long list of settings with sometimes not very obvious purposes. At the same tim

[2016-03-31 18:57] mzico opened #227 "Landing page after 'passwordReminder.htm'"
'/identity/person/passwordReminder.htm' is the first step of password reset feature.
![passresetlink](https://cloud.githubusercontent.com/assets/7156097/14187336/1d9f2632-f748-11e5-9ee7-d73038410611.png)

After submitting email_address here in above page, the flow is taking user to oxAuth login page. Can we add one page ( something like below ) which will come after above page? A quick javascript

[2016-03-31 19:46] willow9886 commented on #226
Reference: [https://support.gluu.org/integrations/prepareforstep-not-called-on-step-2-2596#at9448](https://support.gluu.org/integrations/prepareforstep-not-called-on-step-2-2596#at9448)

[2016-03-31 22:41] dmogn commented on #214
Fixed.

[2016-03-31 22:41] #214 closed

[2016-03-31 22:44] dmogn commented on #223
Fixed.

[2016-04-01 05:00] dmogn commented on #216
Update:

Maybe the best solution is use the stored properties list
https://github.com/GluuFederation/community-edition-setup/blob/master/setup.py#L1579
check configuration flag
https://github.com/GluuFederation/community-edition-setup/blob/master/setup.py#L60
and make this checking as general feature in oxTrust's util package for future using.

[2016-04-01 05:29] dmogn commented on #216
Hm... The installer do not stores instalXXX flags https://github.com/GluuFederation/community-edition-setup/blob/master/setup.py#L60
to
/install/community-edition-setup/setup.properties.last

[2016-04-01 18:06] shekhar16 commented on #215
Fixed and code is committed.

[2016-04-01 18:07] willow9886 commented on #215
@shekhar16 can we also use [recaptcha](https://www.google.com/recaptcha/intro/index.html) here instead of regular captcha?

[2016-04-01 18:15] shekhar16 commented on #215
Yeah ,I am looking into it.

[2016-04-01 18:22] shekhar16 commented on #140
Could not able to reproduce this issue.

[2016-04-01 18:24] willow9886 commented on #140
OK, thanks @shekhar16. @mzico can you keep an eye out for this error and if you see it again re-open this ticket. Thanks!

[2016-04-01 19:21] mzico commented on #140
@willow9886 : Sure

[2016-04-04 03:24] dmogn commented on #216
This task is directly related to #197
( And to closed #223. Three issues for one feature ).

[2016-04-04 06:21] yurem commented on #197
We can detect installed modules on single machine in CE.
But in cluster this solution will not work.
I think we need to add custom attribute like oxComponents: {'idp' : {"status' : false}, .... } to appliance entry.

oxTrust can read it and build menu according to requirements.

[2016-04-04 14:45] yurem commented on #205
Fixed

[2016-04-04 14:45] #205 closed

[2016-04-05 16:22] shekhar16 commented on #225
Fixed : New reCAPTCHA is implemented and code is committed.

[2016-04-05 16:24] willow9886 commented on #225
@shekhar16 can you upload a screenshot?

[2016-04-05 16:24] shekhar16 commented on #225
![image](https://cloud.githubusercontent.com/assets/15937500/14289563/f8a35c24-fb78-11e5-86c3-da62c22e0b2b.png)

[2016-04-05 16:25] shekhar16 commented on #225
![image](https://cloud.githubusercontent.com/assets/15937500/14289600/192c2142-fb79-11e5-847f-e29f7ad37999.png)

[2016-04-05 16:26] willow9886 commented on #225
ok, looks good. @yurem can we get this into the 2.4.3 release?

[2016-04-05 16:26] shekhar16 commented on #225
![image](https://cloud.githubusercontent.com/assets/15937500/14289618/32f848d0-fb79-11e5-8f48-cb687c775738.png)

[2016-04-05 18:38] shekhar16 commented on #215
![image](https://cloud.githubusercontent.com/assets/15937500/14293774/a1d79866-fb8b-11e5-9993-04660e2eae5b.png)

[2016-04-05 18:43] shekhar16 commented on #215
Fixed. New Recaptcha is implemented.

[2016-04-05 19:36] mzico commented on #215
@shekhar16 I tried to implement this in one server with 'oxtrust-server-2.4.3-SNAPSHOT.war'. Getting below error whenever I am trying to use 'reset password' feature.

![recaptcha](https://cloud.githubusercontent.com/assets/7156097/14295535/aaf2c556-fb3b-11e5-93f0-c60a90c6d79f.png)

Might be helpful on this error with reCaptcha, a link: http://stackoverflow.com/questions/30735694/recaptcha-error-i

[2016-04-06 01:30] zamilskhan commented on #222
@mzico is this  high priority?

[2016-04-06 09:12] mzico commented on #222
No

[2016-04-06 11:49] shekhar16 commented on #215
@mzico  We need to create the site key and secret key from google recaptcha for the our specific domain which we are using .Please share domain name, i will try to register and generate the keys from https://www.google.com/recaptcha/admin#list

[2016-04-06 12:13] mzico commented on #215
@shekhar16 : domain name: https://idp.gluu.org

[2016-04-06 12:21] shekhar16 commented on #215
@mzico Domain added.

[2016-04-06 12:32] yurem commented on #215
yes, domain added. But we need to wait once @shekhar16 will move server key to oxTrust settings. Now we uses my tests account...

[2016-04-06 14:48] yurem commented on #172
Fixed

[2016-04-06 14:48] #172 closed

[2016-04-06 20:03] shekhar16 commented on #215
The corrections are done.Please add properties in oxtrustConfApplication
,
	"recaptchUrl": "https://www.google.com/recaptcha/api/siteverify",
	"recaptchaSiteKey": "6LcYpRsTAAAAAFqRBoHmjJEE72-0Ey-GbZV-6vqC",
	"recaptchaSecretKey": "6LcYpRsTAAAAAEnaFe4KFkwQ6GzyZqEZ2fcs4SNq"

[2016-04-07 16:00] willow9886 commented on #140
I was able to replicate today... See screenshot below:

![image](https://cloud.githubusercontent.com/assets/5271048/14357790/b8e1c5c0-fcaf-11e5-9447-a7179e20c8e3.png)

This is in the ce-release.gluu.org server.

All I did to see these error messages was:
1) Navigate to custom scripts
2) Click update user tab
3) then click user registration tab relatively quickly.

[2016-04-08 21:18] zamilskhan opened #229 "Object is missing the required property 'mode' in JSON Configuration"
The following line is shown in the JSON Configuration in red.]
     Object is missing the required property 'mode'
![error-oxtrust](https://cloud.githubusercontent.com/assets/7703245/14397867/e25c4ee0-fe01-11e5-97d4-406f300d4eb4.png)

[2016-04-09 00:01] zamilskhan opened #230 "OpenID Connect Client auto selected"
![error-menu](https://cloud.githubusercontent.com/assets/7703245/14400346/876940b2-fe18-11e5-9009-6b6357a5e97a.png)

[2016-04-11 08:00] yurem commented on #202
Seam destroy components in wrong order, without checking dependencies. As result if component uses dependencies in destroy method application throw NPE.
In order to resolve this issue we need to find out how to intercept PreDestroy event or something like this.

[2016-04-11 12:54] yurem commented on #229
Also there are few missing oxtrust json schema definitions
![screenshot_1](https://cloud.githubusercontent.com/assets/6104200/14427468/9d5782b2-fffd-11e5-8ff9-8761065d3b14.png)

[2016-04-11 16:45] shekhar16 commented on #150
Fixed.

[2016-04-11 16:45] shekhar16 commented on #150
![image](https://cloud.githubusercontent.com/assets/15937500/14434909/f1b6f60a-0032-11e6-93f4-4f1eec0e4f21.png)

[2016-04-11 16:46] shekhar16 commented on #150
![image](https://cloud.githubusercontent.com/assets/15937500/14434922/016594d0-0033-11e6-8b21-5b6f04d20d51.png)

[2016-04-11 19:50] aliaksander-samuseu commented on #206
Just have tried it in gluu-server-2.4.3 2-beta2 deb package. Though consent window appears, despite
"Persist Client Authorizations* and "Pre-Authorization" both set to "True" for "oxTrust Admin GUI" client, it doesn't remember my choice and I'm being asked for consent each time I log in to oxTrust anyway.

[2016-04-12 22:44] aliaksander-samuseu commented on #206
@shekhar16 , @willow9886 I've tested it more thoroughly (the same package).

More about issue reported before. It seems it works like that when no value is assigned to the `oxPersistClientAuthorizations` LDAP attribute of the  "oxTrust Admin GUI" client (which represents "Persist Client Authorizations" setting of web UI), even despite the fact that `oxAuthTrustedClient` attribute (which represents

[2016-04-12 23:53] zamilskhan commented on #210
Closing issue.

[2016-04-12 23:53] #210 closed

[2016-04-13 00:09] zamilskhan commented on #209
Closing Issue

[2016-04-13 00:09] #209 closed

[2016-04-13 16:50] willow9886 commented on #230
@zamilskhan can you provide some more context on this issue? What is happening VS. what is happening?

[2016-04-13 16:57] zamilskhan commented on #230
@willow9886 the menu shows two items selected, and even in home page the `Clients` stays selected as you can see in the screenshot above. When I took that screenshot, I was in the `manage custom script` page and only that was supposed to be highlighted.

[2016-04-13 17:44] aliaksander-samuseu opened #231 "Cache Refresh configuration page can't be accessed"
Environment:
gluu-server-2.4.3-2-beta2 deb CE package

Steps to reproduce:
1. Log in to web UI as admin user
2. Click the "Configuration->Cache refresh" link in accordion menu

Result:
User is redirected to the home page and "System error.." message is displayed and
` "javax.el.ELException: //localhost/identity/WEB-INF/incl/organization/cacheRefreshForm.xhtml @58,122 rendered="#{!_configureCacheRe

[2016-04-13 18:03] yurem commented on #230
Fixed

[2016-04-13 18:03] #230 closed

[2016-04-13 18:04] yurem commented on #229
Fixed

[2016-04-13 18:04] #229 closed

[2016-04-13 20:20] nynymike opened #232 "Formatting for Configure Relying Party"
This modal window is too small in the SAML Trust Relationship form (all the options for the SAML2 SSO Profile):

![image](https://cloud.githubusercontent.com/assets/3717101/14508018/2bd42f66-018b-11e6-8533-94ba37915650.png)

[2016-04-14 19:30] yurem commented on #231
Fixed

[2016-04-14 19:30] #231 closed

[2016-04-17 13:25] shekhar16 commented on #232
Fixed.

[2016-04-18 14:57] mzico opened #233 "Unable to create custom attribute in 2.4.3 beta4"
Creating custom attribute with oxTrust is not happening. I went to create a custom attribute named 'myattribute' and it's throwing error: http://pastebin.com/JVPZNGKR

[2016-04-18 14:58] willow9886 commented on #232
@shekhar16 can you upload screenshots to show your fixes?

[2016-04-18 16:13] shekhar16 commented on #232
![image](https://cloud.githubusercontent.com/assets/15937500/14611187/9bd87804-05ae-11e6-90e7-010176a76aff.png)

[2016-04-18 16:55] yurem commented on #233
It's related to OpenDJ 3.

I added fix. Now ShemaService do next:
1) Remove custom OC from cn=schema
2) Add custom OC to cn=schema

@nynymike Is it right approach to change custom OC ?

With OpenDJ 2.6.0 workflow was the next:
1) Add OC to cn=schema

We always used add ldap method. And OpenDJ do replace of custom OC.

[2016-04-18 16:59] nynymike commented on #233
I think it's fine, but you may want to backup the ldif of the old schema (write it to the logs) just in case you need to restore it.

[2016-04-18 18:02] yurem commented on #207
yes, we gather this statistic every one minute to avoid extra CPU/LDAP usage on every home page show
We can decrease this interval to 30 seconds if needed. But it's not bug...

[2016-04-18 18:04] yurem commented on #72
Can we close it?

[2016-04-19 07:54] mzico opened #234 "'Test LDAP Connection' of 'Manage Authentication' is not working properly"
'Test LDAP Connection' is unable to validate the correct setting. Though the backend information is correct and after saving this LDAP connection is working properly for authentication but still 'Test LDAP Connection' is throwing 'failed to connect' message. Stack trace: http://pastebin.com/z20bV724

How to reproduce the issue:

- Complete CR
- Make sure you are able to connect backend server with

[2016-04-19 14:07] nynymike opened #235 "Add GUI to properly render NameID"
We need a GUI element to manage NameID. It shouldn't be necessary to do this in the velocity template.
https://ox.gluu.org/doku.php?id=ce:custom_nameid

Normally nameid format is chosen based on the order listed in SP metadata. It would also be convenient to allow the admin to specify a nameid in the relying party congifuration, which can be done with the attribute [nameIDFormatPrecedence](https:/

[2016-04-19 14:48] zeroluck commented on #235
Thank you! This documentation looks like something I can actually figure out! The differences between oxShibboleth and Shibboleth with the velocity templates and other ways of dealing with custom attributes have made it very difficult for me to get past the NameID part of our SSO integration. Adding this functionality to the GUI would be even better.

[2016-04-19 19:23] dmogn commented on #72
Maybe yes.

[2016-04-19 19:23] #72 closed

[2016-04-20 08:55] aveekbu opened #236 "Organization favicon image couldn't be uploaded"
While trying to update Organization favicon image through admin UI -> organization configuration -> oxTrust Settings; I've found the following error from /opt/tomcat/log/wrapper.log

system info:
CentOS release 6.7 (Final)
gluu-server-2.4.3-1-1.centos6.x86_64

`INFO   | jvm 1    | 2016/04/20 08:38:11 | 2016-04-20 08:38:11,882 ERROR [org.gluu.oxtrust.servlet.FaviconImageServlet] Organization favico

[2016-04-20 09:40] aveekbu commented on #234
attached the log with the ticket; if pastebin erase the log after certain period of time.
[oxtrust_log.txt](https://github.com/GluuFederation/oxTrust/files/227614/oxtrust_log.txt)

[2016-04-21 15:00] mzico commented on #215
It's resolved.

[2016-04-21 15:00] #215 closed

[2016-04-21 19:05] mzico commented on #233
@yurem : I can see this error again in 2.4.3 final version

[2016-04-21 22:02] aliaksander-samuseu commented on #234
Quick note: Wireshark showed that no LDAP traffic appears on the wire when the button is clicked, it seems it fails before any connection to backend is attempted.

[2016-04-21 23:52] zamilskhan opened #237 "User Registration Error"
OS: CentOS 6.6, Package:1-3.centos
When I navigate to Custom Scripts and click on User Registration tab, I see errors in Red appearing on the WebUi and the following show up in the wrapper.log

INFO   | jvm 1    | 2016/04/21 23:41:15 | javax.el.ELException: //localhost/identity/WEB-INF/incl/script/customScriptListForm.xhtml @72,137 value="#{_customScript.locationType}": Error writing 'locationType

[2016-04-22 06:42] yurem commented on #206
Here is my point of view on this issue:

  if (Pre-Authiorization exists and set to True):
    // Allows to log in without asking for consent
  else:
    if (Persist_Client_Authorizations exists and set to True)
      // Allows to log in without asking for consent
    else:
      // Asks for consent

@mike, please review it

[2016-04-22 06:45] yurem commented on #206
This workflow also covers case when there are no these attributes in client entry. We can't expect the client entry will contains them by default.
@shekhar16 Once you will did that you should check 3x3 = 9 combinations of these 2 attributes to make sure that it works as expected

[2016-04-22 11:11] mzico commented on #206
Hey Guys!

@yurem @shekhar16 : I think it's working now in 2.4.3.

[2016-04-22 15:03] dmogn opened #238 "StatusCheckerTimer check_ssl retuned an unexpected value"
An exception from 2.4.3 1_3 (final) Tomcat log (clear gluu CE, after installation):
INFO   | jvm 1    | 2016/04/22 14:54:17 | 2016-04-22 14:54:17,661 ERROR [org.gluu.oxtrust.ldap.service.StatusCheckerTimer] There was an error executing command check_ssl
INFO   | jvm 1    | 2016/04/22 14:54:17 | 2016-04-22 14:54:17,661 ERROR [org.gluu.oxtrust.ldap.service.StatusCheckerTimer] check_ssl retuned an un

[2016-04-22 16:02] dmogn commented on #238
Ubuntu 14.04

[2016-04-22 16:21] dmogn commented on #238
check_ssl
unable to load certificate
140205151905440:error:0906D06C:PEM routines:PEM_read_bio:no start line:pem_lib.c:703:Expecting: TRUSTED CERTIFICATE
Traceback (most recent call last):
  File "/usr/local/bin/check_ssl.py", line 13, in <module>
    time_tup = time.strptime(t, '%b %d %H:%M:%S %Y %Z')
  File "/usr/lib/python2.7/_strptime.py", line 467, in _strptime_time
    return _strptime(data_s

[2016-04-22 16:31] shekhar16 commented on #218
Fixed.

[2016-04-22 23:15] zamilskhan commented on #137
is it fixed?

[2016-04-22 23:15] aliaksander-samuseu commented on #137
Shouldn't this one be closed? It's old, and hese is what currently in my CR logs:

Failed to connect to LDAP server using configuration 'source'

So it's probably fixed

[2016-04-22 23:41] zamilskhan commented on #140
#237 I got the same error

[2016-04-22 23:43] aliaksander-samuseu commented on #140
Just checked it in 2.4.3-1-3 - still throws errors if tabs are changed quickly, switching between tabs is still slow and UI tends to freeze after some time of switching between them.

[2016-04-22 23:46] zamilskhan commented on #237
Closing as there is an existing case #140

[2016-04-22 23:46] #237 closed

[2016-04-22 23:57] zamilskhan commented on #194
Closing issue as it is implemented

[2016-04-22 23:57] #194 closed

[2016-04-22 23:58] aliaksander-samuseu commented on #202
@yurem @willow9886
What is status of this one? Should we set milestone to 2.4.4 and add it to roadmap?

[2016-04-23 00:06] aliaksander-samuseu commented on #202
I wasn't able to reproduce in 2.4.3-1-3 deb package

[2016-04-23 00:59] aliaksander-samuseu commented on #207
@yurem @zamilskhan
Changed it to enhancement, is it okay?

[2016-04-23 01:20] aliaksander-samuseu commented on #213
Changed milestone to 2.4.4, adding to roadmap

[2016-04-23 01:27] aliaksander-samuseu commented on #233
@mzico @yurem
Can't confirm it for 2.4.1-1-3 deb package. Has it been fixed?

[2016-04-23 01:34] aliaksander-samuseu commented on #238
Hi, @dmogn . When exactly this happen? Does it interrupt any vital functionality? Can it be perceived as critical issue?

[2016-04-23 01:41] aliaksander-samuseu commented on #204
@dmogn @nynymike
It seems Asimba's pages have been re-worked, they look much more consistent now. Can we close this issue?

[2016-04-23 02:11] aliaksander-samuseu commented on #221
@zamilskhan
Afaicr, "Add Logout URI" add "post_logout_redirect_uris" client's parameters which are used by [session management spec](http://openid.net/specs/openid-connect-session-1_0.html)
The only spec I've found mentioning "Logout URI" is [OpenID Connect Front-Channel Logout 1.0 - draft 00](http://openid.net/specs/openid-connect-frontchannel-1_0.html):

`
Client Metadata Name: logout_uri
Client

[2016-04-23 02:16] aliaksander-samuseu commented on #221
@yuriyz , @willow9886 , could you have a look?

[2016-04-23 02:20] nynymike opened #239 "SCIM Test Mode"
We need to add a feature called something like "test-mode" that uses a static oauth2 token to enable access to the SCIM API's instead of requiring UMA. This feature should be a configuration property. The purpose of this feature is to facilitate the SCIM interop testing process.

[2016-04-23 02:35] aliaksander-samuseu commented on #206
@mzico , In my 2.4.3-1-3 it doesn't seem to be different from what I described in that table in my previous post. I.e. it still doesn't remember user choice, and "oxAuthTrustedClient" does not override the other setting.

@yurem , shouldn't it be more like that?

    if (Pre-Authiorization exists and set to True):
      // Allows to log in without asking for consent
    else:
      if (Persist_Cli

[2016-04-23 02:41] aliaksander-samuseu commented on #206
Btw, what if "Persist_Client_Authorizations" is set to "true" and user will decide to not allow it this time? Should it persist his decision in that case, thus effectively blocking his from any subsequent attempts to use the service? Or is there some king of timeout/cooldown period for the persisted decisions?

[2016-04-23 07:17] yuriyz commented on #221
@aliaksander-samuseu during implementation front channel spec says:
[code]
Now spec is updated and appends "frontchannel_" prefix to avoid conflict with backchannel logout.
Of course both oxauth and oxtrust must be updated accordingly.

[2016-04-23 07:19] yuriyz commented on #221
Created issue for oxauth here: https://github.com/GluuFederation/oxAuth/issues/204

[2016-04-23 10:30] shekhar16 commented on #140
Fixed.
@willow9886 @mzico @zamilskhan @aliaksander-samuseu  Please try it again.

[2016-04-23 21:50] nynymike commented on #206
We don't have any interface for the user to review or revoke authorizations.

[2016-04-24 13:46] shekhar16 commented on #234
Fixed .

[2016-04-24 19:36] aliaksander-samuseu commented on #26
@yurem, has it been fixed? How can I test for it?

[2016-04-24 19:47] aliaksander-samuseu commented on #104
@yurem, do we really need a separate tab for that? Mb it's possible to add another function user can redefine to the current CR's class(es), which, if implemented by user, will took over/override the part of CR's functionality responsible for getting data from LDAP, while not touching the other its parts? It just would appear more intuitive, imo, so easier to document and explain to users :) If it

[2016-04-24 20:33] aliaksander-samuseu commented on #235
@nynymike @dmogn
We also have this old [report](https://github.com/GluuFederation/oxTrust/issues/113) on the same issue.

[2016-04-24 21:16] aliaksander-samuseu commented on #150
@shekhar16 , for which version it was fixed? I still see it in 2.4.3-1-3 deb package

[2016-04-24 22:06] mzico commented on #233
@aliaksander-samuseu : I couldn't reproduce the problem either. What I can see... I have 2.4.3 snapshot identity war here. I'll test with 2.4.3 final again. Closing the issue.

[2016-04-24 22:06] #233 closed

[2016-04-25 00:51] dmogn commented on #238
Hi, @aliaksander-samuseu!
It happen directly after installation (setup.py). No errors in setup.log.

oxTrust calls check_ssl in cycle (~5 sec), but check_ssl does not work.

[2016-04-25 02:56] dmogn commented on #235
@aliaksander-samuseu
Ok, thanks!

[2016-04-25 06:25] yurem commented on #238
I can't reproduce it. But I probably know why this happens only in your VM.

O suspect you uses not en_US locale.

Here is source code of this python program:
https://github.com/GluuFederation/gluu-util/blob/master/check_ssl/check_ssl.py
It's very simple but run OS command and parse output.

Can you run (please replace % with hostname):
'echo | openssl s_client -connect %s:443 2>/dev/null | openss

[2016-04-25 06:27] yurem commented on #233
I've fixed add/remove custom attributes in 2.4.3 Fix is part of final build

[2016-04-25 06:32] yurem commented on #104
@aliaksander-samuseu where did you find something about UI in issue description?
I offered to add method to CR script:

    loadSourceServerEntries(return_attributs, conf, etc)

It's will be enough to implement any other source data loading mechanism.

[2016-04-25 06:37] yurem commented on #26
Probably yes. In 2.4.3 I updated UnboundID SDK. Also in 2.4.3 we use OpenDJ 3.0.0

Can you do next in order if ther is no this issue now:
1) Open attributes list.
2) Open 'zoneinfo' attribute
3) Create dummy inactive TR with 'zoneinfo' attribute/
4) Check oxtrust.log/wrapper.log
5) Close issue if there is no error in the logs

[2016-04-25 07:01] yurem commented on #206
@aliaksander-samuseu
yes, I omitted this part because it's subject of this issue:

        // Allows to log in without asking for consent
     else:
      // Asks for consent, allows to login if "Yes", persists user's Authorization_decision

[2016-04-25 07:04] yurem commented on #140
@shekhar16 , please add link to your issue fixes. It will be easier to understand which build should we retest. Also this allows to review changes.

[2016-04-25 07:06] yurem commented on #207
ok

[2016-04-25 07:07] yurem commented on #202
If we can reproduce it using workflow from [this](https://github.com/GluuFederation/oxTrust/issues/202#issuecomment-185843110) comment we can clsoe it

[2016-04-25 07:44] shekhar16 commented on #140
@yurem https://github.com/GluuFederation/oxCore/commit/83cd80b27091e242ed5e6fc0cc001f3249ace74c

[2016-04-25 16:17] zamilskhan commented on #221
closing this issue then

[2016-04-25 16:17] #221 closed

[2016-04-25 18:07] willow9886 commented on #218
@yurem can you confirm Shekhar's fixes?

[2016-04-25 18:08] willow9886 commented on #150
@shekhar16 re-assigning this ticket to you to confirm the fix with @aliaksander-samuseu

[2016-04-25 18:08] willow9886 commented on #140
@yurem can you confirm Shekhar's fixes? Thanks!

[2016-04-26 13:54] shekhar16 commented on #150
@aliaksander-samuseu  can u please give me your testing environment link.

[2016-04-26 15:46] zamilskhan commented on #202
Tried reproducing it. failed.
![restart-check](https://cloud.githubusercontent.com/assets/7703245/14824547/41cbcd20-0bf8-11e6-8fa1-77f6bf8d55a8.png)

[2016-04-27 06:36] yurem commented on #140
According to the code it should fix NPE. I saw this issue many times before. Use case:
1) Open scitps page
2) Click on the tabs quickly

Now there is no this error.

[2016-04-27 06:36] #140 closed

[2016-04-27 14:46] yurem commented on #218
@shekhar16 please, add links with all commits related to this issue. I will review them.

[2016-04-27 21:19] aliaksander-samuseu commented on #238
@dmogn , we have a user [reporting problems with accessing service right after installing it](https://support.gluu.org/installation/ubuntu-web-interface-does-not-load-2673#at10058) on Linode's vm. We couldn't find what is wrong with his configuration, but the wrapper.log of the service starting that he provided [here](http://pastebin.com/zUS36cy6) also contains the error about check_ssl failing. C

[2016-04-28 08:41] uboznikov opened #240 "On SCIM user creation, value of "gluuStatus" attribute should be "active" and not "true"."
Issue:
[2678](https://support.gluu.org/identity-management/scim-created-users-not-active-2678)

Fix:
[oxCore](https://github.com/GluuFederation/oxCore/commit/bd9f61b50d120da4405b9b6d8bed0c6273d46adf), [oxTrust](https://github.com/GluuFederation/oxTrust/commit/ecb2a8d52fd1a0c47253f591053728f97e0e5e17)

[2016-04-28 08:49] yurem commented on #238
@vishwa724 Can you check this issue?

[2016-04-28 09:05] shekhar16 commented on #236
Fixed.

[2016-04-28 14:28] yurem commented on #239
We can configure oxTrust in next way -Dgluu.test.scim.uma.rpt=dummy_rpt

oxTrust we can update to check if this param exists. If it exists it should use specified dummy_rpt to check if client has access or not.

[2016-04-28 16:28] uboznikov commented on #239
The current implementation is I have put the configuration in oxTrust; basically if scimTestMode = true it will generate a long-lived access token (1-year expiry) which can then be distributed to clients. Likewise oxTrust will only authorize using OAuth2 if scimTestMode = true; if false, it will fallback to UMA.

![testmode](https://cloud.githubusercontent.com/assets/16329085/14893184/e9204444-0da

[2016-04-29 13:52] uboznikov commented on #239
Enhancement committed to Git.

[2016-04-29 16:34] yuriyz opened #241 "On client registration page it is not possible to set/change client_secret_expires_at property"
It would be nice to get ability to change  client_secret_expires_at property via GUI and avoid oxauth client clean up for dynamically registered clients if their default expiration time is small..

https://gluu.org/docs/integrate/openid-connect/#client-registration

    @LdapAttribute(name = "oxAuthClientSecretExpiresAt")
    private Date clientSecretExpiresAt;

[2016-04-29 16:37] yuriyz commented on #241
marked it as high priority since oxd libs devs often asks about it. (@ldeveloperl1985, @dollar007 , @tecoholic)

[2016-04-29 17:23] shekhar16 commented on #222
@mzico the hostname is coming from ldap not from url ,so we need to update it in ldap.

[2016-04-29 17:38] dmogn commented on #238
$ locale
LANG=en_US.UTF-8
LANGUAGE=en_US
LC_CTYPE="en_US.UTF-8"
LC_NUMERIC=es_UY.UTF-8
LC_TIME=es_UY.UTF-8
LC_COLLATE="en_US.UTF-8"
LC_MONETARY=es_UY.UTF-8
LC_MESSAGES="en_US.UTF-8"
LC_PAPER=es_UY.UTF-8
LC_NAME=es_UY.UTF-8
LC_ADDRESS=es_UY.UTF-8
LC_TELEPHONE=es_UY.UTF-8
LC_MEASUREMENT=es_UY.UTF-8
LC_IDENTIFICATION=es_UY.UTF-8
LC_ALL=

[2016-04-29 17:48] dmogn commented on #238
@yurem: I cannot change to en_US inside gluu-server
locale -a
C
C.UTF-8
POSIX

[2016-04-29 18:11] dmogn commented on #238
Fixed.
The command chain inside gluu-server login:
# locale-gen en_US.utf8
# locale -a
C
C.UTF-8
POSIX
en_US.utf8
#export LC_ALL=en_US
-su: warning: setlocale: LC_ALL: cannot change locale (en_US): No such file or directory
locale
locale: Cannot set LC_CTYPE to default locale: No such file or directory
locale: Cannot set LC_MESSAGES to default locale: No such file or directory
locale: Cannot set L

[2016-04-29 18:16] dmogn commented on #238
Hm... now check_ssl works after relogin too, with POSIX locale....